<div class="header-close-layer" [ngClass]="{'inner-header-show': isFixedNavbar}"   (click)="toggleNavbar()"></div>
<header class="inner-header" [ngClass]="{'inner-header-show': isFixedNavbar}">
    <div class="toggle-inner">
      <span class="toggle-sidebar-header" (click)="toggleNavbar()"></span>
    </div>
    <div class="logo">
      <a (click)="gobackhome()"><img src="assets/images/logo-footer.png" alt="logo-footer"></a>
    </div>
    <div class="inner-nav">
      <nav>
        <div class="about-accordion">
          <ul>
              <li [class.active]="idm === 'about-us'" >
                  <div class="about-accordion-title" idm="about-us" (click)="accordionheader('about-us')">
                      <div class="pizzaxxsheading"><span>About Us</span></div>
                  </div>
                  <div class="about-accordion-content" *ngIf="idm === 'about-us' ">
                     <ul>
                       <li [class.active]="activeIndex === 1" (click)="activeIndex = 1">
                         <a  (click)="movetoSection('since', 'about-us')">Since 1967</a>
                       </li>
                       <li [class.active]="activeIndex === 2" (click)="activeIndex = 2">
                          <a (click)="movetoSection('aboutourFood', 'about-us')">About Our Food</a>
                       </li>
                       <li [class.active]="activeIndex === 3" (click)="activeIndex = 3">
                          <a (click)="movetoSection('ourquality', 'about-us')">Our Quality</a>
                       </li>
                       <li [class.active]="activeIndex === 4" (click)="activeIndex = 4">
                         <a (click)="movetoSection('nutrition', 'about-us')">Nutrition</a>
                       </li>
                       <li [class.active]="activeIndex === 5" (click)="activeIndex = 5">
                        <a (click)="movetoSection('menufAQ', 'about-us')">Menu FAQ</a>
                       </li>
                     </ul>
                  </div>
              </li>

              <li [class.active]="idm === 'franchising'">
                <div class="about-accordion-title" idm="franchising" (click)="accordionheader('franchising')">
                    <div class="pizzaxxsheading"><span>Franchising</span></div>
                </div>
                <div class="about-accordion-content" *ngIf="idm === 'franchising' ">
                   <ul>
                     <li>
                       <a  routerLinkActive="router-link-active" (click)="movetoSection('yourpizzaPizza','franchising')">Your Pizza Pizza</a>
                     </li>
                     <li>
                        <a  (click)="movetoSection('franchisingbasics','franchising')">Franchising Basics</a>
                     </li>
                     <li>
                        <a (click)="movetoSection('franchiseopportunities','franchising')">Franchise Opportunities</a>
                     </li>
                     <li>
                       <a (click)="movetoSection('meettheteams','franchising')">Meet The Teams</a>
                     </li>
                     <li>
                      <a (click)="movetoSection('getanswers','franchising')">Get Answers</a>
                     </li>
                     <li>
                      <a (click)="movetoSection('contactus','franchising')">Contact Us</a>
                     </li>
                   </ul>
                </div>
            </li>

            <li [class.active]="idm === 'company'">
              <div class="about-accordion-title" idm="company" (click)="accordionheader('company')">
                  <div class="pizzaxxsheading"><span>Company</span></div>
              </div>
              <div class="about-accordion-content" *ngIf="idm === 'company' ">
                 <ul>
                   <li>
                     <a (click)="movetoSection('ourcompany','company')">Our Company</a>
                   </li>
                   <li>
                      <a (click)="movetoSection('leadershipteam','company')">Leadership Team</a>
                   </li>
                   <li>
                      <a (click)="movetoSection('comeworkhere','company')">Come Work Here</a>
                   </li>
                   <li>
                     <a (click)="movetoSection('community','company')">Community</a>
                   </li>
                   <li>
                    <a (click)="movetoSection('slicesforsmiles','company')">Slices For Smiles</a>
                   </li>
                   <li>
                    <a (click)="movetoSection('environment','company')">Environment</a>
                   </li>
                   <li>
                    <a (click)="movetoSection('news','company')">News</a>
                   </li>
                 </ul>
              </div>
          </li>

          <li [class.active]="idm === 'investors'">
            <div class="about-accordion-title" idm="investors" (click)="accordionheader('investors')">
                <div class="pizzaxxsheading"><span>Investors</span></div>
            </div>
            <div class="about-accordion-content" *ngIf="idm === 'investors' ">
               <ul>
                 <li>
                   <a (click)="movetoSection('infocentre','investors')">Info Centre</a>
                 </li>
                 <li>
                    <a (click)="movetoSection('shareperformance','investors')">Share Performance</a>
                 </li>
                 <li>
                    <a (click)="movetoSection('investornews','investors')">Investor News</a>
                 </li>
                 <li>
                   <a (click)="movetoSection('corporatepress','investors')">Corporate Press</a>
                 </li>
                 <li>
                  <a (click)="movetoSection('leadershipteam','investors')">About Our Team</a>
                 </li>
                 <li>
                  <a (click)="movetoSection('aboutthedough','investors')">About The Dough</a>
                 </li>
                 <li>
                  <li>
                    <a (click)="movetoSection('emailalerts','investors')">Email Alerts</a>
                   </li>
                   <li>
                    <a (click)="movetoSection('moreinfo','investors')">More Info</a>
                   </li>
               </ul>
            </div>
        </li>


        <li [class.active]="idm === 'for-you'">
          <div class="about-accordion-title" idm="for-you" (click)="accordionheader('for-you')">
              <div class="pizzaxxsheading"><span>For You</span></div>
          </div>
          <div class="about-accordion-content" *ngIf="idm === 'for-you' ">
             <ul>
               <li>
                 <a (click)="movetoSection('intro','for-you')">Intro</a>
               </li>
               <li>
                  <a (click)="movetoSection('contactus','for-you')">Contact Us</a>
               </li>
               <!-- <li>
                  <a (click)="movetoSection('contactus','for-you')">Club 11-11 Loyalty Program</a>
               </li>
               <li>
                 <a (click)="movetoSection('giftcards','for-you')">Gift Cards</a>
               </li> -->
               <li>
                <a (click)="movetoSection('schoollunchprogram','for-you')">School Lunch Program</a>
               </li>
               <li>
                <a (click)="movetoSection('corporatecatering','for-you')">Corporate Catering</a>
               </li>
               <li>
                <a (click)="movetoSection('contests','for-you')">Contests</a>
               </li>
             </ul>
          </div>
      </li>
      <!-- <li [class.active]="idm === 'menu-dropdowen-6'">
        <div class="about-accordion-title">
          <div class="pizzaxxsheading"><a href="javascript:void(0);" routerLink="/restaurant-locator">Restaurant Locator</a></div>
        </div>
      </li>

      <li [class.active]="idm === 'menu-dropdowen-6'">
        <div class="about-accordion-title">
          <div class="pizzaxxsheading"><a href="javascript:void(0);" routerLink="/accessibility">Accessibility</a></div>
        </div>
      </li>

      <li [class.active]="idm === 'menu-dropdowen-6'">
        <div class="about-accordion-title">
          <div class="pizzaxxsheading"><a href="javascript:void(0);" routerLink="/guarantee-policy">Guarantee Policy</a></div>
        </div>
      </li>

      <li [class.active]="idm === 'menu-dropdowen-6'">
        <div class="about-accordion-title">
          <div class="pizzaxxsheading"><a href="javascript:void(0);" routerLink="/guarantee-policy">Privacy Policy</a></div>
        </div>
      </li>

      <li [class.active]="idm === 'menu-dropdowen-6'">
        <div class="about-accordion-title">
          <div class="pizzaxxsheading"><a href="javascript:void(0);" routerLink="/terms-and-conditions">Terms and Conditions</a></div>
        </div>
      </li> -->
      </ul>

      </div>
      </nav>
    </div>
    <div class="about-social-links">
      <ul>
        <li>
          <a href="">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
</header>

<div class="mobile-header-about">
  <div class="row">
    <div class="col-sm-6 col-6">
      <a href="#" class="about-logo-h">
        <img src="assets/images/header-logo.png"/>
      </a>
    </div>
    <div class="col-sm-6 col-6 text-end">
      <span class="toggle-sidebar-header" (click)="toggleNavbar()"></span>
    </div>
  </div>
</div>
