@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";
@import "~src/scss/fonts";
@import "~src/scss/common";


p{
  color: $innercontent;
}

.mobile-header-about{
  padding: 20px 0 15px;
  background: $orange;
  position: sticky;
  top: 0px;
  z-index: 2;
  display: none;
  .row{
    margin: 0px;
    a{
      display: block;
      width: 90%;
    }
  }
  .toggle-sidebar-header{
    display: inline-block;
    margin: 0;
    background: url(/assets/images/sprite-image.png) no-repeat;
    background-position: 0px -144px;
    width: 35px;
    height: 28px;
  }
  @include breakpoint(sm){
    display: block;
    padding: 20px 15px;
  }
}

.header-close-layer{
  position: fixed;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: $white;
  opacity: 0.9;
  display: none;
  z-index: 999;
  display: none;
  @include breakpoint(sm){
    &.inner-header-show{
      display: block;
    }
  }
}


.inner-header{
  padding: 30px 0px 30px 30px;
  background: $white;
  position: fixed;
  width: 250px;
  z-index: 9999;
  height: 100vh;
  top: 0px;
  border-right: 1px solid $graybg;
  .about-social-links{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 70px;
    z-index: 999999;
    ul{
      padding-right: 10px;
      padding: 30px 40px 0px 30px;
      li{
        display: inline-block;
        margin: 0px 12px;
        a{
          i{
            color: $orange;
            font-size: 18px;
          }
        }
        &:last-child{
          margin-right: 0px;
        }
        &:first-child{
          margin-left: 0px;
        }
      }
    }
  }
.logo{
  width: 80%;
}
.inner-nav{
  height: calc(100vh - 185px);
    margin-top: 15px;
  padding: 30px 10px 30px 30px;
  position: absolute;
  width: 100%;
  overflow: auto;
  left: 30px;
  top: 70px;
  right: 0px;
  transform: translate(-30px, 0px);
  ul{
    li{

      a{
        font-size: 13px;
        color: $black;

        &:hover{
          color: $orange;
        }
      }
      &.active{
          a{
            color: $orangefont;
          }
      }
    }
  }
  .about-accordion{
    .about-accordion-content{
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    ul{
      li{
        border-bottom:none;
        padding: 15px 0px 0px 0px;
        .pizzaxxsheading{
          span{
            display: inline-block;
            padding: 8px 15px;
            color: $orangefont;
            position: relative;
            z-index: 1;
            font-weight: bold;
            &:after{
              content: '';
              position: absolute;
              top: 0px;
              left:0px;
              bottom: 0px;
              width: 0px;
              transition: all 0.5s;
              z-index: -1;
              @include breakpoint(sm){
                display: none;
              
            }
            }
            &:hover{
              color:$white;
              &:after{
                width: 100%;
                background: $orange;
              }
            }
          }
        }
        .pizzaxxsheading{
          a{
            display: inline-block;
            padding: 8px 15px;
            color: $orangefont;
            font-size: 16px;
            font-weight: bold;
            position: relative;
            &:after{
              content: '';
              position: absolute;
              top: 0px;
              left:0px;
              bottom: 0px;
              width: 0px;
              transition: all 0.5s;
              z-index: -1;
              display: inline-block;
              @include breakpoint(sm){
                  display: none;
                
              }
            }
            &:hover{
              color:$white;
              &:after{
                width: 100%;
                background: $orange;
              }
              @include breakpoint(sm){
                color: $orange;
               background-color: $white;
            }
            }
            
          }
          
        }
        .about-accordion-title{
          padding: 0px;
        }
        &.active{
          .pizzaxxsheading{
            span{
              color: $white;
              background: $orange;
            }
          }
      }
      &.active{
        .pizzaxxsheading{
          a{
            color: $white;
            background: $orange;
          }
        }
    }
      }
    }


    .about-accordion-content{
      ul{
        padding-top: 15px;
        li{
          padding: 0px;
          a{
            padding: 8px 20px;
            color:$black;
            &:hover{
              color: $orangefont;
            }
            }
            &.active{
              a{
                color: $orangefont;
              }
          }
        }
      }
    }
  }
}

.about-social-links{
  ul{
    li{
      padding: 0px 8px;
      a{
        i{
          color: $orange;
        }
      }
    }
  }
}

@include breakpoint(lg){
  z-index: 9999;
}

@include breakpoint(sm){
  right: 0px;
    z-index: 9999;
    background: $orange;
    width: 40%;
    display: none;
    &.inner-header-show{
      display: block;
    }
  .about-social-links{
    ul{
      li{
        padding: 0px 8px;
        a{
          i{
            color: $white;
          }
        }
      }
    }
  }
  .logo{
    display: none;
  }
  .inner-nav{
    .about-accordion{
      ul{
        li{
          .pizzaxxsheading{
            color: $white;
            font-size: 16px;
            font-family: $proximablack;
            span{
              color: $white;
            }
          }

          &.active{
            .pizzaxxsheading{
              span{
                color: $orange;
                background: $white;
              }
            }
        }

          }
        }
        .about-accordion-content{
         ul{
           li{
            a{
              color: $white;
              &:hover{
                color: $white;
              }
          }
           }
         }
      }
    }


    }


  .toggle-inner{
    text-align: right;
    .toggle-sidebar-header{
      display: inline-block;
      margin: 0;
      background: url(/assets/images/sprite-image.png) no-repeat;
      background-position: 0px -144px;
      width: 35px;
      height: 28px;
    }
  }
}

@include breakpoint(xs) {
   padding: 15px;
   width: 70%;
}

}

// .about-accordion-content{
//   display: none;
// }
// .list-sidebar.active .about-accordion-content{
//   display: block;
// }
