
<app-side-header></app-side-header>

<div class="inner-main" >

  <section>
    <div class="banner-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="assets/images/investors/leadership-team/Investors_ManagementTeam-mob.jpg">
        <source media="(min-width: 768px)" srcset="assets/images/investors/leadership-team/Investors_ManagementTeam.jpg">
        <img src="assets/images/Investors/Investors_ManagementTeam.jpg.jpg" alt="banner-nutritionbanner">
      </picture>
      <div class="banner-content-q">
          <h1 class="pizzalgheading">LEADERSHIP TEAM</h1>
          <h2 class="pizzaxlheading">GET TO KNOW OUR BIG CHEESES</h2>
        </div>
    </div>
  </section>

  <section class="padding-section">
    <div class="heading-box">
      <p class="pizzasmheading">At Pizza Pizza, we’ve built a culture that’s open, respectful and proud, while being a company driven by performance, innovation and recognition. We're grateful to have a leadership team that lives and inspires these values every day!</p>
    </div>
    <div class="leadership-wraper">
      <div class="leadership-iteam">
          <img src="assets/images/investors/leadership-team/Paul-Goddard-bio.jpg">
          <div class="leader-name">
            <h2 class="pizzamdheading">Paul Goddard</h2>
            <p>President & CEO, Pizza Pizza Limited</p>
          </div>
          <p>Paul Goddard holds a Bachelor of Science degree with Honours, Mechanical Engineering, from Queen’s University, is a licensed Professional Engineer, and holds an MBA from London Business School, United Kingdom. Paul joined Pizza Pizza in 2009 as Chief Information Officer and Vice President, Enterprise Development, before being appointed Chief Executive Officer in 2010.</p>
          <p>Prior to Pizza Pizza, Paul was Senior Vice President of Sales & Marketing for Energy Savings Income Fund (now known as Just Energy) from 2007 to 2008, and was Vice President of Wholesale Energy Group from 2006 to 2007. Earlier in his career, he worked for several other leading organizations such as Imperial Oil (Esso) in Canada and Morgan Stanley in the UK.</p>
          <p>Paul has sat on the Toronto Zoo fundraising cabinet, and on the Board of Governors of Excellence Canada, of which Pizza Pizza is a founding Partner. Paul is also an active member of Young Presidents Organization (YPO). Born and raised in Alberta, Paul now resides with his wife and two children in Toronto. He is an avid skier and enjoys travelling with his family.</p>
          <p>Paul's favourite pizza: “New York style pepperoni, on whole wheat thin crust, with hot banana peppers.”</p>
        </div>

        <div class="leadership-iteam">
          <img src="assets/images/investors/leadership-team/Philip-Goudreau-bio.jpg">
          <div class="leader-name">
            <h2 class="pizzamdheading">Philip Goudreau</h2>
            <p>Chief Operating Officer</p>
          </div>
          <p>Philip Goudreau joined Pizza Pizza in 2011 as Vice President of Operations and Development for Pizza 73. In 2013, he was promoted to the role of Senior Vice President, Operations and Development for Pizza 73. In 2019, Philip’s role was further expanded to cover Operations nationally for all Pizza Pizza and Pizza 73 restaurants, and in 2020 Philip was promoted to Chief Operating Officer for the company. Philip now overseas all Operations, Business Development (Non-Traditional), Franchising, Real Estate, Supply Chain, Customer Contact Centres and Pizza 73. Prior to joining Pizza Pizza, Philip spent his career with Wendy’s Restaurants of Canada Inc. for 22 years in various Training and Senior Operations roles where he managed business in both Eastern and Western Canada.</p>
          <p>Philip enjoys spending time with his family and his two dogs ``Snoopy`` and ``Charli``, loves hockey, and is a Harley Davidson enthusiast.</p>
          <p>Philip’s favourite pizza: “Sweet Chili Thai Gourmet Thin at Pizza Pizza, and at Pizza 73, a thin crust with Tandoori Chicken and Black Olives.”</p>
        </div>

        <div class="leadership-iteam">
          <img src="assets/images/investors/leadership-team/Christine-DSylva-bio.jpg">
          <div class="leader-name">
            <h2 class="pizzamdheading">Christine D’Sylva</h2>
            <p>Chief Financial Officer</p>
          </div>
          <p>Christine D'Sylva joined Pizza Pizza in 2007, and has held progressively senior roles, including Vice President, Finance & Investor Relations from 2016. In January 2021, Christine was promoted to Chief Financial Officer. She is responsible for overseeing Pizza Pizza's finance and accounting departments, and our corporate financial reporting. Prior to joining Pizza Pizza, Christine was an accomplished audit professional at KPMG LLP in Toronto from 2000-2007. Christine obtained a Bachelor of Arts (Accounting) and a Master of Accounting from the University of Waterloo, and holds the CPA and CA designations.</p>
          <p>When she is not at work you can find Christine at the park with her two sons, reading a book, or giving back to the community as the Treasurer of Children's Garden Foundation.</p>
          <p>Christine's favourite pizza: “Gourmet Thin Chicken Chili Thai.”</p>
        </div>

    </div>
  </section>


</div>








