@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";
p{
  color: $innercontent;
}
img{
  height: auto;
  max-width: 100%;
}
.heading-box {
  text-align: center;
  .pizzaxlheading{
    color: $innerfont;
    margin-bottom: 15px;
  }
  .pizzaxxsheading{
    font-family: $proximablack;
    color: $orangefont;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:after{
      content: "";
    position: absolute;
    width: 52px;
    height: 1px;
    background: $orange;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    }
  }
  .pizzasmheading{
    line-height: 30px;
  }
}

.banner-wrapper{
  position: relative;
  img{
    display: block;
    width: 100%;
  }
  .banner-content-q{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    color: $white;
    z-index: 1;
    .pizzaxlheading{
      margin-bottom: 30px;
      padding-bottom: 15px;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        width: 52px;
        height: 1px;
        background: $orange;
        bottom: -14px;
        left: 50%;
        transform: translate(-50%, 0px);
      }

    }
    .pizzalgheading{
      position: relative;
      margin: 0px 0px 27px 0px;
      font-size: 14px;
      padding: 0px 20px 0px 20px;
      color: $orangefont;
      font-family: $proximablack;
      &:after{
        content: "";
        position: absolute;
        width: 52px;
        height: 1px;
        background: $orange;
        bottom: -14px;
        left: 50%;
        transform: translate(-50%, 0px);
      }
    }
    .pizzamdheading{
      color: $white;
      margin-bottom: 15px;
      line-height: 30px;
      padding: 0px 20px;
      font-weight: 600;
      &:last-child{
        margin-bottom: 0px;
      }
    }
    @include breakpoint(xs){
      .pizzalgheading{
        line-height: 30px;
      }
    }
  }

  &:after{
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: $black;
    opacity: 0.4;
  }
}

.line-heading{
  color: $orangefont;
  margin-bottom: 30px;
  font-family: $proximablack;
  text-transform: uppercase;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    width: 48px;
    height: 1px;
    background: $orange;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0px);
  }
}

.heading-box-inner{
  .pizzaxxsheading{
    font-family: $proximablack;
    color: $innerfont;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
    &:after{
      content: "";
    position: absolute;
    width: 52px;
    height: 1px;
    background: $orange;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    }
  }
}

.padding-section{
  padding: 70px 70px;
  @include breakpoint(xs){
     padding: 30px 15px;
    }
}
.padding-top{
 padding-top: 40px;
}



.inner-main{
  padding-left: 250px;
  .container{
    padding: 0 60px;
  }
  @include breakpoint(sm){
    padding: 0px;
    display: block;
  }
}

.presentations{
  width: 100%;
  margin: 0px auto;
  .nutration-tab-wraper{
    padding: 0px;
    .tab-content-inner{
      padding-top:70px;
    }
  }
  .tab-wraper-list{
    text-align: center;
    border-bottom: 1px solid #dedede;
   li{
     display: inline-block;
     a{
       padding: 10px 15px 20px 15px;
       color: $innercontent;
       &:hover{
         opacity: 0.8;
       }
     }
     .active{
      border-bottom: 3px solid $orangeborder;
     }
   }
   @include breakpoint(xs){
     margin-bottom: 20px;
     a{
       padding: 10px 15px 15px 15px;
     }
   }
  }

.presentation-wraper{
  .presentation-inner-wraper{
    padding: 30px;
    &:nth-of-type(odd){
      background: $darkgraybg;
    }
    &:nth-of-type(even){
      background: #f7f7f7;
    }
    .row{
      align-items: center;
      .presentation-img{
        img{
          display: block;
          width: 100%;
        }
      }
      .presentation-detail{
        .pizzamdheading{
          color: $innerfont;
          font-size: 26px;
          margin-bottom: 15px;
          font-weight: bold;
        }
        p{
          margin-bottom: 10px;
        }
        .dowenload{
          padding-top: 10px;
        }
      }
    }
  }
  @include breakpoint(xs){
  .presentation-inner-wraper{
    padding: 25px 15px;
    .row{
      .presentation-img{
        margin-bottom: 20px;
      }
    }
  }
  }
}


  @include breakpoint(md){
    width: 95%;
  }
  @include breakpoint(xs){
    width: 100%;
    .nutration-tab-wraper{
      .tab-content-inner{
        padding-top: 30px;
      }
    }
  }
}






