
<app-side-header></app-side-header>

<div class="inner-main" >

  <section>
    <div class="banner-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="assets/images/investors/Investors_Presentations-mob.jpg">
        <source media="(min-width: 768px)" srcset="assets/images/investors/Investors_Presentations.jpg">
        <img width="100" height="100" src="assets/images/investors/Investors_Presentations.jpg" alt="banner-dividend">
      </picture>
      <div class="banner-content-q">
          <h1 class="pizzaxlheading">PRESENTATIONS</h1>
          <h2 class="pizzamdheading">Check out the presentations from our last few Annual Meetings. They’ll give you a good overview of our company.</h2>
        </div>
    </div>
  </section>

  <section class="padding-section presentations">
    <div class="nutration-tab-wraper">
      <div class="nutrion-tab">
        <ul class="tab-wraper-list">
            <li *ngFor="let dividendList of dividendLists">
              <a class="pizzaxsheading active" (click)="openMenuList(dividendList)" [ngClass]="{'active':dividendselectedList===dividendList}" href="javascript:void(0);">
                  {{dividendList}}
              </a>
             </li>
        </ul>
      </div>

    <div class="tab-content">
        <div class="tab-content-inner" *ngIf="dividendselectedList === 'Annual Meetings'">
           <div class="presentation-wraper">
              <div class="presentation-inner-wraper">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="presentation-img">
                      <img width="100" height="100" src="assets/images/investors/presentation-2021.jpeg">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="presentation-detail">
                      <h3 class="pizzamdheading">2021 Annual General Meeting</h3>
                      <p>Location: TMX Market Centre</p>
                      <p>100 Adelaide St. W.,</p>
                      <p>Toronto, Ontario</p>
                      <p>Date: May 27, 2022</p>
                      <p>Time:  10:00am</p>
                      <div class="dowenload">
                        <a href="#" class="pizza-btn">DOWNLOAD</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="presentation-inner-wraper">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="presentation-img">
                      <img width="100" height="100" src="assets/images/investors/2020-AGM-v2.001.jpg">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="presentation-detail">
                      <h3 class="pizzamdheading">2020 Annual General Meeting</h3>
                      <p>Location: Virtual Meeting</p>
                      <p>Date: June 24, 2021</p>
                      <div class="dowenload">
                        <a href="#" class="pizza-btn">DOWNLOAD</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="presentation-inner-wraper">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="presentation-img">
                      <img width="100" height="100" src="assets/images/investors/2019-PP-P73-AGM-v7-1-1.jpg">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="presentation-detail">
                      <h3 class="pizzamdheading">2019 Annual General Meetingg</h3>
                      <p>Location: Virtual Meeting</p>
                      <p>Date: August 14, 2020</p>
                      <div class="dowenload">
                        <a href="#" class="pizza-btn">DOWNLOAD</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           </div>
        </div>


        <div class="tab-content-inner" *ngIf="dividendselectedList === 'Conferences'">
          <div class="presentation-wraper">
            <div class="presentation-inner-wraper">
              <div class="row">
                <div class="col-sm-6">
                  <div class="presentation-img">
                    <img width="100" height="100" src="assets/images/investors/2020-AGM-v2.001.jpg">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="presentation-detail">
                    <h3 class="pizzamdheading">2020 Annual General Meeting</h3>
                    <p>Location: Virtual Meeting</p>
                    <p>Date: June 24, 2021</p>
                    <div class="dowenload">
                      <a href="#" class="pizza-btn">DOWNLOAD</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="presentation-inner-wraper">
              <div class="row">
                <div class="col-sm-6">
                  <div class="presentation-img">
                    <img width="100" height="100" src="assets/images/investors/presentation-2021.jpeg">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="presentation-detail">
                    <h3 class="pizzamdheading">2021 Annual General Meeting</h3>
                    <p>Location: TMX Market Centre</p>
                    <p>100 Adelaide St. W.,</p>
                    <p>Toronto, Ontario</p>
                    <p>Date: May 27, 2022</p>
                    <p>Time:  10:00am</p>
                    <div class="dowenload">
                      <a href="#" class="pizza-btn">DOWNLOAD</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="presentation-inner-wraper">
              <div class="row">
                <div class="col-sm-6">
                  <div class="presentation-img">
                    <img width="100" height="100" src="assets/images/investors/2019-PP-P73-AGM-v7-1-1.jpg">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="presentation-detail">
                    <h3 class="pizzamdheading">2019 Annual General Meetingg</h3>
                    <p>Location: Virtual Meeting</p>
                    <p>Date: August 14, 2020</p>
                    <div class="dowenload">
                      <a href="#" class="pizza-btn">DOWNLOAD</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>
        </div>

    </div>
    </div>
  </section>


</div>









