@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

#site-header{
    background: $orangefont;
    padding: 20px 0;
    position: relative;
    @include breakpoint(xs) {
        padding: 5px 0 5px 0px;
    }
}
.addressHeader{
    font-weight: bold !important;
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block !important;
    vertical-align: bottom;
}
.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-logo{
        width: 105px;
        cursor: pointer;
    }
    .header-nav{
        display: flex;
        align-items: center;
        .header-nav-left{
            margin-right: 40px;
            ul{
                display: flex;
                align-items: center;
                li{
                    display: inline-block;
                    padding: 0 18px;
                    a{
                        font-size: 14px;
                        font-family: $proximarg;
                        color: $white;
                        font-weight: 400;
                        text-decoration: none;
                        // text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        img{
                            width: 40px;
                        }
                        .callbox{
                            margin-left: 15px;
                            span{
                                font-weight: bold;
                                font-size: 14px;;
                            }
                        }
                    }
                }
            }
        }
        .header-nav-right{
          .log-in-sign-in-bx{
            display: flex;
            align-items: center;
            i{
              color: $white;
              font-size: 32px;
              margin-right: 6px;
            }
            .header-right-log-in{
              a{
                display: block;
                color:$white;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                i{
                  display: none;
                }
                &:nth-of-type(2){
                  font-size: 13px;
                  font-weight: 400;
                  margin-top: -4px;
                  @include breakpoint(xs){
                    font-weight: 600;
                  }
                }
              }
            }
            @include breakpoint(xs){
              i{
                display: none;
              }
              .header-right-log-in{
                a{
                  font-size: 0px;
                  color: transparent;
                  line-height: 0px;
                  i{
                    display: block;
                    columns: $white;
                    margin-right: 0px;
                  }
                  &:nth-of-type(2){
                    display: none;
                  }
                }
              }
            }
          }
            .signup-btn{
                img{
                    display: none;
                }
                font-size: 18px;
                font-family: $proximarg;
                color: $white;
                font-weight: bold;
                border: 1px solid $white;
                border-radius: 5px;
                padding: 0 35px;
                height: 45px;
                line-height: 45px;
                text-decoration: none;
                text-transform: uppercase;
                transition: ease-in-out .5s;
                -webkit-transition: ease-in-out .5s;
                -moz-transition: ease-in-out .5s;
                -ms-transition: ease-in-out .5s;
                &:hover{
                    background: $white;
                    color: $orangefont;
                }
            }
            .user-profile{
                .user-image{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                    span{
                        font-size: 18px;
                        font-family: $proximarg;
                        color: $white;
                        font-weight: bold;
                        text-transform: uppercase;
                        max-width: 120px;
                        display: inline-block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .logo, .crossIcon{
        display: none;
    }
    .menuicon{
        display: none;
    }
    @include breakpoint(md) {
        flex-wrap: wrap;
        .header-logo{
            margin: 0 auto;
            position: relative;
            left: 20px;

            a{
                cursor: pointer;
            }
        }
        .header-nav{
            .header-nav-left{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $orangefont;
                padding: 25px 0;
                display: none;
                z-index: 9;
                ul{
                    flex-wrap: wrap;
                    padding: 40px 0;
                    li{
                        display: block;
                        width: 100%;
                        padding: 15px;
                        border-bottom: 1px solid $white;
                    }
                }
            }
            .header-nav-right{
                .signup-btn{
                    padding: 0;
                    border: 0px;
                    border-radius: 0;
                    font-size: 0;
                    line-height: initial;
                    height: auto;
                    img{
                        display: block;
                    }
                    &:hover{
                        background: transparent;
                        color: $orangefont;
                    }
                }
            }
        }
        .menuicon{
            display: inline-block;
            position: absolute;
            top: 50%;
            margin: 0;
            background: url(../../assets/images/sprite-image.png) no-repeat;
            background-position: 0px -144px;
            width: 35px;
            height: 28px;
            left: 35px;
            right: 0px;
            transform: translateY(-50%);
            z-index: 9;
        }
        .crossIcon {
            position: absolute;
            right: 20px;
            top: 20px;
            // background: url(../../assets/images/sprite-image.png) no-repeat;
            // background-position: 2px -180px;
            // width: 35px;
            // height: 28px;
            z-index: 1234;
        }
        .logo{
            width: 100%;
            text-align: center;
            img{
                margin: 0 auto;
                max-width: 160px;
            }
        }
        .logo, .crossIcon{
            display: inline-block;
        }
    }
    @include breakpoint(xs){
        .menuicon{
            left: 15px;
        }
        .header-nav{
            .header-nav-right{
                .user-profile{
                    .user-image{
                        span{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.storeClose-popup2{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;


    .find-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .find-wrapper{
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 35%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 5px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .btn-delete-no{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #fff;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #ee5a00;
        font-size: 1em;
    }
    .btn-delete-yes{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #ee5a00;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #fff;
        font-size: 1em;
    }
    .find-header{
        padding: 30px 40px;
        position: relative;
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 46px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 0px;
        }
        .pizzaparaDelete{
            font-weight: 400;
            text-align: center;
            line-height: 1.175;
            letter-spacing: .15px;
            color: #4c3017;
            font-size: 1.2em;
            margin-top: 20px;
        }
    }
    .find-content{
        padding: 0;
    }
    .find-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .find-close:hover {
        color: #777;
    }
    .find-form{
        padding: 40px 25px 25px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 30px;
        }
        .form-group{
            margin-bottom: 15px;
            position: relative;
            .label-top{
                font-size: 16px;
                font-family: $proximarg;
                margin-bottom: 15px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 75px 5px 0;
                height: 35px;
            }
            .find-btn{
                position: absolute;
                top: 50%;
                right: 0;
                border: none;
                color: $orange;
                font-size: 13px;
                font-family: $proximarg;
                font-weight: 400;
                border-radius: 0px;
                padding: 0;
                background: transparent;
                transition: ease-in-out .5s;
                -webkit-transition: ease-in-out .5s;
                -moz-transition: ease-in-out .5s;
                -ms-transition: ease-in-out .5s;
                i{
                    width: 17px;
                    height: 17px;
                    font-size: 10px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 16px;
                    margin-right: 5px;
                    color: $orange;
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                }
                &:hover{
                    background: transparent;
                    color: $orange;
                    i{
                        color: $orange;
                    }
                }
            }
        }
        .find-right{
            text-align: right;
        }
    }
    .find-bg{
        img{
            width: 100%;
        }
    }
    .manually-main{
        padding: 40px 20px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 50px;
        }
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                // span{
                //     display: block;
                // }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                text-transform: uppercase;
                &.select-form{
                    background: url(../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .manually-btn{
            text-align: right;
        }
    }
    .location-modal{
        margin: 0 5px;
        padding: 0 10px;
        width: calc(100% - 15px);
        overflow-y: scroll;
        height: 180px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $grayborder;
        }
        &::-webkit-scrollbar-thumb {
            background: $graytext;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $graytext;
        }
        .location-pick-list{
            position: relative;
            border-radius: 5px;
            border: 2px solid $grayborder;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            font-family: $proximarg;
            cursor: pointer;
            padding: 10px 15px;
            justify-content: space-between;
            .pizzaxxsheading{
                font-size: 14px;
                color: $deepgray;
                font-family: $proximarg;
                font-weight: 700;
                letter-spacing: .3px;
                margin-bottom: 3px;
            }
            .location-address{
                width: 70%;
                padding-left: 35px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0px;
                    width: 30px;
                    height: 25px;
                    background: url(../../assets/images/sprite-image.png);
                    background-position: 0 -2452px;
                    background-size: 40px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: $deepgray;
                    line-height: 16px;
                    span{
                        display: block;
                    }
                }
            }
            .location-hours-right{
                width: 10%;
                text-align: right;
                p{
                    font-size: 13px;
                    color: $orange;
                    font-weight: 800;
                    letter-spacing: .3px;
                }
                i{
                    font-size: 11px;
                    color: $green;
                    display: none;
                }
            }
            &.select-active{
                border-color: $green;
                .pizzaxxsheading{
                    color: $green;
                }
                .location-address{
                    &::before{
                        background-position: 0 -2488px;
                    }
                    p{
                        color: $green;
                    }
                }
                .location-hours{
                    &::before{
                        background-position: 0px -2997px;
                    }
                    p, .location-pickup{
                        color: $green;
                    }
                }
                .location-hours-right{
                    p{
                        display: none;
                    }
                    i{
                        display: block;
                    }
                }
            }
        }
    }
    .delite-popup-wraper{
      .find-header{
        // display: flex;
        justify-content: center;
        align-items: center;
        .user-icon{
          margin-bottom: 0px;
          i{
            font-size: 36px;
          }
        }
        .pizzalgheading{
          margin-left: 5px;
          font-weight: bold;
          margin-top: 5px;
        }
      }
      .find-body{
        text-align: center;
        padding: 0px 30px 30px 30px;
        .pizzaparaDelete{
          margin-bottom: 30px;
        }
      }
    }


    @include breakpoint(slg) {
        .find-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .find-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .find-form{
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .form-group{
                .label-top{
                    font-size: 14px;
                }
            }
            .find-right{
                .pizza-btn{
                    width: 100%;
                }
            }
        }
        .manually-main{
            padding: 20px 10px;
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
                line-height: 32px;
            }
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
        }
        .location-modal{
            height: 280px;
            .location-pick-list{
                .location-address{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .location-hours{
                    width: 100%;
                    padding-left: 35px;
                    margin-bottom: 10px;
                    &::before{
                        left: 0px;
                    }
                }
                .location-hours-right{
                    position: absolute;
                    top: 10px;
                    right: 22px;
                }
                .location-directions{
                    padding-left: 35px;
                }
            }
        }
        .find-wrapper{
            width: 95%;
        }
    }
}

header{
    .container{
        position: relative;
        .translater-text{
            position: absolute;
            right: 0px;
            top: -17px;
            height: 18px;
            overflow: hidden;
            border: 1px solid #fff;
            @include breakpoint(xs){
                right: 12px;
            }
        }
    }
}
#google_translater{
    .goog-te-combo{
        color: #fff;
    }
}


@include breakpoint(md){
    .top-header{
        .crossIcon {
            right: 15px;
            top: 8px;
            background-position: -6px -186px;
            border-radius: 30px;
            padding: 13px;
            img{
                width: 20px;
            }
        }
        .header-nav{
            align-items: flex-start;
            .logo{
                width: 80px;
                display: block;
                margin: 0px auto;
                position: absolute;
                top: 15px;
                left: 50%;
                transform: translate(-50%, 0px);
                
                img{
                    width: 100%;
                }
            }
            .header-nav-left{
                position: static;
                height: auto;
                padding: 0px;
                margin-right: 0px;
            }
        }
    }
   
    
    .top-header{
        .header-nav{
            &.active-header-nav{
                position: fixed;
                top: 0;
                left: auto;
                right: 0px;
                width: 60%;
                height: 100%;
                background: #fb5000;
                padding: 8px 0px;
                z-index: 9;
                flex-wrap: wrap;
                flex-direction: column;
                z-index: 99999999999;
                &:before{
                    content: '';
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    right: 0px;
                    background: rgba(0, 0, 0, 0.3);
                    width: 100%;
                    left: -100%;

                }
                @include breakpoint(xs){
                    left: 0px;
                    width: 100%;
                }
                .header-nav-left{
                    display: block !important;
                    order: 2;
                    ul{
                        padding: 0px;
                        li{
                            position: relative;
                            &:after{
                                content: "";
                                position: absolute;
                                top: 28px;
                                right: 16px;
                                width: 13px;
                                transform: rotate(-50deg);
                                height: 13px;
                                border-bottom: 3px solid #fff;
                                border-right: 3px solid #fff;
                                z-index: 1;
                                position: none;
                            }
                        }
                    }
                }
                .header-nav-right{
                    order: 1;
                    width: 100%;
                    padding-top: 60px;
                    .user-profile{
                        .user-image{
                            padding: 10px 15px;
                            border-bottom: 1px solid #fff;
                            span{display: inline-block;}
                        }
                    }
                    .log-in-sign-in-bx{
                        .hidden-md-i{
                            display: none;
                        }
                        .header-right-log-in{
                            width: 100%;
                            a{
                                font-size: 16px;
                                color: #fff;
                                line-height: 22px;
                                display: flex;
                                align-items: center;
                                width: 100%;
                                border-bottom: 1px solid #fff;
                                padding: 16px 15px;
                                position: relative;
                                &:after{
                                    content: "";
                                    position: absolute;
                                    top: 22px;
                                    right: 16px;
                                    width: 13px;
                                    transform: rotate(-50deg);
                                    height: 13px;
                                    border-bottom: 3px solid #fff;
                                    border-right: 3px solid #fff;
                                    z-index: 1;
                                }
                                i{
                                    display: inline-block;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
    
    
}


@include breakpoint(xs){
    #google_translater.translater-text{
        display:none;
    }
    #google_translater.translater-text.translater-active{
        position: fixed;
        right: 15px;
        top: auto;
        bottom: 15px;
        height: 18px;
        overflow: hidden;
        border: 1px solid #fff;
        z-index: 9999999999999999;
        display: block;
    }
}