@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

#sitefooter{
    background: $footergray;
    border-top: 1px solid #e1e7e9;
    padding-bottom: 50px;
}
.social-icons .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
  }
.footer-overlay-cart{
                
    @include breakpoint(xs){
        background-color: #000000bf;
    position: absolute;
    top: -250%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
        }
    
}
.emptyCart{
    background-color: #eaf0f3;
    padding: 20px 10px;
    text-align: center;
    border-top: 1px solid $orange;
    border-right: 1px solid $orange;
    border-left: 1px solid $orange;
    .pizzaxxsheading{
        text-align: left;
        font-weight: 700;
    }
    img{
        padding: 30px 0;
    }
    .button-bottom{
        margin-top: 15px;
        .pizza-btn{
            border: 1px solid $white;
            border-radius: 5px;
            width: 100%;
            padding: 15px 30px;
            background: $grayborder;
            color: $deepgray;
        }
    }
}
.footer-top{
    padding: 60px 0 45px;
    .store-locator{
        margin-top: 25px;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                line-height: 25px;
                a{
                    font-size: 13px;
                    color: $orangefont;
                    font-family: $proximarg;
                    font-weight: 400;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                &:first-child{
                    a{
                        font-size: 16px;
                        img{
                            margin-right: 5px;
                            position: relative;
                            top: -4px;
                            width: 18px;
                        }
                    }
                }
            }
        }
    }
    .social-icons{
        padding-top: 45px;
        padding-right: 20px;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
                display: inline-block;
                a{
                    font-size: 19px;
                    color: $orangefont;
                    text-decoration: none;
                    i{
                        font-size: 22px;
                        color: $orangefont;
                    }
                }
            }
        }
    }
    .footer-left-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .store-locator{
            margin-top: 0;
        }
        .social-icons{
            padding: 0;
            ul li a{
                padding: 0 15px;
            }
        }

        @include breakpoint(xs) {
            flex-direction: column;
           .footer-logo{
            width: 50%;
            margin-bottom: 20px;
           }
           .store-locator{
            margin-bottom: 20px;
           }
        }
    }

    .footer-right{
        padding-left: 60px;
        .flinks{
            ul{
                margin:0;
                padding: 0;
                list-style: none;
                margin-bottom: 15px;
                li{
                    line-height: 24px;
                    a{
                        color: $brownfont;
                        font-size: 14px;
                        font-family: $proximarg;
                        letter-spacing: .22px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            &.flinkmargin{
                margin-bottom: 40px;
            }
            &> .pizzaxsheading{
                font-size: 22px;
                color: $brownfont;
                font-family: $proximablack;
                font-weight: 900;
                padding-bottom: 22px;
                margin-bottom: 8px;
                position: relative;
                text-transform: uppercase;
            }
        }
    }
    @include breakpoint(md) {
        padding: 40px 0 30px;
    }
    @include breakpoint(sm) {
        .social-icons{
            padding-right: 0;
        }
        .footer-right{
            padding-left: 30px;
            .flinks{
                .pizzaxsheading{
                    font-size: 18px;
                }
            }
        }
    }
    @include breakpoint(xs) {
        padding: 30px 0;
        .footer-left{

            img{
                width: 80%;
                margin: 0 auto;
                display: block;
            }
        }
        .store-locator{
            margin-top: 15px;
            ul{
                li{
                    &:first-child{
                        a{
                            font-size: 14px;
                            img{
                                width: auto;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
        .social-icons{
            padding-top: 35px;
            padding-right: 0px;
        }
        .footer-right{
            padding-left: 10px;
            .flinks{
                &> .pizzaxsheading{
                    font-size: 18px;
                    padding-bottom: 0px;
                    margin-bottom: 15px;
                }
            }
            .flinks{
                margin-bottom: -1px;
                ul{
                    padding: 5px 0px 15px 0px;
                    &.footerlink{
                        display: none;
                    }
                }
                &> .pizzaxsheading{
                    &::after{
                        content: "";
                        position: absolute;
                        top: -2px;
                        bottom: 0;
                        margin: auto;
                        right: 0px;
                        box-sizing: border-box;
                        height: 0;
                        width: 0;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-top: 8px solid $black;
                    }
                }
                &.active{
                    &> .pizzaxsheading{
                        color: $white;
                        border-bottom-color: transparent;
                    }
                    ul{
                        &.footerlink{
                            display: block;
                        }
                    }
                }
                &> .pizzaxsheading{
                    &.active{
                        border-bottom-color: transparent;
                        &:after{
                            transform: rotate(-180deg);
                            top: -2px;
                        }
                    }
                }
                &.flinkmargin{
                    margin-bottom: -1px;
                }
            }
        }

    }
}
.footer-bottom{
    text-align: center;
    p, span{
        font-size: 13px;
        color: $brownfont;
        font-family: $proximarg;
        margin: 0;
        padding-bottom: 15px;
        a{
            color: $orangefont;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    span{
        width: 100%;
        display: block;
    }
    @include breakpoint(xs) {
        p{
            text-align: left;
        }
    }
}

.add-cart{
    width: 100%;
    font-family: $proximarg;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 123;
    .add-detail{
        background: $white;
        border-top: 1px solid $orange;
        text-align: center;
        padding: 10px 0;
        padding-right: 2.5%;
        p{
            font-size: 13px;
            color: $brownfont;
            margin: 0;
        }
    }
    .container{
        position: relative;
        padding-right: 0px;
    }
    .addcard-main{
        position: absolute;
        bottom: calc(100% - 1px);
        width: 370px;
        right: 8px;
        z-index: 1;
        .row{
            justify-content: flex-end;
            margin: 0px;
        }
        .addcard-top{
            top: 1px;
            z-index: 2;
            border: 1px solid $orange;
            border-bottom: $white;
            border-radius: 9px 9px 0 0;
            background-color: $white;
            cursor: pointer;
            color: $brownfont;
            padding: 5px;
            width: 310px;
            display: flex;
            line-height: 1.5;
            .addcard-top-left{
                display: flex;
                align-items: center;
                font-size: 18px;
                font-family: $proximarg;
                width: auto;
                max-width: none;
                letter-spacing: .35px;
                font-weight: 800;
                flex: 0 0 auto;
                i{
                    font-size: 22px;
                    color: $orange;
                    padding-right: 10px;
                }
            }
            &.current{
                .addcard-top-right{
                    i{
                        transform: rotate(180deg);  
                        right:-5px;
                        @include breakpoint(xs){
                            right: 0px;
                        }
                    }
                }
                
            }
            &.productadded{
                &.current{
                    .addcard-top-right{
                        i{
                            transform: rotate(180deg);  
                            right:-5px;
                            @include breakpoint(xs){
                                right: 0px;
                            }
                        }
                    }
                    
                }
            }
            
            .addcard-top-right{
                flex: 0 0 auto;
                max-width: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 5px;
                .price{
                    font-size: 24px;
                    font-family: $proximarg;
                    color: $brownfont;
                    letter-spacing: .47px;
                    padding: 0 8px;
                }
                i{
                    display: inline-block;
                    width: 25px;
                    font-size: 14px;
                    color: $brownfont;
                    text-align: right;
                    position: absolute;
                    right: 5px;
                    top: 18px;
                    transform: rotate(0deg);
                    @include breakpoint(xs){
                      right: 12px;
                      top: 18px;
                    }
                }
            }
            &.productadded{
                background: $orange;
                .addcard-top-left{
                    i{
                        color: $white;
                    }
                    span{
                        color: $white;
                    }
                }
                .addcard-top-right{
                    .price{
                        color: $white;
                    }
                    i{
                        color: $white;
                        text-align: right;
                        transform: rotate(0deg);
                    }
                }
            }
        }
        .cart-content{
            padding: 20px 10px;
            background-color: #eaf0f3;
            border: 1px solid $orange;
            border-bottom: 0;
            .offer-card{
                border-radius: 9px;
                background: linear-gradient(180deg,#ee5a00 4%,#ff9700 96%);
                padding: 15px;
                display: flex;
                align-items: center;
                .offercard-left{
                    width: 60px;
                    margin-right: 15px;
                    img{
                        width: 100%;
                    }
                }
                .offercard-right{
                    width: 65%;
                    p{
                        font-size: 13px;
                        color: $white;
                        font-family: $proximarg;
                        line-height: 16px;
                    }
                }
            }
            .your-cart{
                margin-top: 10px;
                .pizzaxxsheading{
                    font-family: $proximarg;
                    color: $brownfont;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .cart-products-wrapper{
                    max-height: 300px;
                    overflow-y: scroll;
                    .cart-item{
                        background: $white;
                        border-radius: 5px;
                        padding: 8px;
                        display: flex;
                        margin-bottom: 5px;
                        .cart-products-left{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            background: rgba(220,240,246,.15);
                            width: 110px;
                            padding: 10px;
                            img{
                                display: block;
                                margin: 0 auto;
                                max-height: 100px;
                            }
                        }
                        .cart-products-right{
                            padding-left: 15px;
                            width: 80%;
                            .pizzaxxsheading{
                                color: $brownfont;
                                font-family: $proximarg;
                                font-weight: 900;
                                text-transform: uppercase;
                                line-height: 1;
                                letter-spacing: .3px;
                                margin-bottom: 8px;
                            }
                            .description{
                                p{
                                    font-size: 13px;
                                    font-family: $proximarg;
                                    color: $brownfont;
                                    font-weight: 400;
                                    letter-spacing: .2px;
                                }
                            }
                            .cart-products-bottom{
                                margin: 8px 0;
                                padding-left: 0px;
                                display: flex;
                                align-items: center;
                                .small-btn{
                                    display: flex;
                                    align-items: center;
                                    font-size: 11px;
                                    color: $orange;
                                    font-family: $proximarg;
                                    border: none;
                                    background: transparent;
                                    i{
                                        color: $orange;
                                        margin-right: 4px;
                                    }
                                }
                                .edit-btn{
                                    margin-left: 15px;
                                }
                                .products-price{
                                    font-size: 16px;
                                    font-family: $proximarg;
                                    font-weight: 900;
                                    text-transform: uppercase;
                                    line-height: 1;
                                    letter-spacing: .3px;
                                    color: $brownfont;
                                    padding-left: 15px;
                                }
                            }
                        }
                    }

                    @include breakpoint(xs){
                    //   max-height: 65vh;
                    }
                }
            }

           
            .button-bottom{
                margin-top: 15px;
                .pizza-btn{
                    border: 1px solid $white;
                    border-radius: 5px;
                    width: 100%;
                    padding: 15px 30px;
                }
            }
        }
    }
    @include breakpoint(xs) {
        .add-detail{
            display: none;
        }
        .addcard-main{
            width: 100%;
            right: 0px;
            .row{
                margin: 0;
            }
            .addcard-top{
                width: 100%;
                border-radius: 0;
                border-left: 0;
                border-right: 0;
                padding: 5px 15px;
            }
        }
    }
}

.footer-logo{
    width: 120px;
    display: block;
}

@include breakpoint(xs){
  .cart-content{
    // height: calc(100vh - 47px);
  }

}
.footer-bottom-2 p{
    @include breakpoint(xs) {
    text-align: center !important;
    }
}