
<app-side-header></app-side-header>

<div class="inner-main" >
  <section>
    <div class="banner-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="assets/images/franchising/franchise-opportunities-quebec-mob.jpg">
        <source media="(min-width: 768px)" srcset="assets/images/franchising/franchise-opportunities-quebec.jpg">
        <img src="assets/images/franchising/franchise-opportunities-quebec.jpg" alt="banner-nutritionbanner">
      </picture>
      <div class="banner-content-q">
          <h1 class="pizzalgheading">FRANCHISE OPPORTUNITIES</h1>
          <h2 class="pizzaxlheading">QUÉBEC</h2>
          <p class="pizzamdheading">Rich in heritage, attractions and culture, Quebec holds a certain appeal that attracts a diverse range of families, tourists and residents alike who are looking for a wonderful standard of living and quality of life. From the Island of Montreal to the communities to its north, south, east and west, fast-flowing rivers, bustling streets and dynamic boroughs are sure to stimulate your senses…as well as your business.</p>
          <p class="pizzamdheading">Like any other Canadian region, starting up a business with a reliable partner is key to enjoying success. Pizza Pizza has the experience and support structure to help you open a restaurant and delivery business that is built on solid footing.</p>
        </div>
    </div>
  </section>

  <section class="padding-section">
    <div class="heading-box">
      <div class="pizzaxxsheading">AVAILABLE OPPORTUNITIES:</div>
    </div>
    <div class="list-quebec">
      <ul>
        <li>Salaberry-de-Valleyfield</li>
        <li>Sherbrooke QC.</li>
        <li>Montreal East</li>
        <li>Quebec QC.</li>
        <li>Lachute</li>
        <li>Trois-Rivières</li>
        <li>Sud-Ouest / Ville-Marie</li>
        <li>Lévis</li>
        <li>Gatineau QC.</li>
        <li>Joliette QC.</li>
        <li>Boucherville</li>
        <li>Charlemagne</li>
        <li>St. Hubert</li>
        <li>Laval-Ouest</li>
        <li>Hull QC.</li>
      </ul>
      <h2>South Shore :</h2>
      <ul>
        <li>South Shore :</li>
        <li>St-Jean-Sur-Richelieu</li>
      </ul>
      <h2>Québec City :</h2>
      <ul>
        <li>Saint-Foy / Sillery</li>
        <li>Les Rivières</li>
        <li>L’Ancienne Lorette</li>
        <li>Lebourgneuf</li>
        <li>Charlesbourg</li>
      </ul>
    </div>
  </section>


</div>







