
<app-side-header></app-side-header>


<div class="inner-main" >
  <div [innerHTML]="franchisedata.SECTION1[0].only_html | safeHtml"></div>
  <!-- <section id="yourpizzaPizza">
    <div class="banner-wrapper">
      <picture>
				<source media="(max-width: 767px)" srcset="assets/images/franchising/Franchising-Your-Pizza-Pizza-mob.jpg">
				<source media="(min-width: 768px)" srcset="assets/images/franchising/Franchising-Your-Pizza-Pizza.jpg">
				<img src="assets/images/homepage/franchising/Franchising-Your-Pizza-Pizza.jpg" alt="banner-nutritionbanner">
			</picture>
      <div class="banner-content-q">
          <h1 class="pizzalgheading">FRANCHISING</h1>
          <h1 class="pizzaxlheading">YOUR BUSINESS. YOUR SUCCESS. YOUR PIZZA PIZZA.</h1>
          <p class="pizzamdheading">Ready for a deliciously profitable opportunity? Build your own successful Pizza Pizza franchise with the support you need to succeed. You’ll benefit from comprehensive training, a huge support team, and a beloved brand with a recipe for success that’s been tested for over 50 years, resulting in over 730 locations across Canada.</p>
      </div>
    </div>
    <div class="padding-section section-services">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="box-inner">
            <img src="assets/images/franchising/find-a-location.png" class="icon-bx">
            <h2 class="pizzasmheading">Find a Location</h2>
            <p>Look for your Pizza Pizza store</p>
            <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="box-inner">
            <img src="assets/images/franchising/meet-the-teams.png" class="icon-bx">
            <h2 class="pizzasmheading">Meet the Teams</h2>
            <p>Get to know your support system</p>
            <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="box-inner" >
            <img src="assets/images/franchising/get-answers.png" class="icon-bx">
            <h2 class="pizzasmheading">Get Answers</h2>
            <p>Read our franchise FAQs</p>
            <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="box-inner" >
            <img src="assets/images/franchising/get-in-touch.png" class="icon-bx">
            <h2 class="pizzasmheading">Get in Touch</h2>
            <p>Contact our Franchise Team</p>
            <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
          </div>
        </div>

      </div>
    </div>
  </section>



  <section class="padding-section" id="franchisingbasics">
    <div class="heading-box">
      <div class="pizzaxxsheading">FRANCHISING BASICS</div>
      <h2 class="pizzaxlheading">YOUR STEPS TO SUCCESS</h2>
      <p class="pizzasmheading">The first Pizza Pizza opened in 1967 as a small takeout and delivery restaurant. Since then, we’ve opened over 730 locations coast to coast, and we want great folks across Canada to share in our success as franchise owners. If you think that’s you, read on to see how you can grow with us.</p>
    </div>

    <div class="step-container">
      <div class="padding-top steps-sucess">
        <div class="heading-box-inner">
          <div class="pizzaxxsheading">DO I HAVE WHAT IT TAKES?</div>
        </div>
        <div>
          <div class="list-p">
            <p>A strong work ethic – you won’t stop until you get it done right</p>
            <p>Great people skills – you love interacting with colleagues and customers</p>
            <p>An entrepreneurial mindset – you’re self-motivated and love using your problem-solving skills to overcome challenges</p>
            <p>Financial commitment – you’re able to finance the purchase, which covers your rights to use the Pizza Pizza brand, your location and setup, your training, and more.</p>
          </div>
        </div>
      </div>

      <div class="padding-top steps-sucess">
        <div class="heading-box-inner">
          <div class="pizzaxxsheading">HOW DO I GET STARTED?</div>
        </div>
        <div>

            <div class="about-accordion">
              <ul>
                  <li>
                      <div class="about-accordion-title accordion" id="menu-faq-1">
                          <div class="pizzaxxsheading">1. Application and Interview</div>
                          <span class="plus-icon"></span>
                      </div>
                      <div class="about-accordion-content panel">
                           <span class="icon-left-accordian"><img src="assets/images/franchising/1-Application-and-Interview.png"></span>
                          <p class="content-right-acc">No. Peanut and/or peanut oil is not used in the manufacture of any of our products. However, some of Pizza Pizza’s ingredients are processed in plants of third party suppliers who also process nut products in the same plants. Although these suppliers practice strict sanitation procedures and preventative measures for cross-contamination, Pizza Pizza cannot guarantee that all of our products are 100% nut-free.</p>
                      </div>
                  </li>
                  <li>
                      <div class="about-accordion-title accordion" id="menu-faq-2">
                          <div class="pizzaxxsheading">2. Finding Your Location</div>
                          <span class="plus-icon"></span>
                      </div>
                      <div class="about-accordion-content panel">
                        <span class="icon-left-accordian"><img src="assets/images/franchising/2-Finding-your-Location.png"></span>
                        <p class="content-right-acc">Whether an existing or new location, our seasoned pros will help find the right location for you, and if need be negotiate the best lease and handle any municipal regulations and licensing that need to be taken care of.</p>
                      </div>
                  </li>
                  <li>
                    <div class="about-accordion-title accordion" id="menu-faq-3">
                        <div class="pizzaxxsheading">3. Securing Financing</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content panel">
                      <span class="icon-left-accordian"><img src="assets/images/franchising/3-Securing-Financing-1.png"></span>
                      <p class="content-right-acc">You’ll need to have either the cash or financing from a financial institution to purchase your franchise. Pizza Pizza can also offer financing assistance to qualified purchasers.</p>
                    </div>
                  </li>
                  <li>
                    <div class="about-accordion-title accordion" id="menu-faq-4">
                        <div class="pizzaxxsheading">4. Training</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content panel">
                      <span class="icon-left-accordian"><img src="assets/images/franchising/4-Training-3.png"></span>
                      <p class="content-right-acc">You’ll need to have either the cash or financing from a financial institution to purchase your franchise. Pizza Pizza can also offer financing assistance to qualified purchasers.</p>
                    </div>
                  </li>
                  <li>
                    <div class="about-accordion-title accordion" id="menu-faq-5">
                        <div class="pizzaxxsheading">5. Building Your Store</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content panel">
                      <span class="icon-left-accordian"><img src="assets/images/franchising/5-Building-Your-Store-1.png"></span>
                      <p class="content-right-acc">A Pizza Pizza restaurant is a turnkey business. Our design and construction team manage every aspect of store design and construction. So whether you’re buying an existing franchise or building a new restaurant, we set you up to succeed.</p>
                    </div>
                  </li>
                  <li>
                    <div class="about-accordion-title accordion" id="menu-faq-6">
                        <div class="pizzaxxsheading">6. Opening Day!</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content panel">
                      <span class="icon-left-accordian"><img src="assets/images/franchising/6-Opening-Day-1.png"></span>
                      <p class="content-right-acc">Finally, the moment you’ve been waiting for: the doors are open, and you’re in business! From day one, you’ll be running your restaurant with confidence knowing that you’re prepared… and knowing we’re there to help guide you to make your restaurant as successful as possible.
                        Think you’re ready to get the dough-ball rolling?</p>
                    </div>
                  </li>
              </ul>
          </div>
        </div>
      </div>

      <div class="padding-top steps-sucess">
        <div class="heading-box-inner">
          <div class="pizzaxxsheading">CHECKLIST</div>
        </div>
        <div class="inner-list-wrpr">
          <p class="pizzaxxsheading hading-bold">If you’re looking at starting a Pizza Pizza franchise, here’s a preliminary checklist to get an idea of what you’ll need:</p>
          <div class="list-p">
            <p>Minimum $150,000 for the initial investment</p>
            <p>Minimum $250,000 net worth</p>
            <p>Intention to be involved in full-time operations</p>
            <p>Strong communication skills in English (or French)</p>
            <p>We will do a credit and background check, so knowing your credit situation is helpful</p>
          </div>
        </div>

        <div class="inner-list-wrpr">
          <p class="pizzaxxsheading hading-bold">Ready to get started? Here’s what you’ll need to provide us to get
            the ball rolling:</p>
          <div class="list-2-wraper">
            <div class="list-p">
              <p>Your contact information</p>
              <p>Updated resume</p>
              <p>Current financial details, including:</p>
              <p>Assets (savings, value of cars/home, investments, equity in other businesses, etc.)</p>
              <p>Liabilities (mortgage, car/personal loans, credit cards, overdraft, taxes, etc.)</p>
              <p>Expected source of funds for the franchise/ how you propose to fund your Pizza Pizza purchase</p>
              <p>A brief cover letter telling us why you want to open a Pizza Pizza franchise</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

  <section id="franchiseopportunities">
    <div class="banner-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="assets/images/franchising/Franchising-Franchise-Opportunities-mob.jpg">
        <source media="(min-width: 768px)" srcset="assets/images/franchising/Franchising-Franchise-Opportunities.jpg">
        <img src="assets/images/homepage/franchising/Franchising-Franchise-Opportunities.jpg" alt="banner-nutritionbanner">
      </picture>
      <div class="banner-content-q">
          <h1 class="pizzalgheading">FRANCHISE OPPORTUNITIES</h1>
          <h1 class="pizzaxlheading">FIND YOUR PLACE TO GROW</h1>
          <p class="pizzamdheading">Find your place to succeed with the latest Pizza Pizza franchises for sale in your area.</p>
      </div>
    </div>
    <div class="padding-section section-services2">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <a href='javascript:void(0);' class="box-inner">
            <img src="assets/images/franchising/Western500.png" class="icon-bx">
            <h2 class="pizzasmheading">Western Canada</h2>
            <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
          </a>
        </div>

        <div class="col-lg-3 col-md-6">
          <a href='javascript:void(0);' class="box-inner">
            <img src="assets/images/franchising/Ontario500.png" class="icon-bx">
            <h2 class="pizzasmheading">Ontario</h2>
            <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
          </a>
        </div>

        <div class="col-lg-3 col-md-6">
          <a href='javascript:void(0);' class="box-inner">
            <img src="assets/images/franchising/Quebec500.png" class="icon-bx">
            <h2 class="pizzasmheading">Québec</h2>
            <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
          </a>
        </div>

        <div class="col-lg-3 col-md-6">
          <a href='javascript:void(0);'  class="box-inner">
            <img src="assets/images/franchising/Atlantic500.png" class="icon-bx">
            <h2 class="pizzasmheading">Atlantic Canada</h2>
            <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
          </a>
        </div>

      </div>
    </div>
  </section>



  <section class="meat-the-teams padding-section" id="meettheteams">
    <div class="heading-box">
      <div class="pizzaxxsheading">MEET THE TEAMS</div>
      <h2 class="pizzaxlheading">YOUR FRANCHISE SUPPORT SYSTEM</h2>
      <p class="pizzasmheading">You’re not in this by yourself. You’ve got the support of a number of different teams behind you, all working towards the same goal: to help you succeed and grow your business. Check out the sections below to see how these five departments offer you support and elevate your franchise.</p>
    </div>
    <div>
      <div class="about-accordion">
        <ul>
            <li>
                <div class="about-accordion-title accordion" id="teams-faq-1">
                    <div class="pizzaxxsheading">FRANCHISE DEVELOPMENT TEAM</div>
                    <span class="plus-icon"></span>
                </div>
                <div class="about-accordion-content panel">
                    <p>Real talk: operating a new business is a huge undertaking. It can be incredibly rewarding for sure, but it’s not without challenges. The first few years for any new business is a lot of hard work, especially if you don’t have a solid support system. This is why you might notice one thing about Pizza Pizza that’s different from a lot of other franchisors: we invest heavily in making sure our franchisees are set up for success. And that all starts with our franchise development team.</p>
                    <p>This multidisciplinary team of dedicated, full-time experts is your support system that will help set you up for success, from the time you start looking into Pizza Pizza franchising opportunities, all the way to opening day and beyond. Here’s how the franchise development team will be involved throughout the different stages of your franchising journey:</p>
                    <div class="flx-acc-bx">
                          <span class="pizzaxxsheading acc-bx-left"><img src="assets/images/franchising/1-Application-and-Interview.png"></span>
                          <div class="acc-bx-right">
                            <h2 class="pizzaxxsheading">Evaluation</h2>
                            <p>A member of our local franchise sales team will help you get started with an introductory interview, where we’ll answer any questions and get a sense of whether Pizza Pizza is a good fit for both you and us.</p>
                          </div>
                     </div>

                     <div class="flx-acc-bx">
                          <span class="pizzaxxsheading acc-bx-left"><img src="assets/images/franchising/1-Application-and-Interview.png"></span>
                          <div class="acc-bx-right">
                            <h2 class="pizzaxxsheading">Application</h2>
                            <p>We keep you paired up with the same franchise representative so that you’ve got someone in your corner throughout the whole process. When you apply, they’ll help walk you through the application process, talk you through your financing options and help you get started with location scouting.</p>
                          </div>
                    </div>

                    <div class="flx-acc-bx">
                        <span class="pizzaxxsheading acc-bx-left"><img src="assets/images/franchising/1-Application-and-Interview.png"></span>
                        <div class="acc-bx-right">
                          <h2 class="pizzaxxsheading">Getting Ready</h2>
                          <p>Some of the logistics of setting up a business can be tricky: finding and securing a location, negotiating the leases, constructing the interior, just to name a few. And that’s exactly why we take care of those for you.</p>
                          <p>The franchise development team includes real estate professionals, data analysts, design and construction experts and more, who work together to select an ideal site, negotiate leases and get your location ready for business. Meanwhile, our training team will fully prepare you for the business and operational details you need to know.</p>
                        </div>
                  </div>

                  <div class="flx-acc-bx">
                    <span class="pizzaxxsheading acc-bx-left"><img src="assets/images/franchising/1-Application-and-Interview.png"></span>
                    <div class="acc-bx-right">
                      <h2 class="pizzaxxsheading">Opening</h2>
                      <p>The big day is upon you, and all that training is about to be put to the test! But we’re not just going to leave you to fend for yourself. Your district sales manager is there to act as a business coach when you need it, helping you resolve any issues, offering you support, and they will even review cash flows, invoices and statements with you to help get you on the right track.</p>
                    </div>
                  </div>


                  </div>
            </li>

            <li>
              <div class="about-accordion-title accordion" id="teams-faq-2">
                  <div class="pizzaxxsheading">MARKETING TEAM</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                  <div class="flx-acc-bx2">
                        <span class="pizzaxxsheading acc-bx-left2"><img src="assets/images/franchising/Franchising-MarketingTeam.jpg"></span>
                        <div class="acc-bx-right2">
                          <p>The dream scenario for any new business is to get to a point where you have a reliable, returning group of customers. You know, “The Regulars.” The ones you’re on a first name basis with, you know their orders by heart, they ask how the family is, and, most importantly, they make your business successful. But before you can get to that point, you need people to walk through your door or place a delivery with you for the very first time. Our marketing team’s role is to get that ball rolling and give you a boost in your local community.</p>
                          <p>The first advantage you get out of our marketing team? Reputation. We’ve put in five decades of work to build a name that people know and trust. Not to mention a phone number people know better than their closest friends’.</p>
                          <p>We don’t stop there. Every year we make sure we invest a good chunk of money into our marketing… and that’s not just broad, brand-building marketing. That includes specific, locally targeted advertising to help franchisees get customers coming through their doors, whether they’re in one of our major markets — both in big cities and smaller communities — or helping expand our footprint in new areas. It also includes innovating to give customers new and exciting menu offerings, more convenient ways of ordering, and exciting ways to connect with our brand. Because no matter how well-known and well-loved a brand is, there are always new customers to try and reach, and new ways of bringing existing customers back for more.</p>
                          <p>Our marketing team takes care of creating eye-catching brand and promotional advertising for digital/social media, print, mail, out of home, and more. And our media specialists make sure those ads are seen by existing and potential customers in your area.</p>
                          <p>To borrow a classic advertising phrase: “But wait, there’s more!”</p>
                          <p>Customers aren’t won through ads alone: building a genuine relationship with your community can help your franchise boom. A portion of our marketing dollars go towards supporting local fundraising initiatives and school pizza days — the proceeds of which go directly back to the school. The result?  Not just greater visibility in your community, but a stronger connection with the people in it.</p>
                          <p>One of the best things about our marketing team? We make our team accessible to franchisees because their whole purpose is to help you build your business. If you have questions or concerns, you’re able to contact us and get the answers you’re looking for quickly and comprehensively.</p>
                        </div>
                   </div>
                </div>
          </li>


          <li>
            <div class="about-accordion-title accordion" id="teams-faq-3">
                <div class="pizzaxxsheading">OPERATIONS SUPPORT TEAM</div>
                <span class="plus-icon"></span>
            </div>
            <div class="about-accordion-content panel">
                <div class="flx-acc-bx2">
                      <span class="pizzaxxsheading acc-bx-left2"><img src="assets/images/franchising/Franchising-SupportTeam.jpg"></span>
                      <div class="acc-bx-right2">
                        <p>To us, “Support” doesn’t just mean “we’re here to help out if something isn’t working properly.” As a Pizza Pizza franchisee, our support teams will be a part of your day-to-day processes to help keep your business operating smoothly and successfully. Here’s a look at some of the teams that will be supporting your franchise along the way.</p>
                        <h2 class="pizzaxxsheading">Regional Operations Managers</h2>
                        <p>You’ll be paired with a local Regional Operations Manager who will be your new bff (best franchise friend). They’ll routinely check in with you to make sure everything is going well, offering you tips and coaching for maximum profitability. Their experience and knowledge will help you grow your business and profits faster than if you had to figure it all out on your own. And because they’re local, they’ll help you in any situation where you need a quick response or in-person support. They’re also the person who will help get you in touch with the right person on our corporate teams if you have questions for them. Your success is their success, so they’re ready and willing to help you with customer service, sales-building opportunities, staffing, and more.</p>
                        <h2 class="pizzaxxsheading">Commissary</h2>
                        <p>We’ll be the first to admit that we have really high standards for the quality, service, cleanliness and value provided to our customers at all our locations. But we don’t think meeting those standards should rest solely on the shoulders of our franchisees. That’s why we do our part to make sure we’re setting them up for success. Starting with extensive Quality Assurance at our central warehouse —the commissary — before ingredients are even sent to your location.</p>
                        <p>We source numerous suppliers to make sure that your restaurant receives the freshest and finest ingredients available. Then we cut, measure and pack a variety of serving sizes to your location. Your supply needs are automatically calculated through our online system based on your location’s usage to make filling out your orders easy. Your pre-portioned, high-quality ingredients are then delivered as needed multiple times each week.</p>
                        <h2 class="pizzaxxsheading">IT Support</h2>
                        <p>Our IT team plays a huge role in our operations. From our commissary ordering system, to the customer mobile app and online ordering, technology is at the forefront of our operations. That’s why we have dedicated in-house IT professionals who manage all of our systems, respond to any concerns and even develop new applications that help keep Pizza Pizza — and you — ahead of the rest.</p>
                        <h2 class="pizzaxxsheading">Call Centre and Online Orders</h2>
                        <p>Customers can order through our app, website or call centre, which means you don’t have to worry about having someone standing by to take orders on your end. Plus, you also don’t have to deal with additional phones or computers that cost money and take up space. All orders will come to you on your computer with all the details you need, so all you have to do is make pizza and get it to your customer.</p>
                      </div>
                 </div>
              </div>
           </li>

           <li>
            <div class="about-accordion-title accordion" id="teams-faq-4">
                <div class="pizzaxxsheading">ACCOUNTING TEAM</div>
                <span class="plus-icon"></span>
            </div>
            <div class="about-accordion-content panel">
                <div class="flx-acc-bx2">
                      <span class="pizzaxxsheading acc-bx-left2"><img src="assets/images/franchising/franchising_accounting-team.jpg"></span>
                      <div class="acc-bx-right2">
                        <p>Fortunately for you, you don’t need to love numbers to succeed as a Pizza Pizza franchisee. We have an entire team of number-lovers that have your back. We call them accountants.</p>
                        <p>Our expert accounting team reviews, sorts and pays all of your bills for you. They’ll keep everything organized and paid for you so that you can focus on running your business.</p>
                        <p>That doesn’t mean you’ll be left in the dark about your finances. You’ll have a system set up to produce all of the reports you could ever want. During your training sessions, you’ll be shown how our reports are laid out, and how to make the most of that information. Our accountants will also send you a detailed statement of your business sales and expenses so you can keep track of your profits</p>
                      </div>
                 </div>
              </div>
           </li>

           <li>
            <div class="about-accordion-title accordion" id="teams-faq-5">
                <div class="pizzaxxsheading">TRAINING TEAM</div>
                <span class="plus-icon"></span>
            </div>
            <div class="about-accordion-content panel">
                <div class="flx-acc-bx2">
                      <span class="pizzaxxsheading acc-bx-left2"><img src="assets/images/franchising/franchising_training-team.jpg"></span>
                      <div class="acc-bx-right2">
                        <p>If you want to be successful, you have to be prepared. And we’re going to give you the tools it takes to be ready for everything. We don’t just give our franchisees the basics: we offer them the most comprehensive training out there so they can open their restaurant on day one feeling confident and in control.</p>
                        <p>Our training team will take you through your 8-10 week training program, which covers everything you need to know. Even if you’ve never run a business before, or haven’t made a pizza in your life, we’ll make sure you leave this program fully prepared to run your restaurant.</p>
                        <p>Even after you’ve completed your initial training, you still have plenty of opportunity to refine your skills and knowledge. Your district sales manager will offer ongoing coaching to help you navigate issues as they arise or fine-tune your processes to make your restaurant as profitable for you as possible. Plus, you also have opportunities to attend additional professional development sessions or refresh your training on any areas you want to stay sharp on.</p>
                      </div>
                 </div>
              </div>
           </li>

        </ul>
    </div>
    </div>
  </section>

  <section class="get-answer padding-section" id="getanswers">
    <div class="heading-box">
      <div class="pizzaxxsheading">GET ANSWERS</div>
      <h2 class="pizzaxlheading">YOUR FRANCHISING FAQS</h2>
    </div>

    <div class="about-accordion">
      <ul>
          <li>
              <div class="about-accordion-title accordion" id="get-answer-1">
                  <div class="pizzaxxsheading">What provinces are franchise opportunities available in?</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                  <p>Everywhere from coast to coast. Pizza Pizza is looking to expand in cities across Canada. Just give us a shout!</p>
              </div>
          </li>
          <li>
              <div class="about-accordion-title accordion" id="get-answer-2">
                  <div class="pizzaxxsheading">Am I responsible for finding the best location for my store?</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                  <p>No, you’re not responsible for finding your own Pizza Pizza location. We’ve got a seasoned team to help you find the best location for your store, negotiate the lease and handle the municipal regulations and licensing. With over 730 locations in Canada, we’ll find the place for you.</p>
              </div>
          </li>
          <li>
              <div class="about-accordion-title accordion" id="get-answer-3">
                  <div class="pizzaxxsheading">I don’t have construction or design experience. How do I make sure my Pizza Pizza looks amazing?</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                  <p>Our design and construction team will help you with that. These experienced pros can help with every part of your store design – inside and out. From kitchen equipment to furniture and fixtures, we’ll help you create an amazing experience for customers and a profitable place for you.</p>
              </div>
          </li>
          <li>
              <div class="about-accordion-title accordion" id="get-answer-5">
                  <div class="pizzaxxsheading">I’ve literally never made a pizza. Or managed a restaurant. Can I also be successful at owning a Pizza Pizza franchise?</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                  <p>YES. The secret? One word: training. Pizza Pizza’s training centre is a leader in entrepreneurial training and restaurant management. Before you open your store, we’ll teach you everything you need to know to manage it successfully.</p>
                  <p>Our 8-10 week, in-depth course will teach you how to cook and prepare food in real kitchens and stores. Restaurant and financial management classes make you an expert in running a business and teach you everything from hiring to managing staff to customer service.</p>
              </div>
          </li>

      <li>
          <div class="about-accordion-title accordion" id="get-answer-5">
              <div class="pizzaxxsheading">Do I have to source my own supplies?</div>
              <span class="plus-icon"></span>
          </div>
          <div class="about-accordion-content panel">
              <p>No, we have everything taken care of for you. Our state-of-the-art warehouse ships more than 1,000 tonnes of ingredients and products to our restaurants each week, so your store can stay stocked up on fresh ingredients and supplies. All you have to do is make the pizzas – and a good living.</p>
          </div>
      </li>

    <li>
        <div class="about-accordion-title accordion" id="get-answer-6">
            <div class="pizzaxxsheading">Am I responsible for marketing to reach my community?</div>
            <span class="plus-icon"></span>
        </div>
        <div class="about-accordion-content panel">
            <p>Pizza Pizza invests significantly each year on promotional and advertising programs. From TV ads to loyalty programs to sports sponsorships, we’re helping drive customers to your store, every day of the year.</p>
        </div>
    </li>

    <li >
      <div class="about-accordion-title accordion" id="get-answer-7">
          <div class="pizzaxxsheading">Once my store is opened, does the support end?</div>
          <span class="plus-icon"></span>
      </div>
      <div class="about-accordion-content panel">
          <p>Absolutely not. Regional Operations Managers will give you everyday support to maximize your sales and profitability. You’ll get help to maintain our high standards of quality, service and value.</p>
      </div>
    </li>
   </ul>
  </div>
</section> -->

<section class="contact-us" id="contactus">
  <div class="banner-wrapper">
    <picture>
      <source media="(max-width: 767px)" srcset="assets/images/franchising/Franchising-ContactUs-mob.jpg">
      <source media="(min-width: 768px)" srcset="assets/images/franchising/Franchising-ContactUs.jpg">
      <img src="assets/images/homepage/franchising/Franchising-ContactUs.jpg" alt="banner-nutritionbanner">
    </picture>
    <div class="banner-content-q">
        <div class="pizzalgheading">CONTACT US</div>
        <h1 class="pizzaxlheading">SAY “HEY!” TO OUR FRANCHISE TEAM</h1>
        <p class="pizzamdheading">Want to get the application process started? Fill out the form below and we’ll get back to you ASAP.</p>
    </div>
  </div>
  <form [formGroup]='franchisiForm' (ngSubmit)="contactformdata(franchisiForm)">
    <div class="padding-section form-wraper">
      <div class="row">
        <div class="col-sm-6">
          <div class="input-box-c">
            <label class="label-top" [ngStyle]="{'color':franchisiForm.controls['fname'].invalid && (franchisiForm.controls['fname'].dirty || franchisiForm.controls['fname'].touched) ? 'red' : 'black' }">
              First Name <span class="asterisk">*</span>
              <span *ngIf="franchisiForm.controls['fname'].invalid && (franchisiForm.controls['fname'].dirty || franchisiForm.controls['fname'].touched)" class="errorMessage">
                  <small *ngIf="franchisiForm.controls['fname'].hasError('required')">
                  Missing
                  </small>
              </span>
          </label>
          <input type="text" formControlName="fname" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-box-c">
            <label class="label-top" [ngStyle]="{'color':franchisiForm.controls['lname'].invalid && (franchisiForm.controls['lname'].dirty || franchisiForm.controls['lname'].touched) ? 'red' : 'black' }">
              Last Name <span class="asterisk">*</span>
              <span *ngIf="franchisiForm.controls['lname'].invalid && (franchisiForm.controls['lname'].dirty || franchisiForm.controls['lname'].touched)" class="errorMessage">
                  <small *ngIf="franchisiForm.controls['lname'].hasError('required')">
                  Missing
                  </small>
              </span>
          </label>
          <input type="text" formControlName="lname" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-box-c">
            <label class="label-top" [ngStyle]="{'color':franchisiForm.controls['email'].invalid && (franchisiForm.controls['email'].dirty || franchisiForm.controls['email'].touched) ? 'red' : 'black' }">
              Email Address <span class="asterisk">*</span>
              <span *ngIf="franchisiForm.controls['email'].invalid && (franchisiForm.controls['email'].dirty || franchisiForm.controls['email'].touched)" class="errorMessage">
                  <small *ngIf="franchisiForm.controls['email'].hasError('required')">
                  Missing
                  </small>
                  <small *ngIf="franchisiForm.controls['email'].hasError('email')">
                      Invalid
                  </small>
              </span>
          </label>
          <input type="text" formControlName="email" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-box-c">
            <label class="label-top" [ngStyle]="{'color':franchisiForm.controls['phone'].invalid && (franchisiForm.controls['phone'].dirty || franchisiForm.controls['phone'].touched) ? 'red' : 'black' }">
              Phone Number <span class="asterisk">*</span>
              <span *ngIf="franchisiForm.controls['phone'].invalid && (franchisiForm.controls['phone'].dirty || franchisiForm.controls['phone'].touched)" class="errorMessage">
                  <small *ngIf="franchisiForm.controls['phone'].hasError('required')">
                  Missing
                  </small>
                  <small *ngIf="franchisiForm.controls['phone'].hasError('minlength') || franchisiForm.controls['phone'].hasError('pattern')">
                      Invalid
                  </small>
              </span>
          </label>
          <input type="text" maxlength="10" formControlName="phone" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-box-c">
            <label class="label-top" [ngStyle]="{'color':franchisiForm.controls['bestime'].invalid && (franchisiForm.controls['bestime'].dirty || franchisiForm.controls['bestime'].touched) ? 'red' : 'black' }">
              Best Time to Call <span class="asterisk">*</span>
              <span *ngIf="franchisiForm.controls['bestime'].invalid && (franchisiForm.controls['bestime'].dirty || franchisiForm.controls['bestime'].touched)" class="errorMessage">
                  <small *ngIf="franchisiForm.controls['bestime'].hasError('required')">
                  Missing
                  </small>
              </span>
          </label>
          <input type="text" formControlName="bestime" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-box-c">
            <!-- <label><span>*</span>Province of Interest</label> -->
            <label class="label-top" [ngStyle]="{'color':franchisiForm.controls['province'].invalid && (franchisiForm.controls['province'].dirty || franchisiForm.controls['province'].touched) ? 'red' : 'black' }">
              Province of Interest <span class="asterisk">*</span>
              <span *ngIf="franchisiForm.controls['province'].invalid && (franchisiForm.controls['province'].dirty || franchisiForm.controls['province'].touched)" class="errorMessage">
                  <small *ngIf="franchisiForm.controls['province'].hasError('required')">
                  Missing
                  </small>
              </span>
          </label>
            <select formControlName="province">
              <option value="">-Select-</option>
              <option value="AB">AB</option>
              <option value="BC">BC</option>
              <option value="CD">CD</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="input-box-c">
            <label class="label-top" [ngStyle]="{'color':franchisiForm.controls['cityInterest'].invalid && (franchisiForm.controls['cityInterest'].dirty || franchisiForm.controls['cityInterest'].touched) ? 'red' : 'black' }">
              City of Interest <span class="asterisk">*</span>
              <span *ngIf="franchisiForm.controls['cityInterest'].invalid && (franchisiForm.controls['cityInterest'].dirty || franchisiForm.controls['cityInterest'].touched)" class="errorMessage">
                  <small *ngIf="franchisiForm.controls['cityInterest'].hasError('required')">
                  Missing
                  </small>
              </span>
          </label>
            <select formControlName="cityInterest">
              <option value="">-Select-</option>
              <option value="Abbotsford">Abbotsford</option>
              <option value="Armstrong">Armstrong</option>
              <option value="Burnaby">Burnaby</option>
            </select>
          </div>
        </div>
        <div class="colsm-12">
          <div class="input-box-c">
            <h2 class="pizzaxxsheading">My Address</h2>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="input-box-c">
            <label>Street</label>
            
            <input type="text" name="" formControlName="street">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="input-box-c">
            <label>City</label>
            <input type="text" name="" formControlName="city">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="input-box-c">
            <label>Province</label>
            <select formControlName="addressprovince">
              <option value="">-Select-</option>
              <option value="AB">AB</option>
              <option value="BC">BC</option>
              <option value="CD">CD</option>
            </select>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="input-box-c">
            <label>Postal Code</label>
            <input type="text" name="" formControlName="postalcode">
          </div>
        </div>

        <div class="col-sm-12">
          <div class="input-box-c">
            <!-- <label><span>*</span>Available Investment Capital</label> -->
            <label class="label-top" [ngStyle]="{'color':franchisiForm.controls['investmentcapital'].invalid && (franchisiForm.controls['investmentcapital'].dirty || franchisiForm.controls['investmentcapital'].touched) ? 'red' : 'black' }">
              Available Investment Capital <span class="asterisk">*</span>
              <span *ngIf="franchisiForm.controls['investmentcapital'].invalid && (franchisiForm.controls['investmentcapital'].dirty || franchisiForm.controls['investmentcapital'].touched)" class="errorMessage">
                  <small *ngIf="franchisiForm.controls['investmentcapital'].hasError('required')">
                  Missing
                  </small>
              </span>
          </label>
            <select formControlName="investmentcapital">
              <option>-Select-</option>
              <option value="$50,000-$100,000">$50,000-$100,000</option>
              <option value="$100,000-$250,000">$100,000-$250,000</option>
              <option value="$250,000-$500,000">$250,000-$500,000</option>
              <option value="$500,000 +">$500,000 +</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="input-box-c captcha-input">
            <ngx-recaptcha2 #captchaElem
              [siteKey]="siteKey"
              formControlName="recaptcha">
            </ngx-recaptcha2>
          </div>
        </div>

        <!-- <div class="col-sm-12">
          <div class="input-box-c">
            <img src="assets/images/franchising/CaptchaServlet.jpg" class="captcha-img">
          </div>
        </div> -->
        <div class="col-sm-12">
          <div class="input-box-c">
            <p class="pizzaxxsheading">By submitting this form you are consenting to receive franchising communication from Pizza Pizza. You can stop receiving all communication by simply clicking ‘unsubscribe’ from any of the Pizza Pizza emails.</p>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="input-box-c text-center">
            <button type="submit" [disabled]="!franchisiForm.valid">
              
              <span *ngIf="orderText">Submit</span>
                  <i *ngIf="loader" class="fa fa-spinner fa-spin" style="color:#fff" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div id="errorforyou" style="margin-top: 25px;">{{errormessage}}</div>
      </div>
  </div>
  </form>
</section>

<div [innerHTML]="franchisedata.SECTION2[0].only_html | safeHtml"></div>
<!-- <section>
  <div class="banner-wrapper">
    <picture>
      <source media="(max-width: 767px)" srcset="assets/images/franchising/Franchising-Franchise-Opportunities-mob.jpg">
      <source media="(min-width: 768px)" srcset="assets/images/franchising/Franchising-Franchise-Opportunities.jpg">
      <img src="assets/images/homepage/franchising/Franchising-Franchise-Opportunities.jpg" alt="banner-nutritionbanner">
    </picture>
    <div class="banner-content-q">
        <h1 class="pizzalgheading">CORPORATE CATERING</h1>
        <h1 class="pizzaxlheading">FIND YOUR PLACE TO GROW</h1>
        <p class="pizzamdheading">Find your place to succeed with the latest Pizza Pizza franchises for sale in your area.</p>
    </div>
  </div>
</section> -->


</div>






