
<app-side-header></app-side-header>
<app-web-loader *ngIf="loaderHold"></app-web-loader>

<div [innerHTML]="aboutUsData | safeHtml"></div>


<!-- <div class="inner-main" >

  <section class="inerbanner" id="since" >
    <picture>
      <source media="(max-width: 767px)" srcset="assets/images/about-us/yonge-elm-mob.jpg">
      <source media="(min-width: 768px)" srcset="assets/images/about-us/yonge-elm.jpg">
      <img src="assets/images/about-us/yonge-elm.jpg" alt="banner">
    </picture>
    <div class="innerbanner-content">
      <div class="pizzaxxsheading line-heading">ABOUT US</div>
      <h1 class="pizzaxlheading">DELIVERING AWESOME SINCE 1967</h1>
      <p>Time flies when you do what you love. We know because we’ve been making great pizza since 1967. Along the way, we’ve grown to more than 750 restaurants from coast to coast, becoming a trusted brand and leader in the foodservice industry. We’re proud of the quality food we make – and the difference we make in communities across Canada. We’ve made a lot of pies – and memories – over the years. Find out what goes into both!</p>
    </div>
  </section>
  
  <section class="about-our-food" id="aboutourFood">
    <div class="pizzaxxsheading line-heading">ABOUT OUR FOOD</div>
    <h2 class="pizzaxlheading">MADE RIGHT. MADE DELICIOUS. MADE ESPECIALLY FOR YOU.</h2>
    <p>The secret to our food? It’s pretty simple. Source fresh, quality ingredients. Prepare dishes with care and passion. Serve them with a warm smile. In other words, we take pride in what we make and how we share it. Even though we’ve grown a lot over the years, our mission is still the same:  Always the best food, made especially for you.</p>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4">
        <a href="#" class="about-services">
          <img src="assets/images/about-us/AboutUs-Quality.jpg" alt="Our Quality"/>
          <p class="pizzaxxsheading">Our Quality</p>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        <a href="#" class="about-services">
          <img src="assets/images/about-us/aboutUs-Nutrition-comp.jpg" alt="Nutrition"/>
          <p class="pizzaxxsheading">Nutrition</p>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        <a href="#" class="about-services">
          <img src="assets/images/about-us/aboutUs-MenuFAQ.jpg" alt="MENU FAQ" />
          <p class="pizzaxxsheading">MENU FAQ</p>
        </a>
      </div>
    </div>
  </section>

  <section class="our-quality" id="ourquality">
    <div class="banner-wrapper">
       <img src="assets/images/about-us/our-quality-banner.jpg" alt="banner-quality">
       <div class="banner-content-q">
        <h3 class="pizzaxlheading">OUR QUALITY</h3>
       </div>
    </div>
    <div class="row row-quality">
      <div class="col-sm-6 order-set">
        <div class="quality-content-bx">
           <h3 class="pizzaxlheading">CHICKEN</h3>
           <div class="pizzaxxsheading">RAISED WITHOUT ANTIBIOTICS</div>
           <div class="q-inner-content">
             <p>Quality is our #1 ingredient. That’s why our Chicken Wings are made from chickens raised without antibiotics and fed an all vegetable-grain diet, with no animal by-products. Plus, our Bites are made with 100% chicken breast meat.</p>
             <p>Due to the ongoing Covid-19 pandemic and heightened precautions at our suppliers, RWA wings cannot be guaranteed at all locations at this time. We apologize for this temporary inconvenience.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 order-set align-right">
         <img src="assets/images/about-us/Our-Quality-Chicken.png" alt="CHICKEN">
      </div>
    </div>

    <div class="antibiotics-faq">
      <p><b>RAISED WITHOUT ANTIBIOTICS FAQ:</b></p>
      <div class="about-accordion">
        <ul>
          <li>
            <div class="about-accordion-title accordion" id="menu-faq-1">
                <div class="pizzaxxsheading">Why is RWA so important right now?</div>
                <span class="plus-icon"></span>
            </div>
            <div class="about-accordion-content panel">
                <p>Reducing or eliminating the use of medically important antibiotics in animals will contribute to the reduction of bacteria that are resistant to drugs used to treat infections in humans.</p>
            </div>
        </li>
            <li>
                <div class="about-accordion-title accordion" id="menu-faq-2">
                    <div class="pizzaxxsheading">Why is RWA so important right now?</div>
                    <span class="plus-icon"></span>
                </div>
                <div class="about-accordion-content panel">
                    <p>Reducing or eliminating the use of medically important antibiotics in animals will contribute to the reduction of bacteria that are resistant to drugs used to treat infections in humans.</p>
                </div>
            </li>
            <li>
              <div class="about-accordion-title accordion" id="menu-faq-3" >
                  <div class="pizzaxxsheading">What happens if the chicken gets sick?</div>
                  <span class="plus-icon"></span>
              </div> 
              <div class="about-accordion-content panel">
                  <p>The veterinarian is required to ensure understanding of the health issues and may find it necessary to use natural treatments such as yeast based products to treat the chickens. If the non-antibiotic treatments are ineffective, the veterinarian will make the decision to remove the chicken from the RWA program, and medicate as necessary. The chicken will then be used in conventional production.</p>
              </div>
          </li>
        </ul>
    </div>
    </div>

    <div class="services-list">
      <div class="row row-quality">
        <div class="col-sm-6 order-set">
          <div class="quality-content-bx">
             <h3 class="pizzaxlheading">MOZZARELLA CHEESE</h3>
             <div class="pizzaxxsheading">MADE WITH 100% CANADIAN MILK</div>
             <div class="q-inner-content">
               <p>Some of the world’s best cheese is made close to home! All our deliciously melty Mozzarella is made with 100% Canadian milk. We’re proud to support Canadian dairy farmers.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 order-set align-right">
           <img src="assets/images/about-us/AboutUs_OurQualityCheese.jpg">
        </div>
      </div>

      <div class="row row-quality">
        <div class="col-sm-6">
          <img src="assets/images/about-us/pizza-dugh.jpg" alt="PIZZA DOUGH">
       </div>
        <div class="col-sm-6">
          <div class="quality-content-bx">
             <h3 class="pizzaxlheading">PIZZA DOUGH</h3>
             <div class="pizzaxxsheading">100% CANADIAN WHEAT</div>
             <div class="q-inner-content">
               <p>The secret to our perfectly crispy-chewy crust? Keeping it simple. Our pizza dough is made with 100% Canadian wheat and spring water and crafted by hand for every single order.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-quality">
        <div class="col-sm-6">
          <img src="assets/images/about-us/homestyle-sauce.jpg" alt="HOMESTYLE SAUCE">
       </div>
        <div class="col-sm-6">
          <div class="quality-content-bx">
             <h3 class="pizzaxlheading">HOMESTYLE SAUCE</h3>
             <div class="pizzaxxsheading">MADE WITH REAL INGREDIENTS</div>
             <div class="q-inner-content">
               <p>Nonna was right. You can’t make great pizza without a great sauce. Our traditional home-style sauce is made with fresh ingredients:  extra virgin olive oil, sunflower oil, oregano, sea salt, black pepper, garlic and, of course, vine-ripened tomatoes, fresh packed within 6 hours of harvest.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-quality">
        <div class="col-sm-6">
          <img src="assets/images/about-us/plant-based-protian-toppings.jpg" alt="PLANT-BASED PROTEIN TOPPINGS">
       </div>
        <div class="col-sm-6">
          <div class="quality-content-bx">
             <h3 class="pizzaxlheading">PLANT-BASED PROTEIN TOPPINGS</h3>
             <div class="q-inner-content">
               <p>Nonna was right. You can’t make great pizza without a great sauce. Our traditional home-style sauce is made with fresh ingredients: extra virgin olive oil, sunflower oil, oregano, sea salt, black pepper, garlic and, of course, vine-ripened tomatoes, fresh packed within 6 hours of harvest.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-quality">
        <div class="col-sm-6 order-set">
          <div class="quality-content-bx">
             <h3 class="pizzaxlheading">ANIMAL WELFARE</h3>
             <div class="pizzaxxsheading">OUR COMMITMENT</div>
             <div class="q-inner-content">
               <div class="pizzaxxsheading">ANIMAL TREATMENT</div>
               <p>Animal welfare is important to Pizza Pizza and all our Restaurant Owners, suppliers, and employees. Even though we don’t directly control the raising, handling, transportation or processing of them, we‘re committed to the humane treatment of animals. We work with reputable Canadian suppliers and standards set by the <a href="https://www.chickenfarmers.ca/">Chicken Farmers of Canada (CFC)</a> in conjunction with the <a href="https://www.nfacc.ca/">National Farm Animal Care Council (NFACC).</a></p>
               <p>Learn more about CFC ‘s practices at <a href="http://letstalkchicken.ca">letstalkchicken.ca</a></p>
               <div class="pizzaxxsheading">CAGE FREE EGGS</div>
               <p>We don’t have any egg or egg products on our main menu right now. However, we do carry a small number of items that contain egg as a minor ingredient. That’s why we’re committed to use only egg ingredients from 100% cage-free sources by 2025.</p>
              </div>
          </div>
        </div>
        <div class="col-sm-6 order-set align-right">
          <img src="assets/images/about-us/animal-welfare.jpg" alt="ANIMAL WELFARE">
        </div>
      </div>

    </div>
  </section>

  <section class="nutrion-section" id="nutrition">
    <div class="banner-wrapper">
      <picture>
				<source media="(max-width: 767px)" srcset="assets/images/about-us/nutritional-mob-banner.jpg">
				<source media="(min-width: 768px)" srcset="assets/images/about-us/AboutUs_Nutritionbanner.jpg">
				<img src="assets/images/homepage/about-us/AboutUs_Nutritionbanner.jpg" alt="banner-nutritionbanner">
			</picture>
      <div class="banner-content-q">
          <h3 class="pizzaxlheading">NUTRITION</h3>
          <div class="pizzalgheading">EAT WHAT YOU LOVE. KNOW WHAT YOU EAT.</div>
          <p class="pizzamdheading">Here’s the deal:  eating right doesn’t have to be boring. It’s about making small changes and finding a good balance. We’re proud to bring you the best ingredients and the freshest toppings to the table. Not to mention all the nutritional info you need. See for yourself!</p>
      </div>
    </div>


    <div class="nutration-tab-wraper ">
      <div class="nutrion-tab">
        <ul class="tab-wraper-list">
            <li>
              <a class="pizzaxsheading active tab-button" data-id="nutritional-info" href="javascript:void(0);">
                Nutritional Info
              </a>
             </li>
             <li>
              <a class="pizzaxsheading  tab-button"  data-id="ingredients" href="javascript:void(0);">
                Ingredients
              </a>
             </li>
             <li>
              <a class="pizzaxsheading  tab-button"  data-id="gluten-free" href="javascript:void(0);">
                Gluten-free
              </a>
             </li>
             <li>
              <a class="pizzaxsheading  tab-button"  data-id="allergens" href="javascript:void(0);">
                Allergens
              </a>
             </li>

        </ul>
      </div>

    <div class="tab-content">
        
        <div class="tab-content-inner content active" id="nutritional-info">
              <div class="heading-box">
                <div class="pizzaxxsheading">NUTRITIONAL INFO</div>
                <h3 class="pizzaxlheading">THE NUTRITIOUS IN OUR DELICIOUS</h3>
              </div>
              <p>ere you’ll find full nutritional info for all our products. Because the more you know about what you’re eating, the easier it is to make smart choices. Choice of toppings? That’s all you. Pizza Pizza voluntarily participates in the Informed Dining program. For more information, please visit <a href="#">www.InformedDining.ca.</a></p>
              <div class="delicious-services">
                <div class="row">
                  <div class="col-sm-3 delicus-colm">
                    <a href="#" routerLink="/about-us/pizza">
                      <img src="assets/images/about-us/aboutUs_nutrition_pizza.jpg" alt="Pizza"/>
                      <div class="pizzamdheading">Pizza</div>
                    </a>
                  </div>
                  <div class="col-sm-3 delicus-colm">
                    <a href="">
                      <img src="assets/images/about-us/aboutUs_nutrition_chicken.jpg" alt="Chicken Wings & Bites"/>
                      <div class="pizzamdheading">Chicken Wings & Bites</div>
                    </a>
                  </div>
                  <div class="col-sm-3 delicus-colm">
                    <a href="">
                      <img src="assets/images/about-us/aboutUs_nutrition_salads.jpg" alt="Salads & Sides"/>
                      <div class="pizzamdheading">Salads & Sides</div>
                    </a>
                  </div>
                  <div class="col-sm-3 delicus-colm">
                    <a href="">
                      <img src="assets/images/about-us/aboutUs_nutrition_sauce.jpg" alt="Sauces & Dips"/>
                      <div class="pizzamdheading">Sauces & Dips</div>
                    </a>
                  </div>
                  <div class="col-sm-3 delicus-colm">
                    <a href="">
                      <img src="assets/images/about-us/nutritional-info-panzerottis-button-1.jpg" alt="Panzerottis"/>
                      <div class="pizzamdheading">Panzerottis</div>
                    </a>
                  </div>
                  <div class="col-sm-3 delicus-colm">
                    <a href="">
                      <img src="assets/images/about-us/aboutUs_nutrition_dessert.jpg" alt="Desserts"/>
                      <div class="pizzamdheading">Desserts</div>
                    </a>
                  </div>
                  <div class="col-sm-3 delicus-colm">
                    <a href="">
                      <img src="assets/images/about-us/aboutUs_nutrition_bev.jpg" alt="Beverages"/>
                      <div class="pizzamdheading">Beverages</div>
                    </a>
                  </div>
                  <div class="col-sm-3 delicus-colm">
                    <a href="">
                      <img src="assets/images/about-us/sandwiches-button-1.jpg" alt="SANDWICHES"/>
                      <div class="pizzamdheading">SANDWICHES</div>
                    </a>
                  </div>
                </div>
                <div class="content-bottom">
                  <p><b>Nutrition facts as of August 31st, 2021.</b> Items may be subject to change without notice. Variations may occur depending on the region of the country. For beverages and packaged chips, please refer to the labels on the packaging for the most up-to-date information.</p>
                  <p>Nutrition information was obtained through Genesis R & D Nutritional Labeling Software, analysis by Maxxam Analytics Inc., an independent testing laboratory, and supplier provided information.</p>
                    <img src="assets/images/about-us/informed.png"/>
                    <div class="req-h"><b>Daily Calorie and Sodium Requirements:</b></div>
                    <p>Healthy adults should aim for 1,500 to 2,300 milligrams of sodium per day. Children and seniors need less. Healthy adults should aim for 2,000 to 2,400 calories per day. Individual needs vary depending on age, activity level and gender. (Source: Health Canada)</p>
                    <p>The nutrition information provided has been supplied by the restaurant itself. Such nutrition information has not been independently researched, written or verified by the Province of British Columbia. The Province of British Columbia assumes no responsibility or liability arising from any errors or omission or information, or from the use of any information contained with the nutrition information supplied by the restaurant.</p>
                  </div>
              </div>
        </div>
        <div class="tab-content-inner content" id="ingredients">
          <div class="heading-box">
            <div class="pizzaxxsheading">PRODUCT INGREDIENTS</div>
            <h3 class="pizzaxlheading">WHAT’S IN OUR FOOD (ASIDE FROM AWESOME)</h3>
            <p>Select from our category drop-down menu below to see a full list of our products and what they are all about.</p>
          </div>

            <div class="ingredients-faq">
              <div class="about-accordion">
                <ul>
                    <li>
                        <div class="about-accordion-title accordion" id="ingredients-faq-1">
                            <div class="pizzaxxsheading">Appetizers & Desserts</div>
                            <span class="plus-icon"></span>
                        </div>
                        <div class="about-accordion-content panel">
                          <div class="allergy-info-content">
                            <div class="row">
                              <div class="col-sm-3 img-dirction">
                                <img src="assets/images/about-us/Plant-Based-Chickn-Bites.png" alt="PLANT-BASED CHICK'N BITES"/>
                              </div>
                              <div class="col-sm-9">
                                <div class="allergy-box-c">
                                  <div class="pizzamdheading">PLANT-BASED CHICK'N BITES</div>
                                  <p>Water, Soy protein, Vegetable oil, Coconut oil, Methylcellulose, Tapioca starch, Citrus fibre, Garlic, Salt, Sodium alginate, Calcium chloride, Spice, Yeast extract, Torula yeast, Flavour, Titanium dioxide, Dried onions, Rice flour, Vitamin and mineral blend (magnesium oxide, niacinamide [vitamin B3], zinc oxide, ferric orthophosphate, cyanocobalamin [vitamin B12], riboflavin [vitamin B2], calcium pantothenate, copper gluconate, thiamine hydrochloride [vitamin B1], pyridoxine hydrochloride [vitamin B6], folic acid), Spice extract. In a breading of: Wheat flour, Water, Modified corn starch, Wheat gluten, Baking powder, Salt, Garlic powder, Onion powder, Spice, Yeast extract, Methylcellulose, Guar gum, Spice extract. Browned in vegetable oil.</p>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-sm-3 img-dirction">
                                <img src="assets/images/about-us/appssides_cauliflowebites_3q-copy.png" alt="CAULIFLOWER BITES"/>
                              </div>
                              <div class="col-sm-9">
                                <div class="allergy-box-c">
                                  <div class="pizzamdheading">CAULIFLOWER BITES</div>
                                  <p>Cauliflower, Wheat Flour, Water, Vegetable Oil, Yellow Corn Flour, Potato Starch, Salt, Sugar, Dextrose, Whey, Flavour, Baking Powder, Colour, Spices, Mono and Diglycerides, Artificial Colour (contains tartrazine), Sodium Alginate, Calcium Caseinate</p>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-sm-3 img-dirction">
                                <img src="assets/images/about-us/appssides_sweet_potato_3q.png" alt="TREE NUTS"/>
                              </div>
                              <div class="col-sm-9">
                                <div class="allergy-box-c">
                                  <div class="pizzamdheading">SWEET POTATO FRIES</div>
                                  <p>Sweet potatoes, vegetable oil (canola and/or soybean and/or cottonseed and/or sunflower and/or corn), modified corn starch, modified potato starch, sugar, rice flour, potato dextrin, fibre (pea, corn), molasses powder (refiners syrup, molasses), salt, baking powder, sodium acid pyrophosphate, extractives of paprika and turmeric, xanthan gum.</p>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                    </li>
                    <li >
                        <div class="about-accordion-title accordion" id="ingredients-faq-2">
                            <div class="pizzaxxsheading">Cheeses</div>
                            <span class="plus-icon"></span>
                        </div>
                        <div class="about-accordion-content panel">
                          <div class="allergy-info-content">
                            <div class="row">
                              <div class="col-sm-3 img-dirction">
                                <img src="assets/images/about-us/topping_cheese_dairy_free.png" alt="DAIRY FREE CHEEZE"/>
                              </div>
                              <div class="col-sm-9">
                                <div class="allergy-box-c">
                                  <div class="pizzamdheading">DAIRY FREE CHEEZE</div>
                                  <p>Filtered Water, Coconut Oil, Modified Potato Starch, Modified Corn and Potato Starch, Sea Salt, Natural Vegan Flavor, Sorbic Acid, Beta Carotene, Powdered Cellulose.</p>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-sm-3 img-dirction">
                                <img src="assets/images/about-us/cheesecurd-comp.png" alt="CHEESE CURD"/>
                              </div>
                              <div class="col-sm-9">
                                <div class="allergy-box-c">
                                  <div class="pizzamdheading">CHEESE CURD</div>
                                  <p>Pasteurised Milk, Modified Milk Ingredients, Pasteurized Cream, Bacterial Culture, Salt, Calcium Chloride, Microbial Enzyme.</p>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-sm-3 img-dirction">
                                <img src="assets/images/about-us/topping_cheese_parmesan_1.png" alt="PARMESAN"/>
                              </div>
                              <div class="col-sm-9">
                                <div class="allergy-box-c">
                                  <div class="pizzamdheading">PARMESAN</div>
                                  <p>Pasteurised Milk, Modified Milk Ingredients, Salt, Calcium Chloride, Bacterial Culture, Lipase, Microbial Enzyme, Cellulose, Natamycin.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </li>
                    <li>
                      <div class="about-accordion-title accordion" id="ingredients-faq-3">
                          <div class="pizzaxxsheading">Chicken Items</div>
                          <span class="plus-icon"></span>
                      </div>
                      <div class="about-accordion-content panel">
                        <div class="allergy-info-content">
                          <div class="row">
                            <div class="col-sm-3 img-dirction">
                              <img src="assets/images/about-us/Gold-bun.png" alt="CHICKEN SANDWICH FILET"/>
                            </div>
                            <div class="col-sm-9">
                              <div class="allergy-box-c">
                                <div class="pizzamdheading">CHICKEN SANDWICH FILETs</div>
                                <p>hicken breasts, Water, Wheat flour, Soya, and/or Canola oil, Soy protein isolate, Modified corn starch, Whole grain wheat flour, Salt, Yellow corn flour, Wheat gluten, Baking powder, Spices, Onion powder, Garlic powder, Flavor, Potassium chloride, Modified palm oil, Defatted soy flour, Celery seeds, Guar gum, Spice extractives.</p>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-sm-3 img-dirction">
                              <img src="assets/images/about-us/Popcorn_Chicken_500x500.png" alt="POPCORN CHICKEN"/>
                            </div>
                            <div class="col-sm-9">
                              <div class="allergy-box-c">
                                <div class="pizzamdheading">POPCORN CHICKEN</div>
                                <p>Chicken, Water, Wheat flour, Toasted wheat crumbs, Corn flour, Wheat gluten, Modified corn starch, Salt, Soy protein product, Spice, Onion powder, Baking powder, Garlic powder, Palm oil, Defatted soy flour, Yeast extract, Guar gum, Flavour. Browned in vegetable oil.</p>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-sm-3 img-dirction">
                              <img src="assets/images/about-us/chicken_gluten_bites_20_top.png" alt="PARMESAN"/>
                            </div>
                            <div class="col-sm-9">
                              <div class="allergy-box-c">
                                <div class="pizzamdheading">GLUTEN FREE CHICKEN BITES</div>
                                <p>Chicken Breast Pieces, Water, Rice Flour, Yellow Corn Flour, Modified Corn Starch, Raisin Juice Concentrate, Honey, Corn Starch, Salt, Pea Protein Isolate, Potassium Chloride, Sugar, Baking Powder, Guar Gum, Modified Cellulose, Onion Powder, Garlic Powder, Spices, Celery Seed, Natural Flavour. Browned in Canola Oil.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li>
                </ul>
            </div>
            </div>

          <div class="content-bottom">
            <p><b>As of August 31, 2021.</b> Items may be subject to change without notice. Variations may occur depending on the region of the country. For beverages and packaged chips, please refer to the labels on the packaging for the most up-to-date information. The use of “may contain” means that the product doesn’t intentionally contain the allergens but is made in a facility that processes other products containing these allergens.</p>
          </div>
        </div>
        <div class="tab-content-inner content" id="gluten-free">
          <div class="heading-box">
            <div class="pizzaxxsheading">GLUTEN-FREE ITEMS</div>
            <h3 class="pizzaxlheading">FLAVOUR-FILLED. GLUTEN-SAFE.</h3>
            <p>voiding gluten doesn’t mean cutting out the taste you love. We have a selection of gluten-free crusts, toppings and sides, just for you. See all your gluten-free options below.</p>
          </div>

          <div class="gluten-free-faq">
            <div class="about-accordion">
                <ul>
                    <li>
                        <div class="about-accordion-title accordion" id="gluten-free-faq-1">
                            <div class="pizzaxxsheading">Cheeses</div>
                            <span class="plus-icon"></span>
                        </div>
                        <div class="about-accordion-content panel">
                            <div class="wraper-gluten-w">
                              <div class="row">
                                <div class="col-sm-4">
                                  <div class="gluten-c">
                                    <img src="assets/images/about-us/topping_cheese_dairy_free (1).png" alt="Dairy Free Cheese"/>
                                    <p>Dairy Free Cheese</p>
                                  </div>
                                </div>

                                  <div class="col-sm-4">
                                    <div class="gluten-c">
                                      <img src="assets/images/about-us/topping_cheese_goat.png" alt="Unripened Goat's Cheese"/>
                                      <p>Unripened Goat's Cheese</p>
                                    </div>
                                  </div>

                                  <div class="col-sm-4">
                                    <div class="gluten-c">
                                      <img src="assets/images/about-us/topping_cheese_parmesan_1 (1).png" alt="Parmesan"/>
                                      <p>Parmesan</p>
                                    </div>
                                  </div>

                                  <div class="col-sm-4">
                                    <div class="gluten-c">
                                      <img src="assets/images/about-us/topping_cheese_extra-comp.png" alt="Mozzarella"/>
                                      <p>Mozzarella</p>
                                    </div>
                                  </div>

                                  <div class="col-sm-4">
                                    <div class="gluten-c">
                                      <img src="assets/images/about-us/topping_cheese_four_cheese.png" alt="Four Blend"/>
                                      <p>Four Blend</p>
                                    </div>
                                  </div>

                                  <div class="col-sm-4">
                                    <div class="gluten-c">
                                      <img src="assets/images/about-us/topping_cheese_feta.png" alt="Feta"/>
                                      <p>Feta</p>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                    </li>
                    <li>
                        <div class="about-accordion-title accordion" id="gluten-free-faq-2">
                            <div class="pizzaxxsheading">Dipping Sauces</div>
                            <span class="plus-icon"></span>
                        </div>
                        <div class="about-accordion-content panel">
                          <div class="wraper-gluten-w">
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="gluten-c">
                                  <img src="assets/images/about-us/Dip_14_BuffaloBlueCheese_Top.png" alt="Buffalo Blue Cheese"/>
                                  <p>Buffalo Blue Cheese</p>
                                </div>
                              </div>

                                <div class="col-sm-4">
                                  <div class="gluten-c">
                                    <img src="assets/images/about-us/Dip_14_BuffaloBlueCheese_Top (1).png" alt="Sweet Chili Thai"/>
                                    <p>Sweet Chili Thai</p>
                                  </div>
                                </div>

                                <div class="col-sm-4">
                                  <div class="gluten-c">
                                    <img src="assets/images/about-us/Dip_4_PeppercornRanch_Top.png" alt="Peppercorn Ranch"/>
                                    <p>Peppercorn Ranch</p>
                                  </div>
                                </div>

                                <div class="col-sm-4">
                                  <div class="gluten-c">
                                    <img src="assets/images/about-us/Dip_5_Mild_Top.png" alt="Mild Sauce"/>
                                    <p>Mild Sauce</p>
                                  </div>
                                </div>

                                <div class="col-sm-4">
                                  <div class="gluten-c">
                                    <img src="assets/images/about-us/Dip_6_ItalianMarinara_Top.png" alt="Marinara"/>
                                    <p>Marinara</p>
                                  </div>
                                </div>

                                <div class="col-sm-4">
                                  <div class="gluten-c">
                                    <img src="assets/images/about-us/Dip_12_CheddarJalapeno_Top.png" alt="Jalapeno Cheddar"/>
                                    <p>Jalapeno Cheddar</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </li>
                    <li>
                      <div class="about-accordion-title accordion" id="gluten-free-faq-3">
                          <div class="pizzaxxsheading">Meats</div>
                          <span class="plus-icon"></span>
                      </div>
                      <div class="about-accordion-content panel">
                        <div class="wraper-gluten-w">
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="gluten-c">
                                <img src="assets/images/about-us/topping_meat_pepperoni.png" alt="Halal Pepperoni"/>
                                <p>Halal Pepperoni</p>
                              </div>
                            </div>

                              <div class="col-sm-4">
                                <div class="gluten-c">
                                  <img src="assets/images/about-us/topping_meat_chorizo_sausage.png" alt="Chorizo Sausage"/>
                                  <p>Chorizo Sausage</p>
                                </div>
                              </div>

                              <div class="col-sm-4">
                                <div class="gluten-c">
                                  <img src="assets/images/about-us/topping_meat_steak_strips.png" alt="Beef Steak Strips"/>
                                  <p>Beef Steak Strips</p>
                                </div>
                              </div>

                              <div class="col-sm-4">
                                <div class="gluten-c">
                                  <img src="assets/images/about-us/topping_meat_pepperoni (1).png" alt="Original Pepperoni"/>
                                  <p>Original Pepperoni</p>
                                </div>
                              </div>

                              <div class="col-sm-4">
                                <div class="gluten-c">
                                  <img src="assets/images/about-us/topping_meat_genoa_salami.png" alt="Genoa Salami"/>
                                  <p>Genoa Salami</p>
                                </div>
                              </div>

                              <div class="col-sm-4">
                                <div class="gluten-c">
                                  <img src="assets/images/about-us/topping_meat_spicy_italian_sausage.png" alt="Spicy Italian Sausage"/>
                                  <p>Spicy Italian Sausage</p>
                                </div>
                              </div>

                            </div>
                          </div>
                      </div>
                  </li>
                </ul>
            </div>
          </div>

          <div class="content-bottom">
            <p><b>As of December 17, 2020.</b> Items may be subject to change without notice. Variations may occur depending on the region of the country. For beverages and packaged chips, please refer to the labels on the packaging for the most up-to-date information.</p>
            <p><b>Allergy Alert:</b> Pizza Pizza takes great care in the preparation of our gluten free products and have processes in place to prevent cross contamination, but we unfortunately cannot guarantee a 100% gluten-free environment. Pizza Pizza Limited, its franchisees and employees do not assume responsibility for a particular sensitivity or allergy to any food provided in our restaurants.</p>
            <p>The use of “may contain” means that the product doesn’t intentionally contain the allergens but is made in a facility that processes other products containing these allergens.</p>
          </div>
        </div>
        <div class="tab-content-inner content" id="allergens">
          <div class="heading-box">
            <div class="pizzaxxsheading">ALLERGY INFO</div>
            <h3 class="pizzaxlheading">CHOOSE WISELY. EAT HAPPILY.</h3>
            <p>At Pizza Pizza, your safety is priority number one. So if you have food allergies, we want you to check out our handy guide to common allergens present in some of our foods.</p>
          </div>

          <div class="allergy-info-content">
              <div class="row">
                <div class="col-sm-3 img-dirction">
                  <img src="assets/images/about-us/allergy-info.jpg" alt="PEANUTS"/>
                </div>
                <div class="col-sm-9">
                  <div class="allergy-box-c">
                    <div class="pizzamdheading">PEANUTS</div>
                    <p>None.</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 img-dirction">
                  <img src="assets/images/about-us/allergenstreenuts_temp.jpg" alt="TREE NUTS"/>
                </div>
                <div class="col-sm-9">
                  <div class="allergy-box-c">
                    <div class="pizzamdheading">TREE NUTS</div>
                    <p>*May contain: Two-Bite Brownies, Strawberry Cheesecake Truffles, Chocolate Truffles</p>
                    <p>*No tree nut is used as an ingredient in these products, however, they are processed on the same equipment that produces products that contain tree nuts. The “may contain” statement is a cautionary disclaimer from suppliers who have comprehensive allergen and sanitation policies in place.</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 img-dirction">
                  <img src="assets/images/about-us/allergenssesameseeds_temp.jpg" alt="SESAME SEEDS" />
                </div>
                <div class="col-sm-9">
                  <div class="allergy-box-c">
                    <div class="pizzamdheading">SESAME SEEDS</div>
                    <p>None.</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 img-dirction">
                  <img src="assets/images/about-us/allergenseggs_temp.jpg" alt="EGGS" />
                </div>
                <div class="col-sm-9">
                  <div class="allergy-box-c">
                    <div class="pizzamdheading">EGGS</div>
                    <p>Buffalo blue cheese dipping sauce, honey mustard sauce, jalapeno cheddar sauce, peppercorn ranch dipping sauce, two-bite brownies, Funnel Cake Stix, creamy dill sauce, Sriracha Creamy Garlic Dipping Sauce, Creamy Truffle Sauce, Kraft Creamy Caesar Dressing, Kraft Rancher’s Choice Dressing (Calorie Wise), Strawberry Cheesecake Truffles, Keto Crust, Chocolate Truffles.</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 img-dirction">
                  <img src="assets/images/about-us/allergensanchovies_temp.jpg" alt="FISH/SHELLFIS" />
                </div>
                <div class="col-sm-9">
                  <div class="allergy-box-c">
                    <div class="pizzamdheading">FISH/SHELLFISH</div>
                    <p>Anchovies, Kraft Creamy Caesar Dressing.</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 img-dirction">
                  <img src="assets/images/about-us/allergenssoy_temp.jpg" alt="SOY" />
                </div>
                <div class="col-sm-9">
                  <div class="allergy-box-c">
                    <div class="pizzamdheading">SOY</div>
                    <p>Garlic bread/toast, croutons, honey garlic sauce, BBQ sauce, classic chicken wings, crispy/breaded chicken wings, chicken strips, Boneless chicken bites, beef crumble, Halal beef, Halal pepperoni, two-bite brownies, Funnel Cake Stix, Italiano seasoning, poutine gravy, traditional pepperoni, cheesy bread, Chipotle Sauce, buffalo blue cheese sauce, Italian Marinara Dipping Sauce, Poutine Gravy (QC area), Steak Strips, Strawberry Cheesecake Truffles, Chocolate Truffles, Popcorn Chicken.</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 img-dirction">
                  <img src="assets/images/about-us/allergenswheat_temp.jpg" alt="WHEAT/GLUTEN" />
                </div>
                <div class="col-sm-9">
                  <div class="allergy-box-c">
                    <div class="pizzamdheading">WHEAT/GLUTEN</div>
                    <p>Classic crust, whole grain crust, durum semolina, garlic bread/toast, honey garlic sauce, BBQ sauce, classic chicken wings, crispy/breaded chicken wings, Boneless chicken bites, two-bite brownies, Funnel Cake Stix, Onion Rings, Croutons, Poutine Gravy (QC area), Cheesy Bread, Chipotle Sauce, Potato Wedges, Tortilla, Breaded Dill Pickle Spears, Jalapeño Poppers, Kraft Creamy Caesar Dressing, Strawberry Cheesecake Truffles, Cauliflower Bites, Chocolate Truffles, Popcorn Chicken.</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 img-dirction">
                  <img src="assets/images/about-us/allergenssulphites_temp.jpg" alt="SULPHITES" />
                </div>
                <div class="col-sm-9">
                  <div class="allergy-box-c">
                    <div class="pizzamdheading">SULPHITES</div>
                    <p>Garlic Bread/Toast, BBQ Sauce, Roasted Garlic, Hot Peppers, Jalapeno Peppers, Sundried Tomatoes, BBQ Steak Strips, Poutine Gravy (QC Area).</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 img-dirction">
                  <img src="assets/images/about-us/allergensmustard2_temp.jpg" alt="MUSTARD"/>
                </div>
                <div class="col-sm-9">
                  <div class="allergy-box-c">
                    <div class="pizzamdheading">MUSTARD</div>
                    <p>BBQ Sauce, Honey Mustard, Kraft Balsamic Vinaigrette, Kraft Zesty Italian Dressing (Calorie Wise).</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 img-dirction">
                  <img src="assets/images/about-us/allergensmilk_temp.jpg" alt=""/>
                </div>
                <div class="col-sm-9">
                  <div class="allergy-box-c">
                    <div class="pizzamdheading">MILK</div>
                    <p>Garlic Bread/Toast, Buffalo Blue Cheese Dipping Sauce, Creamy Garlic Dipping Sauce, Jalapeno Cheddar Sauce, Peppercorn Ranch Dipping Sauce, Pesto Sauce, All Cheeses, All Milk/Dairy Beverages, Genoa Salami, Poutine, Crouton, Creamy Dill Sauce, Cheesey Bread, Buffalo Blue Cheese sauce, Jalapeno Poppers, Breaded Pickle Spears, Funnel Cake Stix, Caramel Dipping Sauce, Sriracha Creamy Garlic Dipping Sauce, Kraft Creamy Caesar Dressing, Kraft Rancher’s Choice Dressing (Calorie Wise), Two-Bite Brownies, Spicy Tandoori Sauce, Poutine Gravy (QC area), Strawberry Cheesecake Truffles, Cauliflower Bites, Chocolate Sauce, Chocolate Truffles.</p>
                  </div>
                </div>
              </div>

              <div class="content-bottom">
                <p><b>As of January 18, 2021.</b> Items may be subject to change without notice. Variations may occur depending on the region of the country. For beverages and packaged chips, please refer to the labels on the packaging for the most up-to-date information.</p>
                <p><b>Allergy Alert:</b> Pizza Pizza is a restaurant environment, serving foods that are not in sealed packages. And although we take precautions to minimize the possibility of cross contamination in our products, we unfortunately cannot guarantee 100% allergen-free food. Pizza Pizza Limited, its franchisees and employees and employees do not assume responsibility for a particular sensitivity or allergy to any food provided in our restaurants. The use of “may contain” means that the product doesn’t intentionally contain the allergens but is made in a facility that processes other products containing these allergens.</p>
              </div>


          </div>

        </div>
    </div>
    </div>


    <div class="menu-faq" id="menufAQ">
      <h2 class="pizzaxlheading">MENU FAQ</h2>
      <p class="pizzasmheading">Still have questions about our food? No worries. Here are the answers to some common questions we get.</p>
      <div class="about-accordion">
        <ul>
          <li>
            <div class="about-accordion-title accordion" id="menu-faq-1">
                <div class="pizzaxxsheading">Is there egg in your pizzas?</div>
                <span class="plus-icon"></span>
            </div>
            <div class="about-accordion-content panel">
                <p>ur dough, tomato sauce and cheese do not contain any egg product;  however, we do have sauces such as Buffalo Blue Cheese that do contain egg. We recommend that you review our allergen section that discloses all allergens contained in our products. It is available under our “Nutrition” section.</p>
            </div>
        </li>
            <li>
                <div class="about-accordion-title accordion" id="menu-faq-2">
                    <div class="pizzaxxsheading">Do you have information on peanuts or nuts?</div>
                    <span class="plus-icon"></span>
                </div>
                <div class="about-accordion-content panel">
                    <p>The allergen & ingredient lists are available on our website. None of the foods on the menu contain peanuts or nuts and Pizza Pizza always strives to choose menu items that do not contain peanuts or nuts.

                      Note: Pizza Pizza is unable to provide a guarantee of “100% peanut-free”. Pizza Pizza is a restaurant environment, serving foods that are not in sealed packages. Therefore, we unfortunately cannot guarantee a 100% allergy-free environment. If you have a food allergy, please be aware that Pizza Pizza products may have come into contact with possible allergens.</p>
                </div>
            </li>
            <li>
              <div class="about-accordion-title accordion" id="menu-faq-3">
                  <div class="pizzaxxsheading">Is there egg in your pizzas?</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                  <p>ur dough, tomato sauce and cheese do not contain any egg product;  however, we do have sauces such as Buffalo Blue Cheese that do contain egg. We recommend that you review our allergen section that discloses all allergens contained in our products. It is available under our “Nutrition” section.</p>
              </div>
          </li>
        </ul>
    </div>
  </div>


  </section>

</div> -->





