<section class="pizza-assistant-open h-100">
    <div class="container h-100">
        <div class="row h-100 no-gutters">
            <div class="col-12 pizza-assistant-top">
                <div class="inner-top">
                    <div class="signin-top">
                        <a class="back-btn" href="#">Back to home</a>
                    </div>
                    <h1 class="pizzalgheading">PIZZA ASSISTANT</h1>
                </div>
            </div>
            <div class="col-12 assistant-wrap">
                <div class="assistant-main h-100">
                    <div class="assistant-order-list-row align-items-center h-100">
                        <div class="row">
                            <div class="col-md-auto col-12">
                                <div class="order-block">
                                    <h2 class="pizzalgheading"> Hi, I’d like to order a... </h2>
                                </div>
                            </div>
                        </div>
                        <div class="align-self-end assistant-information-col">
                            <!-- <div class="assistant-icon-wrap">
                                <div class="help-btn">
                                    <img src="assets/images/icons/help-icon.png" alt="help-icon"/>
                                </div>
                            </div> -->
                            <div class="assistant-text-wrap">
                                <div class="arrow"></div>
                                <div class="assistant-wrap-body">
                                    <h3 class="pizzalgheading">What would you like to order?</h3>
                                    <h4 class="pizzamdheading">Click ‘help’ to see what you can ask</h4>
                                </div>
                            </div>
                        </div>
                        <div class="assistant-chat-bottom align-self-end">
                            <div class="row">
                                <div class="col-12 text-input-line">
                                    <form class="">
                                        <div class="form-group d-flex justify-content-between w-100 align-items-center">
                                            <input type="text" placeholder="Type here…" class="form-control">
                                            <button class="enter-btn d-flex justify-content-center align-items-center">
                                                <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row justify-content-end assistant-action">
                                <div class="col-6 col-sm-auto assistant-action-btn help">
                                    <button>help?</button>
                                </div>
                                <div class="col-6 col-sm-auto assistant-action-btn">
                                    <button>I’M DONE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
