@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.pizza-assistant-open{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $lightgraybg;
    width: 100%;
    height: 100%;
}
.pizza-assistant-top{
    padding-top: 50px;
    @include breakpoint(xs) {
        padding-top: 10px;
    }
}
.inner-top{
    position: relative;
    margin-bottom: 20px;
    .pizzalgheading{
        text-align: center;
        margin-bottom: 0;
        color: $orange;
        font-family: $proximarg;
        text-transform: uppercase;
    }
    .signin-top{
        position: absolute;
        top: 9px;
        margin: 0;
    }
    .back-btn{
        color: $black;
    }
    @include breakpoint(xs) {
        .signin-top{
            position: relative;
            top: 10px;
            margin: 0 0 40px;
        }
    }
}

.assistant-wrap{
    min-height: calc(100% - 260px);
    .assistant-main{
    }
    .assistant-order-list-row{
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        .order-block{
            display: inline-block;
            flex: 0 1 100%;
            margin-right: 7px;
            min-width: 0;
            vertical-align: middle;
            margin-left: 7px;
            .pizzalgheading{
                font-weight: 900;
                margin: 0;
                color: $brownfont;
                font-family: $proximablack;
            }
        }
    }
    .assistant-information-col{
        width: 100%;
        display: flex;
        .assistant-icon-wrap{
            display: inline-block;
            vertical-align: top;
            .help-btn{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                padding: 10px;
                background: $orangefont;
                text-decoration: none;
                text-align: center;
                margin-right: 20px;
            }
        }
        .assistant-text-wrap{
            position: relative;
            margin-left: 10px;
            border-radius: 8px;
            box-shadow: 0 4px 10px -1px rgba(0,0,0,0.30);
            display: inline-block;
            vertical-align: top;
            .arrow{
                content: "";
                width: 20px;
                height: 20px;
                background: $white;
                position: absolute;
                top: 32px;
                left: 0;
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
            }
            .assistant-wrap-body{
                z-index: 10;
                border-radius: 8px;
                background-color: $white;
                padding: 15px 35px;
                .pizzalgheading{
                    font-weight: 900;
                    margin: 0;
                    color: $brownfont;
                    font-family: $proximablack;
                }
                .pizzamdheading{
                    font-family: $proximarg;
                    font-weight: 400;
                    color: $brownfont;
                }
            }
        }
    }
    .assistant-chat-bottom{
        margin: 0;
        // background-color: $white;
        width: 100%;
        overflow: hidden;
        .text-input-line{
            padding: 10px;
            .form-group{
                margin: 0s;
            }
            .form-control{
                font-size: 20px;
                border: none;
                background: transparent;
                padding:6px 12px;
                font-family: $proximarg;
                font-weight: 900;
                color: $graytext;
                height: 42px;
                border-radius: 0px;
                border: none;
            }
            .enter-btn{
                width: 35px;
                height: 35px;
                border: 0;
                border-radius: 7px;
                background:$orange;
                cursor: pointer;
                margin-right: 5px;
                i{
                    font-size: 16px;
                    color: $white;
                    margin-left: 1px;
                    line-height: 20px;
                }
            }
        }
        .assistant-action{
            border-top: 1px solid $grayborder;
            .assistant-action-btn{
                font-family: $proximarg;
                font-weight: 800;
                padding: 15px 30px;
                text-align: center;
                color: $graytext;
                font-size: 16px;
                &.help{
                    border-right: 1px solid $grayborder;
                    border-left: 1px solid $grayborder;
                }
                button{
                    font-family: $proximarg;
                    font-weight: 800;
                    outline: 0;
                    border: 0;
                    background-color: transparent;
                    cursor: pointer;
                    width: 100%;
                    text-transform: uppercase;
                    color: $graytext;
                }
            }
        }
    }
    @include breakpoint(xs) {
        .assistant-information-col{
            .assistant-text-wrap{
                .arrow{
                    top: 20px;
                    width: 14px;
                    height: 14px;
                }
                .assistant-wrap-body{
                    padding: 15px 20px;
                    .pizzalgheading{
                        font-size: 18px;
                    }
                    .pizzamdheading{
                        font-size: 14px;
                    }
                }
            }
        }
        .assistant-chat-bottom{
            .text-input-line{
                .form-control{
                    font-size: 16px;
                }
            }
            .assistant-action{
                .assistant-action-btn{
                    font-size: 14px;
                }
            }
        }
    }
}
