@import "~src/scss/color";

.pre-loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 9999;
    img{
        width: 80px;
    }
}