
<app-side-header></app-side-header>
<app-web-loader *ngIf="loaderHold"></app-web-loader>
<span [innerHTML]="contents | safeHtml"></span>
<!-- <div class="inner-main" >

<section>
  <div class="banner-wrapper">
    <picture>
      <source media="(max-width: 767px)" srcset="assets/images/terms-and-conditions/Customer-ServiceHeader-mob.jpg">
      <source media="(min-width: 768px)" srcset="assets/images/terms-and-conditions/Customer-ServiceHeader.jpg">
      <img src="assets/images/homepage/terms-and-conditions/Customer-ServiceHeader.jpg" alt="banner-nutritionbanner">
    </picture>
    <div class="banner-content-q">
        <h1 class="pizzaxlheading">ACCESSIBILITY</h1>
    </div>
  </div>

  <div class="padding-section accessibility-policy">
    <div _ngcontent-serverapp-c96=""><div class="heading-box">
      <div class="pizzaxxsheading">ACCESSIBLE CUSTOMER SERVICE STANDARD.</div>
    </div>
     <p>Pizza Pizza is committed to providing excellent customer service to all individuals, including people with disabilities. Goods and services will be provided in a manner that respects the dignity and independence of all customers. When serving individuals with disabilities, reasonable efforts shall be made to provide the same level of service given to other individuals and service will be provided in a manner that respects their dignity and independence.</p></div>
      <div class="about-accordion">
        <ul>
            <li>
              <div class="about-accordion-title accordionacc">
                  <div class="pizzaxxsheading">Temporary Disruption Notification Standard</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                <h2>Policy Statement</h2>

                  <p>During a temporary disruption to the availability of Pizza Pizza facilities and/or services, we will notify our customers of the reason for the disruption and its anticipated duration. To ensure effective dissemination of this information notices will be posted in the following areas: public entrances/exits and were appropriate,  websites as soon as is practicable. If alternative facilities and/or services are available during the disruption, we will also include this information in public notices.</p>

                  <h2>Procedure</h2>

                  <p>The restaurant manager or service provider is responsible for posting notices regarding any disruption to services. These will be posted as soon as possible in the following areas:</p>

                  <ul>
                    <li>At the entrance of the affected facility</li>
                  <li>On appropriate websites and,</li>
                  <li>other means  deemed appropriate for the communication of the disruption details</li>
                  </ul>



                  <p>These notices will include the reason for the disruption, its expected duration as well as a description of any alternative services/facilities available.</p>
                </div>
            </li>
            <li>
              <div class="about-accordion-title accordionacc">
                  <div class="pizzaxxsheading">Accessible Customer Service Feedback Standard</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                <h2>Policy Statement</h2>

                <p>In compliance with O.Reg429/07, the Accessibility for Ontarians with Disabilities Act 2005, Pizza Pizza has established a feedback process for the accessibility of our customer service.</p>

                <h2>Procedure</h2>

                <p>To provide feedback, customers can submit using the following methods:</p>

                <ul>
                  <li>Website:  <b>www.pizzapizza.ca</b>  by accessing the footer link – Get in Touch</li>
                <li>By email: feedback@pizzapizza.ca</li>
                <li>By mail: Customer Service, 500 Kipling Ave. Toronto Ontario M8Z 5E5</li>
                <li>By phone: 416-967-1010 ext 399</li>
                </ul>
                <p>Copies of the Accessible Customer Service Policy are available, upon request</p>
                </div>
            </li>
            <li>
              <div class="about-accordion-title accordionacc">
                  <div class="pizzaxxsheading">Assistive Devices and Alternative Service Methods Standard</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                <h2>Policy Statement</h2>

                  <p>At Pizza Pizza, steps are continually taken to improve accessibility of our restaurants and to effectively facilitate the use of most assistive devices used by individuals with disabilities. We will ensure that staff are trained on how to interact with individuals using various assistive devices and alternative service methods.</p>

                  <h2>Procedure:</h2>

                  <p>Pizza Pizza will provide training to all employees required under the Customer Service Standard on how to safely and effectively execute alternative methods and support those using assistive devices</p>
                </div>
            </li>
            <li>
              <div class="about-accordion-title accordionacc">
                  <div class="pizzaxxsheading">Admission and Access of Support Persons</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                <h2>Policy Statement</h2>

                  <p>All support persons are welcome on any premises of Pizza Pizza that are open to the public and/or other third parties. All required employees will receive training on how to interact with individuals requiring support persons.</p>

                  <h2>Definitions:</h2>

                  <p>Support person: “means, in relation to a person with a disability, another person who accompanies him or her in order to help with communication, mobility, personal care or medical needs or with access to goods or services”</p>

                  <h2>Procedure</h2>

                  <p>Support persons will be permitted access to goods and services in the same manner as any other customers.</p>
                </div>
            </li>
            <li>
              <div class="about-accordion-title accordionacc">
                  <div class="pizzaxxsheading">Accessible Customer Service Standard</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                <h2>Application:</h2>

                <p>To all Pizza Pizza  employees /owners/operators/contractors/ agents/representatives who act on behalf of or provide services on behalf of Pizza Pizza.</p>

                <h2>Objective:</h2>

                <p>Reasonable efforts will be made to make sure that goods and services offered by Pizza Pizza are given in such a way which:</p>

                <ul>
                <li>Respects the dignity and independence of people with disabilities</li>

                <li>Is offered in the same/similar way as other customers, unless a different way is necessary, either on a temporary or permanent basis</li>

                <li>Gives everyone the same or similar chance to get, use and benefit from the goods and services</li>

                <li>Communicates with a person with a disability in a way that takes the person´s disability into account</li>
                </ul>


                <h2>Overview:</h2>

                <p>To help ensure that Pizza Pizza employees/owners/operators/agents/representative individuals with disabilities have access to our services:</p>



                </div>
            </li>
            <li>
              <div class="about-accordion-title accordionacc">
                  <div class="pizzaxxsheading">Access for Service Animals Standard</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                <h2>Policy Statement</h2>



                    <p>Persons with disabilities who are accompanied by a service animal are welcome on any premises open to the public and/or other third parties when accessing Pizza Pizza goods or services.</p>

                    <p>The following will provide a reasonable response protocol when individuals requiring the assistance/accompaniment of a service animal /guide dog, as a result of their disabilities, are accessing services at our locations.</p>

                    <h2>Definition</h2>

                      <p><b>Service Animal:</b>  “An animal is a service animal for a person with a disability, if it is readily apparent that the animal is used by the person for reasons relating to his or her disability; or if the person provides documentation from a regulated health professional confirming that the person requires the animal for reasons relating to the disability”</p>

                    <h2>Procedure</h2>

                    <p>The service animal must be permitted to accompany the individual with the disability to all areas of the facility where customers are normally allowed to go. In any case, where issues arise relating to the presence of service animals at our locations, the dignity of the individual making use of the animal must be respected.While service animals are usually dogs, they may include other animals designated by the individual with a disability and the individual´s treatment provider.</p>


                    <p>The following provides some reasonable steps in determining and handling access for Service Animal:<p>

                    <ul>
                      <li>If a customer does not have documentation for their service animal but it appears to be reasonable that the animal is providing assistance, the animal should be permitted on Pizza Pizza premises (except in circumstances where animals are excluded by law)</li>

                    <li>If it does not appear to be a service animal, customers should be notified that only service animals are permitted on the premises</li>
                    <li>No service animal can be evicted, excluded or separated from its owners unless the animal demonstrates behaviour posing a direct threat to the health and safety of others. They cannot be excluded as a matter of preference.</li>

                    <li>Individuals with objections to the presence of a service animal should be consulted individually to find a compromise that does not hinder access for the individual with a disability</li>

                    <li>In the event that a service animal must be separated from an individual reasonable steps will be taken to both serve the customer and address the safety and well being of the animal.</li>

                    </ul>
                </div>
            </li>

        </ul>
      </div>
    </div>

    <div class="padding-section accessibility-policy">
      <div _ngcontent-serverapp-c96=""><div class="heading-box">
        <div class="pizzaxxsheading">INTEGRATED ACCESSIBILITY STANDARDS POLICY</div>
      </div>
       <p>The following policy has been established by Pizza Pizza Limited to govern the provision of services with Regulation 191/11, “Integrated Accessibility Standards” (“ IAS”) under the Accessibility for Ontarians with Disabilities Act, 2005.</p>
       <p>These standards are developed to break down barriers and increase accessibility for persons with disabilities in the areas of information, communications and employment.</p></div>

        <div class="about-accordion">
          <ul>
            <li>
              <div class="about-accordion-title accordionacc" id="accessible-faq-1">
                  <div class="pizzaxxsheading">Information and Communications Standards</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                <p>The following accessibility requirements related to information and communications do not apply to products and product labels, “unconvertible” information or communications, and information that Pizza Pizza Limited does not control directly or indirectly through contractual relationships.</p>

                <p>Information and communications are considered “unconvertible” if it is not technically feasible to convert the information or communications, or the technology to do so is not readily available.</p>
                
                <p>Wherever the information and communications are determined to be “unconvertible”, Pizza Pizza Limited will ensure that the person with the Disability who is requesting the information or communications is provided with, an explanation as to why the information or communication is unconvertible and a summary of the unconvertible information or communications.</p>
                
                <h2>Feedback</h2>
                
                <p>Pizza Pizza Limited will review and strive to ensure that its process for receiving and responding to feedback is accessible to persons with disabilities by providing, or arranging for the provision of, accessible formats and communications supports, upon request.  Compliance on or before January 1, 2015.</p>
                
                <h2>Accessible Formats and Communication Supports</h2>
                
                <p>Upon request, Pizza Pizza Limited will provide, or will arrange for the provision of accessible formats and communication supports for persons with disabilities in a timely manner that takes into account the person’s accessibility needs due to disability and at a cost that is no more than the regular cost charged to other persons. Compliance on or before January 1, 2016</p>
                
                <h2>Accessible Websites and Web Content</h2>
                
                <p>Pizza Pizza Limited will ensure that our Internet websites, including web content, conform to the World Wide Web Consortium Web Content Accessibility Guidelines (WCAG) 2.0, at Level AA except where this is not practicable, having regard to, among other things, the availability of commercial software or tools, on or before January 1, 2021</p>
                </div>
          </li>
          <li>
            <div class="about-accordion-title accordionacc" id="accessible-faq-1">
                <div class="pizzaxxsheading">Employment Standards</div>
                <span class="plus-icon"></span>
            </div>
            <div class="about-accordion-content panel">
              <p>(Compliance on or before January 1, 2016)</p>

              <h2>Recruitment</h2>
              
              <p>Pizza Pizza Limited will notify its employees and the public about the availability of accommodation for applicants with disabilities in its recruitment process.</p>
              
              <h2>Recruitment, Assessment or Selection Process</h2>
              
              <p>Pizza Pizza Limited will notify job applicants, when they are individually selected to participate further in an assessment or selection process that reasonable accommodations are available upon request in relation to the materials or processes to be used.</p>
              
              <p>If a selected applicant requests an accommodation, Pizza Pizza Limited will consult with the applicant and provide, or arrange for the provision of, a suitable accommodation in a manner that takes into account the applicant’s accessibility needs due to disability, whenever practicable and in compliance with applicable legislation.</p>
              
              <p>The decision as to which accommodation is provided rests with the employer.</p>
              
              <h2>Notice to Successful Applicants</h2>
              
              <p>When making offers of employment, Pizza Pizza Limited will notify the successful applicant of its policies for accommodating employees with disabilities.</p>
              
              <h2>Informing Employees of Supports</h2>
              
              <p>Pizza Pizza Limited will continue to inform its employees of its policies (and any updates to those policies) used to support employees with disabilities, including policies on the provision of job accommodations that take into account an employee’s accessibility needs due to disability. This information will be provided to new employees as soon as practicable after commencing employment.</p>
              
               <h2>Accessible Formats and Communication Supports for Employees</h2>
              
              <p>Upon the request of an employee with a disability, Pizza Pizza Limited will consult with the employee to provide, or arrange for the provision of, accessible formats and communication supports for information that is needed to perform his/her job, and information that is generally available to other employees.</p>
              
              <p>In determining the suitability of an accessible format or communication support, Pizza Pizza Limited will consult with the employee making the request.</p>
              
              <h2>Workplace Emergency Response Information (January 1, 2012)|</h2>
              
              <p>Pizza Pizza Limited will provide individualized workplace emergency response information to employees who have a disability, if the disability is such that the individualized information is necessary, and if  is aware of the need for accommodation due to the employee’s disability. Pizza Pizza Limited will provide this information as soon as practicable after becoming aware of the need for accommodation.</p>
              
              <p>Where the employee requires assistance, Pizza Pizza Limited will, with the consent of the employee, provide the workplace emergency response information to the person designated by Pizza Pizza Limited to provide assistance to the employee.</p>
              
              <p>Pizza Pizza Limited will review the individualized workplace emergency response information when the employee moves to a different location in the organization, when the employee’s overall accommodations needs or plans are reviewed.</p>
              
              <h2>Documented Individual Accommodation Plans</h2>
              
              <p>Pizza Pizza Limited will maintain a written process for the development of documented individual accommodation plans for employees with disabilities.</p>
              
              <p>If requested, information regarding accessible formats and communications supports provided will also be included in individual accommodation plans.</p>
              
              <p>In addition, the plans will include individualized workplace emergency response information (where required), and will identify any other accommodation that is to be provided.</p>
              
              <h2>Return to Work Process</h2>
              
              <p>Pizza Pizza Limited maintains a documented return to work process for its employees who have been absent from work due to a disability and who require disability-related accommodations in order to return to work.</p>
              
              <p>The return to work process outlines the steps Pizza Pizza Limited will take to facilitate the return to work and will include documented individual accommodation plans as part of the process.</p>
              
              <p>This return to work process will not replace or override any other return to work process created by or under any other statute (ie. the Workplace Safety Insurance Act, 1997 or Ontario Human Rights Act ).</p>
              
              <h2>Performance Management, Career Development and Advancement / Redeployment</h2>
              
              <p>Pizza Pizza Limited will take into account the accessibility needs of employees with disabilities, as well as individual accommodation plans, when conducting performance management, providing career development and advancement to employees, or when redeploying employees.</p>
              
              <h2>Questions about this policy</h2>
              
              <p>This policy has been developed to break down barriers and increase accessibility for persons with disabilities in the areas of information and communications and employment. This policy, plan, statements and standards are subject to review and amendment. Appropriate individuals will be advised of such changes.</p>
              
              <p>In compliance with O.Reg429/07-AODA, Pizza Pizza Limited has established the following feedback / inquiry  process:</p>
              
              <ul>
                <li>Website: www.pizzapizza.ca Contact Us</li>
              <li>Email: Feedback@pizzapizza.ca</li>
              <li>Mail: AODA Compliance – 500 Kipling Ave. Toronto, Ontario M8Z 5E5</li>
              <li>Phone:416-967-1010 ext 399</li>
              </ul>
              </div>
        </li>
        <li>
          <div class="about-accordion-title accordionacc" id="accessible-faq-1">
              <div class="pizzaxxsheading">Integrated Accessibility Standards Policy</div>
              <span class="plus-icon"></span>
          </div>
          <div class="about-accordion-content panel">
            <h2>Accessible Customer Service Standard</h2>
            <p>To all Pizza Pizza  employees /owners/operators/contractors/ agents/representatives who act on behalf of or provide services on behalf of Pizza Pizza.</p>
            <h2>Objective:</h2>
            <p>Reasonable efforts will be made to make sure that goods and services offered by Pizza Pizza are given in such a way which:</p>
           <ul>
             <li>Respects the dignity and independence of people with disabilities</li>
             <li>Is offered in the same/similar way as other customers, unless a different way is necessary, either on a temporary or permanent basis</li>
             <li>Gives everyone the same or similar chance to get, use and benefit from the goods and services</li>
             <li>Communicates with a person with a disability in a way that takes the person´s disability into account</li>
           </ul>
           <h2>Overview:</h2>
           <p>To help ensure that Pizza Pizza employees/owners/operators/agents/representative individuals with disabilities have access to our services:</p>
           <ul>
             <li>Communicate with customers in a way that takes into account the person´s disability</li>
             <li>Allow customers to use their own personal assistive devices, whenever practicable</li>
             <li>Allow customers to be accompanied by a service animal in those facilities that are open to the public, unless excluded by law ( See policy-  Service/Guide Dogs- Business Location Access Policy).</li>
             <li>Train all staff and agents who provide direct service to members of the public how to serve customers with various types of disabilities</li>
             <li>Establish a process for receiving and responding to feedback from the public about  the way service is provided to people with disabilities</li>
           </ul>
           <p>Copies of this Accessible Customer Service Policy are available, upon request.</p>
            </div>
      </li>
          </ul>
      </div>
      </div>
</section>


</div> -->










