
<app-side-header></app-side-header>

<div class="inner-main" >

  <section>
    <div class="banner-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="assets/images/investors/corporate-profile/Investors_Glossary-mob.jpg">
        <source media="(min-width: 768px)" srcset="assets/images/investors/corporate-profile/Investors_Glossary.jpg">
        <img src="assets/images/investors/corporate-profile/Investors_Glossary.jpg" alt="banner-nutritionbanner">
      </picture>
      <div class="banner-content-q">
          <h1 class="pizzaxlheading">INVESTOR GLOSSARY</h1>
        </div>
    </div>
  </section>

  <section class="padding-section">
        <div class="glossary-content">
            <h2 class="pizzasmheading">PIZZA PIZZA ROYALTY CORP.</h2>
            <p>Pizza Pizza Royalty Corp. (“PPRC”)  trades on the TSX under the symbol “PZA”.  On 01/01/2013 PPRC, formerly Pizza Pizza Royalty Income Fund, began trading.</p>
        </div>

        <div class="glossary-content">
            <h2 class="pizzasmheading">PPL OR PIZZA PIZZA</h2>
            <p>Pizza Pizza Limited.</p>
        </div>

        <div class="glossary-content">
            <h2 class="pizzasmheading">PARTNERSHIP</h2>
            <p>Pizza Pizza Royalty Limited Partnership</p>
        </div>

        <div class="glossary-content">
            <h2 class="pizzasmheading">PIZZA 73</h2>
            <p>Purchased the Pizza 73 rights and marks in 2007</p>
        </div>

        <div class="glossary-content">
            <h2 class="pizzasmheading">IPO</h2>
            <p>The Fund´s initial public offering closing date: July 6, 2005</p>
        </div>

        <div class="glossary-content">
          <h2 class="pizzasmheading">FISCAL YEAR</h2>
            <p>As it applies to PPRC and Partnership, it means January 1 to December 31. As it applies to PPL, it means a 52-week reporting period ending on the Sunday closest to December 31. Every five or six years PPL´s fiscal year includes an extra (or 53rd) week.</p>
        </div>
  </section>


</div>










