
@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";


.find-popup3{
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;


  .find-overlay {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.85);
    //   transition: visibility 0s linear 0.3s, opacity 0.3s;
  }
  .find-wrapper{
      position: absolute;
      z-index: 9999;
      top: 50%;
      left: 50%;
      width: 35%;
      margin: 0 auto;
      background-color: $white;
      box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
      border: 1px solid $grayborder;
      border-radius: 5px;
      overflow: hidden;
      opacity: 1;
      transform: translate(-50%,-50%);
  }
  .btn-delete-no{
      font-weight: 800;
      border: 0;
      border-radius: 0.28em;
      background-color: #fff;
      min-width: 6.563em;
      height: 3em;
      text-align: center;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: .3px;
      color: #ee5a00;
      font-size: 1em;
  }
  .btn-delete-yes{
      font-weight: 800;
      border: 0;
      border-radius: 0.28em;
      background-color: #ee5a00;
      min-width: 6.563em;
      padding: 13px 0px;
      text-align: center;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: .3px;
      color: #fff;
      font-size: 1em;
  }
  .find-header{
      padding: 30px 40px;
      position: relative;
      border-bottom: 0px solid $orange;
      text-align: center;
      .user-icon{
          margin-bottom: 20px;
          i{
              color: $orange;
              font-size: 35px;
          }
      }
      .pizzalgheading{
          font-family: $proximarg;
          color: $brownfont;
          font-weight: 400;
          margin-bottom: 0px;
      }
      .pizzaparaDelete{
          font-weight: 400;
          text-align: center;
          line-height: 1.175;
          letter-spacing: .15px;
          color: #4c3017;
          font-size: 1.2em;
          margin-top: 20px;
      }
  }
  .find-body{
    text-align: center;
    padding: 0px 15px 30px 0px;
    .pizzaparaDelete{
      color: $brownfont;
      font-size: 16px;
    }
  }
  .find-content{
      padding: 0;
      margin-top: 30px;
  }
  .find-close {
      position: absolute;
      top: 0;
      right: 0px;
      padding: 12px;
      color: #aaa;
      background: none;
      border: 0;
  }

  .find-close:hover {
      color: #777;
  }


  @include breakpoint(slg) {
      .find-wrapper{
          width: 75%;
      }
  }
  @include breakpoint(sm) {
      .find-wrapper{
          width: 90%;
      }
  }
  @include breakpoint(xs){

      .find-wrapper{
          width: 95%;
      }
  }
}
