@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.changepassword-popup{
    // position: fixed;
    // z-index: 10000;
    // top: 0;
    // left: 0;
    // display: none;
    // width: 100%;
    // height: 100%;
    // .changepassword-overlay {
    //     position: fixed;
    //     z-index: 10;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(0,0,0,0.85);
    //     visibility: visible;
    //     opacity: 1;
    //   //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    // }
    .loginerrormsg{
        color: red;
        font-size: 14px;
        font-family: "Proxima Nova Rg";
    
    }
    .changepassword-wrapper {
        // position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 40%;
        margin: 50px auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 20px;
        overflow: hidden;
        opacity: 1;
        // transform: translate(-50%,-50%);
    }
    .changepassword-header{
        padding: 30px 40px;
        position: relative;
        background-color: $graybg;
        box-shadow: 0 1px 2px rgba(0, 0%, 0%, 0.06);
        border-bottom: 1px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 26px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: bold;
            margin-bottom: 0px;
        }
    }
    .changepassword-content{
        padding: 30px 40px;
        background: $white;
    }

    .changepassword-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .changepassword-close:hover {
        color: #777;
    }
    .signup-main{
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                min-height: auto;
                span{
                    display: block;
                }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
            .form-row-right{
                width: 100%;
                margin-top: 15px;
                display: flex;
                .radio{
                    width: 15px;
                    height: 18px;
                    border: 1px solid $grayborder;
                    border-radius: 50%;
                    margin-right: 5px;
                }
                label{
                    font-size: 14px;
                    font-family: $proximarg;
                    color: $orange;
                    margin-bottom: 0px;
                }
            }
        }
    }
    @include breakpoint(slg) {
        .changepassword-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .changepassword-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs) {
        .changepassword-wrapper{
            width: 95%;
        }
        .changepassword-header{
            padding: 18px 20px;
            .vguardsmheading{
                font-size: 16px;
            }
        }
        .changepassword-close{
            right: 10px;
            width: 45px;
            padding: 0;
            top: 10px;
        }
        .changepassword-content{
            padding: 30px 20px;
        }
        .signup-main{
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
            .pizza-btn{
                width: 100%;
            }
        }
    }
    @include breakpoint(xxxs) {
    }
}