<div class="changepassword-popup">
    <div class="changepassword-overlay"></div>
    <div class="changepassword-wrapper changepassword-popup-transition">
      <div class="changepassword-header">
        <!-- <button class="changepassword-close"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button> -->
        <div class="user-icon">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
        </div>
        <div class="pizzalgheading">Change Password</div>
        <div style="text-align: center; font-size: 15px;margin-top: 10px;" [ngStyle]="{'color':changepassRes==true ? 'green' : 'red' }">{{changepassMessage}}</div>
      </div>

      <div class="changepassword-body">
        <div class="changepassword-content">
            <div class="signup-main">
                <form [formGroup]='changePassword' (ngSubmit)="updatePassword(changePassword)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-top">
                                    New Password <span class="asterisk">*</span>
                                    <span style="display: inline-block; margin-left: 10px;" *ngIf="f['newPassword'].touched && f['newPassword'].invalid" class="loginerrormsg">
                                        <span *ngIf="f['newPassword'].errors && f['newPassword'].errors['required']">
                                            Missing
                                          </span>
                                          <!-- <span *ngIf="f['newPassword'].errors && f['newPassword'].errors['minlength']">
                                            Invalid
                                          </span> -->
                                    </span>
                                </label>
                                <input [type]="show == 2 ? 'text' : 'password'"   class="form-control" formControlName="newPassword">
                                
                                <div class="form-row-right">
                                    <input type="checkbox" class="radio" id="showpassword2" (change)="showPassword($event, 2)">
                                    <label>Show Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-top">
                                    Confirm Password <span class="asterisk">*</span>
                                    <span style="display: inline-block; margin-left: 10px;" *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid" class="loginerrormsg">
                                        <span *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">
                                            Missing
                                          </span>
                                          <span *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['minlength']">
                                            Invalid
                                          </span>
    
                                        </span>
                                </label>
                                <input [type]="show == 3 ? 'text' : 'password'"   class="form-control" formControlName="confirmPassword">
                                

                                <div class="form-row-right">
                                    <input type="checkbox" class="radio" id="showpassword3" (change)="showPassword($event, 3)">
                                    <label>Show Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="color: red; margin-bottom: 20px;">
                            <small style="display: block;" *ngIf="f['newPassword'].errors && f['newPassword'].errors['pattern'] || f['newPassword'].errors && f['newPassword'].errors['pattern']">
                                Password should be in minimum 7 length characters and should contain at least one letter, one number and one special character.
                            </small>
                        </div>
                        <div class="col-md-12" style="color: red; margin-bottom: 20px;" *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['confirmPasswordValidator']">
                            Password and Confirm Password didn't match.
                          </div>
                        <div class="col-md-12">
                            <div class="form-row align-items-center text-center">
                                <div class="form-row-btn">
                                   
                                    <!-- <input [disabled]="!changePassword.valid" type="submit" class="pizza-btn" value="Reset"> -->
                                    <button [disabled]="!changePassword.valid" class="pizza-btn" type="submit">Reset  <i *ngIf="resetpassLoader" class="fa fa-spinner fa-spin" style="color: white;"  aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>
