<app-web-loader *ngIf="!isloader"></app-web-loader>
<div class="order-list-wraper" *ngIf="wholePage">
  <div class="container">
    <div class="account-top">
      <div class="signin-top">
        <a class="back-btn" href="javascript:history.back()">Back</a>
      </div>
      <h1 class="pizzalgheading" style="text-align: center;">Order History</h1>
  </div>
    <div class="order-list-inner-wraper">
      <div class="oder-list-p-flex" *ngFor="let orderitem of orderData; let i = index">
        <!-- <div class="left-bx-list">
          <div class="pruct-list-name">
            <p class="pizzaxxsheading">CYO 12INCH CAULIFLOWER CRUST  PIZZA (CHEESE)</p>
          </div>
        </div>
        <div class="center-list-bx">
          <div class="center-bx-flex">
            <p class="pizzaxxsheading"> 1x 12INCH CAULIFLOWER CRUST PIZZA (CHEESE)</p>
            <div class="more-order">+4</div>
          </div>
        </div>
        <div class="right-list-bx">
          <button type="button">Deliverd</button>
          <a href="#">View menu</a>
        </div> -->
        <div>
          <span class="listorderid">Order ID: {{orderitem.order_id}}</span>
        </div>
        <div class="itemCount">
          <p>{{orderitem.order_details.length}} {{orderitem.order_details.length>1?"items":"item"}}</p>
        </div>
        <div class="productspacing">
          <span class="lascomman" *ngFor="let details of orderitem.order_details">{{details.product_name}}(x{{details.quantity}})<span>, </span> </span>
        </div>
        <hr>
        <div class="orderDetails">
          <div>
            <p>Order Placed on {{orderitem.created_at| date}}</p>
           <p> Amount: ${{orderitem.amount_to_be_paid}} </p>
           <p> Order Status :<span *ngIf="orderitem.payment_status !='TXN_SUCCESS' && orderitem.payment_method =='Online Pay'" style="color: red;"> Incomplete</span>
            
            <span *ngIf="orderitem.payment_method =='Pay at Restaurant' || (orderitem.payment_status =='TXN_SUCCESS' && orderitem.payment_method =='Online Pay')">

              <span *ngIf="orderitem.accepted == 0 && orderitem.rejected == 0 && orderitem.cancelled == 0 && orderitem.delivered == 0">Pending</span>
            <span *ngIf="orderitem.accepted == 1 && orderitem.delivered == 0 && orderitem.settled == 0">Accepted</span>
            <span *ngIf="orderitem.rejected == 1">Rejected</span>
            <span *ngIf="orderitem.cancelled == 1">Cancelled</span>
            <span *ngIf="orderitem.settled == 1 && orderitem.delivered == 0">Ready for Pick up</span>
            <span *ngIf="orderitem.delivered == 1 && orderitem.settled == 1">Delivered</span>
            <span *ngIf="orderitem.delivered == 1 && orderitem.settled == 0">Delivered</span>
            </span>
          
          </p>
           <p> Payment Status - <span style="color: green;" *ngIf="orderitem.payment_status !='TXN_SUCCESS' && orderitem.payment_method =='Pay at Restaurant'">Pay at Restaurant</span><span style="color: green;" *ngIf="orderitem.payment_status =='TXN_SUCCESS' && orderitem.payment_method =='Online Pay'">Success</span><span style="color: red;" *ngIf="orderitem.payment_status !='TXN_SUCCESS' && orderitem.payment_method =='Online Pay'">Failed</span></p>
          </div>
          <div>
            <a routerLink="/order/order-history/{{orderitem.order_id}}/{{orderitem.user_id}}">View Detail</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
