@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";
.lascomman:last-child span{
  display: none;
}
.productspacing{
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}
.order-list-wraper{
  padding: 60px 0px;
  .container{
    max-width: 90%;
  }
  .order-list-inner-wraper{
    grid-template-columns: repeat(2,1fr);
    display: grid;
    .oder-list-p-flex{
    //   display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    margin: 20px 15px;
    box-shadow: 1px 1px 10px #ebebeb;
    padding: 20px;
    border: 1px solid #fafafa;
    margin: 20px 15px;
    &:last-child{
      margin-bottom: 0px;
    }
    .listorderid{
      background: #ddd;
      padding: 8px;
      border-radius: 5px;
      font-size: 15px;
    }
    .itemCount{
      margin: 20px 0;
    font-size: 16px;
    }
    .orderDetails{
      display: flex;
      justify-content: space-between;
      align-items: center;
      a{
        color: $orange;
        border-bottom: 1px solid $orange;
        &:hover{
          color: $brown;
          border-bottom: 1px solid $brown;
        }
      }
    }
      .left-bx-list{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .prduct-list-img{
          width: 100px;
          img{
            width: 100%;
            height: auto;
          }
        }

        .pruct-list-name{
          padding-left: 15px;
          padding-right: 15px;
          width: calc(100% - 100px);
        }
      }
    }
    .center-list-bx{
      width: 40%;
      .center-bx-flex{
        display: flex;
        align-items: center;
        .more-order{
          width: 40px;
          height: 40px;
          background: #e3e3e3;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 30px;
          font-weight: 600;
        }
        .pizzaxxsheading{
          padding-right: 15px;
          max-width: calc(100% - 40px);
        }
      }

    }
    .right-list-bx{
      width: 20%;
      text-align: right;
      button{
        border: none;
        background: #f2f2f2;
        padding: 8px 15px;
        border-radius: 5px;
        margin-right: 15px;
        font-weight: 500;
        cursor: auto;
      }
      
    }
  }
  @include breakpoint(md){
    .container{
      max-width: 100%;
    }
  }
  @include breakpoint(xs){
    .container{
      max-width: 100%;
      .oder-list-p-flex{
        .left-bx-list{
          width: 100%;
          .prduct-list-img{
            width: 75px;
          }
          .pruct-list-name{
            width: calc(100% - 40px);
          }
        }
      }
      .center-list-bx{
        width: 100%;
        margin-top: 15px;
      }
      .right-list-bx{
        width: 100%;
        text-align: left;
        margin-top: 20px;
      }
    }
    .order-list-inner-wraper{
      grid-template-columns: 1fr;
    }
  }
}
