
<app-side-header></app-side-header>

<div class="inner-main" >

  <section>
    <div class="banner-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="assets/images/investors/corporate-profile/Investors_FinancialReports-mob.jpg">
        <source media="(min-width: 768px)" srcset="assets/images/investors/corporate-profile/Investors_FinancialReports.jpg">
        <img src="assets/images/investors/corporate-profile/Investors_FinancialReports.jpg" alt="banner-dividend">
      </picture>
      <div class="banner-content-q">
          <h1 class="pizzaxlheading">Here, you can view or download our most recent financial reports.</h1>
        </div>
    </div>
  </section>

  <section class="padding-section dividind">
    <div class="nutration-tab-wraper">
      <div class="nutrion-tab">
        <ul class="tab-wraper-list">
            <li *ngFor="let financialreportsList of financialreportsLists">
              <a class="pizzaxsheading active" (click)="openMenuList(financialreportsList)" [ngClass]="{'active':financialreportsselectedList===financialreportsList}" href="javascript:void(0);">
                  {{financialreportsList}}
              </a>
             </li>
        </ul>
      </div>

    <div class="tab-content">
        <div class="tab-content-inner" *ngIf="financialreportsselectedList === '2022'">
          <div class="heading-box">
            <h2 class="pizzaxlheading">Q1 QUARTERLY REPORT</h2>
            <div class="pizzaxxsheading">PIZZA PIZZA ROYALTY CORP</div>
          </div>

          <div class="report-wraper">
            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>
            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="heading-box">
              <div class="pizzaxxsheading">PIZZA PIZZA</div>
            </div>

            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

          </div>
        </div>

        <div class="tab-content-inner" *ngIf="financialreportsselectedList === '2021'">
          <div class="heading-box">
            <h2 class="pizzaxlheading">Q1 QUARTERLY REPORT</h2>
            <div class="pizzaxxsheading">PIZZA PIZZA ROYALTY CORP</div>
          </div>

          <div class="report-wraper">
            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>
            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="heading-box">
              <div class="pizzaxxsheading">PIZZA PIZZA</div>
            </div>

            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

          </div>
        </div>
        <div class="tab-content-inner" *ngIf="financialreportsselectedList === '2020'">
          <div class="heading-box">
            <h2 class="pizzaxlheading">Q1 QUARTERLY REPORT</h2>
            <div class="pizzaxxsheading">PIZZA PIZZA ROYALTY CORP</div>
          </div>

          <div class="report-wraper">
            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>
            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="heading-box">
              <div class="pizzaxxsheading">PIZZA PIZZA</div>
            </div>

            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

          </div>
        </div>
        <div class="tab-content-inner" *ngIf="financialreportsselectedList === '2019'">
          <div class="heading-box">
            <h2 class="pizzaxlheading">Q1 QUARTERLY REPORT</h2>
            <div class="pizzaxxsheading">PIZZA PIZZA ROYALTY CORP</div>
          </div>

          <div class="report-wraper">
            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>
            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="heading-box">
              <div class="pizzaxxsheading">PIZZA PIZZA</div>
            </div>

            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

          </div>
        </div>
        <div class="tab-content-inner" *ngIf="financialreportsselectedList === '2018'">
          <div class="heading-box">
            <h2 class="pizzaxlheading">Q1 QUARTERLY REPORT</h2>
            <div class="pizzaxxsheading">PIZZA PIZZA ROYALTY CORP</div>
          </div>

          <div class="report-wraper">
            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>
            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="heading-box">
              <div class="pizzaxxsheading">PIZZA PIZZA</div>
            </div>

            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

          </div>
        </div>
        <div class="tab-content-inner" *ngIf="financialreportsselectedList === '2017'">
          <div class="heading-box">
            <h2 class="pizzaxlheading">Q1 QUARTERLY REPORT</h2>
            <div class="pizzaxxsheading">PIZZA PIZZA ROYALTY CORP</div>
          </div>

          <div class="report-wraper">
            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>
            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="heading-box">
              <div class="pizzaxxsheading">PIZZA PIZZA</div>
            </div>

            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

          </div>
        </div>
        <div class="tab-content-inner" *ngIf="financialreportsselectedList === '2016'">
          <div class="heading-box">
            <h2 class="pizzaxlheading">Q1 QUARTERLY REPORT</h2>
            <div class="pizzaxxsheading">PIZZA PIZZA ROYALTY CORP</div>
          </div>

          <div class="report-wraper">
            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>
            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="heading-box">
              <div class="pizzaxxsheading">PIZZA PIZZA</div>
            </div>

            <div class="report-list">
              <div class="list-name">Q1 Financial Statements <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

            <div class="report-list">
              <div class="list-name">MD & A Report <a href="#" class="fa fa-eye" aria-hidden="true"></a></div>
              <div class="dowenload-report"><a href="#" class="fa fa-download" aria-hidden="true"></a></div>
            </div>

          </div>
        </div>



    </div>
    </div>
  </section>


</div>










