@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";
p{
  color: $innercontent;
}
.heading-box {
  text-align: center;
  .pizzaxlheading{
    color: $innerfont;
    margin-bottom: 15px;
  }
  .pizzaxxsheading{
    font-family: $proximablack;
    color: $orangefont;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:after{
      content: "";
    position: absolute;
    width: 52px;
    height: 1px;
    background: $orange;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    }
  }
  .pizzasmheading{
    line-height: 30px;
  }
}

.banner-wrapper{
  position: relative;
  img{
    display: block;
    width: 100%;
  }
  .banner-content-q{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    color: $white;
    z-index: 1;
    .pizzaxlheading{
      margin-bottom: 30px;
      padding-bottom: 15px;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        width: 52px;
        height: 1px;
        background: $orange;
        bottom: -14px;
        left: 50%;
        transform: translate(-50%, 0px);
      }

    }
    .pizzalgheading{
      position: relative;
      margin: 0px 0px 27px 0px;
      font-size: 14px;
      padding: 0px 20px 0px 20px;
      color: $orangefont;
      font-family: $proximablack;
      &:after{
        content: "";
        position: absolute;
        width: 52px;
        height: 1px;
        background: $orange;
        bottom: -14px;
        left: 50%;
        transform: translate(-50%, 0px);
      }
    }
    .pizzamdheading{
      color: $white;
      margin-bottom: 15px;
      line-height: 30px;
      padding: 0px 20px;
      font-weight: 600;
      &:last-child{
        margin-bottom: 0px;
      }
    }
    @include breakpoint(xs){
      .pizzalgheading{
        line-height: 30px;
      }
    }
  }

  &:after{
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: $black;
    opacity: 0.4;
  }
}

.line-heading{
  color: $orangefont;
  margin-bottom: 30px;
  font-family: $proximablack;
  text-transform: uppercase;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    width: 48px;
    height: 1px;
    background: $orange;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0px);
  }
}

.heading-box-inner{
  .pizzaxxsheading{
    font-family: $proximablack;
    color: $innerfont;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
    &:after{
      content: "";
    position: absolute;
    width: 52px;
    height: 1px;
    background: $orange;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    }
  }
}

.padding-section{
  padding: 70px 70px;
  @include breakpoint(xs){
     padding: 30px 15px;
    }
}
.padding-top{
 padding-top: 40px;
}



.inner-main{
  padding-left: 250px;
  .container{
    padding: 0 60px;
  }
  @include breakpoint(sm){
    padding: 0px;
    display: block;
  }
}

.dividind{
  width: 70%;
  margin: 0px auto;
  .nutration-tab-wraper{
    padding: 0px;
  }
  .tab-wraper-list{
    text-align: center;
    border-bottom: 1px solid #dedede;
    margin-bottom: 60px;
   li{
     display: inline-block;
     a{
       padding: 10px 15px 20px 15px;
       color: $innercontent;
       &:hover{
         opacity: 0.8;
       }
     }
     .active{
      border-bottom: 3px solid $orangeborder;
     }
   }
   @include breakpoint(xs){
     margin-bottom: 20px;
     a{
       padding: 10px 15px 15px 15px;
     }
   }
  }

  .tabel-dividend{
    .tabel-dividend-wraper{
       border: 1px solid $grayborder;
      ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        &:nth-of-type(odd){
          background: $graybg;
        }
        &:nth-of-type(even){
          background: $white;
        }
        li{
          display: block;
          width: 50%;
          padding: 14px 10px;
          border-bottom: 1px solid $grayborder;
          border-right: 1px solid $grayborder;
          &:last-child{
            border-right: none;
          }
          p{
            font-size: 14px;
          }
        }
        &:first-child{
          li{
            p{
              font-weight: bold;
              color: $innerfont;
            }
          }
        }
        &:last-child{
          li{
            border-bottom: none;
          }
        }
      }
    }
    @include breakpoint(xs){
      width: 100%;
      overflow-y: scroll;
      border: 1px solid $grayborder;
      .tabel-dividend-wraper{
        width: 520px;
        border: none;
      }
    }
  }
  @include breakpoint(md){
    width: 95%;
  }
  @include breakpoint(xs){
    width: 100%;
  }
}






