
<app-side-header></app-side-header>

<div class="inner-main" >
  <section>
    <div class="banner-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="assets/images/investors/corporate-profile/Investors_DividendHeader-mob.jpg">
        <source media="(min-width: 768px)" srcset="assets/images/investors/corporate-profile/Investors_DividendHeader.jpg">
        <img src="assets/images/investors/corporate-profile/Investors_DividendHeader.jpg" alt="banner-dividend">
      </picture>
      <div class="banner-content-q">
          <h1 class="pizzaxlheading">DIVIDEND-MONTHLY</h1>
          <p class="pizzamdheading">The Pizza Pizza Royalty Corp. (“PPRC”) declares a monthly dividend to shareholders of record as of the month’s end and issues the dividend on the 15th day of the following month. The current monthly dividend is set at $0.06 per share or $0.72 annually. The dividend increase reflects the strong quarterly results, positive same store sales growth, and growth in the working capital reserve.</p>
        </div>
    </div>
  </section>

  <section class="padding-section dividind">
    <div class="nutration-tab-wraper">
      <div class="nutrion-tab">
        <ul class="tab-wraper-list">
            <li *ngFor="let dividendList of dividendLists">
              <a class="pizzaxsheading active" (click)="openMenuList(dividendList)" [ngClass]="{'active':dividendselectedList===dividendList}" href="javascript:void(0);">
                  {{dividendList}}
              </a>
             </li>
        </ul>
      </div>

    <div class="tab-content">
        <div class="tab-content-inner" *ngIf="dividendselectedList === '2022'">
          <div class="tabel-dividend">
            <div class="tabel-dividend-wraper">
              <ul>
                <li><p>Period</p></li>
                <li><p>Payment Date</p></li>
                <li><p>Amount Unit</p></li>
              </ul>
              <ul>
                <li><p>January 1-31, 2022</p></li>
                <li><p>February 15, 2022</p></li>
                <li><p>6.00¢</p></li>
              </ul>
              <ul>
                <li><p>February 1-28, 2022</p></li>
                <li><p>March 15, 2022</p></li>
                <li><p> 6.50¢</p></li>
              </ul>
              <ul>
                <li><p>March 1-31, 2022</p></li>
                <li><p>April 14, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>April 1-30, 2022</p></li>
                <li><p>May 13, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>May 1-31, 2022</p></li>
                <li><p>June 15, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>June 1-30, 2022</p></li>
                <li><p>July 15, 2022</p></li>
                <li><p>6.75¢</p></li>
              </ul>
            </div>
          </div>
        </div>


        <div class="tab-content-inner" *ngIf="dividendselectedList === '2021'">
          <div class="tabel-dividend">
            <div class="tabel-dividend-wraper">
              <ul>
                <li><p>Period</p></li>
                <li><p>Payment Date</p></li>
                <li><p>Amount Unit</p></li>
              </ul>
              <ul>
                <li><p>January 1-31, 2022</p></li>
                <li><p>February 15, 2022</p></li>
                <li><p>6.00¢</p></li>
              </ul>
              <ul>
                <li><p>February 1-28, 2022</p></li>
                <li><p>March 15, 2022</p></li>
                <li><p> 6.50¢</p></li>
              </ul>
              <ul>
                <li> <p>March 1-31, 2022</p></li>
                <li><p>April 14, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>April 1-30, 2022</p></li>
                <li><p>May 13, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>May 1-31, 2022</p></li>
                <li><p>June 15, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>June 1-30, 2022</p></li>
                <li><p>July 15, 2022</p></li>
                <li><p>6.75¢</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content-inner" *ngIf="dividendselectedList === '2020'">
          <div class="tabel-dividend">
            <div class="tabel-dividend-wraper">
              <ul>
                <li><p>Period</p></li>
                <li><p>Payment Date</p></li>
                <li><p>Amount Unit</p></li>
              </ul>
              <ul>
                <li><p>January 1-31, 2022</p></li>
                <li><p>February 15, 2022</p></li>
                <li><p>6.00¢</p></li>
              </ul>
              <ul>
                <li><p>February 1-28, 2022</p></li>
                <li><p>March 15, 2022</p></li>
                <li><p> 6.50¢</p></li>
              </ul>
              <ul>
                <li><p>March 1-31, 2022</p></li>
                <li><p>April 14, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>April 1-30, 2022</p></li>
                <li><p>May 13, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>May 1-31, 2022</p></li>
                <li><p>June 15, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>June 1-30, 2022</p></li>
                <li><p>July 15, 2022</p></li>
                <li><p>6.75¢</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content-inner" *ngIf="dividendselectedList === '2019'">
          <div class="tabel-dividend">
            <div class="tabel-dividend-wraper">
              <ul>
                <li><p>Period</p></li>
                <li><p>Payment Date</p></li>
                <li><p>Amount Unit</p></li>
              </ul>
              <ul>
                <li><p>January 1-31, 2022</p></li>
                <li><p>February 15, 2022</p></li>
                <li><p>6.00¢</p></li>
              </ul>
              <ul>
                <li><p>February 1-28, 2022</p></li>
                <li><p>March 15, 2022</p></li>
                <li><p> 6.50¢</p></li>
              </ul>
              <ul>
                <li><p>March 1-31, 2022</p></li>
                <li><p>April 14, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>April 1-30, 2022</p></li>
                <li><p>May 13, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>May 1-31, 2022</p></li>
                <li><p>June 15, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>June 1-30, 2022</p></li>
                <li><p>July 15, 2022</p></li>
                <li><p>6.75¢</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content-inner" *ngIf="dividendselectedList === '2018'">
          <div class="tabel-dividend">
            <div class="tabel-dividend-wraper">
              <ul>
                <li><p>Period</p></li>
                <li><p>Payment Date</p></li>
                <li><p>Amount Unit</p></li>
              </ul>
              <ul>
                <li><p>January 1-31, 2022</p></li>
                <li><p>February 15, 2022</p></li>
                <li><p>6.00¢</p></li>
              </ul>
              <ul>
                <li><p>February 1-28, 2022</p></li>
                <li><p>March 15, 2022</p></li>
                <li><p> 6.50¢</p></li>
              </ul>
              <ul>
                <li><p>March 1-31, 2022</p></li>
                <li><p>April 14, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>April 1-30, 2022</p></li>
                <li><p>May 13, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>May 1-31, 2022</p></li>
                <li><p>June 15, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>June 1-30, 2022</p></li>
                <li><p>July 15, 2022</p></li>
                <li><p>6.75¢</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content-inner" *ngIf="dividendselectedList === '2017'">
          <div class="tabel-dividend">
            <div class="tabel-dividend-wraper">
              <ul>
                <li><p>Period</p></li>
                <li><p>Payment Date</p></li>
                <li><p>Amount Unit</p></li>
              </ul>
              <ul>
                <li><p>January 1-31, 2022</p></li>
                <li><p>February 15, 2022</p></li>
                <li><p>6.00¢</p></li>
              </ul>
              <ul>
                <li><p>February 1-28, 2022</p></li>
                <li><p>March 15, 2022</p></li>
                <li><p> 6.50¢</p></li>
              </ul>
              <ul>
                <li><p>March 1-31, 2022</p></li>
                <li><p>April 14, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>April 1-30, 2022</p></li>
                <li><p>May 13, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>May 1-31, 2022</p></li>
                <li><p>June 15, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>June 1-30, 2022</p></li>
                <li><p>July 15, 2022</p></li>
                <li><p>6.75¢</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content-inner" *ngIf="dividendselectedList === '2016'">
          <div class="tabel-dividend">
            <div class="tabel-dividend-wraper">
              <ul>
                <li><p>Period</p></li>
                <li><p>Payment Date</p></li>
                <li><p>Amount Unit</p></li>
              </ul>
              <ul>
                <li><p>January 1-31, 2022</p></li>
                <li><p>February 15, 2022</p></li>
                <li><p>6.00¢</p></li>
              </ul>
              <ul>
                <li><p>February 1-28, 2022</p></li>
                <li><p>March 15, 2022</p></li>
                <li><p> 6.50¢</p></li>
              </ul>
              <ul>
                <li><p>March 1-31, 2022</p></li>
                <li><p>April 14, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>April 1-30, 2022</p></li>
                <li><p>May 13, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>May 1-31, 2022</p></li>
                <li><p>June 15, 2022</p></li>
                <li><p>6.50¢</p></li>
              </ul>
              <ul>
                <li><p>June 1-30, 2022</p></li>
                <li><p>July 15, 2022</p></li>
                <li><p>6.75¢</p></li>
              </ul>
            </div>
          </div>
        </div>



    </div>
    </div>
  </section>


</div>









