<app-web-loader *ngIf="!isloader"></app-web-loader>

<main class="order-history-page" *ngIf="wholepage">
  <div class="container">
    <div class="account-top">
      <!-- <div class="signin-top">
          <a class="back-btn" href="javascript:history.back()">Back</a>
      </div> -->
  </div>
  </div>
  <div class="ring-wraper">
    <span  class="ring-left">
      <img  src="assets/images/ring.png" alt="ring">
    </span>
  </div>
  <!-- <div class="help">
    <div class="container">
      <a  href="#" class="help-btn">
        <img src="assets/images/icons/help-icon.png" alt="help-icon">
      </a>
    </div>
  </div> -->
   <div class="container">
     <div class="order-history-wraper">
       <div class="heading-top">
        <!-- <h1 class="pizzalgheading">Your expected delivery time:</h1> -->
        <h2 class="pizzaxsheading">Your Order ID is {{orderId}}</h2>
        <h2 class="pizzaxsheading">Your Order status is <span *ngIf="orderData.payment_status !='TXN_SUCCESS' && orderData.payment_method =='Online Pay'" style="color: red;"> Incomplete</span> <span *ngIf="orderData.payment_method =='Pay at Restaurant' || (orderData.payment_status =='TXN_SUCCESS' && orderData.payment_method =='Online Pay')" [ngStyle]="{'color':statusOrder == 'Cancelled'?'red':'black'}"> {{statusOrder}}</span></h2>
        <p>Store Name - {{orderData.store_name}}</p>
        <p>Store Address - {{orderData.store_address}}</p>
        <p>Payment Status - <span style="color: green;" *ngIf="orderData.payment_status !='TXN_SUCCESS' && orderData.payment_method =='Pay at Restaurant'">Pay at Restaurant</span><span style="color: green;" *ngIf="orderData.payment_status =='TXN_SUCCESS' && orderData.payment_method =='Online Pay'">Success</span><span style="color: red;" *ngIf="orderData.payment_status !='TXN_SUCCESS' && orderData.payment_method =='Online Pay'">Failed</span></p>
        <a class="neworder" (click)="neworder()">Order More</a>
        <span *ngIf="orderData.payment_status =='TXN_SUCCESS' && orderData.payment_method =='Online Pay' || orderData.payment_status !='TXN_SUCCESS' && orderData.payment_method =='Pay at Restaurant'">
          <span class="cancelorderbtn" *ngIf="cancelHide "><button (click)="cancelOrderFunction(orderId)">Cancel Order</button></span>
        </span>
        
       </div>

       <div class="row">
        <div class="col-md-8 col-lg-9">
          <div class="order-list-wraper">
             <!-- <div class="list-order">
                <div class="order-bx-flex">
                  <div class="order-img">
                    <div class="order-image-bx">
                      <img src="assets/images/order-history/order-img.png" class="order image">
                    </div>
                  </div>
                  <div class="order-right">
                     <ul class="head-list">
                        <li>Quantity</li>
                        <li>Item Total</li>
                     </ul>
                     <ul class="list-p-q">
                        <li>1</li>
                        <li>$36.16</li>
                    </ul>
                  </div>
                </div>
                <div class="content-order">
                   <h3 class="pizzamdheading">1st Large</h3>
                   <p>Regular Dough, Extra Cheese (extra charge) (Right), Mozzarella Cheese,
                    HOME STYLE ITALIAN TOMATO SAUCE, Green Olives (Left),
                    Roma tomatoes (Left),</p>
                    <h3 class="pizzamdheading">2nd Large Pizza</h3>
                   <p>Regular Dough, Mozzarella Cheese, Bacon Strips (extra charge) (Right),
                    Six Cheese Blend topping (extra charge), Chicken Shawarma(extra
                    charge) (Left), HOME STYLE ITALIAN TOMATO SAUCE, Donair
                    (extra charge) (Left), Ground Beef (Right),</p>
                    <h3 class="pizzamdheading">4 Pop</h3>
                   <p>Diet Coke, Nestea (X2), Sprite,</p>
                    <h3 class="pizzamdheading">DIPPING SAUCE</h3>
                   <p>Cheddar Jalapeno, Creamy Garlic (X2), Peppercorn Ranch (X2)</p>
                </div>
             </div> -->

             <div class="list-order" *ngFor="let orderDetail of orderDetails; let i = index;">
              <div class="order-bx-flex">
                <div class="order-img">
                  <div class="order-image-bx">
                    <img src="{{orderDetail.full_details.productDetail.itemImage_png == null?'assets/images/product/pizza.png':orderDetail.full_details.productDetail.itemImage_png}}" class="order image">
                  </div>
                </div>
                <div class="order-right">
                   <ul class="head-list">
                      <li>Quantity</li>
                      <li>Item Total</li>
                   </ul>
                   <ul class="list-p-q">
                      <li>{{orderDetail.full_details.quantity}}</li>
                      <li>${{orderDetail.full_details.rate}}</li>
                  </ul>
                </div>
              </div>
              <div class="content-order notranslate">
                 <h3 class="pizzamdheading">{{orderDetail.product_name}}</h3>
                 <p>
                  <span *ngFor="let pizzaIngrediants of orderDetail.full_details.pizzaIngrediants">{{pizzaIngrediants}}, </span>
                  <!-- <span *ngFor="let entities of orderDetail.full_details.entity">
                    <span *ngFor="let categorys of entities.category">
                        <span  *ngFor="let catItems of categorys.items">{{catItems.name}}{{catItems.quantity == 1?"":"(X"+catItems.quantity+")"}}, </span>
                    </span>
                  </span> -->
                 </p>
              </div>
           </div>

           <!-- <div class="list-order">
            <div class="order-bx-flex">
              <div class="order-img">
                <div class="order-image-bx">
                  <img src="assets/images/order-history/order-img.png" class="order image">
                </div>
              </div>
              <div class="order-right">
                 <ul class="head-list">
                    <li>Quantity</li>
                    <li>Item Total</li>
                 </ul>
                 <ul class="list-p-q">
                    <li>2</li>
                    <li>$21.59</li>
                </ul>
              </div>
            </div>
            <div class="content-order">
               <h3 class="pizzamdheading">POPCORN CHICKEN</h3>
               <p>Classic Wings, Tossed and Sauced Texas BBQ </p>
            </div>

            <div class="order-bx-flex">
              <div class="order-img">
                <div class="order-image-bx">
                  <img src="assets/images/order-history/order-img.png" class="order image">
                </div>
              </div>
              <div class="order-right">
                 <ul class="head-list">
                    <li>Quantity</li>
                    <li>Item Total</li>
                 </ul>
                 <ul class="list-p-q">
                    <li>1</li>
                    <li>$11.49</li>
                </ul>
              </div>
            </div>
            <div class="content-order">
               <h3 class="pizzamdheading">10 PC. PLANTBASED CHICK’N BITES</h3>
               <p>Buffalo Sauce</p>
            </div>
         </div> -->

         <!-- <div class="list-order">
          <div class="order-bx-flex">
            <div class="order-img">
              <div class="order-image-bx">
                <img src="assets/images/order-history/order-img.png" class="order image">
              </div>
            </div>
            <div class="order-right">
               <ul class="head-list">
                  <li>Quantity</li>
                  <li>Item Total</li>
               </ul>
               <ul class="list-p-q">
                  <li>1</li>
                  <li>$6.29</li>
              </ul>
            </div>
          </div>
          <div class="content-order">
             <h3 class="pizzamdheading">DEEP FRIED PICKLES</h3>
          </div>
        </div>

        <div class="list-order">
          <div class="order-bx-flex">
            <div class="order-img">
              <div class="order-image-bx">
                <img src="assets/images/order-history/order-img.png" class="order image">
              </div>
            </div>
            <div class="order-right">
               <ul class="head-list">
                  <li>Quantity</li>
                  <li>Item Total</li>
               </ul>
               <ul class="list-p-q">
                  <li>1</li>
                  <li>$5.49</li>
              </ul>
            </div>
          </div>
          <div class="content-order">
             <h3 class="pizzamdheading">HALF MOON CHEESY BREAD</h3>
          </div>
        </div> -->
          </div>
        </div>

        <div class="col-md-4 col-lg-3">
           <div class="summery-wraper">
              <h2 class="pizzalgheading">Order Summary</h2>
              <ul class="summery-list">
                <li>Sub total:</li>
                <li>${{orderData.total_order_amount}}</li>
              </ul>
              <!-- <ul class="summery-list">
                <li>Tips:</li>
                <li>$6.00</li>
              </ul>
              <ul class="summery-list">
                <li>Delivery Charge:</li>
                <li>$3.75</li>
              </ul>
              <ul class="summery-list">
                <li>Discount</li>
                <li>$-19.94</li>
              </ul> -->
              <!-- <ul class="summery-list">
                <li>taxes (IVA @16)</li>
                <li>${{orderData.tax_amount}}</li>
              </ul> -->
              <!-- <ul class="summery-list">
                <li>PST</li>
                <li>${{pst}}</li>
              </ul> -->
              <ul class="summery-list">
                <li>Total</li>
                <li>${{orderData.amount_to_be_paid
                }}</li>
              </ul>
           </div>
        </div>
      </div>

     </div>
   </div>
</main>



<div class="find-popup4">
  <div class="find-overlay" id="findpopup"></div>
  <div class="find-wrapper find-transition delite-popup-wraper">
      <div class="find-header">
          <button class="find-close" (click)="doughpopupClose()"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button>
          <div class="user-icon">
            <i class="fa fa-bell" aria-hidden="true"></i>
          </div>
          <div class="pizzalgheading">Are you Sure?</div>
      </div>
    <div class="find-body">
      <div class="find-content">
          <button class="btn-delete-yes" (click)="doughpopupClose()">No</button>
          <button class="btn-delete-yes" (click)="cancelpopup(orderId)">
            Yes
            <i *ngIf="loader" class="fa fa-spinner fa-spin" style="color:#fff" aria-hidden="true"></i>
          </button>
      </div>
    </div>
  </div>
</div>