
@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";
.order-history-page{
  margin-top: 20px;
}
.cancelorderbtn{
  float: right;
}
.neworder{
 cursor: pointer;
 color: #fb5000;;
}
.cancelorderbtn button{
border: 0;
color: $orange;
background: none;
}
.ring-wraper{
  overflow: hidden;
  .ring-left{
    position: fixed;
    left: -325px;
    width: 360px;
    margin: auto;
    top: 10%;
    bottom: 0;
    transform: translate(0, 25%);
    @include breakpoint(xs){
      display: none;
    }
  }
}
.help{
  padding: 20px 0px 10px 0px;
  .container {
    display: flex;
    justify-content: flex-end;
    .help-btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 10px;
      background: #EE5A0D;
      text-decoration: none;
      text-align: center;
    }
  }
}
.order-history-wraper{
  padding-bottom: 60px;
  .heading-top{
    padding-bottom: 40px;
    .pizzalgheading{
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $brownfont;
    }
    .pizzaxsheading{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      color: $brownfont;
      margin-top: 15px;
    }
  }

  .order-list-wraper{
    background: $darkgraybg;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 98%;
    .list-order{
      padding: 30px 30px 0px 30px;
      border-bottom: 1px solid $deepgray;
      &:last-child{
        border-bottom: none;
      }
      .order-bx-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        .order-img{
          width: 30%;
          background-image: linear-gradient(to top, #e3d2c4 , #fcfbf9);
          border-radius: 10px;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
          overflow: hidden;
          .order-image-bx{
            text-align: center;
            img{
              max-width: 80%;
            }
          }
        }
        .order-right{
          width: 70%;
          padding: 0px 50px;
          .head-list{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 100px;
            li{
              width: 50%;
              font-size: 18px;
              color: $brownfont;
              text-align: center;
              &:last-child{
                text-align: center;
              }
            }
          }

          .list-p-q{
            display: flex;
            width: 100%;
            justify-content: space-between;
            li{
              width: 50%;
              color: $brownfont;
              font-size: 18px;
              font-weight: bold;
              text-align: center;
              &:last-child{
                text-align: center;
              }
            }
          }
        }
      }
      .content-order{
        width: 85%;
        .pizzamdheading{
          margin-bottom: 10px;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: $brownfont;
          padding-bottom: 22px;
          margin-bottom: 0px;
          font-weight: bold;
          font-size: 26px;
        }
        p{
          color: $brownfont;
          padding-bottom: 25px;
        }
      }
    }
  }
  .summery-wraper{
    background: $darkgraybg;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: sticky;
    top: 20px;
    .pizzalgheading{
      font-weight: bold;
      border-bottom: 1px solid #c3c3c3;
      margin-bottom: 0px;
      text-align: center;
      padding: 16px 10px;
      font-weight: bold;
      font-size: 28px;
      font-family: $proximablack;
      color: $brownfont;
    }
    .summery-list{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #dbdbdb;
      li{
        width: 70%;
        padding: 12px 15px;
        font-size: 15px;
        letter-spacing: 1px;
        color: $brownfont;
        &:last-child{
          width: 30%;
          font-size: 16px;
          text-align: right;
          font-weight: bold;
          font-family: $proximablack;
        }
      }
      &:last-child{
        background: $orange;
        border-bottom: none;
        li{
          color: $white;
          padding: 16px 15px;
          &:first-child{
            width: 70px;
          }
          &:last-child{
            width: calc(100% - 70px);
          }
        }
      }

    }
  }


  
  
  @include breakpoint(md){
    .summery-wraper{
      .pizzalgheading{
        font-size: 20px;
      }
      .summery-list{
        li{
          width: 50%;
          font-size: 14px;
          &:last-child{
            width: 50%;
            padding-right: 10px;
          }
        }
      }
    }
  }
  @include breakpoint(sm){
    .order-list-wraper{
      width: 100%;
      .list-order{
        padding: 15px 15px 0px 15px;
        border-bottom: 1px solid $deepgray;
        &:last-child{
          border-bottom: none;
        }
        .order-bx-flex{
          padding-bottom: 20px;
          .order-img{
            width: 35%;
          }
          .order-right{
            width: 65%;
            padding: 0px 0px 0px 30px;
            .head-list{
              margin-bottom: 35px;
            }
          }
        }

      }
    }
  }
  @include breakpoint(xs){
    .order-list-wraper{
      width: 100%;
      .list-order{
        .order-bx-flex{
          .order-img{
            width: 100px;
          }
          .order-right{
            width: calc(100% - 100px);
            padding-left: 15px;
            .head-list{
              margin-bottom: 30px;
              li{
                font-size: 14px;
              }
            }
          }
        }
        .content-order{
          width: 100%;
          .pizzamdheading{
            font-size: 18px;
            padding-bottom: 15px;
          }
          p{
            padding-bottom: 15px;
          }

        }
      }
    }

    .summery-wraper{
      position: static;
      margin-top: 30px;
      .summery-list{
        li{
          width: 65%;
          &:last-child{
           width: 35%;
          }
        }
      }
    }
  }
}


.find-popup4{
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;


  .find-overlay {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.85);
    //   transition: visibility 0s linear 0.3s, opacity 0.3s;
  }
  .find-wrapper{
      position: absolute;
      z-index: 9999;
      top: 50%;
      left: 50%;
      width: 35%;
      margin: 0 auto;
      background-color: $white;
      box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
      border: 1px solid $grayborder;
      border-radius: 5px;
      overflow: hidden;
      opacity: 1;
      transform: translate(-50%,-50%);
  }
  .btn-delete-no{
      font-weight: 800;
      border: 0;
      border-radius: 0.28em;
      background-color: #fff;
      min-width: 6.563em;
      height: 3em;
      text-align: center;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: .3px;
      color: #ee5a00;
      font-size: 1em;
  }
  .btn-delete-yes{
      font-weight: 800;
      border: 0;
      border-radius: 0.28em;
      background-color: #ee5a00;
      min-width: 6.563em;
      padding: 13px 0px;
      text-align: center;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: .3px;
      color: #fff;
      font-size: 1em;
      margin-right: 10px;
      width: 150px;
  }
  .find-header{
      padding: 30px 40px;
      position: relative;
      border-bottom: 0px solid $orange;
      text-align: center;
      .user-icon{
          margin-bottom: 20px;
          i{
              color: $orange;
              font-size: 35px;
          }
      }
      .pizzalgheading{
          font-family: $proximarg;
          color: $brownfont;
          font-weight: 400;
          margin-bottom: 0px;
      }
      .pizzaparaDelete{
          font-weight: 400;
          text-align: center;
          line-height: 1.175;
          letter-spacing: .15px;
          color: #4c3017;
          font-size: 1.2em;
          margin-top: 20px;
      }
  }
  .find-body{
    text-align: center;
    padding: 0px 15px 30px 0px;
    .pizzaparaDelete{
      color: $brownfont;
      font-size: 16px;
    }
  }
  .find-content{
      padding: 0;
      margin-top: 30px;
  }
  .find-close {
      position: absolute;
      top: 0;
      right: 0px;
      padding: 12px;
      color: #aaa;
      background: none;
      border: 0;
  }

  .find-close:hover {
      color: #777;
  }


  @include breakpoint(slg) {
      .find-wrapper{
          width: 40%;
      }
  }
  @include breakpoint(sm) {
      .find-wrapper{
          width: 90%;
      }
  }
  @include breakpoint(xs){

      .find-wrapper{
          width: 95%;
      }
  }
}