
<app-side-header></app-side-header>

<div [innerHTML]="companydata.SECTION1[0].only_html | safeHtml"></div>

<!-- <div class="inner-main" >
  <section>
    <div class="banner-wrapper" id="ourcompany">
      <picture>
				<source media="(max-width: 767px)" srcset="assets/images/company/company-banner-mob.jpg">
				<source media="(min-width: 768px)" srcset="assets/images/company/company-banner.jpg">
				<img src="assets/images/company/company-banner.jpg" alt="banner-our-company">
			</picture>
      <div class="banner-content-q">
          <h1 class="pizzalgheading">OUR COMPANY</h1>
          <h2 class="pizzaxlheading">GREAT FOOD MADE BY GREAT PEOPLE</h2>
          <p class="pizzamdheading">At Pizza Pizza, it’s about more than amazing meals. It’s about shared values that bring us together, values like respect, pride, and a commitment to diversity. Every day we try to make our stores more successful and our food more delicious. At the same time we’re making our operations more sustainable and giving back to the communities we call home.</p>
      </div>
    </div>
  </section>


  <section class="leadership-banner" id="leadershipteam">
    <a href="javascript:void(0);"routerLink="/investors/leadership-team" class="banner-wrapper">
      <picture>
				<source media="(max-width: 767px)" srcset="assets/images/company/Investors_ManagementTeam-mob.jpg">
				<source media="(min-width: 768px)" srcset="assets/images/company/Investors_ManagementTeam.jpg">
				<img src="assets/images/company/Investors_ManagementTeam.jpg" alt="banner-leadership">
			</picture>
      <div class="banner-content-q">
          <h2 class="pizzaxlheading">LEADERSHIP TEAM</h2>
          <div class="arrow-link">
              <img src="assets/images/company/right-arrow.png">
          </div>
      </div>
    </a>
  </section>

  <section class="come-work-here" id="comeworkhere">
    <div class="padding-section">
      <div class="container-come-work-here">
        <div class="heading-box">
          <div class="pizzaxxsheading">COME WORK HERE</div>
          <h2 class="pizzaxlheading">OUR RECIPE FOR SUCCESS? OUR PEOPLE.</h2>
          <p class="pizzasmheading">We’re Canada’s favourite pizza chain for a lot of reasons, but the most important one is our people. Before that box ever arrives at your door, a diverse team of talented people make it happen, from the head office to the kitchen counter.</p>
          <p class="pizzasmheading">As a company, we're committed to providing an environment that is inclusive and that is free of barriers. This could be any barrier based on age, race, ancestry, place of origin, colour, ethnic origin, citizenship, creed, sex (including pregnancy), gender identity, gender expression, sexual orientation, record of offences, marital status, family status and disability.</p>
          <p class="pizzasmheading">So if you’re looking for an exciting position where you can grow and advance with training and support Pizza Pizza delivers. We’re proud of our culture of enthusiasm, integrity, and open communication. So check out the latest job listings. We think you’ll like it here.</p>
        </div>

        <div class="about-accordion">
          <ul>
              <li>
                  <div class="about-accordion-title accordion" id="recipe-faq-1">
                      <div class="pizzaxxsheading">CORPORATE CAREERS</div>
                      <span class="plus-icon"></span>
                  </div>
                  <div class="about-accordion-content panel">
                     <div>
                      <div class="recipe-accordian">
                        <h2 class="pizzasmheading">Accounts Payable Data Entry Clerk</h2>
                        <p>“Always our best food, made especially for you.” Pizza Pizza’s mission is to make each and every occasion with us an enjoyable and memorable experience for both our customers and our team members. Pizza Pizza is Canada’s favorite pizza chain for a lot of reasons, but the most important one is our people. Before that box ever arrives at your…</p>
                        <a href="javascript:void(0);" routerLink="/company/accounts-payable-data-entry-clerk">Read More <img src="assets/images/company/right-arrow.png"></a>
                      </div>
 
                      <div class="recipe-accordian">
                       <h2 class="pizzasmheading">Category Manager – Menu</h2>
                       <p>Reporting into the Vice President of Marketing Since 1967, Pizza Pizza has served Hot and Fresh pizzas to millions of Canadians coast to coast. Today, with close to 700 locations, Pizza Pizza is Canada’s leading pizzeria. Pizza 73, established in 1985 is Western Canada’s top pizza chain.   Key to our success has always been our people. Before the pizza arrives…</p>
                       <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                     </div>
 
                     <div class="recipe-accordian">
                       <h2 class="pizzasmheading">Network and Security Administrator</h2>
                       <p>“Always our best food, made especially for you.” Pizza Pizza’s mission is to make each and every occasion with us an enjoyable and memorable experience for both our customers and our team members. Pizza Pizza is Canada’s favourite pizza chain for a lot of reasons, but the most important one is our people. Before that box ever arrives at your…</p>
                       <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                     </div>
 
                     <div class="recipe-accordian">
                       <h2 class="pizzasmheading">Software QA for Web and Mobile Applications</h2>
                       <p>“Always our best food, made especially for you.” Pizza Pizza’s mission is to make each and every occasion with us an enjoyable and memorable experience for both our customers and our team members. Pizza Pizza is Canada’s favourite pizza chain for a lot of reasons, but the most important one is our people. Before that box ever arrives at your…</p>
                       <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                     </div>
 
                     <div class="recipe-accordian">
                       <h2 class="pizzasmheading">Warehouse - Toronto</h2>
                       <p>“Always our best food, made especially for you.” Pizza Pizza’s mission is to make each and every occasion with us an enjoyable and memorable experience for both our customers and our team members.</p>
                       <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                     </div>
                     </div>


                  </div>
              </li>
              <li>
                  <div class="about-accordion-title accordion" id="recipe-faq-2">
                      <div class="pizzaxxsheading">RESTAURANT CAREERS</div>
                      <span class="plus-icon"></span>
                  </div>
                  <div class="about-accordion-content panel">
                    <div>
                      <div class="recipe-accordian">
                        <h2 class="pizzasmheading">Pizza Pizza Cooks for ALL Locations</h2>
                        <p>Pizza Pizza, one of Canada’s top Pizza Restaurant chains, is hiring Cooks! We currently have openings for enthusiastic individuals with strong communication skills - customer service focused people who enjoy working in a fast paced environment, while being part of a dedicated team that serves the public. As a Cook , you are proud to serve great tasting food, farmed…</p>
                        <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                      </div>
  
                      <div class="recipe-accordian">
                        <h2 class="pizzasmheading">Cooks Required in North Vancouver</h2>
                        <p>“Always our best food, made especially for you.” Pizza Pizza’s mission is to make each and every occasion with us an enjoyable and memorable experience for both our customers and our team members. Pizza Pizza is Canada’s favourite pizza chain for a lot of reasons, but the most important one is our people. Before that box ever arrives at your…</p>
                        <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                      </div>
  
                      <div class="recipe-accordian">
                        <h2 class="pizzasmheading">Gatineau Restaurant Manager</h2>
                        <p>"Always our best food, made especially for you." Pizza Pizza's mission is to make each and every occasion with us an enjoyable and memorable experience for both our customers and our team members. Pizza Pizza is Canada's favourite pizza chain for a lot of reason, but the most important one is our people. Before that box ever arrives at you…</p>
                        <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                      </div>
  
                      <div class="recipe-accordian">
                        <h2 class="pizzasmheading">Cashier - Toronto</h2>
                        <p>Pizza Pizza, one of Canada’s top Pizza Restaurant chains, is hiring Cashiers!</p>
                        <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                      </div>
                    </div>
                  </div>
              </li>
          </ul>
      </div>
        <div class="bottom-pizaa-img">
            <img src="assets/images/company/pizza.png">
        </div>
      </div>
    </div>

      <div class="about-our-food">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4">
            <a class="about-services">
              <img src="assets/images/company/Company_Community.jpg" alt="Community"/>
              <div class="layer-div">
                <div class="center-box">
                  <p class="pizzaxxsheading">Community</p>
                  <img src="assets/images/company/right-arrow.png" class="icon-right">
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
            <a class="about-services">
              <img src="assets/images/company/Company_SlicesForSmiles.jpg" alt="Slices For Smiles"/>
              <div class="layer-div">
                <div class="center-box">
                  <p class="pizzaxxsheading">Slices For Smiles</p>
                  <img src="assets/images/company/right-arrow.png" class="icon-right">
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
            <a class="about-services">
              <img src="assets/images/company/Company_EnvironmentLink.jpg" alt="Environment"/>
              <div class="layer-div">
                <div class="center-box">
                  <p class="pizzaxxsheading">Environment</p>
                  <img src="assets/images/company/right-arrow.png" class="icon-right">
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
  </section>

  <section id="community">
    <div class="banner-wrapper">
      <picture>
				<source media="(max-width: 767px)" srcset="assets/images/company/Company-CommunityHeader-mob.jpg">
				<source media="(min-width: 768px)" srcset="assets/images/company/Company-CommunityHeader.jpg">
				<img src="assets/images/company/Company-CommunityHeader.jpg" alt="COMMUNITY BANNER">
			</picture>
      <div class="banner-content-q">
          <h1 class="pizzalgheading">COMMUNITY</h1>
          <h2 class="pizzaxlheading">DELIVERING TO OUR COMMUNITIES</h2>
          <p class="pizzamdheading">We're doing our part to help communities across Canada with deliveries of pizzas, supplies and gift cards. So far, our Events team has delivered over 20,000 slices as well as much needed Personal Protective Equipment (PPE) to shelters, hospitals and health care centres.</p>
      </div>
    </div>

    <div class="cominity-wraper">
       <div class="row">
         <div class="col-sm-4">
           <div class="bx-comunity">
             <img src="assets/images/company/Sick-Kids.jpg">
             <div class="comunity-content-bx">
               <p class="pizzaxsheading">SICK KIDS FOUNDATION</p>
               <p>Toronto, ON</p>
             </div>
           </div>
         </div>
         <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/Mt-Sinai.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">MOUNT SINAI HOSPITAL</p>
              <p>Toronto, ON</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/Sistering.png">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">SISTERING</p>
              <p>Toronto, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/punjab-food-relief.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">WINNIPEG FIRE PARAMEDIC SERVICE</p>
              <p>Winnipeg, MB</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/Niagara-Police.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">NIAGARA POLICE</p>
              <p>Niagara Falls, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/University-Montreal.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">CENTRE HOSPITALIER DE L’UNIVERSITÉ DE MONTRÉAL</p>
              <p>Montréal, QC</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/Acclaim.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">ACCLAIM HEALTH</p>
              <p>Oakville, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/niagara.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">NIAGARA HEALTH</p>
              <p>St. Catherines, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/pizza-2.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">BELMONT HOUSE FOUNDATION</p>
              <p>Toronto, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/image1.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">SCARBOROUGH GENERAL HOSPITAL</p>
              <p>Scarborough, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/IMG_2328.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">GTA SHELTERS</p>
              <p>Clothing retailer Knix has raised over $200,000 from donations in order to purchase Personal Protective Equipment (PPE) for the most vulnerable in our community.  As a proud partner, we made our second delivery of masks, gloves and hand sanitizers to 19 shelters across the GTA.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/PHOTO-2020-04-15-15-27-48.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">BRADFORD VALLEY CARE COMMUNITY</p>
              <p>Bradford, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/image0.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">SOUTHLAKE REGIONAL HEALTH CARE</p>
              <p>Newmarket, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/knixwear2.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">GTA SHELTERS</p>
              <p>Clothing retailer Knix has raised over $200,000 from donations in order to purchase Personal Protective Equipment (PPE) for the most vulnerable in our community.  As a proud partner, we made our first delivery of masks and gloves to 19 shelters across the GTA.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/goodshepherd.png">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">GOOD SHEPHERD YOUTH HOSTEL NOTRE DAME HOUSE</p>
              <p>Hamilton, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/image.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">PROVIDENCE HEALTHCARE</p>
              <p>Scarborough, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/Wilkinson-Road-Shelter-1.png">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">SALVATION ARMY WILKINSON ROAD SHELTER</p>
              <p>Brampton, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/stmikes.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">ST. MICHAEL’S HOSPITAL</p>
              <p>Toronto, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/st-stephens.png">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">ST. STEPHEN’S COMMUNITY HOUSE</p>
              <p>Toronto, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/IMG_2270.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">ST. JOSEPH’S HEALTH CARE</p>
              <p>Toronto, ON</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="bx-comunity">
            <img src="assets/images/company/university.jpg">
            <div class="comunity-content-bx">
              <p class="pizzaxsheading">UNIVERSITY AVENUE HEALTHCARE WORKERS</p>
              <p>Toronto, ON</p>
            </div>
          </div>
        </div>
       </div>
    </div>
  </section>

  <section class="slice-smile-section" id="slicesforsmiles">
    <div class="banner-wrapper">
      <picture>
				<source media="(max-width: 767px)" srcset="assets/images/company/Slices-for-Smiles-banner-1-mob.jpg">
				<source media="(min-width: 768px)" srcset="assets/images/company/Slices-for-Smiles-banner-1.jpg">
				<img src="assets/images/company/Slices-for-Smiles-banner-1.jpg" alt="BANNER">
			</picture>
      <div class="banner-content-q">
          <h2 class="pizzaxlheading">SLICES FOR SMILES</h2>
      </div>
    </div>

    <div class="padding-section">
      <div class="heading-box">
        <h2 class="pizzaxlheading">RAISING SOME DOUGH FOR CHILDREN’S MIRACLE NETWORK®</h2>
        <p class="pizzasmheading">Purchase a heart pizza today! A portion of proceeds from each heart pizza will be donated to your local children’s hospital.</p>
        <div class="btn-page">
          <a href="#">Donate Now</a>
        </div>
      </div>
      <div class="mercal-network">
        <div class="row">
          <div class="col-sm-6">
            <div class="rasing-box">
              <div class="heading-box">
                <h2 class="pizzaxlheading">RAISING SOME DOUGH FOR CHILDREN’S MIRACLE NETWORK®</h2>
              </div>
              <p>Children’s Miracle Network®®️ raises funds and awareness for 170 member hospitals, 14 of which are in Canada. Donations raised local stay local, and every dollar raised goes directly to the children’s hospital that supports that community. Support from Pizza Pizza and Pizza 73 customers and employees helps revolutionize treatment and diagnoses, creates healing environments for kids and families, and provides the right care at the right place at the right time. Together, if we change kid’s health, we can change the future.</p>
              <p>Learn more about their work at <a href="#">childrensmiraclenetwork.ca</a> and <a href="#">facebook.com/cmncanada.</a></p>
              <div class="detail-network">
                <h2 class="pizzamdheading">Hospitals that Slices for Smiles support:</h2>
                <p><strong>LONDON:</strong>Children’s Health Foundation</p>
                <p><strong>OTTAWA:</strong>CHEO Foundation</p>
                <p><strong>TORONTO:</strong>SickKids</p>
                <p><strong>HAMILTON:</strong>McMaster Children’s Hospital Foundation</p>
                <p><strong>QUEBEC:</strong>Operation Enfant Soleil</p>
                <p><strong>SASKATCHEWAN: </strong>Jim Pattison Children’s Hospital Foundation</p>
                <p><strong>MANITOBA:</strong>Children’s Hospital Foundation of Manitoba</p>
                <p><strong>NOVA SCOTIA:</strong>IWK Health Centre Foundation</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="rasing-right-box">
              <img src="assets/images/company/CMNC-EN-Infographic-2020-web-FINAL.jpg">
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="envoirment-section" id="environment">
    <div class="banner-wrapper">
      <picture>
				<source media="(max-width: 767px)" srcset="assets/images/company/Company_Environment-mob.jpg">
				<source media="(min-width: 768px)" srcset="assets/images/company/Company_Environment.jpg">
				<img src="assets/images/company/Company_Environment.jpg" alt="banner-our-company">
			</picture>
      <div class="banner-content-q">
          <h2 class="pizzalgheading">ENVIRONMENT</h2>
          <h2 class="pizzaxlheading">WHATEVER THE TOPPINGS, WE MAKE IT GREEN</h2>
          <p class="pizzamdheading">We’re sourcing local, but we’re thinking global. Pizza Pizza is committed to making our business and our industry more environmentally sustainable, every day. For our communities, our children and our future.</p>
      </div>
    </div>
    <div class="padding-section">
      <div class="container">
        <div class="heading-box">
          <h2 class="pizzaxlheading">WASTE DIVERSION</h2>
          <p>We work with suppliers, partners and community groups to encourage recycling and reduce waste with reusable shipping totes. As a result, we’ve kept over 10 million square feet of cardboard out of landfill at our distribution centres alone.</p>
        </div>
        <div class="heading-box">
          <h2 class="pizzaxlheading">GREEN ENERGY</h2>
          <p>In 2009, we moved into a high-tech, sustainable office facility with three wind turbines and rooftop solar panels, reducing our electrical load by up to 15 percent!</p>
          <div class="list-green-energy">
             <h2 class="pizzaxsheading">OUR SUSTAINABILITY PROMISE IN ACTION:</h2>
             <p>We’ve kept over 5,600 cellphones out of landfill via Slices for Devices</p>
             <p>Pizza Pizza uses eco-friendly cleaning products at all locations</p>
             <p>84,000 trees are saved each year by use of recycled materials in our pizza boxes, napkins, paper bags and more</p>
             <p>Our distribution centre deposits flour directly into silos, by doing so 540,000 flour bags are saved each year</p>
             <p>All warehouse lighting at Pizza Pizza has been changed to energy efficient 100W bulbs reducing energy</p>
             <p>Pizza Pizza´s warehouse also includes a passive solar wall to help heat the space with solar energy</p>
             <p>In 2009, Pizza Pizza worked with Tree Canada to plant over 2500 hundred trees in Canada!</p>
             <p>Pizza Pizza sponsors Toronto´s 20-minute makeover each year, giving free gloves and garbage bags to help pick up litter</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="company-news" id="news">
    <div class="banner-wrapper">
      <picture>
				<source media="(max-width: 767px)" srcset="assets/images/company/Investors_CorporatePress-mob.jpg">
				<source media="(min-width: 768px)" srcset="assets/images/company/Investors_CorporatePress.jpg">
				<img src="assets/images/company/Investors_CorporatePress.jpg" alt="banner news">
			</picture>
      <div class="banner-content-q">
          <h2 class="pizzaxlheading">NEWS AND ANNOUNCEMENTS</h2>
      </div>
    </div>

    <div class="accordian-news">
      <div class="about-accordion">
        <ul>
            <li>
                <div class="about-accordion-title accordion" id="news-faq-1">
                    <div class="pizzaxxsheading">2022</div>
                    <span class="plus-icon"></span>
                </div>
                <div class="about-accordion-content panel">
                  <div>
                    <div class="recipe-accordian">
                      <h2 class="pizzasmheading">TIME TO REVERSE THOSE COOKING PLANS. UNO IS BACK AT PIZZA PIZZA!</h2>
                      <p>TORONTO, March 18, 2022 - Easy to pick up, impossible to put down; UNO is officially back at Pizza Pizza and Pizza 73 locations across the country. This unique partnership between Mattel Canada (NASDAQ: MAT) and Pizza Pizza and Pizza 73 (TSX: PZA) has returned for another year and gives pizza lovers and game night enthusiasts the perfect experience with…</p>
                      <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                    </div>
                  </div>
                </div>
            </li>
            <li>
                <div class="about-accordion-title accordion" id="news-faq-2">
                    <div class="pizzaxxsheading">2021</div>
                    <span class="plus-icon"></span>
                </div>
                <div class="about-accordion-content panel">
                  <div>
                    <div class="recipe-accordian">
                      <h2 class="pizzasmheading">PIZZA PIZZA LIMITED ANNOUNCES INTERNATIONAL EXPANSION WITH MASTER FRANCHISE AGREEMENT TO LAUNCH IN MEXICO</h2>
                      <p>TORONTO, Dec. 1, 2021 /CNW/ - PIZZA PIZZA LIMITED today announced as part of its ongoing expansion plans in Canada and beyond, the establishment of a Master Franchise Agreement with Guadalajara based KSG/GrünCorp. The partnership will see the leading Canadian pizza chain enter the Mexican marketplace in 2022. GrünCorp, through its affiliated company Key Spot Group ("KSG") will be the Master Franchisee for Mexico, responsible for developing…</p>
                      <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                    </div>
  
                    <div class="recipe-accordian">
                      <h2 class="pizzasmheading">BC Pizza Pizza Party</h2>
                      <p>VANCOUVER, September 2021 – Time flies when you do what you love and in Pizza Pizza’s case, that’s serving great pies on the west coast. Since 2018 Pizza Pizza has grown to 17 restaurants in British Columbia with many more to come.  To say thanks and give back to the people of BC, the brand will be throwing a free…</p>
                      <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                    </div>
  
                    <div class="recipe-accordian">
                      <h2 class="pizzasmheading">Free Slice for All!</h2>
                      <p>MONTREAL, July 2021 – As proud sponsor and official Pizza of the Montreal Canadiens, Pizza Pizza has pledged free slices for the city of Montreal on July 14th. The brand hopes to celebrate the Montreal Canadiens tremendous season and valiant playoff effort with a Pizza Pizza Party for Montrealers alike.  On July 14th, between 11am – 3pm ET, fans will…</p>
                      <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                    </div>
  
                    <div class="recipe-accordian">
                      <h2 class="pizzasmheading">Pizza and Beer – together at last at Pizza Pizza</h2>
                      <p>TORONTO, June 22, 2021 /CNW/ - Just in time for summer, Pizza Pizza, has officially announced its plans to introduce Beer as a new beverage item at locations across Canada in 2021. June 7th marked the initial launch at 20 locations in Hamilton, ON and Winnipeg, MB. Customers in these cities will have the opportunity to purchase beer on-site, for…</p>
                      <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                    </div>
  
                    <div class="recipe-accordian">
                      <h2 class="pizzasmheading">UNO® Celebrates 50 Years of Bringing People Together with Pizza Pizza and Pizza 73!</h2>
                      <p>Receive a Limited-Edition UNO Deck With Every Pizza Pizza and Pizza 73 UNO Combo Purchased TORONTO, March 15, 2021 /CNW/ - Today, Mattel Canada (NASDAQ: MAT) announces its partnership with Pizza Pizza and Pizza 73 locations across Canada to celebrate UNO's 50th anniversary with the 'UNO Combo'. The UNO Combo gives friends and families everything they need to enjoy a…</p>
                      <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                    </div>
                  </div>

                </div>
            </li>
            <li>
              <div class="about-accordion-title accordion" id="news-faq-3">
                  <div class="pizzaxxsheading">2020</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
                <div>
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza Royalty Corp Announces Promotion of Christine D’Sylva to CFO, and Appointment of Longstanding CFO Curt Feltner to New Role as SVP, Strategy & Analytics</h2>
                    <p>TRADING SYMBOL:  TSX:  PZA.TO TORONTO, ON, Dec. 14, 2020 /CNW/ - Pizza Pizza Royalty Corp (“PPRC”) and Pizza Pizza Limited (“PPL”), are pleased to announce that Christine D’Sylva has been promoted to Chief Financial Officer (CFO) of PPRC and PPL, reporting to CEO, Paul Goddard, effective January 1, 2021.  Meanwhile, Curt Feltner, longstanding CFO, is transitioning into a new senior management…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
  
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza Delivers Peace of Mind with New Tamper Proof Pizza Box</h2>
                    <p>TORONTO, April 8, 2020 – Pizza Pizza’s latest innovation comes at a time when food safety is more important than ever. Revealed today, Pizza Pizza’s Tamper Proof Pizza Box features a safety locking mechanism that must be broken by the customer to access the pizza inside. The proprietary Tamper Proof Pizza Box provides customers with an extra level of assurance…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
  
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza Introduces Keto Crust: A low-carb Option for Keto Pizza Lovers</h2>
                    <p>TORONTO, January 6, 2020 – Canadians can now uncarb their pizza with the launch of keto pizza options at Pizza Pizza. Starting today, Pizza Pizza customers can order three new menu items – including customized options – featuring the deliciously uncompromising Keto Uncrust by Unbun Foods. With only two grams of net carbs per slice, this latest innovation provides more…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
                </div>

              </div>
          </li>

          <li>
            <div class="about-accordion-title accodion" id="news-faq-4">
                <div class="pizzaxxsheading">2019</div>
                <span class="plus-icon"></span>
            </div>
            <div class="about-accordion-content panel">
             <div>
              <div class="recipe-accordian">
                <h2 class="pizzasmheading">Pizza Pizza brings game night to your dinner table with Special Edition Raptors GameBox</h2>
                <p>TORONTO, December 11, 2019 Pizza Pizza’s latest innovation comes from thinking outside of the box. The all-new Raptors “GameBox” transforms traditional pizza packaging into a fun, interactive experience for Raptors and pizza fans alike. The box features perforated cut-outs which quickly assemble into a miniature tabletop basketball game, complete with basketball game pieces. “There’s nothing that brings people together more…</p>
                <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
              </div>

              <div class="recipe-accordian">
                <h2 class="pizzasmheading">Pizza Pizza introduces ‘Gourmet Thins’: a line of individually sized, chef-inspired recipes</h2>
                <p>TORONTO, Ontario, October 8, 2019 – Pizza Pizza continues to innovate in the premium category, with its new lineup of 10” Gourmet Thin Crust Pizzas, featuring all-new ingredients like Creamy Truffle Sauce, Blue Cheese and Provolone. The launch caters to Canadians who are looking for a more upscale pizza experience through a reliable delivery service. Priced at $7.29, and consisting…</p>
                <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
              </div>

              <div class="recipe-accordian">
                <h2 class="pizzasmheading">Pizza Pizza Adds Plant-Based Protein Options to the Menu</h2>
                <p>TTORONTO, June 24, 2019 – Canadians looking for more flexibility and plant-based options when it comes to their pizza orders need to look no further. Today, Pizza Pizza announced the launch of their new Super Plant Pizza, the first plant-based protein topping recipe available on the menu.  The latest innovation by the iconic Canadian brand is in response to the growing trend…</p>
                <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
              </div>

              <div class="recipe-accordian">
                <h2 class="pizzasmheading">Pizza Pizza & Pizza 73 deliver 10,000 Slices for 10,000 Smiles</h2>
                <p>TORONTO, May 22, 2019 – Starting Monday, May 27th, Pizza Pizza and Pizza 73 challenge Canadians to put smiles on children’s faces, with the NEW Slices for Smiles offering. The Slices for Smiles program, now in its 12th year,  returns with a twist. Pizza Pizza and Pizza 73’s Slices for Smiles Foundation is on a mission to personally deliver 10,000…</p>
                <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
              </div>

              <div class="recipe-accordian">
                <h2 class="pizzasmheading">Pizza Pizza trades iconic orange for white to celebrate home sl-ice advantage for Jets in Winnipeg</h2>
                <p>WINNIPEG, April 8, 2019 / CNW / –  Go Jets Go! As the Winnipeg Jets get set to host their first home game as part of the 2019 NHL playoffs, proud partner, Pizza Pizza, is already displaying tremendous signs of team spirit in the local community by participating in the tradition of the Winnipeg Whiteout. With 12 restaurants across Winnipeg,…</p>
                <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
              </div>

              <div class="recipe-accordian">
                <h2 class="pizzasmheading">Pizza Pizza brings the heat with new Spicy Tex-Mex Pizza and Avocado Fries</h2>
                <p>TORONTO, March 18, 2019 –  Pizza Pizza just dropped the ultimate food mash-up, with the Spicy Tex-Mex Pizza, the perfect blend of tacos and pizza, to be accompanied with a unique new appetizer Avocado Fries. Pizza Pizza’s hottest new menu items are available across the country. “Pizza Pizza is on the pulse of trends and innovations in the food industry. We have…</p>
                <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
              </div>
             </div>

            </div>
        </li>

        <li>
          <div class="about-accordion-title accordion" id="news-faq-5">
              <div class="pizzaxxsheading">2018</div>
              <span class="plus-icon"></span>
          </div>
          <div class="about-accordion-content panel">
           <div>
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">New study reveals that 7 out of 10 of Canadians prefer pizza over candy</h2>
              <p>TORONTO, October 31, 2018 Halloween treats come in different shapes and sizes, this year, the ultimate trick-or-treat is a warm pie of cheesy goodness. According to a new study commissioned by Pizza Pizza and executed by Ipsos, when given the choice between Halloween candy or pizza, 74% of Canadians preferred pizza! We repeat, three quarters of Canadians prefer pizza over candy! Some would say…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>

            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza Expands into British Columbia with First Location in New Westminster</h2>
              <p>Vancouver, September 18  2018  Canada’s leading pizza chain, Pizza Pizza has officially made its way to the West Coast with its first location now open at 527 Sixth Street in New Westminster. This recent opening marks the start of the pizza franchise’s planned expansion across the Greater Vancouver Area with locations in Vancouver, Burnaby and Surrey slated for opening in…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>

            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza brings cauliflower-based pizza crust to menu</h2>
              <p>TORONTO, July 25, 2018 /CNW/-  Canadians are going to be able to “Cauli” Pizza Pizza for a new, delicious crust alternative.  As of July 16, Pizza Pizza’s latest innovation – Cauliflower Crust Pizza – is available at restaurants across the country. “Pizza Pizza has always been a consistent innovator and we know consumers are on the hunt for trend-worthy meals that…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>

            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pepperoni Smile Pizzas return to Pizza Pizza menu in support of local children’s hospitals</h2>
              <p>TORONTO, April 23, 2018 – From April 23 to 29, Pizza Pizza is offering customers a medium pizza, topped with a pepperoni smile for $5.99 – a one-dollar discount off the regular price of a medium pepperoni pizza – with a portion of proceeds going to local children’s hospitals through Children’s Miracle Network Canada. “A smile does go a long way,”…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>

            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza celebrates Valentine’s Day with an innovative new way to surprise a loved one</h2>
              <p>TORONTO, February 9, 2018 – On any given day, love and pizza go together like cheese and pepperoni. This Valentine’s Day, Pizza Pizza lavishes Canadians with a package that includes the company’s renowned pizza shaped like a heart, complimentary heart-shaped chocolates, personalized labels and the chance to win a two-carat diamond ring*. Through the new personalized labels, customers can send a…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>

            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Alpine Ontario Alpin welcomes Pizza Pizza as title sponsor of Southern Ontario Division Ski Team</h2>
              <p>COLLINGWOOD, February 1, 2018 –– Alpine Ontario Alpin and the Southern Ontario Division welcome Pizza Pizza as the new title sponsor of the SOD Ski Team. The title sponsorship builds on a 2017 partnership that saw Pizza Pizza become the presenting sponsor of the Road to the OCUP Finals – a fruitful partnership that afforded Canada’s leading pizza chain a platform to serve…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
           </div>
          </div>
      </li>

      <li>
        <div class="about-accordion-title accordion" id="news-faq-6">
            <div class="pizzaxxsheading">2017</div>
            <span class="plus-icon"></span>
        </div>
        <div class="about-accordion-content panel">
          <div>
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza opens new location in Sainte-Dorothée</h2>
              <p>MONTREAL, December 15, 2017 – Pizza Pizza, Canada’s leading pizza chain, continues its expansion in Quebec with the opening of a new restaurant at 241 Samson Boulevard, just south of Boul Notre-Dame, in Sainte-Dorothée, Laval.  This will mark Pizza Pizza’s 57th location in Quebec (traditional and express stores combined). “When we began a renewed program of growth in Quebec ten years ago,…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza partners with third-generation farmers, Chudleigh’s, to offer Apple Crumble Pie</h2>
              <p>TORONTO, November 21, 2017 – Pie lovers- sweet and savoury- are coming together, thanks to a partnership between Chudleigh’s Farm and Pizza Pizza. The popular third-generation farm has partnered with Canada’s leading pizza chain to offer consumers their signature Apple Crumble Pie, just in time for the holidays. This scratch-made dessert, made with freshly peeled, Northern Spy apples, flavoured with cinnamon…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza commits to raising $2 million towards new state-of-the-art SickKids building on University Avenue</h2>
              <p>TORONTO, November 15, 2017 – Pizza Pizza is working with SickKids Foundation to support their SickKids VS Limits campaign – the largest fundraising campaign in the history of Canadian health care. Canada’s leading pizza chain has committed to raising $2 million as part of the Foundation’s campaign to fundraise a total of $1.3 billion, a large chunk of which would be used to…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza thanks Canadians for 50 years with throwback pricing</h2>
              <p>TORONTO, October 16, 2017 – This year marks Pizza Pizza’s 50th anniversary and to celebrate Canada’s leading pizza chain is holding a nation-wide party and serving up slices at 1967 prices while also raising money for children’s hospitals. On Tuesday, October 17, 2017, from 11 a.m. to 11 p.m., Canadians can walk into any traditional Pizza Pizza location across the country and…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">“Crack the Cardboard” contest makes a comeback as part of Pizza Pizza’s 50th birthday celebrations</h2>
              <p>TORONTO, October 10, 2017 – In celebration of its 50th birthday, Pizza Pizza is bringing back its highly popular Crack the Cardboard contest – an old-time classic from the ’90s. Customers who purchase a large pizza – walk-in or delivery – will receive a box fitted with a tear strip that they must uncover to find out if they’ve won. The total value…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza heads back to school to celebrate Frosh Week and its 50th birthday on Canadian campuses</h2>
              <p>TORONTO, August 31, 2017 – Pizza Pizza, Canada’s leading pizza chain, kicks off its fifth annual Frosh Week campus tour, starting at U of T Scarborough on August 31, and ending at The University of Western Ontario on September 13. As part of its 50th year anniversary program, students won’t want to miss this special delivery! Decked out in festive attire…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza reintroduces Bocci Bits to its summer line-up, and they’re rolling off the shelves!</h2>
              <p>TORONTO, August 9, 2017 – As part of its 50th anniversary celebrations, Pizza Pizza has brought back its beloved Bocci Bits. The garlic-infused, Parmesan-topped dough bits first made their mark in 2000 with customers who were left wanting more when the company stopped making them. “We’ve had customers asking for them ever since we took them off the menu,” says Pat…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza adds Spicy Tandoori Veggie Pizza to its menu</h2>
              <p>Toronto, June 5, 2017 – Pizza Pizza announces the launch of an exciting new flavour, Spicy Tandoori Veggie Pizza, available now at all traditional restaurants in Canada. The new Spicy Tandoori Veggie Pizza is made using a tandoori masala and green chili sauce that’s topped with red onions, green peppers and mushrooms, as well as a hearty sprinkling of chili flakes…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza opens three new restaurants in Quebec</h2>
              <p>Montreal, May 31, 2017 – Pizza Pizza, coming off a record year of growth in the Quebec, announces the opening of three more restaurants in the province – 5510 boulevard Henri-Bourassa ouest in Ville St Laurent, 12908 rue Sherbrooke est in Pointes aux Trembles and a first location in Sherbrooke at 2755 rue King ouest. All of the restaurants offer a wide…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza program, Slices for Devices, brings in more than 4 tonnes of recycled electronics</h2>
              <p>TORONTO, May 15, 2017 – For the 14th consecutive year, Canadian consumers joined businesses, schools and Pizza Pizza staff and partners to recycle electronic waste this spring as part of the Pizza Pizza Slices for Devices program. The company was able to deliver 4.257 tonnes of electronic waste to Recycle My Electronics Programs, its partner for the past two years. “Slices for Devices…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza opens its first location in Sherbrooke</h2>
              <p>MONTREAL, May 11, 2017 – One of Canada’s largest pizza chains continues to expand in Quebec with the opening of its first location in Sherbrooke. Located at 2755 King Street West, near Lionel-Groulx Boulevard, the new Pizza Pizza restaurant offers an extensive menu that includes its famous line up of pizzas, including classic, gourmet and gluten free options, as well as…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza joins Scotiabank Road Hockey to Conquer Cancer as presenting sponsor, says “game on” to cancer</h2>
              <p>TORONTO, April 25, 2017 – The Princess Margaret Cancer Foundation welcomes Pizza Pizza as its new presenting sponsor for Scotiabank Road Hockey to Conquer Cancer through 2019. Pizza Pizza’s commitment supports the Foundation’s vision to Conquer Cancer In Our Lifetime and ensures Scotiabank Road Hockey to Conquer Cancer will continue to break records and drive impact to support Princess Margaret Cancer…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza fundraising for children’s hospitals one slice at a time</h2>
              <p>TORONTO, April 20, 2017 – Pepperoni smile pizzas are on the menu at Pizza Pizza over the next month as its Slices for Smiles Foundation’s spring fundraiser kicks-off on April 21, in support of Children’s Miracle Network and its member children’s hospitals across Canada. Until May 21, customers can help support the fundraiser by purchasing a special 10” half-pizza topped with…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Take a slice out of your spring cleaning, join Pizza Pizza by recycling your electronics this Earth Month</h2>
              <p>TORONTO, April 3, 2017 – Pizza Pizza has its green thumb out to help Canadians kick start their spring cleaning as part of the company’s annual Slices for Devices campaign. Pizza lovers are invited to drop off eligible electronics devices at any participating location and Pizza Pizza will trade it for a free slice of pepperoni or cheese pizza throughout the…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza introduces dairy-free, vegan cheese chain-wide</h2>
              <p>Toronto, March 7, 2017 – Pizza Pizza announces today the launch of vegan cheese, a new dairy-free menu option that allows Canada’s growing vegan community to customize their pizzas with a cheese-like product that respects the vegan diet.  The innovative ingredient is produced by Violife, a company founded by food enthusiasts who believe that cheese is all about love, family and…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza and Pizza 73 raise record amount for Children’s Miracle Network</h2>
              <p>TORONTO, February 27, 2017 – Pizza Pizza and Pizza 73 continue to raise dough through its Slices for Smiles Foundation, announcing that the companies raised a record $500,000 in 2016. The half million mark is the most funds raised to date by the sister chains in the foundation’s 10-year history. The money will be donated to Children’s Miracle Network and its member children’s…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza gears up for one of its busiest days of the year</h2>
              <p>Toronto, January 30, 2017 – Canada’s leading pizza chain is getting ready to score a touchdown with pizza and wing lovers this Super Bowl Sunday, as Pizza Pizza and its restaurant locations prepare for the rush that follows on game day. “It’s one of our busiest days of the year,” said Pat Finelli, Chief Marketing Officer for Pizza Pizza. “We typically…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">All chicken products available at Pizza Pizza now Raised Without Antibiotics</h2>
              <p>Toronto, January 23, 2017 – Pizza Pizza, Canada’s leading pizza chain, is kicking off the new year and its 50th anniversary with a commitment to ensuring all chicken products that are a part of its menu are raised without the use of antibiotics. The change is effective immediately, on everything from chicken wings and boneless chicken bites to chicken tenders and grilled…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
  
            <div class="recipe-accordian">
              <h2 class="pizzasmheading">Pizza Pizza reports a record growth year in Montreal</h2>
              <p>MONTREAL, January 19, 2017 – The recent opening of a new Pizza Pizza location in Montreal marks a record number of stores to have opened in any one market in 2016. Six new Pizza Pizza restaurants have opened in the greater Montreal area last year alone. The newest restaurant located at 1270 Jarry Road E features Pizza Pizza’s new lobby-style store design with…</p>
              <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
            </div>
          </div>

        </div>
    </li>

        </ul>
    </div>
    </div>
  </section>

</div> -->






