@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";
.pac-container {
    z-index: 100000000;
}
.signInSaved{
    text-align: center;
    padding: 10px;
    margin:50px 0;
    a{
        cursor: pointer;
    }
}
.reset-btn{
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    right: 85px;
    transform: translate(0px, 12px);
    border: none;
    color: $orange;
    font-weight: 400;
    border-radius: 0px;
    padding: 0;
    background: transparent;
    cursor: pointer;
    transition: ease-in-out .5s;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -ms-transition: ease-in-out .5s;
    &::after, &::before{
        position: absolute;
        left: 15px;
        content: ' ';
        top: 0;
        left: 0;
        height: 12px;
        width: 1px;
        background: $orange;
        transform: rotate(45deg);
    }
    &::after{
        transform: rotate(-45deg);
    }
    @include breakpoint(xs){
      top: auto;
      bottom: 20px;
    }
    // @include breakpoint(xxs){
    //     top: 42%;
    //   }
    //   @media screen and (max-width: 390px) {
    //     top: 50%;
    //   }
    //   @media screen and (max-width: 385px) {
    //     top: 55%;
    //   }
      
}
button:disabled,
button[disabled]{
    cursor: not-allowed;
  border: 0px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.loader-12 {
	position: relative;
    display: inline-block;
	width: 1em;
	height: 1em;
	color: inherit;
	vertical-align: middle;
	pointer-events: none;
	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		background-color: currentcolor;
		left: 50%;
		right: 0;
		top: 0;
		bottom: 50%;
		box-shadow: -.5em 0 0 currentcolor;
		animation: loader-12 1s linear infinite;
	}
	&:after {
		top: 50%;
		bottom: 0;
		animation-delay: .25s;
	}
}
.box {
	display: inline-block;
	width: 200px;
	height: 200px;
	border: 1px solid currentcolor;
	border-radius: 3px;
	font-size: 30px;
	padding: 1em;
	position: relative;
	margin-bottom: .25em;
	vertical-align: top;
	transition: .3s color, .3s border, .3s transform, .3s opacity;
	}

@keyframes loader-12 {
	0%,
	100% {
		box-shadow: -.5em 0 0 transparent;
		background-color: currentcolor;
	}
	50% {
		box-shadow: -.5em 0 0 currentcolor;
		background-color: transparent;
	}
}

.size-popup{
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    .size-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
        visibility: hidden;
        opacity: 0;
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .size-wrapper {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 40%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 20px;
        overflow: hidden;
    }
    .size-transition {
        opacity: 0;
    }
    .size-header{
        padding: 30px 40px;
        position: relative;
        background-color: $graybg;
        box-shadow: 0 1px 2px rgba(0, 0%, 0%, 0.06);
        border-bottom: 1px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 26px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: bold;
            margin-bottom: 30px;
        }
        p{
            font-size: 14px;
            font-family: $proximarg;
            color: $brownfont;
            margin: 0;
        }
    }
    .size-content{
        padding: 30px 40px;
        background: $white;
    }

    .size-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .size-close:hover {
        color: #777;
    }
    &.is-visible{
        visibility: visible;
        display: block;
        .size-overlay {
            opacity: 1;
            visibility: visible;
        }
        .size-transition {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }
    .signup-main{
        .form-group{
            margin-bottom: 15px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
            }
        }
    }
    @include breakpoint(slg) {
        .size-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .size-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs) {
        .size-wrapper{
            width: 95%;
        }
        .size-header{
            padding: 18px 20px;
            .vguardsmheading{
                font-size: 16px;
            }
        }
        .size-close{
            right: 10px;
            width: 45px;
        }
        .size-content{
            padding: 30px 20px;
        }
    }
    @include breakpoint(xxxs) {
    }
}

.find-popup{
    .size-wrapper{
        border: none;
        width: 45%;
    }
    .size-content{
        padding: 0;
    }
    .findpopuptab{
        background: $darkgraybg;
        padding: 30px 25px;
        text-align: center;
        border-bottom: 1px solid $orange;
        li{
            display: inline-block;
            a{
                font-size: 18px;
                color: $darkgraytext;
                position: relative;
                cursor: pointer;
                text-align: center;
                letter-spacing: .4px;
                font-weight: 800;
                padding: 0 0px 0 45px;
                line-height: 26px;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 36px;
                    height: 35px;
                    background: url(../../assets/images/sprite-image.png);
                    background-position: 0px -1835px;
                    background-size: 50px;
                }
                &::after{
                    position: absolute;
                    top: 49.5px;
                    left: -100%;
                    transform: rotate(45deg);
                    transition: left 1s ease;
                    margin-left: -5px;
                    border: solid $orange;
                    border-width: 0 1px 1px 0;
                    background-color: $darkgraybg;
                    padding: 4px;
                    width: 15px;
                    height: 15px;
                    content: "";
                    display: none;
                }
                &.active{
                    color: $orange;
                    &::after{
                        display: inline-block;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                    &::before{
                        background-position: 0px -1785px;
                    }
                }
            }
            &:nth-child(2){
                a{
                    &::before{
                        background-position: 0px -1980px;
                    }
                    &.active{
                        &::before{
                            background-position: 0px -2026px;
                        }
                    }
                }
            }
        }
    }
    .tab-content{
        background: $white;
        .find-form{
            padding: 40px 25px 25px;
            .pizzalgheading{
                text-align: center;
                font-size: 30px;
                font-weight: 400;
                font-family: $proximarg;
                margin-bottom: 30px;
            }
            .form-group{
                margin-bottom: 15px;
                position: relative;
                .label-top{
                    font-size: 16px;
                    font-family: $proximarg;
                    margin-bottom: 15px;
                }
                .form-control{
                    border: none;
                    border-bottom: 1px solid $grayborder;
                    padding: 5px 110px 5px 0;
                    height: 35px;
                }
                .find-btn{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    border: none;
                    color: $orange;
                    font-size: 13px;
                    font-family: $proximarg;
                    font-weight: 400;
                    border-radius: 0px;
                    padding: 0;
                    background: transparent;
                    transform: translate(0px, 8px);
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    @include breakpoint(xs){
                      transform: translate(0px, 17px);
                    }
                    i{
                        width: 15px;
                        height: 15px;
                        font-size: 9px;
                        text-align: center;
                        border: 1px solid $orange;
                        border-radius: 50%;
                        line-height: 15px;
                        margin-right: 5px;
                        color: $orange;
                        transition: ease-in-out .5s;
                        -webkit-transition: ease-in-out .5s;
                        -moz-transition: ease-in-out .5s;
                        -ms-transition: ease-in-out .5s;
                        line-height: 13px;
                    }
                    &:hover{
                        background: transparent;
                        color: $orange;
                        i{
                            color: $orange;
                        }
                    }
                }
            }
            .find-right{
                text-align: right;
            }
        }
        .find-bg{
            img{
                width: 100%;
            }
        }
        .manually-main{
            padding: 40px 20px;
            .pizzalgheading{
                text-align: center;
                font-size: 30px;
                font-weight: 400;
                font-family: $proximarg;
                margin-bottom: 50px;
            }
            .form-group{
                margin-bottom: 25px;
                min-height: 60px;
                .label-top{
                    font-size: 14px;
                    font-family: $proximarg;
                    margin-bottom: 5px;
                    // span{
                    //     display: block;
                    // }
                }
                .form-control{
                    border: none;
                    border-bottom: 1px solid $grayborder;
                    padding: 5px 0;
                    height: 35px;
                    text-transform: uppercase;
                    &.select-form{
                        background: url(../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                        background-size: 10px;
                    }
                }
            }
            .manually-btn{
                text-align: right;
            }
        }
        .location-modal{
            margin: 0 5px;
            padding: 0 10px;
            width: calc(100% - 15px);
            overflow-y: scroll;
            height: 320px;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar {
                height: 5px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background: $grayborder;
            }
            &::-webkit-scrollbar-thumb {
                background: $graytext;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: $graytext;
            }
            .location-pick-list{
                position: relative;
                border-radius: 5px;
                border: 2px solid $grayborder;
                margin-bottom: 5px;
                display: flex;
                flex-wrap: wrap;
                font-family: $proximarg;
                cursor: pointer;
                padding: 10px 15px;
                .pizzaxxsheading{
                    font-size: 14px;
                    color: $deepgray;
                    font-family: $proximarg;
                    font-weight: 700;
                    letter-spacing: .3px;
                    margin-bottom: 3px;
                }
                .location-address{
                    width: 48%;
                    padding-left: 35px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0px;
                        width: 30px;
                        height: 25px;
                        background: url(../../assets/images/sprite-image.png);
                        background-position: 0 -2452px;
                        background-size: 40px;
                    }
                    p{
                        font-size: 12px;
                        font-weight: 400;
                        color: $deepgray;
                        line-height: 16px;
                        span{
                            display: block;
                        }
                    }
                }
                .location-hours{
                    width: 42%;
                    padding-left: 45px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 10px;
                        width: 30px;
                        height: 27px;
                        background: url(../../assets/images/sprite-image.png);
                        background-position: 0px -2965px;
                        background-size: 35px;
                    }
                    p{
                        font-size: 12px;
                        font-weight: 400;
                        color: $deepgray;
                        line-height: 16px;
                        span{
                            display: block;
                        }
                    }
                    .location-pickup{
                        font-size: 12px;
                        font-weight: 600;
                        color: $deepgray;
                    }
                }
                .location-hours-right{
                    width: 10%;
                    text-align: right;
                    p{
                        font-size: 13px;
                        color: $orange;
                        font-weight: 800;
                        letter-spacing: .3px;
                    }
                    i{
                        font-size: 11px;
                        color: $green;
                        display: none;
                    }
                }
                .location-directions{
                    width: 100%;
                    a{
                        font-size: 12px;
                        color: $orange;
                        font-weight: 600px;
                        i{
                            width: 17px;
                            height: 17px;
                            font-size: 10px;
                            text-align: center;
                            border: 1px solid $orange;
                            border-radius: 50%;
                            line-height: 16px;
                            margin-right: 5px;
                            color: $orange;
                        }
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                &.select-active{
                    border-color: $green;
                    .pizzaxxsheading{
                        color: $green;
                    }
                    .location-address{
                        &::before{
                            background-position: 0 -2488px;
                        }
                        p{
                            color: $green;
                        }
                    }
                    .location-hours{
                        &::before{
                            background-position: 0px -2997px;
                        }
                        p, .location-pickup{
                            color: $green;
                        }
                    }
                    .location-hours-right{
                        p{
                            display: none;
                        }
                        i{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(slg) {
        .size-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .size-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .findpopuptab{
            padding: 20px 25px;
            li{
                a{
                    font-size: 16px;
                    padding: 0 0px 0 45px;
                    &::after{
                        top: 39.5px;
                    }
                }
            }
        }
        .tab-content{
            .find-form{
                .pizzalgheading{
                    font-size: 24px;
                    margin-bottom: 20px;
                }
                .form-group{
                    .label-top{
                        font-size: 14px;
                    }
                }
                .find-right{
                    .pizza-btn{
                        width: 100%;
                    }
                }
            }
            .manually-main{
                padding: 20px 10px;
                .pizzalgheading{
                    font-size: 24px;
                    margin-bottom: 20px;
                    line-height: 32px;
                }
                .form-group{
                    min-height: auto;
                    margin-bottom: 15px;
                }
            }
            .location-modal{
                height: 280px;
                .location-pick-list{
                  .pizzaxxsheading{
                    padding-right: 45px;
                  }
                    .location-address{
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .location-hours{
                        width: 100%;
                        padding-left: 35px;
                        margin-bottom: 10px;
                        &::before{
                            left: 0px;
                        }
                    }
                    .location-hours-right{
                        position: absolute;
                        top: 10px;
                        right: 22px;
                    }
                    .location-directions{
                        padding-left: 35px;
                    }
                }
            }
        }
        .size-wrapper{
            width: 95%;
        }
    }
}

.storeClose-popup{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;


    .find-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .find-wrapper{
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 35%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 5px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .btn-delete-no{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #fff;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #ee5a00;
        font-size: 1em;
    }
    .btn-delete-yes{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #ee5a00;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #fff;
        font-size: 1em;
    }
    .find-header{
        padding: 30px 40px;
        position: relative;
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 46px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 0px;
        }
        .pizzaparaDelete{
            font-weight: 400;
            text-align: center;
            line-height: 1.175;
            letter-spacing: .15px;
            color: #4c3017;
            font-size: 1.2em;
            margin-top: 20px;
        }
    }
    .find-content{
        padding: 0;
    }
    .find-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .find-close:hover {
        color: #777;
    }
    .find-form{
        padding: 40px 25px 25px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 30px;
        }
        .form-group{
            margin-bottom: 15px;
            position: relative;
            .label-top{
                font-size: 16px;
                font-family: $proximarg;
                margin-bottom: 15px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 75px 5px 0;
                height: 35px;
            }

            .find-btn{
                position: absolute;
                top: 50%;
                right: 0;
                border: none;
                color: $orange;
                font-size: 13px;
                font-family: $proximarg;
                font-weight: 400;
                border-radius: 0px;
                padding: 0;
                background: transparent;
                transition: ease-in-out .5s;
                -webkit-transition: ease-in-out .5s;
                -moz-transition: ease-in-out .5s;
                -ms-transition: ease-in-out .5s;
                i{
                    width: 17px;
                    height: 17px;
                    font-size: 10px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 16px;
                    margin-right: 5px;
                    color: $orange;
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                }
                &:hover{
                    background: transparent;
                    color: $orange;
                    i{
                        color: $orange;
                    }
                }
            }
        }
        .find-right{
            text-align: right;
        }
    }
    .find-bg{
        img{
            width: 100%;
        }
    }
    .manually-main{
        padding: 40px 20px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 50px;
        }
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                // span{
                //     display: block;
                // }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                text-transform: uppercase;
                &.select-form{
                    background: url(../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .manually-btn{
            text-align: right;
        }
    }
    .location-modal{
        margin: 0 5px;
        padding: 0 10px;
        width: calc(100% - 15px);
        overflow-y: scroll;
        height: 180px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $grayborder;
        }
        &::-webkit-scrollbar-thumb {
            background: $graytext;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $graytext;
        }
        .location-pick-list{
            position: relative;
            border-radius: 5px;
            border: 2px solid $grayborder;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            font-family: $proximarg;
            cursor: pointer;
            padding: 10px 15px;
            justify-content: space-between;
            .pizzaxxsheading{
                font-size: 14px;
                color: $deepgray;
                font-family: $proximarg;
                font-weight: 700;
                letter-spacing: .3px;
                margin-bottom: 3px;
            }
            .location-address{
                width: 70%;
                padding-left: 35px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0px;
                    width: 30px;
                    height: 25px;
                    background: url(../../assets/images/sprite-image.png);
                    background-position: 0 -2452px;
                    background-size: 40px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: $deepgray;
                    line-height: 16px;
                    span{
                        display: block;
                    }
                }
            }
            .location-hours-right{
                width: 10%;
                text-align: right;
                p{
                    font-size: 13px;
                    color: $orange;
                    font-weight: 800;
                    letter-spacing: .3px;
                }
                i{
                    font-size: 11px;
                    color: $green;
                    display: none;
                }
            }
            &.select-active{
                border-color: $green;
                .pizzaxxsheading{
                    color: $green;
                }
                .location-address{
                    &::before{
                        background-position: 0 -2488px;
                    }
                    p{
                        color: $green;
                    }
                }
                .location-hours{
                    &::before{
                        background-position: 0px -2997px;
                    }
                    p, .location-pickup{
                        color: $green;
                    }
                }
                .location-hours-right{
                    p{
                        display: none;
                    }
                    i{
                        display: block;
                    }
                }
            }
        }
    }
    .delite-popup-wraper{
      .find-header{
        // display: flex;
        justify-content: center;
        align-items: center;
        .user-icon{
          margin-bottom: 0px;
          i{
            font-size: 36px;
          }
        }
        .pizzalgheading{
          margin-left: 5px;
          font-weight: bold;
          margin-top: 5px;
        }
      }
      .find-body{
        text-align: center;
        padding: 0px 30px 30px 30px;
        .pizzaparaDelete{
          margin-bottom: 30px;
        }
      }
    }


    @include breakpoint(slg) {
        .find-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .find-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .find-form{
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .form-group{
                .label-top{
                    font-size: 14px;
                }
            }
            .find-right{
                .pizza-btn{
                    width: 100%;
                }
            }
        }
        .manually-main{
            padding: 20px 10px;
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
                line-height: 32px;
            }
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
        }
        .location-modal{
            height: 280px;
            .location-pick-list{
                .location-address{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .location-hours{
                    width: 100%;
                    padding-left: 35px;
                    margin-bottom: 10px;
                    &::before{
                        left: 0px;
                    }
                }
                .location-hours-right{
                    position: absolute;
                    top: 10px;
                    right: 22px;
                }
                .location-directions{
                    padding-left: 35px;
                }
            }
        }
        .find-wrapper{
            width: 95%;
        }
    }
}

@include breakpoint(xsm){
    .find-popup{
        .tab-content {
            .find-form{
                .form-group{
                    .find-btn{
                        transform: translate(0px, 7px);
                    }
                }
            }
        }
    } 
}


@include breakpoint(xs){
    .reset-btn::after, .reset-btn::before{
        top: 5px;
    left: 10px;
    }
    .reset-btn{width: 20px;height: 20px;}
}