
<app-web-loader *ngIf="wholeloader"></app-web-loader>

<!-- payment loader starts -->
<section class="payprocess-loader" *ngIf="paysaveloader">
    <div class="payprocess-outer">
        <div class="loader1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <p class="processingtext">Processing</p>
        <p>Please do not press 'Back' or 'Refresh' button</p>
    </div>
</section>
<!-- payment loader ends -->


<section class="checkout-main" *ngIf="emptyCartData">
    <div class="container">
        <div class="checkout-top">
            <div class="signin-top">
                <a class="back-btn" href="/">Back</a>
            </div>
            <h1 class="pizzalgheading">CHECKOUT</h1>
        </div>
        <div class="checkout-bottom" style="height: 300px; text-align: center;font-size: 18px;">
            <p>You have no items in your cart.</p><br/>
            <p>Click <a style="color:#EE5A0D" routerLink="/">here</a> to add items</p>
        </div>
    </div>
</section>

<section class="checkout-main" *ngIf="wholePage">
    <div class="container">
        <div class="checkout-top">
            <div class="signin-top">
                <a class="back-btn" href="/">Back</a>
            </div>
            <div class="top-cart">
                <span>{{cartProduct.length}} Item<span *ngIf="cartProduct.length>1">s</span></span>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <h1 class="pizzalgheading">CHECKOUT</h1>
        </div>
        <div class="checkout-bottom">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-8 checkout-left">
                    <div class="checkout-accordion" [class.checkoutactive]="idc === 'checkoutone'">
                        <div class="checkout-accordion-title" id="checkoutone" (click)="accordion('checkoutone')">
                            <h2 class="pizzasmheading">1. Review Order
                                <i *ngIf="reviewCheck" style="color: #4e7026;" class="fa fa-check" aria-hidden="true"></i>
                            </h2>

                            <span></span>
                        </div>
                        <div class="checkout-accordion-content" *ngIf="idc === 'checkoutone' ">
                            <div class="cart-checkout-top" *ngFor="let cartItems of cartProduct; let i=index;">
                                <div class="cart-image-wrap">
                                    <img src="{{cartItems.full_details.productDetail.itemImage_png == null?'assets/images/product/pizza.png':cartItems.full_details.productDetail.itemImage_png}}" alt="add-cart">
                                </div>
                                <div class="cart-checkout-content">
                                    <div class="cart-checkout-left">
                                        <h3 class="pizzaxxsheading">{{cartItems.product_name}}</h3>
                                        <p>{{cartItems.full_details.productDetail.description}}</p>
                                        <p>
                                            <span *ngFor="let item of cartItems.full_details.pizzaIngrediants">{{item}}, </span>
                                            <span *ngFor="let entities of cartItems.full_details.entity">
                                                <span *ngFor="let categorys of entities.category">
                                                    <!-- <span *ngFor="let catItems of categorys.items">{{catItems.name}}{{catItems.quantity == 1?"":"(X"+catItems.quantity+")"}}{{catItems.onSides== "Whole"?"":"("+catItems.onSides+")"}}, </span> -->
                                                    <!-- <span *ngFor="let catItems of categorys.items">{{catItems.name}}{{catItems.quantity == 1?"":"(X"+catItems.quantity+")"}}, </span> -->
                                                </span>
                                            </span>

                                        </p>
                                        <div class="cart-btn-group">
                                            <button class="remove-btn" (click)="removeItempopup(cartItems)"><i class="fa fa-minus" aria-hidden="true"></i>Remove</button>
                                            <!-- <a *ngIf="cartItems.full_details.productDetail.category.addon_customize==true || cartItems.full_details.productDetail.category.isCombo==true" class="edit-btn" routerLink="/product-details/{{cartItems.full_details.categoryUrl}}/{{cartItems.full_details.productUrl}}/{{cartItems.id}}"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a> -->
                                        </div>
                                    </div>
                                    <div class="cart-checkout-right">
                                        <div class="cart-quantity">
                                            <p>Quantity</p>
                                            <div class="product-number notranslate" id="incredecrement{{i}}">
                                                <span class="minus" [ngClass]="cartItems.quantity == 1?'notallowed':''" (click)="minus(cartItems, i, cartItems.rate)">-</span>
                                                <span class="numbertype" id="checkoutQuantity{{i}}">{{cartItems.quantity}}</span>
                                                <span class="plus" (click)="plus(cartItems, i, cartItems.rate)">+</span>
                                            </div>
                                            <div class="product-number notranslate" style="text-align: center;display: none;" id="incrdecreLoader{{i}}">
                                                <i class="fa fa-spinner fa-spin" style="color: #fb5000;"  aria-hidden="true"></i>
                                            </div>
                                            
                                        </div>
                                        <div class="cart-item-total">
                                            <p>Item Total</p>
                                            <div class="pizzamdheading notranslate" id="checkoutRate{{i}}">${{cartItems.total_amount}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="also-like">
                                <div class="pizzaxsheading">You may also like</div>
                                <div class="alsolikeslider">
                                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="alsoConfig">
                                        <div ngxSlickItem class="item">
                                            <div class="also-card">
                                                <div class="also-card-left">
                                                    <img src="assets/images/also-like/coke.png" alt="coke">
                                                </div>
                                                <div class="also-card-right">
                                                    <div class="also-card-title">2 Bottled Drinks</div>
                                                    <div class="also-card-bottom">
                                                        <span class="also-price">$3.99</span>
                                                        <a href="#" class="also-add"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ngxSlickItem class="item">
                                            <div class="also-card">
                                                <div class="also-card-left">
                                                    <img src="assets/images/also-like/coke.png" alt="coke">
                                                </div>
                                                <div class="also-card-right">
                                                    <div class="also-card-title">2 Bottled Drinks</div>
                                                    <div class="also-card-bottom">
                                                        <span class="also-price">$3.99</span>
                                                        <a href="#" class="also-add"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ngxSlickItem class="item">
                                            <div class="also-card">
                                                <div class="also-card-left">
                                                    <img src="assets/images/also-like/coke.png" alt="coke">
                                                </div>
                                                <div class="also-card-right">
                                                    <div class="also-card-title">2 Bottled Drinks</div>
                                                    <div class="also-card-bottom">
                                                        <span class="also-price">$3.99</span>
                                                        <a href="#" class="also-add"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ngxSlickItem class="item">
                                            <div class="also-card">
                                                <div class="also-card-left">
                                                    <img src="assets/images/also-like/coke.png" alt="coke">
                                                </div>
                                                <div class="also-card-right">
                                                    <div class="also-card-title">2 Bottled Drinks</div>
                                                    <div class="also-card-bottom">
                                                        <span class="also-price">$3.99</span>
                                                        <a href="#" class="also-add"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ngx-slick-carousel>
                                </div>
                            </div> -->
                            <div class="form-row-btn">
                                <button [disabled]="popupflag" style="margin-top: 30px;" class="pizza-btn" (click)="reviewOrder('checkouttwo')">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="checkout-accordion" [class.checkoutactive]="idc === 'checkouttwo'">
                        <div class="checkout-accordion-title" id="checkouttwo" (click)="accordion('checkouttwo')">
                            <div class="pizzasmheading pizzaAddressHead">
                                2. Select Pick Up Store
                                <i *ngIf="reviewCheckAddress" style="color: #4e7026;" class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            <span></span>
                        </div>
                        <div class="checkout-accordion-content" *ngIf="idc === 'checkouttwo' ">
                            <div class="select-radio">
                                <div class="row">
                                    <!-- <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-6 col-lg-4">
                                                <div class="form-row-left">
                                                    <div class="check-heading">
                                                        <input type="radio" class="radio" id="pickup" [(ngModel)]="tabname" name="pizzaObtainMethod" value="pickup">
                                                        <label class="radio-circle address-radio" for="pickup"></label>
                                                    </div>
                                                    <label for="pickup">Pickup</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg-4">
                                                <div class="form-row-left">
                                                    <div class="check-heading">
                                                        <input type="radio" class="radio" id="fornow" [(ngModel)]="pickupTime" name="deliveryTiming" value="fornow" >
                                                        <label class="radio-circle address-radio"  for="fornow"></label>
                                                    </div>
                                                    <label for="fornow">For Now</label>
                                                </div>
                                            </div>

                                            <div class="col-6 col-lg-6">
                                                <div class="form-row-left" id="delivery" (click)="deliveryShow($event)">
                                                    <input type="radio" class="radio" id="delivery" name="pizzaObtainMethod" value="delivery">
                                                    <label for="delivery">Delivery</label>
                                                </div>
                                            </div>
                                            <div class="col-4 col-lg-4">
                                                <div class="form-row-left" id="forfuture">
                                                    <input type="radio" class="radio" id="forfuture" name="deliveryTiming" value="forfuture">
                                                    <label for="forfuture">For Future</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="col-md-4" *ngIf="addressShown">
                                        <div class="row">
                                            <div class="col-12 col-lg-12">
                                                <div class="form-row-left" (click)="deliveryShow($event)">
                                                    <input type="radio" class="radio" id="residential" name="type" value="residential" checked>
                                                    <label for="residential">Residential</label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-12">
                                                <div class="form-row-left" id="university" (click)="universityShow($event)">
                                                    <input type="radio" class="radio" id="university" name="type" value="university">
                                                    <label for="university">University</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <!-- <form> -->
                                <div class="pickup-box">
                                    <!-- <div class="delivery-time">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select class="form-control select-form" >
                                                        <option value="today">Today</option>
                                                        <option value="tomorrow">Tomorrow</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select class="form-control select-form" >
                                                        <option value="today">11:45 AM</option>
                                                        <option value="tomorrow">11:45 AM</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="delivery-top">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-6">
                                                <div class="form-group">
                                                    <label class="label-top">
                                                        Nickname
                                                        <span>(Optional)</span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="university-form" *ngIf="universityShown">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="label-top">
                                                    Name of College or University
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control select-form">
                                                        <option value="">Select University</option>
                                                        <option value=""> Algonquin College </option>
                                                        <option value=""> Atlantic School of Theology </option>
                                                        <option value=""> Algoma University </option>
                                                        <option value=""> Brandon University </option>
                                                        <option value=""> Brock University </option>
                                                        <option value=""> Canadian Academy of Engineering </option>
                                                        <option value=""> College Andre Grasset </option>
                                                        <option value=""> College Ahuntsic </option>
                                                        <option value=""> College Boreal </option>
                                                        <option value=""> Canador College </option>
                                                        <option value=""> Centennial College Ashtonbee Campus </option>
                                                        <option value=""> Canadian College of Business &amp; Computers </option>
                                                        <option value=""> Conestoga College Cambridge </option>
                                                        <option value=""> Conestoga College Doon Campus </option>
                                                        <option value=""> Conestoga College Guelph Campus </option>
                                                        <option value=""> Conestoga College Ingersol Campus </option>
                                                        <option value=""> Centennial College Morning Campus </option>
                                                        <option value=""> Canadian College of Naturopathic Medicine </option>
                                                        <option value=""> Centennial College Progress Campus </option>
                                                        <option value=""> Conestoga College Stratford Campus </option>
                                                        <option value=""> Confederation College Nankina Drive Thunder Bay </option>
                                                        <option value=""> Conestoga College Waterloo Campus </option>
                                                        <option value=""> CDI College </option>
                                                        <option value=""> Cegep De L Outaouais </option>
                                                        <option value=""> Conservatoire De Musique De Montreal </option>
                                                        <option value=""> College De Rosemont </option>
                                                        <option value=""> Cegep Heritage College </option>
                                                        <option value=""> College Montmorency </option>
                                                        <option value=""> Canadian Memorial Chiropractic College </option>
                                                        <option value=""> Canadian Mennonite University North Campus </option>
                                                        <option value=""> Canadian Mennonite University South Campus </option>
                                                        <option value=""> Cegep Marie Victorin </option>
                                                        <option value=""> Cegep de Saint Laurent </option>
                                                        <option value=""> College Tecnique De Montreal </option>
                                                        <option value=""> Carleton University </option>
                                                        <option value=""> Concordia University George Wiloptionam Campus </option>
                                                        <option value=""> Concordia University Loyola Campus </option>
                                                        <option value=""> Cegep Du Vieux Montreal </option>
                                                        <option value=""> Dawson College </option>
                                                        <option value=""> Dominican University College </option>
                                                        <option value=""> Dalhousie University </option>
                                                        <option value=""> Dalhousie University Carleton Campus </option>
                                                        <option value=""> Dalhousie University Studley Campus </option>
                                                        <option value=""> Dalhousie University Sexton Campus </option>
                                                        <option value=""> Emmanuel Bible College </option>
                                                        <option value=""> Ecole Polytechnique De Montreal </option>
                                                        <option value=""> Fanshawe College </option>
                                                        <option value=""> Fort York Armoury </option>
                                                        <option value=""> Glendon College </option>
                                                        <option value=""> Grand River Hospital </option>
                                                        <option value=""> Herzing College </option>
                                                        <option value=""> Inter-Dec College </option>
                                                        <option value=""> Institut Grasset </option>
                                                        <option value=""> Institut Teccart </option>
                                                        <option value=""> Institut de tourisme et d'hotellerie du Quebec </option>
                                                        <option value=""> King's College </option>
                                                        <option value=""> La Cite Collegiate Ottawa </option>
                                                        <option value=""> Lambton College </option>
                                                        <option value=""> Loyaoptionst College of Appoptioned Arts &amp; Technology </option>
                                                        <option value=""> Lambton College Sarnia </option>
                                                        <option value=""> Lambton College Toronto </option>
                                                        <option value=""> - </option>
                                                        <option value=""> Lakehead university - Oriloptiona Campus </option>
                                                        <option value=""> Lakehead university - Thunderbay Campus </option>
                                                        <option value=""> McMaster </option>
                                                        <option value=""> Mohawk College </option>
                                                        <option value=""> Mohawk College Brantford </option>
                                                        <option value=""> Mohawk College Fennel Avenue </option>
                                                        <option value=""> Mohawk College Laurier Campus </option>
                                                        <option value=""> Mohawk College at Mcmaster </option>
                                                        <option value=""> Mohawk College Stoney Creek </option>
                                                        <option value=""> Marianopooptions College </option>
                                                        <option value=""> Menno Simons College </option>
                                                        <option value=""> McGill University Downtown Campus </option>
                                                        <option value=""> Niagara College </option>
                                                        <option value=""> Niagara College of Appoptioned Arts &amp; Technology </option>
                                                        <option value=""> Nova Scotia College of Arts &amp; Design </option>
                                                        <option value=""> Nova Scotia Community College </option>
                                                        <option value=""> Nova Scotia Community College </option>
                                                        <option value=""> National Theatre School of Canada </option>
                                                        <option value=""> Nippissing University </option>
                                                        <option value=""> Queens University </option>
                                                        <option value=""> Ridley College </option>
                                                        <option value=""> Red River College Notre Dame Campus </option>
                                                        <option value=""> Red River College The Patterson Global Institute </option>
                                                        <option value=""> Red River College The Roboptionn Centre </option>
                                                        <option value=""> Red River College Stevenson Aviation &amp; Aerospace Training Centre </option>
                                                        <option value=""> Ryerson University </option>
                                                        <option value=""> St Clair College of Appoptioned Arts &amp; Technology </option>
                                                        <option value=""> St Lawrence College of Appoptioned Arts &amp; Technology </option>
                                                        <option value=""> St marys University </option>
                                                        <option value=""> St Clair College Media Plex </option>
                                                        <option value=""> University of Sherbrooke </option>
                                                        <option value=""> Mount Saint Vincent University </option>
                                                        <option value=""> Trinity College Boarding School </option>
                                                        <option value=""> Trent University </option>
                                                        <option value=""> University of Montreal </option>
                                                        <option value=""> University of Montreal - Laval Campus </option>
                                                        <option value=""> Guelph </option>
                                                        <option value=""> University of Kings College </option>
                                                        <option value=""> University of Manitoba </option>
                                                        <option value=""> UNIVERSITY_NAME </option>
                                                        <option value=""> University of Ottawa </option>
                                                        <option value=""> University of Ontario Institute of Technology </option>
                                                        <option value=""> University of Quebec in Montreal </option>
                                                        <option value=""> University of Regina </option>
                                                        <option value=""> Univ of Toronto </option>
                                                        <option value=""> University of Toronto St George Campus </option>
                                                        <option value=""> Univ of Toronto - Scarborough </option>
                                                        <option value=""> Waterloo </option>
                                                        <option value=""> Western </option>
                                                        <option value=""> Vanier College </option>
                                                        <option value=""> Wiloptionam &amp; Catherine Booth University College </option>
                                                        <option value=""> Windsor </option>
                                                        <option value=""> Wilfrid Laurier </option>
                                                        <option value=""> University of Winnipeg </option>
                                                        <option value=""> York University </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="label-top">
                                                        Building
                                                    </label>
                                                    <select class="form-control select-form">
                                                        <option value="">Select Building</option>
                                                        <option value=""> Algonquin College </option>
                                                        <option value=""> Atlantic School of Theology </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4">
                                                <div class="form-group">
                                                    <label class="label-top">
                                                        Building Entrance
                                                        <span>(Optional)</span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4">
                                                <div class="form-group">
                                                    <label class="label-top">
                                                        Room Number
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="delivery-addr" *ngIf="deliveryShown">
                                        <div class="row">
                                            <div class="col-12 col-lg-12">
                                                <div class="form-group">
                                                    <label class="label-top">
                                                        Number & Street Name
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4">
                                                <div class="form-group">
                                                    <label class="label-top">
                                                        Apt #
                                                        <span>(Optional)</span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4">
                                                <div class="form-group">
                                                    <label class="label-top">
                                                        Buzzer
                                                        <span>(Optional)</span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4">
                                                <div class="form-group signup-radio">
                                                    <div class="form-row-left">
                                                        <input type="radio" class="radio" id="home" name="homeMobile" value="home">
                                                        <label for="home">Front Door</label>
                                                    </div>
                                                    <div class="form-row-left">
                                                        <input type="radio" class="radio" id="mobile" name="homeMobile" value="mobile">
                                                        <label for="mobile">Back Door</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="pickup-add" *ngIf="pickupShown">
                                        <button class="add-btn" (click)="FindsPopUpShow()">
                                            <span class="add-btn-text" >Add</span>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="">
                                        <!-- <div class="pickup-store store-active">
                                            <div class="pickup-store-left">
                                                <div class="pizzaxxsheading">{{pickupStores.store_name}}</div>
                                                <p>{{pickupStores.address}}</p>
                                            </div>
                                            <div class="pickup-store-right">
                                                <p>Select</p>
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </div>
                                        </div> -->
                                        <div *ngIf="pickupPopupLocation">
                                            <div class="pickup-store" *ngFor="let showPickupStorelist of showPickupStore; let i = index" [ngClass]="showPickupStorelist.by_default == 1?'store-active':''" >
                                                <div class="pickup-store-left">
                                                    <div class="pizzaxxsheading">{{showPickupStorelist.store_name}}</div>
                                                    <p>{{showPickupStorelist.address}}</p>
                                                </div>
                                                <div class="pickup-store-right">
                                                    <p (click)="selectClick(showPickupStorelist)">Select</p>
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="contact-info notranslate" *ngIf="withsignUpform">
                                        <form [formGroup]='checkoutLogedIn' (ngSubmit)="contactGuestData(checkoutLogedIn)">
                                            <div class="contactless-check">
                                                
                                                <label class="checkbox-checkout">Contactless Pickup (available for online payment only)
                                                    <input formControlName="contactless" type="checkbox" (change)="changed($event)">
                                                    <span class="checkmark-checkout"></span>
                                                </label>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="pizzaxxsheading">Contact Information</div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label-top" [ngStyle]="{'color':checkoutLogedIn.controls['phone'].invalid && (checkoutLogedIn.controls['phone'].dirty || checkoutLogedIn.controls['phone'].touched) ? 'red' : 'black' }">
                                                            Phone Number
                                                            <span *ngIf="checkoutLogedIn.controls['phone'].invalid && (checkoutLogedIn.controls['phone'].dirty || checkoutLogedIn.controls['phone'].touched)" class="errorMessage">
                                                                <small *ngIf="checkoutLogedIn.controls['phone'].hasError('required')">
                                                                Missing
                                                                </small>
                                                                <small *ngIf="checkoutLogedIn.controls['phone'].hasError('minlength') || checkoutLogedIn.controls['phone'].hasError('pattern')">
                                                                    Invalid
                                                                </small>
                                                            </span>
                                                        </label>
                                                        <input formControlName="phone" type="text" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label-top" [ngStyle]="{'color':checkoutLogedIn.controls['extension'].invalid && (checkoutLogedIn.controls['extension'].dirty) ? 'red' : 'black' }">
                                                            Extension
                                                            <span>(Optional)</span>
                                                            <span *ngIf="checkoutLogedIn.controls['extension'].invalid && (checkoutLogedIn.controls['extension'].dirty)" class="errorMessage">
                                                                <small *ngIf="checkoutLogedIn.controls['extension'].hasError('maxlength') || checkoutLogedIn.controls['extension'].hasError('pattern')">
                                                                    Invalid
                                                                </small>
                                                            </span>
                                                        </label>
                                                        <input type="text"  maxlength="5" formControlName="extension" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-row-btn">
                                                    <button type="submit" [disabled]="!checkoutLogedIn.valid || storeStatus == false" class="pizza-btn" (click)="addressUpdate()">Next</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="contact-info notranslate" *ngIf="withoutsignUpform">
                                        <form [formGroup]='checkoutguestDetail' (ngSubmit)="contactData(checkoutLogedIn)">
                                            <!-- <div class="contactless-check">
                                                <input formControlName="contactless" type="checkbox" class="checks" (change)="changed($event)">
                                                <label for="pickup">Contactless Pickup (available for online payment only)</label>
                                            </div> -->


                                            <div class="contactless-check">
                                                
                                                <label class="checkbox-checkout">Contactless Pickup (available for online payment only)
                                                    <input formControlName="contactless" type="checkbox" (change)="changed($event)">
                                                    <span class="checkmark-checkout"></span>
                                                </label>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="pizzaxxsheading">Contact Information</div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="label-top" [ngStyle]="{'color':checkoutguestDetail.controls['fname'].invalid && (checkoutguestDetail.controls['fname'].dirty || checkoutguestDetail.controls['fname'].touched) ? 'red' : 'black' }">
                                                            First Name <span class="asterisk">*</span>
                                                            <span *ngIf="checkoutguestDetail.controls['fname'].invalid && (checkoutguestDetail.controls['fname'].dirty || checkoutguestDetail.controls['fname'].touched)" class="errorMessage">
                                                                <small *ngIf="checkoutguestDetail.controls['fname'].hasError('required')">
                                                                Missing
                                                                </small>
                                                            </span>
                                                        </label>
                                                        <input type="text" formControlName="fname" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="label-top" [ngStyle]="{'color':checkoutguestDetail.controls['lname'].invalid && (checkoutguestDetail.controls['lname'].dirty || checkoutguestDetail.controls['lname'].touched) ? 'red' : 'black' }">
                                                            Last Name <span class="asterisk">*</span>
                                                            <span *ngIf="checkoutguestDetail.controls['lname'].invalid && (checkoutguestDetail.controls['lname'].dirty || checkoutguestDetail.controls['lname'].touched)" class="errorMessage">
                                                                <small *ngIf="checkoutguestDetail.controls['lname'].hasError('required')">
                                                                Missing
                                                                </small>
                                                            </span>
                                                        </label>
                                                        <input type="text" formControlName="lname" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="label-top" [ngStyle]="{'color':checkoutguestDetail.controls['email'].invalid && (checkoutguestDetail.controls['email'].dirty || checkoutguestDetail.controls['email'].touched) ? 'red' : 'black' }">
                                                            Email Address <span class="asterisk">*</span>
                                                            <span *ngIf="checkoutguestDetail.controls['email'].invalid && (checkoutguestDetail.controls['email'].dirty || checkoutguestDetail.controls['email'].touched)" class="errorMessage">
                                                                <small *ngIf="checkoutguestDetail.controls['email'].hasError('required')">
                                                                Missing
                                                                </small>
                                                                <small *ngIf="checkoutguestDetail.controls['email'].hasError('email') ||  checkoutguestDetail.controls['email'].hasError('pattern')">
                                                                    Invalid
                                                                </small>
                                                            </span>
                                                        </label>
                                                        <input type="text" formControlName="email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label-top" [ngStyle]="{'color':checkoutguestDetail.controls['phone'].invalid && (checkoutguestDetail.controls['phone'].dirty || checkoutguestDetail.controls['phone'].touched) ? 'red' : 'black' }">
                                                            Phone Number
                                                            <span *ngIf="checkoutguestDetail.controls['phone'].invalid && (checkoutguestDetail.controls['phone'].dirty || checkoutguestDetail.controls['phone'].touched)" class="errorMessage">
                                                                <small *ngIf="checkoutguestDetail.controls['phone'].hasError('required')">
                                                                Missing
                                                                </small>
                                                                <small *ngIf="checkoutguestDetail.controls['phone'].hasError('minlength')||checkoutguestDetail.controls['phone'].hasError('maxlength') || checkoutguestDetail.controls['phone'].hasError('pattern')">
                                                                    Invalid
                                                                </small>
                                                            </span>
                                                        </label>
                                                        <input formControlName="phone" type="text" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label-top" [ngStyle]="{'color':checkoutguestDetail.controls['extension'].invalid && (checkoutguestDetail.controls['extension'].dirty) ? 'red' : 'black' }">
                                                            Extension
                                                            <span>(Optional)</span>
                                                            <span *ngIf="checkoutguestDetail.controls['extension'].invalid && (checkoutguestDetail.controls['extension'].dirty)" class="errorMessage">
                                                                <small *ngIf="checkoutguestDetail.controls['extension'].hasError('maxlength') || checkoutguestDetail.controls['extension'].hasError('pattern')">
                                                                    Invalid
                                                                </small>
                                                            </span>
                                                        </label>
                                                        <input type="text"  maxlength="5" formControlName="extension" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-row-btn">
                                                    <button class="pizza-btn" [disabled]="!checkoutguestDetail.valid || storeStatus == false" class="pizza-btn" (click)="addressUpdate()">Next</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="delivery-instructions" *ngIf="deliverytopShown">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pizzaxxsheading">Delivery Instructions</div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2" cols="30"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- </form> -->

                        </div>
                    </div>

                    <div class="checkout-accordion" [class.checkoutactive]="idc === 'checkoutthree'">
                        <div class="checkout-accordion-title" id="checkoutthree">
                            <div class="pizzasmheading">3. Payment Options</div>
                            <span></span>
                        </div>
                        <div class="checkout-accordion-content" *ngIf="idc === 'checkoutthree' ">
                            <!-- <div class="gift-accordion">
                                <div class="gift-option" [class.giftactive]="idn === 'giftone'">
                                    <div class="gift-accordion-title" id="giftone" (click)="giftaccordion('giftone')">
                                        <span class="plus-icon"></span>
                                        <div class="pizzaxsheading">Add a gift card</div>
                                    </div>
                                    <div class="gift-accordion-content" *ngIf="idn === 'giftone' ">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label class="label-top">
                                                            Card number
                                                        </label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label class="label-top">
                                                            PIN
                                                        </label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 form-row-btn">
                                                    <input type="submit" class="pizza-btn" value="Apply">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="gift-option" [class.giftactive]="idn === 'gifttwo'">
                                    <div class="gift-accordion-title" id="gifttwo" (click)="giftaccordion('gifttwo')">
                                        <span class="plus-icon"></span>
                                        <div class="pizzaxsheading">Add a coupon</div>
                                    </div>
                                    <div class="gift-accordion-content" *ngIf="idn === 'gifttwo' ">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <div class="form-group">
                                                        <label class="label-top">
                                                            Coupon code
                                                        </label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 form-row-btn">
                                                    <input type="submit" class="pizza-btn" value="Apply">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div> -->
                            <div class="new-payment" *ngIf="savepaymentmethod">
                                <h4 class="pizzamdheading">Your saved payment method</h4>
                                <div class="checkout-accordion-content">
                                    <div class="pickup-box">
                                                <!-- <div class="pickup-store" *ngFor="let carditem of cardlistdetails">
                                                    <div class="pickup-store-left">
                                                        <div class="pizzaxxsheading">{{carditem.name_on_card}}</div>
                                                        <p>**** **** **** {{carditem.last_digits}}</p>
                                                    </div>
                                                    <div class="pickup-store-right">
                                                        <p>Select</p>
                                                        <i aria-hidden="true" class="fa fa-check"></i>
                                                    </div>
                                                    <div>
                                                        <input type="text" name="cvv" id="" [(ngModel)]="cvvCard">
                                                    <button type="button" [disabled]="cvvCard.length<3"  (click)="paywithToken(cvvCard, carditem)">pay now</button>
                                                    </div>
                                                    <div>{{errormessagepayonline}}</div>
                                                </div> -->

                                                <!--  -->
                                                <div style="cursor: pointer;" class="pickup-store pickup-store-wraper" *ngFor="let carditem of cardlistdetails; let i=index">
                                                    <div class="pickup-store-box" (click)="selectfortoken(i)">
                                                        <div class="pickup-store-left">
                                                            <div class="pizzaxxsheading">{{carditem.name_on_card}}</div>
                                                        </div>
                                                        <div class="acoount-no">
                                                            <p>**** **** **** {{carditem.last_digits}}</p>
                                                        </div>
                                                        <div class="pickup-store-right" >
                                                            <p  (click)="selectfortoken(i)">Select</p>
                                                            <i aria-hidden="true" class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                    <div class="form-payment cvv-wrapershow" *ngIf="tokencvvOpen == i">
                                                        <form [formGroup]='tokencvv' (ngSubmit)="paywithToken(tokencvv, carditem)">
                                                            <p class="pizzaxxsheading"  [ngStyle]="{'color':tokencvv.controls['cvv'].invalid && (tokencvv.controls['cvv'].dirty || tokencvv.controls['cvv'].touched) ? 'red' : 'black' }">Please enter your CVV No <span class="asterisk">*</span>
                                                                <span *ngIf="tokencvv.controls['cvv'].invalid && (tokencvv.controls['cvv'].dirty || tokencvv.controls['cvv'].touched)" class="errorMessage">
                                                                    <small *ngIf="tokencvv.controls['cvv'].hasError('required')">
                                                                    Missing
                                                                    </small>
                                                                    <small *ngIf="tokencvv.controls['cvv'].hasError('minlength') || tokencvv.controls['cvv'].hasError('maxlength') || tokencvv.controls['cvv'].hasError('pattern')">
                                                                        Invalid
                                                                    </small>
                                                                </span>
                                                            </p>
                                                            <div class="pickup-form ">
                                                                
                                                                <div class="input-payment-method">
                                                                    <input type="password" class="form-control cvv-no-chrckout" formControlName="cvv" maxlength = "4" >
                                                                    <p class="cvv-error">{{errormessagepayonline}}</p>
                                                                </div>
                                                                <div class="btn-payment-method">
                                                                    <button class="pizza-btn" type="submit" [disabled]="!tokencvv.valid">Pay Now</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                
                                    </div>
                                </div>
                            </div>
                            <div class="new-payment">
                                <h4 class="pizzamdheading">Add a new payment method</h4>
                                <div class="payment-main">
                                    <div class="pay-option" [class.paymentactive]="idp === 'paymentone'">
                                        <div  class="pay-title" for="creditcard" id="paymentone" (click)="paymentaccordion('paymentone')">

                                            <div class="form-row-left">
                                              <div class="check-heading">
                                                <input type="radio" class="radio" id="creditcard" name="promotions" value="creditcard" (click)="paymentaccordion('paymentone')">
                                                <label class="radio-circle" for="creditcard"></label>
                                              </div>
                                                <span class="pay-card">
                                                    <img src="assets/images/icons/payment-card.png" alt="payment-card">
                                                </span>
                                                <label>Online Pay</label>
                                            </div>
                                            <div class="visa-box">
                                                <img src="assets/images/icons/cc-logos-1.png" alt="cc-logos">
                                            </div>
                                        </div>

                                        <div class="card-details notranslate" *ngIf="idp === 'paymentone' ">
                                            <form [formGroup]='savecardDetails' (ngSubmit)="payonlineorder(savecardDetails)">
                                                <div class="row ccd-card">
                                                    <div class="col-lg-12">
                                                        <div class="pizzaxsheading">Enter your credit card details</div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label class="label-top" [ngStyle]="{'color':savecardDetails.controls['cardname'].invalid && (savecardDetails.controls['cardname'].dirty || savecardDetails.controls['cardname'].touched) ? 'red' : 'black' }">
                                                                Name on card <span class="asterisk">*</span>
                                                                <span *ngIf="savecardDetails.controls['cardname'].invalid && (savecardDetails.controls['cardname'].dirty || savecardDetails.controls['cardname'].touched)" class="errorMessage">
                                                                    <small *ngIf="savecardDetails.controls['cardname'].hasError('required')">
                                                                    Missing
                                                                    </small>
                                                                </span>
                                                            </label>
                                                            <input type="text" class="form-control" formControlName="cardname">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="label-top" [ngStyle]="{'color':savecardDetails.controls['cardnumber'].invalid && (savecardDetails.controls['cardnumber'].dirty || savecardDetails.controls['cardnumber'].touched) ? 'red' : 'black' }">
                                                                Card number <span class="asterisk">*</span>
                                                                <span *ngIf="savecardDetails.controls['cardnumber'].invalid && (savecardDetails.controls['cardnumber'].dirty || savecardDetails.controls['cardnumber'].touched)" class="errorMessage">
                                                                    <small *ngIf="savecardDetails.controls['cardnumber'].hasError('required')">
                                                                    Missing
                                                                    </small>
                                                                    <small *ngIf="savecardDetails.controls['cardnumber'].hasError('minlength') || savecardDetails.controls['cardnumber'].hasError('maxlength') || savecardDetails.controls['cardnumber'].hasError('pattern')">
                                                                        Invalid
                                                                    </small>
                                                                </span>
                                                            </label>
                                                            <input type="text" placeholder="- - -" class="form-control" formControlName="cardnumber" maxlength = "16">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group expiryvalidated">
                                                            <label class="label-top" [ngStyle]="{'color':(savecardDetails.controls['expiry_year'].invalid && (savecardDetails.controls['expiry_year'].dirty || savecardDetails.controls['expiry_year'].touched))||(savecardDetails.controls['expiry_month'].invalid && (savecardDetails.controls['expiry_month'].dirty || savecardDetails.controls['expiry_month'].touched)) ? 'red' : 'black' }">
                                                                Expiry <span class="asterisk">*</span>
                                                                <span *ngIf="(savecardDetails.controls['expiry_month'].invalid && (savecardDetails.controls['expiry_month'].dirty || savecardDetails.controls['expiry_month'].touched))||(savecardDetails.controls['expiry_year'].invalid && (savecardDetails.controls['expiry_year'].dirty || savecardDetails.controls['expiry_year'].touched))" class="errorMessage">
                                                                    <!-- <small *ngIf="(savecardDetails.controls['expiry_month'].hasError('required'))||(savecardDetails.controls['expiry_year'].hasError('required'))">
                                                                    Missing
                                                                    </small> -->
                                                                    <small *ngIf="(savecardDetails.controls['expiry_month'].hasError('minlength') || savecardDetails.controls['expiry_month'].hasError('maxlength') || savecardDetails.controls['expiry_month'].hasError('pattern') || savecardDetails.controls['expiry_month'].hasError('invalidMonth'))||(savecardDetails.controls['expiry_year'].hasError('minlength') || savecardDetails.controls['expiry_year'].hasError('maxlength') || savecardDetails.controls['expiry_year'].hasError('pattern') || savecardDetails.controls['expiry_year'].hasError('invalidyear'))||(savecardDetails.controls['expiry_month'].hasError('required'))||(savecardDetails.controls['expiry_year'].hasError('required'))">
                                                                        Invalid
                                                                    </small>
                                                                    
                                                                </span>
                                                            </label>
                                                            
                                                            <input type="text" placeholder="MM" id="expirydata" maxlength = "2" class="form-control" formControlName="expiry_month">
                                                            <span>/ </span>
                                                            <input type="text" placeholder="YY" id="expirydata" maxlength = "2" class="form-control" formControlName="expiry_year">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="label-top" [ngStyle]="{'color':savecardDetails.controls['cvv'].invalid && (savecardDetails.controls['cvv'].dirty || savecardDetails.controls['cvv'].touched) ? 'red' : 'black' }">
                                                                CVV <span class="asterisk">*</span>
                                                                <span *ngIf="savecardDetails.controls['cvv'].invalid && (savecardDetails.controls['cvv'].dirty || savecardDetails.controls['cvv'].touched)" class="errorMessage">
                                                                    <small *ngIf="savecardDetails.controls['cvv'].hasError('required')">
                                                                    Missing
                                                                    </small>
                                                                    <small *ngIf="savecardDetails.controls['cvv'].hasError('minlength') || savecardDetails.controls['cvv'].hasError('maxlength') || savecardDetails.controls['cvv'].hasError('pattern')">
                                                                        Invalid
                                                                    </small>
                                                                </span>
                                                            </label>
                                                            <input type="password" class="form-control" formControlName="cvv" maxlength = "4">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-lg-12 form-row-btn">
                                                        <button [disabled]="!savecardDetails.valid" type="submit" class="pizza-btn" style="width: 180px;">
                                                            <span *ngIf="paysaveloader == false">Place Order</span>
                                                            <i *ngIf="paysaveloader == true"  class="fa fa-spinner fa-spin" style="color:#fff" aria-hidden="true"></i>
                                                          </button>
                                                    </div>
                                                </div>
                                            </form>
                                            <div style="color: red;" *ngIf="errorflagpayonline">{{errormessagepayonline}}</div>
                                            
                                        </div>
                                    </div>


                                    <!-- <div class="pay-option" *ngIf="payatrestro" [class.paymentactive]="idp === 'paymenttwo'">
                                      <div class="pay-title" id="paymenttwo" (click)="paymentaccordion('paymenttwo')">
                                        <div class="form-row-left">
                                            <div class="check-heading">
                                              <input type="radio" class="radio" id="creditcard" name="promotions" value="creditcard" (click)="paymentaccordion('paymenttwo')">
                                              <label class="radio-circle" for="payArres"></label>
                                            </div>
                                              <span class="pay-card">
                                                  <img src="assets/images/icons/payment-card.png" alt="payment-card">
                                              </span>
                                              <label for="payArres">Pay at Restaurant</label>
                                          </div>
                                      </div>
                                      <div class="card-details" *ngIf="idp === 'paymenttwo' ">
                                          <ul class="radio-list-checkout">
                                            <li>
                                              <label class="radio-btn-list">
                                                <p class="pizzaxxsheading">Cash</p>
                                                <input type="radio" name="Cash" (change)="payAtRestaurant('Cash')">
                                                <span class="checkmark"></span>
                                              </label>
                                            </li>
                                            <li>
                                              <label class="radio-btn-list">
                                                <p class="pizzaxxsheading">Credit Card</p>
                                                <input type="radio" name="Cash" (change)="payAtRestaurant('Credit Card')">
                                                <span class="checkmark"></span>
                                              </label>
                                            </li>
                                            <li>
                                              <label class="radio-btn-list">
                                                <p class="pizzaxxsheading">Debit Card</p>
                                                <input type="radio" name="Cash" (change)="payAtRestaurant('Debit Card')">
                                                <span class="checkmark"></span>
                                              </label>
                                            </li>
                                          </ul>
                                      </div>
                                  </div> -->


                                    <!-- <div class="pay-option" [class.paymentactive]="idp === 'paymenttwo'">
                                        <div class="pay-title" id="paymenttwo" (click)="paymentaccordion('paymenttwo')">
                                            <div class="form-row-left">
                                                <input type="radio" class="radio" id="studentcard" name="promotions" value="studentcard">
                                                <span class="pay-card">
                                                    <img src="assets/images/icons/payment-card.jpg" alt="payment-card">
                                                </span>
                                                <label for="studentcard">Student Meal Card</label>
                                            </div>
                                        </div>
                                        <div class="card-details" *ngIf="idp === 'paymenttwo' ">
                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="label-top">
                                                                Select School
                                                            </label>
                                                            <select class="form-control select-form">
                                                                <option value="">Select University</option>
                                                                <option value=""> Brock University </option>
                                                                <option value=""> Conestoga College Cambridge </option>
                                                                <option value=""> Conestoga College Doon Campus </option>
                                                                <option value=""> King's College </option>
                                                                <option value=""> McMaster </option>
                                                                <option value=""> Trent University </option>
                                                                <option value=""> Guelph </option>
                                                                <option value=""> University of Manitoba </option>
                                                                <option value=""> Univ of Toronto </option>
                                                                <option value=""> Univ of Toronto - Scarborough </option>
                                                                <option value=""> Western </option>
                                                                <option value=""> Windsor </option>
                                                                <option value=""> York University </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="label-top">
                                                                Name on card
                                                            </label>
                                                            <input type="text" placeholder="- - -" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="label-top">
                                                                Card number
                                                            </label>
                                                            <input type="text" placeholder="1234-1234-1234-1234" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div> -->

                                    <!-- <div class="pay-option" [class.paymentactive]="idp === 'paymentthree'">
                                        <div class="pay-title" id="paymentthree" (click)="paymentaccordion('paymentthree')">
                                            <div class="form-row-left">

                                                <div class="check-heading">
                                                    <input type="radio" class="radio" id="visacard" name="promotions" value="visacard" (click)="paymentaccordion('paymentthree')">
                                                    <label class="radio-circle" for="creditcard"></label>
                                                </div>
                                                <span class="pay-card">
                                                    <img src="assets/images/icons/account-payment.png" alt="account-payment">
                                                </span>
                                                <label for="visacard">Click to pay</label>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="iframecall"></div>
                    <div>
                        <form #form id="authenticationResponse" name="frm" method="POST" action="{{paymentformaction}}">

                            <input type="hidden" name="creq" value="{{paymentcreq}}">
                   
                            <input type="hidden" name="threeDSSessionData" value="{{paymentsessiondata}}">
                          </form>
                    </div>
                </div>
               
                <div class="col-12 col-md-5 col-lg-4 checkout-right">
                    <!-- <div class="club-eleven">
                        <div class="club-eleven-top">
                            <div class="club-eleven-left">
                                <img src="assets/images/club-eleven-eleven.png" alt="club-eleven-eleven">
                            </div>
                            <div class="club-eleven-right">
                                <p class="club-user-details">Himanshu ghosh</p>
                                <p class="club-user-card"> 3084******7113</p>
                                <div class="club-navigate">
                                    <button class="manage-btn">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        Manage Account
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="order-summary">
                        <h5 class="pizzasmheading">Order Summary</h5>
                        <div class="order-total">
                            <div class="line-item">
                                <div class="label">Sub total:</div>
                                <div class="value notranslate">${{totalPizzaCost}}</div>
                            </div>
                            <!-- <div class="line-item">
                                <div class="label">Taxes (IVA @16%):</div>
                                <div class="value notranslate">${{iva}}</div>
                            </div> -->
                            <!-- <div class="line-item">
                                <div class="label">PST:</div>
                                <div class="value notranslate">${{pst}}</div>
                            </div> -->
                        </div>
                        <div class="tip-driver" *ngIf="tipdriverShown">
                            <div class="pizzaxsheading">Tip The Driver:</div>
                            <ul>
                                <li [class.active]="activeIndex === 0" (click)="activeIndex = 0" (click)="applynone($event)">
                                    <span class="label-text-tip" >None</span>
                                </li>
                                <li [class.active]="activeIndex === 1" (click)="activeIndex = 1">
                                    <span class="label-text-tip">10%</span>
                                    <span class="label-text-amount">$2.06</span>
                                </li>
                                <li [class.active]="activeIndex === 2" (click)="activeIndex = 2">
                                    <span class="label-text-tip">20%</span>
                                    <span class="label-text-amount">$4.12</span>
                                </li>
                                <li [class.active]="activeIndex === 3" (click)="activeIndex = 3" (click)="applyShow($event)">
                                    <span class="label-text-tip">Other</span>
                                </li>
                            </ul>
                            <div class="form-group" *ngIf="applyShown">
                                <input type="text" class="form-control" placeholder="0">
                                <button type="submit" class="pizza-btn">Apply</button>
                            </div>
                        </div>
                        <div class="order-price">
                            <div class="price-title">Total:</div>
                            <div class="pizzalgheading notranslate">${{lastTotalpriceCost}}</div>
                        </div>
                        <div class="order-bottom">
                            <button class="pizza-btn" *ngIf="paymentCheck==true && reviewCheckAddress==true && reviewCheck==true ?true:false" [disabled]="paymentCheck==true && reviewCheckAddress==true && reviewCheck==true ?false:true"(click)="placeOrder()">
                                PLACE ORDER
                                <i *ngIf="loader" class="fa fa-spinner fa-spin" style="color:#fff" aria-hidden="true"></i>
                            </button>
                            <!-- <p style="color: red;" *ngIf="paymentCheck==true && reviewCheckAddress==true && reviewCheck==true ?false:true">We don't have all your info</p> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<!-- store-popup-start -->
<div class="storeClose-popup2">
    <div class="find-overlay" id="findpopup"></div>
    <div class="find-wrapper find-transition delite-popup-wraper">
        <div class="find-header">
            <button class="find-close" (click)="storeClosepopuClose()"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button>
            <div class="user-icon">
                <i class="fa fa-bell" aria-hidden="true"></i>
            </div>
            <div class="pizzalgheading">Store Closed</div>
        </div>
      <div class="find-body">
        <p class="pizzaparaDelete">The store you have selected doesn't seem to be open!</p>
        <div class="find-content" style="text-align: center;">
            <button class="btn-delete-yes" (click)="storeClosepopuClose()">Okay</button>
        </div>
      </div>
    </div>
</div>
<!-- store-popup-end -->

<!-- store-popup-start -->
<div class="popupblocker">
    <div class="find-overlay" id="findpopup"></div>
    <div class="find-wrapper find-transition delite-popup-wraper">
        <div class="find-header">
            <button class="find-close" (click)="popupblockerClose()"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button>
            <div class="user-icon">
                <i class="fa fa-bell" aria-hidden="true"></i>
            </div>
            <div class="pizzalgheading">Pop-up Unblock Instructions</div>
        </div>
      <div class="find-body">
        <p class="pizzaparaDelete">A popup blocker was detected. Please turn it off to use this application.Follow the instruction image</p>
        <img *ngIf="popupsafari" src="assets/images/popup-safari.jpeg" alt="" srcset="">
        <img *ngIf="popupchrome" src="assets/images/popup-chrome.jpeg" alt="" srcset="">
        <div class="find-content" style="text-align: center; margin-top: 10px;">
            <button class="btn-delete-yes" (click)="popupblockerClose()">Okay</button>
        </div>
      </div>
    </div>
</div>
<!-- store-popup-end -->

<!-- delete saved stores popup starts-->
<div class="find-popup-remove">
    <div class="find-overlay" id="findpopup"></div>
    <div class="find-wrapper find-transition delite-popup-wraper">
        <div class="find-header">
            <button class="find-close" (click)="doughpopupClose()"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button>
            <div class="user-icon">
              <i class="fa fa-bell" aria-hidden="true"></i>
            </div>
            <div class="pizzalgheading">Remove Item</div>
        </div>
      <div class="find-body">
        <p class="pizzaparaDelete">Are you sure you want to remove this item</p>
        <div class="find-content">
            <button class="btn-delete-yes" (click)="doughpopupClose()">Cancel</button> &nbsp;&nbsp;
            <button class="btn-delete-yes" (click)="removeItem()">Remove</button>
        </div>
      </div>
    </div>
  </div>
  <!-- delete saved stores popup end-->


  <!-- delete saved stores popup end-->
<!-- <button class="btn-delete-no" style="width: 150px; margin: 0px auto; display: block;" (click)="incompleteshow()">Success popup</button> -->
<!-- success popup starts-->
<div class="incomplete-popup">
  <div class="find-overlay" id="findpopupincomplete"></div>
  <div class="find-wrapper find-transition">
      <div class="find-header">
          <button class="find-close" (click)="incompleteClose()"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button>
          <div class="user-icon">
            <img src="assets/images/half-circle.png">
          </div>
          <div class="pizzalgheading">Incomplete Order</div>
      </div>
    <div class="find-body">
      <p class="pizzaparaDelete" style="text-align: center;margin-bottom: 25px;color: red; padding: 0 25px;">{{paymentfailed}}</p>
      <div class="find-content">
          <!-- <button class="btn-delete-no" (click)="incompleteClose()">Okay</button> -->
          <button class="btn-delete-no" (click)="incompleteClose()">OKAY</button>
      </div>
    </div>
  </div>
</div>
<!-- success popup end-->

