@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";
.payprocess-loader{
    position: fixed;
    top: 0;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    font-size: 15px;
    color: #000;
}
.expiryvalidated input{
    border: 0 !important;
    display: inline-block;
    width: 30px;
}
.expiryvalidated{
    border-bottom: 1px solid #dee2e6;
}
.payprocess-loader .payprocess-outer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.payprocess-loader .processingtext{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin: 10px 0;
}
.loader1 {
    display:inline-block;
    font-size:0px;
    padding:0px;
 }
 .loader1 span {
    vertical-align:middle;
    border-radius:100%;
    
    display:inline-block;
    width:10px;
    height:10px;
    margin:3px 2px;
    -webkit-animation:loader1 0.8s linear infinite alternate;
    animation:loader1 0.8s linear infinite alternate;
 }
 .loader1 span:nth-child(1) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:rgba(251, 80, 0, 0.6);
 }
 .loader1 span:nth-child(2) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
   background:rgba(251, 80, 0, 0.8);
 }
 .loader1 span:nth-child(3) {
    -webkit-animation-delay:-0.26666s;
    animation-delay:-0.26666s;
   background:rgb(251, 80, 0, 1)
 }
 .loader1 span:nth-child(4) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
   background:rgba(251, 80, 0, 0.8);
   
 }
 .loader1 span:nth-child(5) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:rgba(251, 80, 0,0.4);
 }
 
 @keyframes loader1 {
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
 }
 @-webkit-keyframes loader1 {
    from {-webkit-transform: scale(0, 0);}
    to {-webkit-transform: scale(1, 1);}
 }
button:disabled,
button[disabled]{
    cursor: not-allowed;
  border: 0px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.notallowed{
    cursor: not-allowed !important;
    color: #8f8f8f !important;
    border: 1px solid #8f8f8f !important;
}
.checkout-main{
    padding: 60px 0;
    @include breakpoint(md) {
        padding: 40px 0;
    }
    @include breakpoint(xs) {
        padding: 30px 0;
    }
}
.signin-top{
    margin-bottom: 20px;
    position: absolute;
    top: 12px;
    margin: 0;
}
.top-cart{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    font-family: $proximarg;
    color: $brownfont;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    i{
        font-size: 35px;
        color: $brownfont;
        margin-left: 10px;
    }
}
.checkout-top{
    position: relative;
    .pizzalgheading{
        text-align: center;
        color: $brownfont;
        font-family: $proximarg;
    }
    @include breakpoint(md) {
        .pizzalgheading{
            margin-bottom: 20px;
        }
    }
    @include breakpoint(xs) {
        .signin-top{
            position: relative;
            top: 10px;
            margin: 0 0 20px;
        }
    }
}

.club-eleven{
    background: linear-gradient(180deg,#ee5a00 4%,#ff9700 96%);
    padding: 15px;
    color: $white;
    font-weight: 700;
    font-family: $proximarg;
    border-radius: 10px;
    margin-top: 15px;
    .club-eleven-top{
        display: flex;
        flex-wrap: wrap;
        .club-eleven-left{
            width: 35%;
            padding-right: 15px;
        }
        .club-eleven-right{
            width: 65%;
            p{
                font-size: 16px;
                color: $white;
                font-family: $proximarg;
                font-weight: 700;
            }
            .club-user-details{
                font-weight: 800;
                word-wrap: break-word;
            }
            .club-navigate{
                padding-top: 10px;
                .manage-btn{
                    font-size: 14px;
                    color: $white;
                    font-family: $proximarg;
                    text-transform: capitalize;
                    letter-spacing: .29px;
                    font-weight: 600;
                    background: transparent;
                    border: none;
                    display: flex;
                    align-items: center;
                    i{
                        width: 18px;
                        height: 18px;
                        font-size: 9px;
                        text-align: center;
                        border: 1px solid $white;
                        border-radius: 50%;
                        line-height: 16px;
                        margin-right: 5px;
                        color: $white;
                        &::before{
                            position: relative;
                            left: 1px;
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(xs) {
        padding: 15px 10px;
    }
}

.order-summary{
    margin-top: 15px;
    background: $darkgraybg;
    border: 1px solid $grayborder;
    border-radius: 10px;
    padding: 25px;
    .pizzasmheading{
        font-family: $proximarg;
        color: $brownfont;
        font-weight: 800;
        border-bottom: 1px solid $brown;
        padding-bottom: 20px;
    }
    .order-total{
        padding: 20px 0 10px;
        border-bottom: 1px solid $brown;
        .line-item{
            display: flex;
            font-size: 14px;
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            padding-bottom: 10px;
            .label{
                width: 50%;
            }
            .value{
                width: 50%;
                font-size: 16px;
                font-weight: 800;
                text-align: right;
            }
        }
    }
    .tip-driver{
        padding: 15px 0;
        border-bottom: 1px solid $brown;
        .pizzaxsheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 800;
        }
        ul{
            border: 1px solid $grayborder;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            margin: 15px 0;
            li{
                width: calc(100%/4);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                padding: 8px 0;
                border-right: 1px solid $grayborder;
                cursor: pointer;
                .label-text-tip, .label-text-amount{
                    font-size: 14px;
                    font-family: $proximarg;
                    color: $brownfont;
                    font-weight: 800;
                }
                .label-text-amount{
                    font-weight: 400;
                    display: block;
                    width: 100%;
                }
                &:last-child{
                    border: none;
                }
                &.active{
                    background: $orange;
                    .label-text-tip, .label-text-amount{
                        color: $white;
                    }
                }
            }
        }
        .form-group{
            position: relative;
            margin: 0;
            .form-control{
                font-size: 16px;
                border: none;
                background: $white;
                padding:0px 120px 0 10px;
                font-family: $proximarg;
                height: 43px;
                border-radius: 5px;
            }
            .pizza-btn{
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
    .order-price{
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price-title{
            font-size: 20px;
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 800;
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 800;
            text-align: right;
            margin: 0;
            line-height: 1.2;
        }
    }
    .order-bottom{
        .pizza-btn{
            width: 100%;
            margin: 0px 0 20px;
        }
        p{
            font-size: 13px;
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 800;
            text-align: center;
        }
    }
    @include breakpoint(md){
        padding: 15px;
    }
    @include breakpoint(xs){
        .pizzasmheading{
            padding-bottom: 10px;
        }
        .order-total{
            padding: 10px 0 10px;
        }
        .order-price{
            .price-title{
                font-size: 18px;
            }
        }
    }
}

.checkout-accordion{
    .form-group{
        margin-bottom: 25px;
        min-height: 60px;
        .label-top{
            font-size: 14px;
            font-family: $proximarg;
            margin-bottom: 5px;
        }
        .form-control{
            border: none;
            border-bottom: 1px solid $grayborder;
            padding: 5px 0;
            height: 35px;
            &.select-form{
                background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                background-size: 10px;
            }
        }
    }
    .title-label{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .layer-label{
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
    .form-row-left{
        margin-right: 25px;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .check-heading{
          width: 26px;
          height: 26px;
          min-width: 26px;
          margin-right: 15px;
          cursor: pointer;
          position: relative;
          .radio{
            display: none;
        }
        .radio-circle{
          width: 26px;
          height: 26px;
          min-width: 26px;
          border: 1px solid $grayborder;
          border-radius: 50%;
          margin-right: 15px;
          cursor: pointer;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          &:after {
            content: "";
            position: absolute;
            display: none;
          }
          &.address-radio{
            &:after{
                display: none;
             }
          }
        }
        input:checked ~ .radio-circle {
            border: 1px solid $grayborder;
        }
        input:checked ~ .radio-circle{
          &:after{
            background: $orange;
          }
        }
        input:checked ~ .address-radio{
            border: 1px solid $orange;
            &:after{
                display: block;
                background: $orange;
            }
        }
        .radio-circle {
          &:after{
            left: 4px;
            top: 4px;
            width: 16px;
            height: 16px;
            background: transparent;
            border-radius: 30px;
          }
        //   &.address-radio{
        //     &:after{
        //         background: $orange;
        //      }
        //   }

        }
        // .address-radio{
        //     &:after {
        //         content: "";
        //         position: absolute;
        //         display: none;
        //     }
        //     input:checked ~ .radio-circle {
        //         border: 1px solid $orangeborder;
        //     }
        //     input:checked ~ .radio-circle {
        //         &:after{
        //           display: block;
        //         }
        //     }
        //     &:after{
        //         background: $orange;
        //     }
        // }
        }

        label{
            font-size: 16px;
            font-family: $proximarg;
            margin-bottom: 0px;
            cursor: pointer;
        }
        .pay-card{
            width: 70px;
            margin-right: 10px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    .checkout-accordion-title{
        border-bottom: 1px solid $grayborder;
        padding: 25px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .pizzasmheading{
            color: $green;
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 800;
        }
        span{
            width: 0px;
            height: 0px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid $orange;
            transform: rotate(180deg);
        }
    }
    .checkout-accordion-content{
        margin-top: 30px;
        .new-payment{
            margin-top: 25px;
            .payment-main{
                margin-top: 20px;
            }
            .pay-option{
                border: 1px solid $grayborder;
                border-radius: 10px;
                margin-bottom: 15px;
                cursor: pointer;
                .pay-title{
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    .form-row-left{
                        margin: 0;
                        label{
                            font-weight: 800;
                        }
                    }
                    .visa-box{
                        width: 15%;
                    }
                }
                .card-details{
                    border-top: 1px solid $grayborder;
                    padding: 15px;
                    .ccd-card{
                        .pizzaxsheading{
                            font-family: $proximarg;
                            color: $brownfont;
                            margin-bottom: 15px;
                            font-weight: 800;
                        }
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
                &.paymentactive{
                    .pay-title{
                        .form-row-left{
                            label{
                                color: $orange;
                            }
                        }
                    }
                }
            }
        }
        .gift-accordion{
            .gift-option{
                margin-bottom: 15px;
                .gift-accordion-title{
                    padding: 10px 0px 10px 40px;
                    position: relative;
                    cursor: pointer;
                    transition: color 0.15s ease;
                    -webkit-transition: color 0.15s ease;
                    .pizzaxsheading{
                        font-family: $proximarg;
                        color: $black;
                        font-weight: 800;
                    }
                    .plus-icon{
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        border-radius: 50%;
                        border: 1px solid $black;
                        transform: translate(0px, -50%);
                        &::after, &::before{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            width: 1px;
                            height: 12px;
                            background: $black;
                        }
                        &::before{
                            width: 12px;
                            height: 1px;
                        }
                    }
                }
                .gift-accordion-content{
                    margin-top: 15px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                &.giftactive{
                    .gift-accordion-title{
                        .plus-icon{
                            &::after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .select-radio{
            .form-row-left{
                margin-bottom: 15px;
            }
        }
        .pickup-add{
            text-align: right;
            .add-btn{
                font-size: 14px;
                font-weight: 800;
                color: $orange;
                font-family: $proximarg;
                display: flex;
                align-items: center;
                border: 0;
                background: transparent;
                margin-left: auto;
                cursor: pointer;
                i{
                    width: 22px;
                    height: 22px;
                    font-size: 12px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 20px;
                    margin-left: 8px;
                    color: $orange;
                    font-weight: 400;
                }
            }
        }
        .pickup-store{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border: 2px solid $deepgray;
            border-radius: 5px;
            padding: 15px 15px 15px 0;
            margin: 10px 0;
            .pickup-store-left{
                width: 80%;
                padding-left: 80px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 45px;
                    height: 40px;
                    top: 0;
                    left: 15px;
                    background: url(../../../assets/images/sprite-image.png);
                    background-position: 0 -2377px;
                    background-size: 60px;
                }
                .pizzaxxsheading{
                    font-family: $proximarg;
                    color: $deepgray;
                    font-weight: 800;
                }
                p{
                    font-size: 12px;
                    font-family: $proximarg;
                    color: $deepgray;
                    font-weight: 400;
                }
            }
            .pickup-store-right{
                p{
                    font-size: 13px;
                    color: $orange;
                    font-weight: 800;
                    letter-spacing: .3px;
                    cursor: pointer;
                }
                i{
                    font-size: 20px;
                    color: $green;
                    display: none;
                }
            }
            .pickup-store-box{
                width: 100%;
                padding-left: 15px;
                display: flex;
                justify-content: space-between;
             .pickup-store-left{
                width: auto;
                padding-left: 0px;
                &:before{
                    display: none;
                }
             }
           
            }
            .form-payment{
                width: 100%;
                padding: 15px 15px 0px 15px;
                display: none;
                &.cvv-wrapershow{
                    display: block;
                }
                .pizzaxxsheading{
                    font-weight: 800;
                    margin-bottom: 5px;
                }
                .pickup-form{
                    width: 100%;
                    display: flex;
                    .input-payment-method{
                        width: 40%;
                        padding-right: 15px;
                        .cvv-error{
                            color:red;
                            margin-top: 5px;
                        }
                        input{
                            border: 1px solid #dee2e6;
                            border-radius: 5px;
                            padding: 11px 15px;
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
            

            &.store-active{
                border: 2px solid $green;
                .pickup-store-left{
                    &::before{
                        background-position: 0 -2431px;
                    }
                    .pizzaxxsheading{
                        color: $green;
                    }
                    p{
                        color: $green;
                    }
                }
                .pickup-store-right{
                    p{
                        display: none;
                    }
                    i{
                        display: block;
                    }
                }
            }
        }
        
        .contactless-check{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            .checks{
                width: 26px;
                height: 26px;
                min-width: 26px;
                margin-right: 10px;
                cursor: pointer;
            }
            label{
                font-size: 16px;
                font-family: $proximarg;
                font-weight: 700;
                color: $brownfont;
                margin-bottom: 0px;
                cursor: pointer;
            }
        }
        .contact-info{
            margin-bottom: 20px;
            .pizzaxxsheading{
                font-family: $proximarg;
                font-weight: 700;
                color: $brownfont;
                margin-bottom: 15px;
            }
        }
        .form-row-btn{
            text-align: right;
            padding-bottom: 30px;
            // border-bottom: 1px solid $grayborder;
        }
        .delivery-time{
            .form-group{
                min-height: auto;
            }
        }
        .delivery-instructions{
            .pizzaxxsheading{
                font-family: $proximarg;
                font-weight: 700;
                color: $brownfont;
                margin-bottom: 15px;
            }
            .form-control{
                border: 1px solid $grayborder;
                padding: 10px;
                height: auto;
            }
        }
        .cart-checkout-top{
            padding: 10px;
            margin: 5px 0;
            border-bottom: 1px solid $grayborder;
            display: flex;
            flex-wrap: wrap;
            .cart-image-wrap{
                flex-direction: column;
                background: url(../../../assets/images/bg-configurator-header.jpg),rgba(220,240,246,.15);
                background-position: 50%;
                background-size: cover;
                padding: 10px;
                display: flex;
                justify-content: center;
                width: 15%;
            }
            .cart-checkout-content{
                width: 85%;
                padding-left: 15px;
                display: flex;
                flex-wrap: wrap;
                .cart-checkout-left{
                    width: 70%;
                    padding-right: 30px;
                    position: relative;
                    .pizzaxxsheading{
                        font-family: $proximablack;
                        font-weight: 900;
                        text-transform: uppercase;
                        color: $brownfont;
                        margin-bottom: 8px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        height: 38px;
                    }
                    p{
                        font-size: 13px;
                        color: $brownfont;
                        font-family: $proximarg;
                        font-weight: 400;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        height: 58px;

                    }
                    .cart-btn-group{
                        width: 35%;
                        display: flex;
                        justify-content: space-between;
                        position: absolute;
                        bottom: 0;
                        .remove-btn, .edit-btn{
                            font-size: 15px;
                            color: $orange;
                            font-family: $proximarg;
                            font-weight: 600;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            background: transparent;
                            border: none;
                            padding: 0;
                            i{
                                width: 18px;
                                height: 18px;
                                font-size: 8px;
                                text-align: center;
                                border: 1px solid $orange;
                                border-radius: 50%;
                                line-height: 16px;
                                margin-right: 10px;
                                color: $orange;
                            }
                        }
                        .edit-btn{
                            i{
                                line-height: 15px;
                            }
                        }
                    }
                }
                .cart-checkout-right{
                    width: 30%;
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    p{
                        font-size: 14px;
                        color: $brownfont;
                        font-family: $proximarg;
                        font-weight: 400;
                        text-transform: capitalize;
                    }
                    .cart-quantity{
                        width: 48%;
                        position: relative;
                        .product-number{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            .minus, .plus{
                                width:24px;
                                height:24px;
                                font-size: 20px;
                                font-family: $proximarg;
                                background:$white;
                                color: $orange;
                                font-weight: 600;
                                padding:0;
                                border:1px solid $orange;
                                border-radius: 50%;
                                display: inline-block;
                                vertical-align: middle;
                                text-align: center;
                                line-height: 22px;
                                cursor: pointer;
                            }
                            .plus{
                                line-height: 24px;
                            }
                            .numbertype{
                                width: 50px;
                                height: auto;
                                font-size: 26px;
                                font-family: $proximarg;
                                color: $brownfont;
                                font-weight: 800;
                                border:0;
                                border-radius:0px;
                                text-align: center;
                                padding:0;
                                margin: 0;
                                background: transparent;
                            }
                        }
                    }
                    .cart-item-total{
                        width: 48%;
                        position: relative;
                        .pizzamdheading{
                            color: $brownfont;
                            font-family: $proximablack;
                            font-weight: 400;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }
                    }
                }

            }
        }
        .also-like{
            margin: 40px 0 25px;
            padding: 0 40px;
            .pizzaxsheading{
                font-family: $proximarg;
                font-weight: 700;
                color: $brownfont;
                margin-bottom: 10px;
            }
            .alsolikeslider{
                .item{
                    padding: 4px;
                }
                .also-card{
                    padding: 5px;
                    border-radius: 10px;
                    border: 1px solid $grayborder;
                    display: flex;
                    align-items: center;
                    .also-card-left{
                        width: 60px;
                        height: 60px;
                        padding: 4px;
                    }
                    .also-card-right{
                        padding: 0 15px;
                        width: 75%;
                        .also-card-title{
                            font-size: 14px;
                            color: $orange;
                            font-weight: 900;
                            text-transform: uppercase;
                            font-family: $proximablack;
                            margin-bottom: 5px;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            height: 38px;
                        }
                        .also-card-bottom{
                            display: flex;
                            justify-content: space-between;
                            .also-price{
                                font-size: 14px;
                                color: $brownfont;
                                font-family: $proximarg;
                            }
                            .also-add{
                                font-size: 13px;
                                color: $orange;
                                font-family: $proximarg;
                                font-weight: 600;
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                i{
                                    width: 18px;
                                    height: 18px;
                                    font-size: 9px;
                                    text-align: center;
                                    border: 1px solid $orange;
                                    border-radius: 50%;
                                    line-height: 16px;
                                    margin-right: 5px;
                                    color: $orange;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.checkoutactive{
        .checkout-accordion-title{
            .pizzasmheading{
                color: $orange;
            }
            span{
                transform: rotate(0deg);
            }
        }
    }
    .paymentactive{
        .form-row-left{
            .check-heading{
                input:checked ~ .radio-circle {
                    border: 1px solid $orangeborder;
                    &:after{
                      display: block;
                    }
                }
                .radio-circle{
                    border: 1px solid $orangeborder;
                    &::after{
                        background: $orange;
                        display: block;
                    }
                }
            }
        }
    }
    @include breakpoint(md){
        .form-row-left{
            margin-right: 0px;
            label{
                font-size: 14px;
            }
        }
        .checkout-accordion-content{
            margin-top: 15px;
            .cart-checkout-top{
                .cart-image-wrap{
                    width: 30%;
                }
                .cart-checkout-content{
                    width: 70%;
                    padding-right: 0px;
                    .cart-checkout-left{
                        width: 100%;
                        padding: 0;
                        .pizzaxxsheading{
                            display: inline-block;
                            height: auto;
                        }
                        p{
                            font-size: 12px;
                            display: inline-block;
                            height: auto;
                            line-height: 14px;
                            margin-bottom: 8px;
                        }
                        .cart-btn-group{
                            width: 100%;
                            position: relative;
                            justify-content: flex-start;
                            .remove-btn, .edit-btn{
                                margin-right: 15px;
                            }
                        }
                    }
                    .cart-checkout-right{
                        width: 100%;
                        margin-top: 15px;
                        text-align: left;
                        .cart-quantity{
                            .product-number{
                                position: relative;
                                justify-content: flex-start;
                            }
                        }
                    }
                }
            }
            .also-like{
                margin: 25px 0;
                .alsolikeslider{
                    .also-card{
                        .also-card-right{
                            padding: 0 5px;
                        }
                    }
                }
            }
            .gift-accordion{
                .gift-option{
                    margin-bottom: 10px;
                    .gift-accordion-title{
                        padding: 5px 0px 5px 35px;
                    }
                }
            }
            .new-payment{
                .pay-option{
                    .pay-title{
                        .visa-box{
                            width: 25%;
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(xs) {
        .checkout-accordion-title{
            padding: 15px 5px;
        }
        .form-group{
            margin-bottom: 15px;
            min-height: auto;
            .form-control{
                font-size: 14px;
            }
        }
        .form-row-left{
            // width: 20px;
            height: 20px;
            max-width: 100%;
            label{
                font-size: 14px;
            }
            .pay-card{
                width: 60px;
            }
        }
        .checkout-accordion-content{
            margin-top: 15px;
            .form-row-left{
                margin-right: 15px;
            }
            .select-radio{
                .form-row-left{
                    margin-bottom: 10px;
                }
            }
            .pickup-store{
                padding: 10px 10px 10px 0;
                position: relative;
                .pickup-store-left{
                    width: 90%;
                    padding-left: 50px;
                    padding-right: 5px;
                    &::after{
                        left: 10px;
                        width: 35px;
                        height: 30px;
                        background-position: 0 -2756px;
                        background-size: 45px;
                    }
                    &:before{
                      left:2px;
                    }
                }
                .pickup-store-right{
                  p{
                    position: absolute;
                    right: 6px;
                  }
                    i{
                        font-size: 14px;
                    }
                }
            }
            .contactless-check{
                .checks{
                    width: 20px;
                    height: 20px;
                    max-width: 20px;
                }
                label{
                    font-size: 14px;
                }
            }
            .gift-accordion{
                .gift-option{
                    .gift-accordion-title{
                        padding: 5px 0px 5px 35px;
                        .plus-icon{
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
            }
            .new-payment{
                margin-top: 15px;
                .pay-option{
                    .pay-title{
                        .visa-box{
                            width: 25%;
                        }
                    }
                }
            }
            .cart-checkout-top{
                .cart-image-wrap{
                    width: 30%;
                }
                .cart-checkout-content{
                    width: 70%;
                    .cart-checkout-left{
                        width: 100%;
                        padding-right: 0px;
                        .pizzaxxsheading{
                            display: inline-block;
                            height: auto;
                        }
                        p{
                            font-size: 12px;
                            display: inline-block;
                            height: auto;
                            line-height: 14px;
                            width: 100%;
                            margin-bottom: 8px;
                        }
                        .cart-btn-group{
                            width: 100%;
                            position: relative;
                            justify-content: flex-start;
                            .remove-btn, .edit-btn{
                                font-size: 13px;
                                margin-right: 15px;
                            }
                        }
                    }
                    .cart-checkout-right{
                        width: 100%;
                        margin-top: 10px;
                        justify-content: flex-start;
                        text-align: left;
                        .cart-quantity{
                          width: 50%;
                            .product-number{
                                position: relative;
                                justify-content: flex-start;
                                padding-top: 5px;
                                .minus{
                                  width: 18px;
                                  height: 18px;
                                  line-height: 14px;
                                }
                                .plus{
                                  width: 18px;
                                  height: 18px;
                                  line-height: 19px;
                                }
                                .numbertype{
                                  font-size:20px;
                                }
                            }
                        }
                        .cart-item-total{
                          width: 50%;
                          text-align: right;
                            .pizzamdheading{
                                position: relative;
                                font-size:16px;
                                padding-top: 3px;
                            }
                        }
                    }
                }
            }
            .also-like{
                margin: 25px 0;
                padding-left: 0px;
                padding-right:0px;
                .alsolikeslider{
                    .also-card{
                        .also-card-right{
                            padding: 0 5px;
                            .also-card-bottom{
                                .also-price, .also-add{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



/*-- store-popup-start */
.store-popup{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    .store-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
        visibility: visible;
        opacity: 1;
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .store-wrapper {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 40%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 20px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .store-header{
        padding: 30px 40px;
        position: relative;
        background-color: $graybg;
        box-shadow: 0 1px 2px rgba(0, 0%, 0%, 0.06);
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 46px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 30px;
        }
        p{
            font-size: 16px;
            font-family: $proximarg;
            color: $brownfont;
            margin: 0;
            margin-bottom: 30px;
        }
        .pizza-btn{
            border: none;
        }
    }
    .store-content{
        padding: 30px 40px;
        background: $white;
    }

    .store-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .store-close:hover {
        color: #777;
    }
    @include breakpoint(slg) {
        .store-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .store-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs) {
        .store-wrapper{
            width: 95%;
        }
        .store-header{
            padding: 18px 20px;
            .pizzalgheading{
                margin-bottom: 20px;
            }
            p{
                font-size: 14px;
                margin-bottom: 20px;
            }
            .user-icon{
                i{
                    font-size: 30px;
                }
            }
        }
        .store-close{
            right: 10px;
            width: 45px;
        }
        .store-content{
            padding: 30px 20px;
        }
    }
    @include breakpoint(xxxs) {
    }
}
/*-- store-popup-end */

.find-popup{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    .find-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .find-wrapper{
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 45%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 20px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .find-header{
        padding: 30px 40px;
        position: relative;
        background-color: $graybg;
        box-shadow: 0 1px 2px rgba(0, 0%, 0%, 0.06);
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 46px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 0px;
        }
    }
    .find-content{
        padding: 0;
    }
    .find-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .find-close:hover {
        color: #777;
    }
    .find-form{
        padding: 40px 25px 25px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 30px;
        }
        .form-group{
            margin-bottom: 15px;
            position: relative;
            .label-top{
                font-size: 16px;
                font-family: $proximarg;
                margin-bottom: 15px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 75px 5px 0;
                height: 35px;
            }
            .find-btn{
                position: absolute;
                top: 50%;
                right: 0;
                border: none;
                color: $orange;
                font-size: 13px;
                font-family: $proximarg;
                font-weight: 400;
                border-radius: 0px;
                padding: 0;
                background: transparent;
                transition: ease-in-out .5s;
                -webkit-transition: ease-in-out .5s;
                -moz-transition: ease-in-out .5s;
                -ms-transition: ease-in-out .5s;
                i{
                    width: 17px;
                    height: 17px;
                    font-size: 10px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 16px;
                    margin-right: 5px;
                    color: $orange;
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                }
                &:hover{
                    background: transparent;
                    color: $orange;
                    i{
                        color: $orange;
                    }
                }
            }
        }
        .find-right{
            text-align: right;
        }
    }
    .find-bg{
        img{
            width: 100%;
        }
    }
    .manually-main{
        padding: 40px 20px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 50px;
        }
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                // span{
                //     display: block;
                // }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                text-transform: uppercase;
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .manually-btn{
            text-align: right;
        }
    }
    .location-modal{
        margin: 0 5px;
        padding: 0 10px;
        width: calc(100% - 15px);
        overflow-y: scroll;
        height: 180px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $grayborder;
        }
        &::-webkit-scrollbar-thumb {
            background: $graytext;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $graytext;
        }
        .location-pick-list{
            position: relative;
            border-radius: 5px;
            border: 2px solid $grayborder;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            font-family: $proximarg;
            cursor: pointer;
            padding: 10px 15px;
            justify-content: space-between;
            .pizzaxxsheading{
                font-size: 14px;
                color: $deepgray;
                font-family: $proximarg;
                font-weight: 700;
                letter-spacing: .3px;
                margin-bottom: 3px;
            }
            .location-address{
                width: 70%;
                padding-left: 35px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0px;
                    width: 30px;
                    height: 25px;
                    background: url(../../../assets/images/sprite-image.png);
                    background-position: 0 -2452px;
                    background-size: 40px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: $deepgray;
                    line-height: 16px;
                    span{
                        display: block;
                    }
                }
            }
            .location-hours-right{
                width: 10%;
                text-align: right;
                p{
                    font-size: 13px;
                    color: $orange;
                    font-weight: 800;
                    letter-spacing: .3px;
                }
                i{
                    font-size: 11px;
                    color: $green;
                    display: none;
                }
            }
            &.select-active{
                border-color: $green;
                .pizzaxxsheading{
                    color: $green;
                }
                .location-address{
                    &::before{
                        background-position: 0 -2488px;
                    }
                    p{
                        color: $green;
                    }
                }
                .location-hours{
                    &::before{
                        background-position: 0px -2997px;
                    }
                    p, .location-pickup{
                        color: $green;
                    }
                }
                .location-hours-right{
                    p{
                        display: none;
                    }
                    i{
                        display: block;
                    }
                }
            }
        }
    }
    @include breakpoint(slg) {
        .find-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .find-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .find-form{
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .form-group{
                .label-top{
                    font-size: 14px;
                }
            }
            .find-right{
                .pizza-btn{
                    width: 100%;
                }
            }
        }
        .manually-main{
            padding: 20px 10px;
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
                line-height: 32px;
            }
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
        }
        .location-modal{
            height: 280px;
            .location-pick-list{
                .location-address{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .location-hours{
                    width: 100%;
                    padding-left: 35px;
                    margin-bottom: 10px;
                    &::before{
                        left: 0px;
                    }
                }
                .location-hours-right{
                    position: absolute;
                    top: 10px;
                    right: 22px;
                }
                .location-directions{
                    padding-left: 35px;
                }
            }
        }
        .find-wrapper{
            width: 95%;
        }
    }
}

.storeClose-popup2{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;


    .find-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .find-wrapper{
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 35%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 5px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .btn-delete-no{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #fff;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #ee5a00;
        font-size: 1em;
    }
    .btn-delete-yes{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #ee5a00;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #fff;
        font-size: 1em;
    }
    .find-header{
        padding: 30px 40px;
        position: relative;
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 46px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 0px;
        }
        .pizzaparaDelete{
            font-weight: 400;
            text-align: center;
            line-height: 1.175;
            letter-spacing: .15px;
            color: #4c3017;
            font-size: 1.2em;
            margin-top: 20px;
        }
    }
    .find-content{
        padding: 0;
    }
    .find-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .find-close:hover {
        color: #777;
    }
    .find-form{
        padding: 40px 25px 25px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 30px;
        }
        .form-group{
            margin-bottom: 15px;
            position: relative;
            .label-top{
                font-size: 16px;
                font-family: $proximarg;
                margin-bottom: 15px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 75px 5px 0;
                height: 35px;
            }
            .find-btn{
                position: absolute;
                top: 50%;
                right: 0;
                border: none;
                color: $orange;
                font-size: 13px;
                font-family: $proximarg;
                font-weight: 400;
                border-radius: 0px;
                padding: 0;
                background: transparent;
                transition: ease-in-out .5s;
                -webkit-transition: ease-in-out .5s;
                -moz-transition: ease-in-out .5s;
                -ms-transition: ease-in-out .5s;
                i{
                    width: 17px;
                    height: 17px;
                    font-size: 10px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 16px;
                    margin-right: 5px;
                    color: $orange;
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                }
                &:hover{
                    background: transparent;
                    color: $orange;
                    i{
                        color: $orange;
                    }
                }
            }
        }
        .find-right{
            text-align: right;
        }
    }
    .find-bg{
        img{
            width: 100%;
        }
    }
    .manually-main{
        padding: 40px 20px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 50px;
        }
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                // span{
                //     display: block;
                // }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                text-transform: uppercase;
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .manually-btn{
            text-align: right;
        }
    }
    .location-modal{
        margin: 0 5px;
        padding: 0 10px;
        width: calc(100% - 15px);
        overflow-y: scroll;
        height: 180px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $grayborder;
        }
        &::-webkit-scrollbar-thumb {
            background: $graytext;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $graytext;
        }
        .location-pick-list{
            position: relative;
            border-radius: 5px;
            border: 2px solid $grayborder;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            font-family: $proximarg;
            cursor: pointer;
            padding: 10px 15px;
            justify-content: space-between;
            .pizzaxxsheading{
                font-size: 14px;
                color: $deepgray;
                font-family: $proximarg;
                font-weight: 700;
                letter-spacing: .3px;
                margin-bottom: 3px;
            }
            .location-address{
                width: 70%;
                padding-left: 35px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0px;
                    width: 30px;
                    height: 25px;
                    background: url(../../../assets/images/sprite-image.png);
                    background-position: 0 -2452px;
                    background-size: 40px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: $deepgray;
                    line-height: 16px;
                    span{
                        display: block;
                    }
                }
            }
            .location-hours-right{
                width: 10%;
                text-align: right;
                p{
                    font-size: 13px;
                    color: $orange;
                    font-weight: 800;
                    letter-spacing: .3px;
                }
                i{
                    font-size: 11px;
                    color: $green;
                    display: none;
                }
            }
            &.select-active{
                border-color: $green;
                .pizzaxxsheading{
                    color: $green;
                }
                .location-address{
                    &::before{
                        background-position: 0 -2488px;
                    }
                    p{
                        color: $green;
                    }
                }
                .location-hours{
                    &::before{
                        background-position: 0px -2997px;
                    }
                    p, .location-pickup{
                        color: $green;
                    }
                }
                .location-hours-right{
                    p{
                        display: none;
                    }
                    i{
                        display: block;
                    }
                }
            }
        }
    }
    .delite-popup-wraper{
      .find-header{
        // display: flex;
        justify-content: center;
        align-items: center;
        .user-icon{
          margin-bottom: 0px;
          i{
            font-size: 36px;
          }
        }
        .pizzalgheading{
          margin-left: 5px;
          font-weight: bold;
          margin-top: 5px;
        }
      }
      .find-body{
        text-align: center;
        padding: 0px 30px 30px 30px;
        .pizzaparaDelete{
          margin-bottom: 30px;
        }
      }
    }


    @include breakpoint(slg) {
        .find-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .find-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .find-form{
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .form-group{
                .label-top{
                    font-size: 14px;
                }
            }
            .find-right{
                .pizza-btn{
                    width: 100%;
                }
            }
        }
        .manually-main{
            padding: 20px 10px;
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
                line-height: 32px;
            }
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
        }
        .location-modal{
            height: 280px;
            .location-pick-list{
                .location-address{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .location-hours{
                    width: 100%;
                    padding-left: 35px;
                    margin-bottom: 10px;
                    &::before{
                        left: 0px;
                    }
                }
                .location-hours-right{
                    position: absolute;
                    top: 10px;
                    right: 22px;
                }
                .location-directions{
                    padding-left: 35px;
                }
            }
        }
        .find-wrapper{
            width: 95%;
        }
    }
}

.popupblocker{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;


    .find-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .find-wrapper{
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 35%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 5px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .btn-delete-no{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #fff;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #ee5a00;
        font-size: 1em;
    }
    .btn-delete-yes{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #ee5a00;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #fff;
        font-size: 1em;
    }
    .find-header{
        padding: 30px 40px;
        position: relative;
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 46px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 0px;
        }
        .pizzaparaDelete{
            font-weight: 400;
            text-align: center;
            line-height: 1.175;
            letter-spacing: .15px;
            color: #4c3017;
            font-size: 1.2em;
            margin-top: 20px;
        }
    }
    .find-content{
        padding: 0;
    }
    .find-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .find-close:hover {
        color: #777;
    }
    .find-form{
        padding: 40px 25px 25px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 30px;
        }
        .form-group{
            margin-bottom: 15px;
            position: relative;
            .label-top{
                font-size: 16px;
                font-family: $proximarg;
                margin-bottom: 15px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 75px 5px 0;
                height: 35px;
            }
            .find-btn{
                position: absolute;
                top: 50%;
                right: 0;
                border: none;
                color: $orange;
                font-size: 13px;
                font-family: $proximarg;
                font-weight: 400;
                border-radius: 0px;
                padding: 0;
                background: transparent;
                transition: ease-in-out .5s;
                -webkit-transition: ease-in-out .5s;
                -moz-transition: ease-in-out .5s;
                -ms-transition: ease-in-out .5s;
                i{
                    width: 17px;
                    height: 17px;
                    font-size: 10px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 16px;
                    margin-right: 5px;
                    color: $orange;
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                }
                &:hover{
                    background: transparent;
                    color: $orange;
                    i{
                        color: $orange;
                    }
                }
            }
        }
        .find-right{
            text-align: right;
        }
    }
    .find-bg{
        img{
            width: 100%;
        }
    }
    .manually-main{
        padding: 40px 20px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 50px;
        }
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                // span{
                //     display: block;
                // }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                text-transform: uppercase;
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .manually-btn{
            text-align: right;
        }
    }
    .location-modal{
        margin: 0 5px;
        padding: 0 10px;
        width: calc(100% - 15px);
        overflow-y: scroll;
        height: 180px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $grayborder;
        }
        &::-webkit-scrollbar-thumb {
            background: $graytext;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $graytext;
        }
        .location-pick-list{
            position: relative;
            border-radius: 5px;
            border: 2px solid $grayborder;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            font-family: $proximarg;
            cursor: pointer;
            padding: 10px 15px;
            justify-content: space-between;
            .pizzaxxsheading{
                font-size: 14px;
                color: $deepgray;
                font-family: $proximarg;
                font-weight: 700;
                letter-spacing: .3px;
                margin-bottom: 3px;
            }
            .location-address{
                width: 70%;
                padding-left: 35px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0px;
                    width: 30px;
                    height: 25px;
                    background: url(../../../assets/images/sprite-image.png);
                    background-position: 0 -2452px;
                    background-size: 40px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: $deepgray;
                    line-height: 16px;
                    span{
                        display: block;
                    }
                }
            }
            .location-hours-right{
                width: 10%;
                text-align: right;
                p{
                    font-size: 13px;
                    color: $orange;
                    font-weight: 800;
                    letter-spacing: .3px;
                }
                i{
                    font-size: 11px;
                    color: $green;
                    display: none;
                }
            }
            &.select-active{
                border-color: $green;
                .pizzaxxsheading{
                    color: $green;
                }
                .location-address{
                    &::before{
                        background-position: 0 -2488px;
                    }
                    p{
                        color: $green;
                    }
                }
                .location-hours{
                    &::before{
                        background-position: 0px -2997px;
                    }
                    p, .location-pickup{
                        color: $green;
                    }
                }
                .location-hours-right{
                    p{
                        display: none;
                    }
                    i{
                        display: block;
                    }
                }
            }
        }
    }
    .delite-popup-wraper{
      .find-header{
        // display: flex;
        justify-content: center;
        align-items: center;
        .user-icon{
          margin-bottom: 0px;
          i{
            font-size: 36px;
          }
        }
        .pizzalgheading{
          margin-left: 5px;
          font-weight: bold;
          margin-top: 5px;
        }
      }
      .find-body{
        text-align: center;
        padding: 0px 30px 30px 30px;
        .pizzaparaDelete{
          margin-bottom: 30px;
        }
      }
    }


    @include breakpoint(slg) {
        .find-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .find-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .find-form{
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .form-group{
                .label-top{
                    font-size: 14px;
                }
            }
            .find-right{
                .pizza-btn{
                    width: 100%;
                }
            }
        }
        .manually-main{
            padding: 20px 10px;
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
                line-height: 32px;
            }
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
        }
        .location-modal{
            height: 280px;
            .location-pick-list{
                .location-address{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .location-hours{
                    width: 100%;
                    padding-left: 35px;
                    margin-bottom: 10px;
                    &::before{
                        left: 0px;
                    }
                }
                .location-hours-right{
                    position: absolute;
                    top: 10px;
                    right: 22px;
                }
                .location-directions{
                    padding-left: 35px;
                }
            }
        }
        .find-wrapper{
            width: 95%;
        }
    }
}



.radio-list-checkout li{
  .pizzaxxsheading{
    margin: 0px;
    color: $black;
    font-weight: 700;
    padding-top: 3px;
  }
  display: inline-block;
   margin-right: 50px;
  .radio-btn-list {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #ccc;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  input:checked ~ .checkmark {
    background-color: $white;
    border:1px solid $orangeborder;
  }
  .checkmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid $orangeborder;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
}

.find-popup-remove{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;


    .find-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .find-wrapper{
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 35%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 5px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .btn-delete-no{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #fff;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #ee5a00;
        font-size: 1em;
    }
    .btn-delete-yes{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #ee5a00;
        min-width: 6.563em;
        padding: 13px 0px;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #fff;
        font-size: 1em;
    }
    .find-header{
        padding: 30px 40px;
        position: relative;
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 35px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 0px;
        }
        .pizzaparaDelete{
            font-weight: 400;
            text-align: center;
            line-height: 1.175;
            letter-spacing: .15px;
            color: #4c3017;
            font-size: 1.2em;
            margin-top: 20px;
        }
    }
    .find-body{
      text-align: center;
      padding: 0px 15px 30px 0px;
      .pizzaparaDelete{
        color: $brownfont;
        font-size: 16px;
      }
    }
    .find-content{
        padding: 0;
        margin-top: 30px;
    }
    .find-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .find-close:hover {
        color: #777;
    }


    @include breakpoint(slg) {
        .find-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .find-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){

        .find-wrapper{
            width: 95%;
        }
    }
  }

//   .incomplete-popup{
    
//         position: fixed;
//         z-index: 10000;
//         top: 0;
//         left: 0;
//         display: none;
//         width: 100%;
//         height: 100%;
//         .find-overlay{
//             position: fixed;
//             z-index: 10;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             background: rgba(0, 0, 0, 0.85);
//         }
//     .find-wrapper{
//       background: $graybg;
//       width: 450px;
//       border-radius: 5px;
//       padding-bottom: 30px;
//       .find-header{
//         padding-bottom: 15px;
//         box-shadow: none;
//         .user-icon{
//           img{
//             width: 30px;
//           }
//         }
//       }
//         .find-body{
//           .pizzaparaDelete{
//             color: $brownfont;
//             padding: 0px 15px 15px 15px;
//             text-align: center;
//           }
//           .find-content{
//             // display: flex;
//             justify-content: space-between;
//             text-align: center;
//             padding: 0px 15px;
//             .btn-delete-no{
//               color: $white;
//               width: 49%;
//               background: $green;
//                 box-shadow: none;
//                 border: none;
//                 background: $orange;
//                 padding: 9px 0px;
//                 border-radius: 5px;
//                 &:nth-of-type(0){
//                   background: $white;
//                   color: $orangefont;
//                 }
//             }
//           }
//         }
//   }
//   }
  .incomplete-popup{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;


    .find-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .find-wrapper{
        background: $graybg;
      width: 450px;
      border-radius: 5px;
      padding-bottom: 30px;
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        
        margin: 0 auto;
    
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
       
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .btn-delete-no{
        color: $white;
              width: 49%;
              background: $green;
                box-shadow: none;
                border: none;
                background: $orange;
                padding: 9px 0px;
                border-radius: 5px;
                &:nth-of-type(0){
                  background: $white;
                  color: $orangefont;
                }
    }
    .btn-delete-yes{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #ee5a00;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #fff;
        font-size: 1em;
    }
    .find-header{
        padding: 30px 40px;
        position: relative;
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 46px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 0px;
        }
        .pizzaparaDelete{
            font-weight: 400;
            text-align: center;
            line-height: 1.175;
            letter-spacing: .15px;
            color: #4c3017;
            font-size: 1.2em;
            margin-top: 20px;
        }
    }
    .find-content{
        padding: 0;
        text-align: center;
    }
    .find-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .find-close:hover {
        color: #777;
    }
    .find-form{
        padding: 40px 25px 25px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 30px;
        }
        .form-group{
            margin-bottom: 15px;
            position: relative;
            .label-top{
                font-size: 16px;
                font-family: $proximarg;
                margin-bottom: 15px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 75px 5px 0;
                height: 35px;
            }
            .find-btn{
                position: absolute;
                top: 50%;
                right: 0;
                border: none;
                color: $orange;
                font-size: 13px;
                font-family: $proximarg;
                font-weight: 400;
                border-radius: 0px;
                padding: 0;
                background: transparent;
                transition: ease-in-out .5s;
                -webkit-transition: ease-in-out .5s;
                -moz-transition: ease-in-out .5s;
                -ms-transition: ease-in-out .5s;
                i{
                    width: 17px;
                    height: 17px;
                    font-size: 10px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 16px;
                    margin-right: 5px;
                    color: $orange;
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                }
                &:hover{
                    background: transparent;
                    color: $orange;
                    i{
                        color: $orange;
                    }
                }
            }
        }
        .find-right{
            text-align: right;
        }
    }
    .find-bg{
        img{
            width: 100%;
        }
    }
    .manually-main{
        padding: 40px 20px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 50px;
        }
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                // span{
                //     display: block;
                // }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                text-transform: uppercase;
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .manually-btn{
            text-align: right;
        }
    }
    .location-modal{
        margin: 0 5px;
        padding: 0 10px;
        width: calc(100% - 15px);
        overflow-y: scroll;
        height: 180px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $grayborder;
        }
        &::-webkit-scrollbar-thumb {
            background: $graytext;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $graytext;
        }
        .location-pick-list{
            position: relative;
            border-radius: 5px;
            border: 2px solid $grayborder;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            font-family: $proximarg;
            cursor: pointer;
            padding: 10px 15px;
            justify-content: space-between;
            .pizzaxxsheading{
                font-size: 14px;
                color: $deepgray;
                font-family: $proximarg;
                font-weight: 700;
                letter-spacing: .3px;
                margin-bottom: 3px;
            }
            .location-address{
                width: 70%;
                padding-left: 35px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0px;
                    width: 30px;
                    height: 25px;
                    background: url(../../../assets/images/sprite-image.png);
                    background-position: 0 -2452px;
                    background-size: 40px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: $deepgray;
                    line-height: 16px;
                    span{
                        display: block;
                    }
                }
            }
            .location-hours-right{
                width: 10%;
                text-align: right;
                p{
                    font-size: 13px;
                    color: $orange;
                    font-weight: 800;
                    letter-spacing: .3px;
                }
                i{
                    font-size: 11px;
                    color: $green;
                    display: none;
                }
            }
            &.select-active{
                border-color: $green;
                .pizzaxxsheading{
                    color: $green;
                }
                .location-address{
                    &::before{
                        background-position: 0 -2488px;
                    }
                    p{
                        color: $green;
                    }
                }
                .location-hours{
                    &::before{
                        background-position: 0px -2997px;
                    }
                    p, .location-pickup{
                        color: $green;
                    }
                }
                .location-hours-right{
                    p{
                        display: none;
                    }
                    i{
                        display: block;
                    }
                }
            }
        }
    }
    .delite-popup-wraper{
      .find-header{
        // display: flex;
        justify-content: center;
        align-items: center;
        .user-icon{
          margin-bottom: 0px;
          i{
            font-size: 36px;
          }
        }
        .pizzalgheading{
          margin-left: 5px;
          font-weight: bold;
          margin-top: 5px;
        }
      }
      .find-body{
        text-align: center;
        padding: 0px 30px 30px 30px;
        .pizzaparaDelete{
          margin-bottom: 30px;
        }
      }
    }


    @include breakpoint(slg) {
        .find-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .find-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .find-form{
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .form-group{
                .label-top{
                    font-size: 14px;
                }
            }
            .find-right{
                .pizza-btn{
                    width: 100%;
                }
            }
        }
        .manually-main{
            padding: 20px 10px;
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
                line-height: 32px;
            }
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
        }
        .location-modal{
            height: 280px;
            .location-pick-list{
                .location-address{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .location-hours{
                    width: 100%;
                    padding-left: 35px;
                    margin-bottom: 10px;
                    &::before{
                        left: 0px;
                    }
                }
                .location-hours-right{
                    position: absolute;
                    top: 10px;
                    right: 22px;
                }
                .location-directions{
                    padding-left: 35px;
                }
            }
        }
        .find-wrapper{
            width: 95%;
        }
    }
}

.cvv-no-chrckout{
    height: 42px;
}









/* The container */
.checkbox-checkout {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 4px;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-checkout input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark-checkout {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    border: 1px solid #dee2e6;
    background-color: #fff;
    border-radius: 30px;
    // border:1px solid #EF5A0D;
  }

  .checkbox-checkout:hover input ~ .checkmark-checkout {
    background-color: #dee2e6;
  }
  
  /* On mouse-over, add a grey background color */
 
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-checkout input:checked ~ .checkmark-checkout {
    background-color: #EF5A0D;
    border: 1px solid #EF5A0D;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark-checkout:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-checkout input:checked ~ .checkmark-checkout:after {
    display: block;
  }
 
  
  
  /* Style the checkmark/indicator */
  .checkbox-checkout .checkmark-checkout:after {
    left: 9px;
    top: 3px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }