@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.no-store-avalaible{
  .pizzaxxsheading{
    text-align: center;
    padding-top: 40px;
    color: $orange;
  }
}
button.reset-btn{
  position: absolute;
  right: 34px !important;
  top: 36px !important;
  transform: translate(0px, 12px);
  border: none;
  color: $orange;
  font-weight: 400;
  border-radius: 0px;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -ms-transition: ease-in-out .5s;
  width: 20px;
  height: 20px;
  &::after, &::before{
      position: absolute;
      left: 15px;
      content: ' ';
      top: 0;
      left: 10px;
      height: 12px;
      width: 1px;
      background: $orange;
      transform: rotate(45deg);
  }
  &::after{
      transform: rotate(-45deg);
  }
  @include breakpoint(xs){
    top: 60%;
  }
}

p{
  color: $innercontent;
}
.heading-box {
  text-align: center;
  .pizzaxlheading{
    color: $innerfont;
    margin-bottom: 15px;
  }
  .pizzaxxsheading{
    font-family: $proximablack;
    color: $orangefont;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:after{
      content: "";
    position: absolute;
    width: 52px;
    height: 1px;
    background: $orange;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    }
  }
  .pizzasmheading{
    line-height: 30px;
  }
}

.line-heading{
  color: $orangefont;
  margin-bottom: 30px;
  font-family: $proximablack;
  text-transform: uppercase;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    width: 48px;
    height: 1px;
    background: $orange;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0px);
  }
}

.heading-box-inner{
  .pizzaxxsheading{
    font-family: $proximablack;
    color: $innerfont;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
    &:after{
      content: "";
    position: absolute;
    width: 52px;
    height: 1px;
    background: $orange;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    }
  }
}

.padding-section{
  padding: 70px 150px;
  @include breakpoint(md){
    padding: 70px 70px;
  }
  @include breakpoint(xs){
     padding: 30px 15px;
    }
}
.padding-top{
 padding-top: 40px;
}


.inner-main{
  .container{
    padding: 0 60px;
  }
  @include breakpoint(sm){
    padding: 0px;
    display: block;
  }
}

.search-locator{
  margin-top:40px;
  margin-bottom: 30px;
  position: relative;
  form{
    display: block;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }
  input{
    display: block;
    width: 100%;
    padding: 10px 52px 10px 10px;
    border:none;
    border-bottom: 1px solid $grayborder;
    &:focus{
      outline: none;
      border-bottom: 1px solid $orangeborder;
    }
  }
  button{
    position: absolute;
    right: 0px;
    top: 45px;
    border: none;
    background: none;
    &:focus{
      outline: none;
    }
    i{
      font-size: 18px;
    }
  }
  label{
    margin-bottom: 10px;
  }
  @include breakpoint(xs){
    margin-top: 15px;
  }
}

.btn-locator{
  button{
    border: none;
    background: $orange;
    border-radius: 30px;
    padding: 8px 25px;
    color: #fff;
    font-weight: bold;
    margin: 5px 8px;
    &:focus{
      outline: none;
    }
    &:last-child{
      margin-right: 0px;
    }
  }
  margin-bottom: 50px;
  margin-left: -8px;
    margin-right: -8px;
    @include breakpoint(xs){
      margin-bottom: 10px;
    }

}


.inner-top{
  position: relative;
  margin-bottom: 20px;
  .pizzalgheading{
      text-align: center;
      margin-bottom: 0;
      color: $brownfont;
      font-family: $proximarg;
      text-transform: uppercase;
  }
  .signin-top{
      position: absolute;
      top: 9px;
      margin: 0;
  }
  .back-btn{
      color: $black;
  }
  @include breakpoint(xs) {
      .signin-top{
          position: relative;
          top: 10px;
          margin: 0 0 40px;
          margin-left: -15px;
          margin-right: -15px;
          padding: 0px 15px 15px 15px;
          border-bottom: 1px solid $grayborder;
      }
  }
}




.location-pick-list{
  position: relative;
  border: 2px solid $grayborder;
  margin-bottom: 5px;
  display: flex;
  border-radius: 5px;
  flex-wrap: wrap;
  font-family: $proximarg;
  padding: 10px 15px;
  margin-top: 10px;
  .pizzaxxsheading {
    font-size: 14px;
    color: #6d7273;
    font-family: "Proxima Nova Rg";
    font-weight: 700;
    letter-spacing: 0.3px;
    margin-bottom: 3px;
}
p{
  font-size: 12px;
    font-weight: 400;
    color: #6d7273;
    line-height: 16px;
  span{
    display: block;
  }
}
  .pizzamdheading{
      color: $brownfont;
      font-family: $proximarg;
      font-weight: 700;
      letter-spacing: .3px;
      margin-bottom: 15px;
      display: inline-block;
  }
  .location-address{
      width: 60%;
      padding-left: 35px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0px;
        width: 30px;
        height: 25px;
        background: url(../../../assets/images/sprite-image.png);
        background-position: 0 -2452px;
        background-size: 40px;
    }
      p{
        font-size: 12px;
        font-weight: 400;
        color: #6d7273;
        line-height: 16px;
          span{
              display: block;
          }
      }
      .open{
        color: $green;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .close{
        color: $red;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      @include breakpoint(md){
        width: 50%;
      }

  }

  .location-hours{
      width: 40%;
      padding-left: 45px;
      position: relative;
      &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 10px;
          width: 30px;
          height: 27px;
          background: url(../../../assets/images/sprite-image.png);
          background-position: 0px -2965px;
          background-size: 35px;
      }
      .hour-list{
          font-size: 14px;
          font-weight: 400;
          color: $deepgray;
          line-height: 16px;
          display: flex;
          padding: 3px;
          justify-content: space-between;
          span{
              display: block;
              color: $brownfont;

              &:first-child{
                width: 50%;
              }
              &:last-child{
                width: 50%;
                text-align: right;
              }
          }
      }
      .location-pickup{
          font-size: 12px;
          font-weight: 600;
          color: $deepgray;
      }
      @include breakpoint(md){
        width: 50%;
      }
  }
  .avalaible-t{
    width: 100%;
    margin: 20px 0px 10px 0px;
    color: $brownfont;
    strong{
      font-weight: bold;
    }

  }
  .location-directions{
      width: 100%;
      a{
          font-size: 14px;
          color: $orange;
          font-weight: 700;
          i{
              width: 17px;
              height: 17px;
              font-size: 10px;
              text-align: center;
              border: 1px solid $orange;
              border-radius: 50%;
              line-height: 16px;
              margin-right: 5px;
              color: $orange;
          }
          &:hover{
              text-decoration: underline;
          }
      }
  }
  &.select-active{
      border-color: $green;
      .pizzaxxsheading{
          color: $green;
      }
      .location-address{
          &::before{
              background-position: 0 -2488px;
          }
          p{
              color: $green;
          }

      }
      .location-hours{

          &::before{
              background-position: 0px -2997px;
          }
          p, .location-pickup{
              color: $green;
          }
      }
      .location-hours-right{
          p{
              display: none;
          }
          i{
              display: block;
          }
      }
  }
  @include breakpoint(xs){
    display: block;
    .location-directions{
      padding-left: 35px;
      margin-top:10px;
    }
    .location-address{
      width: 100%;
      // border-bottom: 1px solid $grayborder;
      // padding-bottom: 15px;
      // margin-bottom: 15px;
    }
    .location-hours{
      width: 100%;
      padding-left: 35px;
      &:before{
        left:0px;
      }
      .pizzasmheading{
        padding-left: 45px;
      }
    }
  }
}

.location-hours-left{
  .pizzasmheading{
    font-weight: bold;
    color: $brownfont;
    margin-bottom: 20px;
  }
}
.bottm-trouble{
  padding-top: 30px;
  font-weight: bold;
  line-height: 30px;
  a{
    color: $red;
    margin-left: 5px;
    display: inline-block;
    text-decoration: underline;
  }
}


.search-contant-wraper{
  .locater-img{
    text-align: center;
    padding: 100px 0px;
    border-bottom: 1px solid $grayborder;
  }
  .list-location{
    padding-top: 40px;
    .pizzasmheading{
      font-weight: 600;
      color: $brownfont;
    }
    .list-l{
      display: flex;
      flex-wrap: wrap;
      li{
        display: block;
        width: 14.2%;
        padding-right: 5px;
        a{
          font-size: 13px;
          margin: 3px 0px;
          color: $black;
          display: inline-block;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .flex-list-bx{
      display: flex;
      flex-wrap: wrap;
      .list-bx{
        width: 14%;
        margin-top: 30px;
        ul{
            li{
              display: block;
              width: 14.2%;
              padding-right: 5px;
              a{
                font-size: 13px;
                margin: 3px 0px;
                display: inline-block;
                color: $black;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
        }
      }
    }
  }

  @include breakpoint(md){
    .list-location{
      .list-l{
        li{
          width: 25%;
        }
      }
      .flex-list-bx{
        .list-bx{
          width: 25%;
        }
      }
    }
  }
  @include breakpoint(xs){
    .list-location{
      .list-l{
        li{
          width: 50%;
        }
      }
      .flex-list-bx{
        .list-bx{
          width: 50%;
        }
      }
    }
  }
}

.map-location{
  border-bottom: 1px solid $grayborder;
  padding-bottom: 40px;
  .map-link{
    display: block;
    position: relative;
    span{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
    }
    .map-img{
      display: block;
      width: 100%;
    }
  }

  .location-directions{
    margin-top: 20px;
    a{
      font-size: 14px;
      color: $orangefont;
      font-weight: 700;
      &:hover{
        text-decoration: underline;
      }
      i{
        width: 17px;
        height: 17px;
        font-size: 10px;
        text-align: center;
        border: 1px solid $orangeborder;
        border-radius: 50%;
        line-height: 16px;
        margin-right: 5px;
        color: $orangefont;
      }
    }
  }
  .location-pick-list{
    padding: 0px;
    display: block;
    border-bottom: none;
    .location-address{
      width: 100%;
    }
  }
  .location-pick-list{
    .avalaible-t{
      margin-top: 10px;
    }
    .location-hours{
      width: 100%;
      padding-left: 30px;
      margin-top: 15px;
      &::before{
        left: 0px;
      }
      .pizzasmheading{
        margin-bottom: 3px;
      }
    }
  }
  @include breakpoint(xs){
    .map-link{
      margin-top: 30px;
    }
    .location-directions{
      margin-bottom: 30px;
    }
    .location-pick-list{
      .location-hours{
        .pizzasmheading{
          padding-left: 3px;
        }
      }
    }
  }
}
.wraper-near-by{
  padding-top: 50px;
  .pizzasmheading{
    color: $brownfont;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .bx-near-by{
    border: 1px solid $grayborder;
    padding: 15px;
    border-radius: 8px;
    .pizzasmheading{
      margin-bottom: 5px;
    }
    .loc-content{
      span{
        font-size: 13px;
        pad: 3px;
        color: #000;
        display: block;
      }
    }
  }
  .location-directions{
    margin-top: 10px;
    a{
      font-size: 14px;
      color: $orangefont;
      font-weight: 700;
      &:hover{
        text-decoration: underline;
      }
      i{
        width: 17px;
        height: 17px;
        font-size: 10px;
        text-align: center;
        border: 1px solid $orangeborder;
        border-radius: 50%;
        line-height: 16px;
        margin-right: 5px;
        color: $orangefont;
      }
    }
  }
  @include breakpoint(xs){
    padding-top: 30px;
    .pizzasmheading{
      margin-bottom: 0px;
    }
    .bx-near-by{
      margin-top: 30px;
    }
  }
}
// .location-list-locator{
//   max-height: 260px;
//   overflow: hidden;
//   overflow-y: scroll;
//   margin-top: 10px;
//   padding-right: 10px;
//   &::-webkit-scrollbar {
//     width: 5px;
// }
// &::-webkit-scrollbar {
//     height: 5px;
// }
// &::-webkit-scrollbar-track {
//     border-radius: 10px;
//     background: $grayborder;
// }
// &::-webkit-scrollbar-thumb {
//     background: $graytext;
//     border-radius: 10px;
// }
// &::-webkit-scrollbar-thumb:hover {
//     background: $graytext;
// }
// @include breakpoint(xs){
//   max-height: 318px;
// }
// }





