


<div class="inner-main" style="    padding-left: inherit;">
<section>

  <div class="padding-section">

    <div class="pizza-assistant-top">
      <div class="inner-top">
          <div class="signin-top">
              <a class="back-btn" href="#">Back</a>
          </div>
          <h1 class="pizzalgheading">RESTAURANT LOCATOR</h1>
      </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-9">
          <div class="search-locator">
            <form method="post">
               <label>Search by city, province or postal code</label>
               <input type="text" class="form-control" (keyup)="onKeyUp($event)" (keydown.enter)="$event.preventDefault()" (ngModelChange)="modelChangeFn($event)" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
               <button  type="reset" id="reset-btn" class="reset-btn"  (click)="resetAddress()" *ngIf="resetButton"></button>
              </form>
            
            <button type='submit'><i class="fa fa-search" aria-hidden="true" *ngIf="searchiconShow"></i>
              <i *ngIf="goLoader" class="fa fa-spinner fa-spin" style="color:red" aria-hidden="true"></i>
              <!-- <div *ngIf="goLoader" class="loader-12"></div> -->
            </button>

            <div class="no-store-avalaible" *ngIf="nostoreAvailable">
               <p class="pizzaxxsheading">No stores available at this location</p>
            </div>

            <div class="location-list-locator" *ngIf="storedetailShow" >
              <div class="location-pick-list" *ngFor="let item of storeDetail;">
                <div class="location-address">
                    <div class="pizzaxxsheading">{{item.store_name}}</div>
                    <p>
                        <span>{{item.address}}</span>
                        <span>{{item.contact_number}}</span>
                        <span>{{item.distance}} 1Km</span>
                    </p>
                </div>
                <div class="location-hours">
                    <div class="location-hours-left">
                        <div class="pizzaxxsheading"> Hours </div>
                        <p>
                          <span *ngFor="let timings of item.timings; let i = index">{{timings.day}} {{timings.open_time}} - {{timings.closed_time}}</span> 
                            <!-- <span>Monday {{item.opening_hours}} - {{item.closing_hours}}</span>
                            <span>Tuesday {{item.opening_hours}} - {{item.closing_hours}}</span>
                            <span>Wednesday {{item.opening_hours}} - {{item.closing_hours}}</span>
                            <span>Thursday {{item.opening_hours}} - {{item.closing_hours}}</span>
                            <span>Friday {{item.opening_hours}} - {{item.closing_hours}}</span>
                            <span>Saturday {{item.opening_hours}} - {{item.closing_hours}}</span>
                            <span>Sunday {{item.opening_hours}} - {{item.closing_hours}}</span> -->
                        </p>
                        <div class="location-pickup">Pickup • Online</div>
                    </div>
                </div>
                <!-- <div class="location-hours-right">
                    <p>Select</p>
                    <i aria-hidden="true" class="fa fa-check"></i>
                </div> -->
                <div class="location-directions">
                    <a href="https://www.google.com.sa/maps/search/{{item.delivery_address}}?hl=en" target="_blank">
                        <i aria-hidden="true" class="fa fa-location-arrow"></i>
                        Get Directions
                    </a>
                </div>
            </div>

            <!-- <div class="location-pick-list">
              <div class="location-address">
                  <div class="pizzaxxsheading">1197 Ellesmere Road</div>
                  <p>
                      <span>Toronto - Scarborough, ON, M1P2X8</span>
                      <span>(416) 967-1111</span>
                      <span>1 km</span>
                  </p>
              </div>
              <div class="location-hours">
                  <div class="location-hours-left">
                      <div class="pizzaxxsheading"> Hours </div>
                      <p>
                          <span>Monday 11:00 AM - 01:00 AM</span>
                          <span>Tuesday 11:00 AM - 01:00 AM</span>
                          <span>Wednesday 11:00 AM - 01:00 AM</span>
                          <span>Thursday 11:00 AM - 02:00 AM</span>
                          <span>Friday 11:00 AM - 02:00 AM</span>
                          <span>Saturday 11:00 AM - 02:00 AM</span>
                          <span>Sunday 11:00 AM - 01:00 AM</span>
                      </p>
                      <div class="location-pickup">Delivery • Pickup • Online</div>
                  </div>
              </div>
              <div class="location-hours-right">
                  <p>Select</p>
                  <i aria-hidden="true" class="fa fa-check"></i>
              </div> 
              <div class="location-directions">
                  <a href="#" target="_blank">
                      <i aria-hidden="true" class="fa fa-location-arrow"></i>
                      Get Directions
                  </a>
              </div>
          </div> -->
          
            </div>

          </div>
        </div>
    </div>

    <div class="search-contant-wraper">
        <div class="locater-img" *ngIf="pizzaiconShow">
          <img alt="" src="assets/images/restorent-locator/pizza-pizza.png">
        </div>

        <div class="list-location">
          <h2 class="pizzasmheading">Mexico</h2>
          <ul class="list-l">
            <li>
               <a target="_blank" href="https://goo.gl/maps/n1qkDzQy5bJXH94C9">PZA Plaza Faro</a>
            </li>
            <li>
              <a target="_blank" href="https://goo.gl/maps/JyGk8dkv4NnMLN3D7">PZA Cima</a>
           </li>
           <li>
              <a target="_blank" href="https://goo.gl/maps/oBPTioDno8E9ccjp9">PZA Chapultepec</a>
          </li>
          <li>
            <a target="_blank" href="https://www.google.com.sa/maps/search/MX004+-+Plaza+San+Jorge+Fracc,+Av+Camino+a+Bosques+De+San+Isidro,+La+Grana+780-Local+5,+45180+Zapopan,+Jal./@20.7619571,-103.3759038,14z/data=!3m1!4b1?hl=en&entry=ttu&g_ep=EgoyMDI1MDEwMi4wIKXMDSoASAFQAw%3D%3D">PZA Cañadas </a>
        </li>
          
          </ul>
          <!-- <div class="flex-list-bx">
            <div class="list-bx">
                <h2 class="pizzasmheading">Quebec</h2>
                <ul>
                  <li><a href="#">Brossard</a></li>
                  <li><a href="#"> Chateauguay</a></li>
                  <li><a href="#"> Delson</a></li>
                  <li><a href="#"> Gatineau</a></li>
                  <li><a href="#"> Greenfield Park</a></li>
                  <li><a href="#"> ile Perrot</a></li>
                  <li><a href="#"> Lachine</a></li>
                  <li><a href="#"> Lasalle</a></li>
                  <li><a href="#"> Laval</a></li>
                  <li><a href="#"> Longueuil</a></li>
                </ul>
            </div>
            <div class="list-bx">
              <h2 class="pizzasmheading">British Columbia</h2>
              <ul>
                <li><a href="#"> Abbotsford</a></li>
                <li><a href="#"> Burnaby</a></li>
                <li><a href="#"> Chilliwack</a></li>
                <li><a href="#"> Clearwater</a></li>
                <li><a href="#"> Delta</a></li>
                <li><a href="#"> Langley</a></li>
                <li><a href="#"> New Westminster</a></li>
                <li><a href="#"> North Vancouver</a></li>
                <li><a href="#"> Pitt Meadows</a></li>
                <li><a href="#"> Port Coquitlam</a></li>
              </ul>
            </div>
            <div class="list-bx">
              <h2 class="pizzasmheading">Manitoba</h2>
              <ul>
                <li><a href="#"> Brandon</a></li>
                <li><a href="#"> Portage La Prairie</a></li>
                <li><a href="#"> Thompson</a></li>
                <li><a href="#"> Winnipeg</a></li>
              </ul>
            </div>
            <div class="list-bx">
              <h2 class="pizzasmheading">Alberta</h2>
              <ul>
                <li><a href="#"> Banff</a></li>
                <li><a href="#"> Fort McMurray</a></li>
                <li><a href="#"> Penhold</a></li>
                <li><a href="#"> SYLVAN LAKE</a></li>
              </ul>
          </div>
          <div class="list-bx">
            <h2 class="pizzasmheading">Saskatchewan</h2>
            <ul>
              <li><a href="#">Moose Jaw</a></li>
              <li><a href="#">Regina</a></li>
              <li><a href="#">SWIFT CURRENT</a></li>
            </ul>
          </div>
          <div class="list-bx">
            <h2 class="pizzasmheading">Nova Scotia</h2>
            <ul>
              <li><a href="#">Cole Harbour</a></li>
              <li><a href="#">Dartmouth</a></li>
              <li><a href="#">Halifax</a></li>
            </ul>
          </div>
          <div class="list-bx">
            <h2 class="pizzasmheading">New Brunswick</h2>
            <ul>
              <li><a href="#">Dieppe</a></li>
              <li><a href="#">Moncton</a></li>
            </ul>
          </div>

          <div class="list-bx">
            <h2 class="pizzasmheading">Yukon</h2>
            <ul>
              <li><a href="#">WHITEHORSE</a></li>
            </ul>
          </div>

          <div class="list-bx">
            <h2 class="pizzasmheading">Prince Edward Island</h2>
            <ul>
              <li><a href="#">Charlottetown</a></li>
            </ul>
          </div>

          </div> -->

        </div>
    </div>

        <div class="row justify-content-center" style="display: none;">
        <div class="col-sm-8">
          <div class="btn-locator">
             <button> All Locations </button>
             <button> British Columbia </button>
             <button> Vancouver </button>
          </div>
        </div>
      </div>

      <div class="wraper-location-map" style="display: none;">
      <div class="map-location">
        <div class="row">
          <div class="col-sm-6">
            <a href='#' class="map-link">
              <img src="assets/images/restorent-locator/staticmap.png" class="map-img">
              <span>
                  <img src="assets/images/restorent-locator/pizza-pizza2.png">
              </span>
            </a>
            <div class="location-directions">
              <a href="#" target="_blank">
                  <i aria-hidden="true" class="fa fa-location-arrow"></i>
                  Get Directions
              </a>
          </div>
          </div>
          <div class="col-sm-6">
            <div>
              <div class="location-pick-list">
                <div class="location-address">
                  <div class="open">Open</div>
                    <a href="" class="pizzamdheading">1197 Ellesmere Road</a>
                   <p>
                       <span>Toronto, ON</span>
                       <span>M6J1E8</span>
                   </p>
                   <div class="avalaible-t"><strong>Available:</strong> Online Pickup Delivery </div>
                </div>
                <div class="location-hours">
                    <div class="location-hours-left">
                        <div class="pizzasmheading"> Hours </div>
                        <div class="hour-list">
                            <span>Monday</span>
                            <span> 11:00 AM - 01:00 AM</span>
                        </div>
                        <div class="hour-list">
                            <span>Tuesday</span>
                            <span> 11:00 AM - 01:00 AM</span>
                        </div>
                        <div class="hour-list">
                            <span>Wednesday</span>
                            <span> 11:00 AM - 01:00 AM</span>
                        </div>
                        <div class="hour-list">
                            <span>Thursday</span>
                            <span> 11:00 AM - 01:00 AM</span>
                        </div>
                        <div class="hour-list">
                            <span>Friday</span>
                            <span> 11:00 AM - 01:00 AM</span>
                        </div>
                        <div class="hour-list">
                            <span>Saturday</span>
                            <span> 11:00 AM - 01:00 AM</span>
                        </div>
                        <div class="hour-list">
                          <span>Sunday</span>
                          <span> 11:00 AM - 01:00 AM</span>
                      </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>


      <div class="wraper-near-by">
        <h2 class="pizzasmheading">Nearby Locations</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="bx-near-by">
              <a href="#" class="pizzasmheading">297 Wellesley Street East</a>
              <div class="loc-content">
                <span>Toronto, ON</span>
                <span>M4X1G9</span>
              </div>
              <div class="location-directions">
                  <a href="#" target="_blank">
                      <i aria-hidden="true" class="fa fa-location-arrow"></i>
                      Get Directions
                  </a>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="bx-near-by">
              <a href="#" class="pizzasmheading">2295 Yonge Street</a>
              <div class="loc-content">
                <span>Toronto, ON</span>
                <span>M4P2C6</span>
              </div>
              <div class="location-directions">
                  <a href="#" target="_blank">
                      <i aria-hidden="true" class="fa fa-location-arrow"></i>
                      Get Directions
                  </a>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="bx-near-by">
              <a href="#" class="pizzasmheading">2795 Danforth Avenue</a>
              <div class="loc-content">
                <span>Toronto, ON</span>
                <span>M4C1M2</span>
              </div>
              <div class="location-directions">
                  <a href="#" target="_blank">
                      <i aria-hidden="true" class="fa fa-location-arrow"></i>
                      Get Directions
                  </a>
              </div>
            </div>
          </div>

        </div>
      </div>
      </div>


        <div class="row justify-content-center" style="display: none;">
        <div class="col-sm-12">
          <div class="location-pick-list">
            <div class="location-address">
              <div class="open">Open</div>
                <a href="" class="pizzamdheading">1197 Ellesmere Road</a>
               <p>
                   <span>Vancouver, BC</span>
                   <span>V5T1W5</span>
                   <span>2.4km</span>
               </p>
               <div class="avalaible-t"><strong>Available:</strong> Online Pickup Delivery </div>
               <div class="location-directions">
                <a href="#" target="_blank">
                    <i aria-hidden="true" class="fa fa-location-arrow"></i>
                    Get Directions
                </a>
            </div>
            </div>
            <div class="location-hours">
                <div class="location-hours-left">
                    <div class="pizzasmheading"> Hours </div>
                    <div class="hour-list">
                        <span>Monday</span>
                        <span> 11:00 AM - 01:00 AM</span>
                    </div>
                    <div class="hour-list">
                        <span>Tuesday</span>
                        <span> 11:00 AM - 01:00 AM</span>
                    </div>
                    <div class="hour-list">
                        <span>Wednesday</span>
                        <span> 11:00 AM - 01:00 AM</span>
                    </div>
                    <div class="hour-list">
                        <span>Thursday</span>
                        <span> 11:00 AM - 01:00 AM</span>
                    </div>
                    <div class="hour-list">
                        <span>Friday</span>
                        <span> 11:00 AM - 01:00 AM</span>
                    </div>
                    <div class="hour-list">
                        <span>Saturday</span>
                        <span> 11:00 AM - 01:00 AM</span>
                    </div>
                    <div class="hour-list">
                      <span>Sunday</span>
                      <span> 11:00 AM - 01:00 AM</span>
                  </div>
                </div>
            </div>
        </div>
        </div>

        <div class="col-sm-12">
          <div class="location-pick-list">
            <div class="location-address">
              <div class="close">Close</div>
                <a href="" class="pizzamdheading">1197 Ellesmere Road</a>
               <p>
                   <span>Vancouver, BC</span>
                   <span>V5T1W5</span>
                   <span>2.4km</span>
               </p>
               <div class="avalaible-t"><strong>Available:</strong> Online Pickup Delivery </div>
               <div class="location-directions">
                <a href="#" target="_blank">
                    <i aria-hidden="true" class="fa fa-location-arrow"></i>
                    Get Directions
                </a>
            </div>
            </div>
            <div class="location-hours">
                <div class="location-hours-left">
                    <div class="pizzasmheading"> Hours </div>
                    <div class="hour-list">
                        <span>Monday</span>
                        <span> 11:00 AM - 01:00 AM</span>
                    </div>
                    <div class="hour-list">
                        <span>Tuesday</span>
                        <span> 11:00 AM - 01:00 AM</span>
                    </div>
                    <div class="hour-list">
                        <span>Wednesday</span>
                        <span> 11:00 AM - 01:00 AM</span>
                    </div>
                    <div class="hour-list">
                        <span>Thursday</span>
                        <span> 11:00 AM - 01:00 AM</span>
                    </div>
                    <div class="hour-list">
                        <span>Friday</span>
                        <span> 11:00 AM - 01:00 AM</span>
                    </div>
                    <div class="hour-list">
                        <span>Saturday</span>
                        <span> 11:00 AM - 01:00 AM</span>
                    </div>
                    <div class="hour-list">
                      <span>Sunday</span>
                      <span> 11:00 AM - 01:00 AM</span>
                  </div>
                </div>
            </div>
        </div>
        </div>

        <div class="col-sm-12 bottm-trouble">
          <div class="pizzamdheading">Having trouble finding what you are looking for? <a href=""> Ontario </a> <a href=""> British Columbia </a> <a href=""> Manitoba </a> <a href=""> </a> <a href=""> Alberta </a> <a href=""> Saskatchewan </a></div>
        </div>

    </div>




  </div>
</section>


</div>








