@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.page-404{
  text-align: center;
  padding: 100px 0px;
  color: $brownfont;
  .pizzaxlheading{
    color: $brownfont;
    font-size: 150px;
    line-height: 115px;
    margin-bottom: 60px;
  }
  .pizzalgheading{
    color: $brownfont;
    margin-bottom: 20px;
  }
  .pizzaxsheading{
    color: $brownfont;
  }
  .return-btn-404{
    padding-top: 60px;
    .pizza-btn{
      cursor: pointer;
    }
  }
  @include breakpoint(xs){
    padding: 80px 0px;
    .pizzaxlheading{
      font-size: 90px;
      line-height: 75px;
      margin-bottom: 40px;
    }
    .pizzalgheading{
      margin-bottom: 15px;
      line-height: 26px;
    }
    .return-btn-404{
      padding-top: 55px;
    }
  }
}
