@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.back-btn{
    text-transform: uppercase;
}
.notallowed{
    cursor: not-allowed !important;
    color: #8f8f8f !important;
    border: 1px solid #8f8f8f !important;
}
.notallowed-btn{
    cursor: not-allowed !important;
    color: #fff !important;
    border: 1px solid #8f8f8f !important;
    background-color: #8f8f8f;
}
/*--pdp-banner-start--*/

.with-icon:before {
    display: inline-block;
    color: #8abc53;
    font-family: pizzapizza;
    content: "\2713";
    margin-right: 5px;
}
.pdp-banner{
    background: url(../../../assets/images/bg-configurator-header.jpg);
    background-repeat: repeat;
    padding: 50px 20px;
    overflow: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .inner-top{
        position: relative;
        margin-bottom: 20px;
        .pizzalgheading{
            text-align: center;
            margin-bottom: 0;
            color: $brownfont;
            font-family: $proximarg;
            text-transform: uppercase;
            margin: 0 17%;
        }
    }
    .signin-top{
        position: absolute;
        top: 9px;
        margin: 0;
    }
    @include breakpoint(xs) {
        padding: 30px 0px;
        .signin-top{
            position: relative;
            top: 0;
            margin: 0 0 20px;
        }
    }
}
/*--pdp-banner-end--*/

/*--customize-start--*/
.customize-box{
    .customize-row{
        position: relative;
        min-height: 390px;
    }
    .add-new-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: opacity .3s ease-in-out;
        opacity: 1;
        z-index: 12;
        border: 1px solid $grayborder;
        border-radius: 5px;
        background: $white;
        cursor: pointer;
        padding: 5px 5px;
        width: 100px;
        min-width: 100px;
        height: 100px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            top: 10px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: url(../../../assets/images/sprite-image.png);
            background-size: 70px;
            background-position: 6px 958px;
        }
        p{
            font-size: 16px;
            font-family: $proximarg;
            font-weight: bold;
            color: $brownfont;
        }
    }
    .product-summary-left{
        transition: opacity .3s ease-in-out;
        opacity: 1;
        z-index: 10;
        max-width: 300px;
        width: 50%;
    }
    .line{
        width: 28px;
        height: 2px;
        background: $orange;
        margin: 10px auto;
        display: inline-block;
    }
    .size-picker-wrapper{
        text-align: center;
        overflow: hidden;
        border: 1px solid $graytext;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }
    .size-instance{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        outline: 0;
        border: 0;
        background-color: #fff;
        cursor: pointer;
        padding: 10px 2px;
        .icon-wrap{
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .label{
            font-size: 10px;
            font-family: $proximarg;
            font-weight: 600;
            color: $brownfont;
        }
        .line{
            margin: 2px auto 0;
            background: $darkgraybg;
        }
        &.active{
            border: 2px solid $orange;
            .line{
                background: $orange;
            }
        }
    }
    .item-description{
        text-align: center;
        margin: 10px 0;
        p{
            font-size: 14px;
            font-family: $proximarg;
            font-weight: 400;
            color: $brownfont;
            text-transform: capitalize;
        }
    }
    .product-quantity-price{
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .product-quantity-left{
            width: 45%;
            .product-number{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .minus, .plus{
                    width:26px;
                    height:26px;
                    font-size: 25px;
                    font-family: $proximarg;
                    background:$white;
                    color: $orange;
                    font-weight: 600;
                    padding:0;
                    border:1px solid $orange;
                    border-radius: 50%;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    line-height: 24px;
                    cursor: pointer;
                }
                .plus{
                    line-height: 28px;
                }
                .numbertype{
                    width: 70px;
                    height: auto;
                    font-size: 34px;
                    font-family: $proximarg;
                    color: $brownfont;
                    font-weight: 800;
                    border:0;
                    border-radius:0px;
                    text-align: center;
                    padding:0;
                    margin: 0;
                    background: transparent;
                }
            }
        }
        .product-quantity-right{
            width: 45%;
            text-align: right;
            .pizzalgheading{
                color: $brownfont;
                font-family: $proximarg;
                font-weight: 800;
                margin: 0;
            }
        }
    }
    .cart-update-btn{
        .pizza-btn{
            width: 100%;
        }
    }
    .product-cals{
        text-align: center;
        margin-top: 24px;
        .pizzamdheading{
            font-family: $proximarg;
            font-weight: 800;
            color: $brownfont;
            text-transform: uppercase;
        }
    }
    .add-pro-slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 320px;
        .item{
            height: 100%;
        }
        .product-image-wrap{
            position: relative;
            height: 100%;
            img{
                width: 320px;
                height: 100%;
                margin: 0 auto;
            }
        }
    }
    .item-description{
        text-align: center;
        margin: 0;
    }
    @include breakpoint(md){
        .add-pro-slider{
            left: -30px;
            .product-image-wrap{
                img{
                    width: 260px;
                }
            }
        }
        .product-quantity-price{
            .product-quantity-left{
                .product-number{
                    .numbertype{
                        width: 50px;
                        font-size: 26px;
                    }
                }
            }
            .product-quantity-right{
                .pizzalgheading{
                    font-size: 26px;
                }
            }
        }
    }
    @include breakpoint(xs) {
        .product-summary-left{
            width: 82%;
        }
        .add-pro-slider{
            position: relative;
            height: 180px;
            left: 0;
            .product-image-wrap{
                img{
                    width: 160px;
                }
            }
        }
        .item-description{
            margin-top: 10px;
        }
    }
}
/*--customize-end--*/

/*--customize-tab-start--*/
.configuration-categories{
    margin-top: -35px;
    .productconfiguratortab{
        position: relative;
        border: 4px solid #fff;
        border-radius: 50px;
        background: #eaf0f3;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        li{
            display: inline-block;
            width: 25%;
            a{
                width: 100%;
                font-size: 18px;
                font-family: $proximarg;
                color: $brownfont;
                cursor: pointer;
                text-align: center;
                font-weight: 800;
                padding: 10px 25px;
                text-transform: capitalize;
                line-height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 90px;
                span{
                    width: 35px;
                    margin: 0 5px;
                    .white-icon{
                        display: none;
                    }
                }
                &.active{
                    color: $white;
                    border: 3px solid #9cce62;
                    border-radius: 50px;
                    background-color: #4e7026;
                    span{
                        .gray-icon{
                            display: none;
                        }
                        .white-icon{
                            display: block;
                        }
                    }
                }

            }
        }
    }
    .productsubcategory{
        padding: 0px;
        text-align: center;
        padding-bottom: 20px;
        position: relative;
        li{
            display: inline-block;
            border-bottom: 1px solid #4e7026;
            a{
                font-size: 18px;
                color: $graytext;
                font-family: $proximarg;
                position: relative;
                cursor: pointer;
                text-align: center;
                font-weight: 400;
                padding: 25px;
                text-transform: capitalize;
                &::after{
                    position: absolute;
                    top: 65.5px;
                    left: -100%;
                    transform: rotate(45deg);
                    transition: left 1s ease;
                    margin-left: -5px;
                    border: solid #4e7026;
                    border-width: 0 1px 1px 0;
                    background-color: $white;
                    padding: 4px;
                    width: 10px;
                    height: 10px;
                    content: "";
                    display: none;
                }
                &.active{
                    color: #4e7026;
                    font-weight: 700;
                    &::after{
                        display: inline-block;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .configurator-options{
        width: 80%;
        margin: 0 auto;
    }
    .second-tab-content{
        margin-top: 15px;
        .tab-pane{
            padding: 20px;
        }
    }
    .reset-selection{
        font-size: 14px;
        font-family: $proximarg;
        color: $orange;
        font-weight: 800;
        text-align: right;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        i{
            font-size: 10px;
            color: $white;
            background: $orange;
            width: 24px;
            height: 24px;
            line-height: 25px;
            border-radius: 50%;
            margin: 0 5px;
            text-align: center;
        }
    }
    .tab-pane{
        margin-top: 15px;
    }
    .product-option-col{
        transition: all .5s ease-out;
        padding: 5px;
        .product-option{
            display: inline-block;
            position: relative;
            transition: all .5s ease-out;
            outline: 0;
            border: 1px solid #e1e7e9;
            border-radius: 10px;
            background-image: url(../../../assets/images/bg-configurator-header.jpg);
            background-repeat: repeat;
            cursor: pointer;
            width: 100%;
            height: 190px;
            vertical-align: top;
            text-align: left;
            .check-box-icon-wrap{
                display: none;
                i{
                    position: relative;
                    float: right;
                    z-index: 11;
                    margin-top: 5px;
                    margin-right: 5px;
                    color: $green;
                    font-size:7px;
                }
            }
            .info-wrap{
                position: absolute;
                transition: all .5s ease-out;
                z-index: 1;
                margin: 14px 10px 0;
                .select{
                    font-size: 14px;
                    color: $orange;
                    font-family: $proximarg;
                    font-weight: 800;
                }
                .option-label{
                    font-size: 16px;
                    font-family: $proximarg;
                    font-weight: 800;
                    color: $brownfont;
                    text-transform: capitalize;
                }
                .separator{
                    margin-top: 10px;
                    background: $orange;
                    width: 20px;
                    height: 1px;
                }
                .calories-label{
                    font-size: 16px;
                    font-family: $proximarg;
                    font-weight: 800;
                    color: $brownfont;
                    text-transform: capitalize;
                    line-height: 24px;
                }
                ul{
                    li{
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }
                }
                .option-drop-down{
                    position: absolute;
                    right: 5px;
                    bottom: 0;
                    left: 0;
                    z-index: 10;
                    border: 2px solid #ccd6d8;
                    background: #fff;
                    max-width: 100%;
                    display: none;
                    .js-dropdown-list{
                        display: none;
                        .drowicon{
                            display: none;
                        }
                    }
                    .tab-option{
                        background-color: #fff;
                        padding: 6px;
                        width: 180px;
                        max-width: 100%;
                        img{
                            opacity: .5;
                            cursor: pointer;
                            width: 20px;
                        }
                        .label{
                            font-size: 12px;
                            color: $green;
                            font-family: $proximarg;
                            font-weight: 800;
                            margin: 0 5px;
                            line-height: 14px;
                        }
                        .drowicon{
                            width: 0px;
                            height: 0px;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 10px solid $green;
                            margin-left: auto;
                        }
                    }
                }
                .half-half-wrap{
                    display: none;
                    width: 100px;
                    padding-top: 5px;
                    .info{
                        font-size: 12px;
                        color: $green;
                        font-family: $proximarg;
                        font-weight: 400;
                        margin-top: 5px;
                    }
                    .icon-topping{
                        cursor: pointer;
                        width: 26px;
                        height: 26px;
                        color: $graytext;
                        border: 1px solid $graytext;
                        border-radius: 50%;
                        position: relative;
                        &::after{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 19px;
                            height: 19px;
                            background: $graytext;
                            border-radius: 50%;
                            margin: auto;
                        }
                        &.active{
                            border: 1px solid $green;
                        }
                    }
                    .icon-topping-left{
                        &::after{
                            background: linear-gradient(to right, $graytext 50% , transparent 50%);
                        }
                        &.active{
                            &::after{
                                background: linear-gradient(to right, $green 50% , transparent 50%);
                            }
                        }
                    }
                    .icon-topping-right{
                        &::after{
                            background: linear-gradient(to right, transparent 50% , $graytext 50%);
                        }
                        &.active{
                            &::after{
                                background: linear-gradient(to right, transparent 50% , $green 50%);
                            }
                        }
                    }
                    .icon-topping-full{
                        &.active{
                            &::after{
                                background: $green;
                            }
                        }
                    }
                }
                .incrementor-wrap{
                    display: none;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    color: $green;
                    .product-number{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .minus, .plus{
                            width:22px;
                            height:22px;
                            font-size: 20px;
                            font-family: $proximarg;
                            background:transparent;
                            color: $green;
                            font-weight: 600;
                            padding:0;
                            border:1px solid $green;
                            border-radius: 50%;
                            display: inline-block;
                            vertical-align: middle;
                            text-align: center;
                            line-height: 18px;
                            cursor: pointer;
                        }
                        .plus{
                            line-height: 20px;
                        }
                        .numbertype{
                            width: 40px;
                            height: auto;
                            font-size: 23px;
                            font-family: $proximarg;
                            color: $green;
                            font-weight: 800;
                            border:0;
                            border-radius:0px;
                            text-align: center;
                            padding:0;
                            margin: 0;
                            background: transparent;
                        }
                    }
                }
            }
            .image-overflow-wrap{
                position: relative;
                height: 100%;
                overflow: hidden;
                .image-wrap{
                    position: absolute;
                    top: initial;
                    bottom: -62px;
                    transition: top .7s cubic-bezier(0,0,1,1);
                    padding: 5px;
                    width: 100%;
                    img{
                        max-width: 80%;
                        @include breakpoint(xs){
                            max-width: 60%;
                        }
                    }
                }
            }
            &.open{
                border: 3px solid $green;
                .check-box-icon-wrap{
                    display: block;
                }
                .info-wrap{
                    z-index: 10;
                    margin-top: 15px;
                    margin-left: calc(50% - 15px);
                    width: 50%;
                    height: 155px;
                    .select{
                        opacity: 0;
                    }
                    .animation-wrap{
                        margin-top: -20px;
                    }
                    .option-label{
                        color: $green;
                    }
                    .separator{
                        margin-top: 5px;
                        margin-bottom: 4px;
                        background-color: $green;
                    }
                    .calories-label{
                        color: $green;
                    }
                    .option-drop-down{
                        display: block;
                    }
                    .half-half-wrap, .incrementor-wrap{
                        display: block;
                    }
                }
                .image-overflow-wrap{
                    .image-wrap{
                        top: 20px;
                        width: 50%;
                    }
                }
            }
        }
    }
    .side-product-details{
        margin-top: 150px;
    }
    .product-summary-left{
        width: 100%;
    }
    .line{
        width: 28px;
        height: 2px;
        background: $orange;
        margin: 10px auto;
        display: inline-block;
    }
    .size-picker-wrapper{
        text-align: center;
        overflow: hidden;
        border: 1px solid $graytext;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }
    .size-instance{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        outline: 0;
        border: 0;
        background-color: #fff;
        cursor: pointer;
        padding: 10px 2px;
        .icon-wrap{
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .label{
            font-size: 10px;
            font-family: $proximarg;
            font-weight: 600;
            color: $brownfont;
        }
        .line{
            margin: 2px auto 0;
            background: $darkgraybg;
        }
        &.active{
            border: 2px solid $orange;
            .line{
                background: $orange;
            }
        }
    }
    .item-description{
        text-align: center;
        margin: 10px 0;
        p{
            font-size: 14px;
            font-family: $proximarg;
            font-weight: 400;
            color: $brownfont;
            text-transform: capitalize;
        }
    }
    .product-quantity-price{
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .product-quantity-left{
            width: 45%;
            .product-number{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .minus, .plus{
                    width:26px;
                    height:26px;
                    font-size: 25px;
                    font-family: $proximarg;
                    background:$white;
                    color: $orange;
                    font-weight: 600;
                    padding:0;
                    border:1px solid $orange;
                    border-radius: 50%;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    line-height: 24px;
                    cursor: pointer;
                }
                .plus{
                    line-height: 28px;
                }
                .numbertype{
                    width: 70px;
                    height: auto;
                    font-size: 34px;
                    font-family: $proximarg;
                    color: $brownfont;
                    font-weight: 800;
                    border:0;
                    border-radius:0px;
                    text-align: center;
                    padding:0;
                    margin: 0;
                    background: transparent;
                }
            }
        }
        .product-quantity-right{
            width: 45%;
            text-align: right;
            .pizzalgheading{
                color: $brownfont;
                font-family: $proximarg;
                font-weight: 800;
                margin: 0;
            }
        }
    }
    .cart-update-btn{
        .pizza-btn{
            width: 100%;
        }
    }
    .product-cals{
        text-align: center;
        margin-top: 24px;
        .pizzamdheading{
            font-family: $proximarg;
            font-weight: 800;
            color: $brownfont;
            text-transform: uppercase;
        }
    }
    .icons-wrap label{ margin: 0 5px;}
    .icons-wrap label input[type="radio"] { display: none;}
    .icons-wrap label input[type="radio"] + .icon-topping{
                    cursor: pointer;
                    width: 26px;
                    height: 26px;
                    color: grey;
                    border: 1px solid grey;
                    border-radius: 50%;
                    position: relative;
                    display: block;
    }
    .icons-wrap label input[type="radio"] + .icon-topping:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 19px;
                        height: 19px;
                        background: grey;
                        border-radius: 50%;
                        margin: auto;
                    }
                    // .icons-wrap label input[type="radio"]:checked + .icon-topping:after{
                    //     border: 1px solid green;
                    // }

                    .icons-wrap label input[type="radio"] + .icon-topping.icon-topping-left:after{
                        background: linear-gradient(to right, grey 50% , transparent 50%);
                    }
                    .icons-wrap label input[type="radio"]:checked + .icon-topping.icon-topping-left:after{
                            background: linear-gradient(to right, green 50% , transparent 50%)!important;
                  }

                  .icons-wrap label input[type="radio"] + .icon-topping.icon-topping-right:after{
                        background: linear-gradient(to right, transparent 50% , grey 50%);
                    }
                    .icons-wrap label input[type="radio"]:checked + .icon-topping.icon-topping-right:after{
                            background: linear-gradient(to right, transparent 50% , green 50%) !important;
                  }

                   .icons-wrap label input[type="radio"]:checked + .icon-topping.icon-topping-full:after{
                            background: green !important;
                    }
    @include breakpoint(md){
        .productconfiguratortab{
            width: 100%;
            li{
                a{
                    font-size: 14px;
                    font-weight: 600;
                    padding: 10px 15px;
                    line-height: 20px;
                    height: 60px;
                    span{
                        width: 30px;
                    }
                }
            }
        }
        .configurator-options{
            width: 100%;
        }
        .productsubcategory{
            padding-bottom: 10px;
            li{
                a{
                    font-size: 14px;
                    padding: 15px 25px;
                    &::after{
                        top: 45.5px;
                    }
                }
            }
        }
        .second-tab-content{
            .tab-pane{
                padding: 20px 10px;
            }
        }
        .product-quantity-price{
            .product-quantity-left{
                .product-number{
                    .numbertype{
                        width: 50px;
                        font-size: 26px;
                    }
                }
            }
            .product-quantity-right{
                .pizzalgheading{
                    font-size: 26px;
                }
            }
        }
    }
    @include breakpoint(sm){
        margin-top: 0;
    }
    @include breakpoint(xs) {
        margin-top: 0;
        .product-tab{
            position: sticky;
            top: 0;
            z-index: 123;
        }
        .productconfiguratortab{
            width: 100%;
            border-radius: 0;
            li{
                a{
                    font-size: 16px;
                    padding: 10px 15px;
                    line-height: 22px;
                    height: 70px;
                    &.active{
                        border-radius: 0;
                    }
                    span{
                        display: none;
                    }
                }
            }
        }
        .configurator-options{
            width: 100%;
        }
        .productsubcategory{
            width: 100%;
            left: 0;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            padding-bottom: 10px;
            background: $white;
            position: sticky;
            top: 78px;
            z-index: 12;
            li{
                width: calc(100%/3);
                a{
                    font-size: 15px;
                    padding: 15px 10px;
                    &::after{
                        top: 45.5px;
                    }
                }
            }
        }
        .second-tab-content{
            .tab-pane{
                padding: 10px 10px;
            }
        }
        .product-option-col{
            .product-option{
                height: 170px;
                .info-wrap{
                    right: 0;
                    width: 50%;
                    .option-label{
                        font-size: 14px;
                    }
                    .calories-label{
                        font-size: 14px;
                    }
                    .option-drop-down{
                        bottom: 2px;
                    }
                }
                .image-overflow-wrap{
                    .image-wrap{
                        top: 0;
                        width: 50%;
                        margin-top: 20px;
                        margin-left: 3px;
                    }
                }
                .incrementor-wrap{
                    bottom: 5px;
                }
                &.open{
                    .info-wrap{
                        height: 150px;
                    }
                    .image-overflow-wrap{
                        .image-wrap{
                            top: 0;
                        }
                    }
                }
            }
        }
        .side-product-details{
            background: $white;
            z-index: 123;
            &.fixed{
                position: fixed;
                top: auto;
                bottom: 50px;
                left: 0;
            }
            .product-image-wrap{
                display: none;
            }
            .item-description, .size-picker-wrapper{
                display: none;
            }
            .product-cals{
                margin: 15px 0;
            }
        }
    }
}
/*--customize-tab-end--*/

.Charge-box{
    text-align: center;
    padding: 40px 0;
    ul{
        margin-bottom: 20px;
        li{
            display: inline-block;
            font-size: 16px;
            font-family: $proximarg;
            font-weight: bold;
            color: $brownfont;
            position: relative;
            padding-left: 52px;
            margin-right: 20px;
            line-height: 38px;
            &::before{
                content: '';
                position: absolute;
                width: 40px;
                height: 40px;
                left: 0;
                background: url(../../../assets/images/sprite-image.png);
                background-position: 2px -172px;
                background-size: 60px;
            }
            &:nth-child(2){
                &::before{
                    background-position: 2px -223px;
                }
            }
            &:nth-child(3){
                &::before{
                    background-position: 2px -276px;
                }
            }
            &:last-child{
                margin-right: 0;
                &::before{
                    background-position: 2px -328px;
                }
            }
        }
    }
    p{
        font-family: $proximarg;
        color: $brownfont;
        a{
            color: $orange;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    @include breakpoint(xs) {
        padding: 30px 0;
        text-align: left;
        ul{
            li{
                font-size: 14px;
                padding-left: 40px;
                margin-right: 10px;
                line-height: 34px;
                &::before{
                    width: 30px;
                    height: 30px;
                    background-position: 2px -112px;
                    background-size: 40px;
                }
                &:nth-child(2){
                    &::before{
                        background-position: 2px -146px;
                    }
                }
                &:nth-child(3){
                    &::before{
                        background-position: 2px -181px;
                    }
                }
                &:last-child{
                    margin-right: 0;
                    &::before{
                        background-position: 2px -216px;
                    }
                }
            }
        }
    }
}
/*--may-also-start--*/
.may-also{
    padding: 60px 0;
    background: $lightgraybg;
    .also-top{
        margin-bottom: 30px;
        .pizzalgheading{
            width: 100%;
            font-family: $proximarg;
            font-weight: bold;
            color: $brownfont;
            margin: 0;
        }
    }
    .alsosider{
        margin: 0 0 0 -10px;
        .item{
            margin: 0 10px;
            .also-box{
                background: $white;
                border-radius: 10px;
                width: 100%;
                height: 100%;
                overflow: hidden;
                .row{
                    height: 100%;
                    margin: 0;
                }
                .also-box-top{
                    padding: 0;
                    width: 100%;
                    height: 130px;
                    background-color: #e1e7e9;
                    img{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }
                .also-box-bottom{
                    padding: 8px 15px;
                    justify-content: space-between;
                    .also-bottom-left{
                        width: 80%;
                        .pizzasmheading{
                            font-family: $proximarg;
                            font-weight: bold;
                            color: $brownfont;
                            margin: 0 0 8px;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            height: 58px;
                        }
                        p{
                            font-size: 16px;
                            font-family: $proximarg;
                            font-weight: bold;
                            color: $brownfont;
                            margin: 0;
                        }
                    }
                    .also-bottom-right{
                        display: flex;
                        align-items: flex-end;
                        margin-top: auto;
                        .pizza-img-btn{
                            width: 26px;
                            height: 26px;
                            padding: 6px;
                            img{
                                margin-left: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(md){
        padding: 40px 0;
    }
    @include breakpoint(xs) {
        padding: 30px 0;
        .also-top{
            margin-bottom: 20px;
        }
        .alsosider{
            .item{
                .also-box{
                    .also-box-bottom{
                        .pizzasmheading{
                            -webkit-line-clamp: 2;
                            height: 38px;
                        }
                        .also-bottom-right{
                            .pizza-img-btn{
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*--may-also-end--*/

.size-popup{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: none;
    .size-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
        visibility: hidden;
        opacity: 0;
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .size-wrapper {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 40%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 20px;
        overflow: hidden;
    }
    .size-transition {
        opacity: 0;
    }
    .size-header{
        padding: 30px 40px;
        position: relative;
        background-color: $graybg;
        box-shadow: 0 1px 2px rgba(0, 0%, 0%, 0.06);
        border-bottom: 1px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 26px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: bold;
            margin-bottom: 30px;
        }
        p{
            font-size: 14px;
            font-family: $proximarg;
            color: $brownfont;
            margin: 0;
        }
    }
    .size-content{
        padding: 30px 40px;
        background: $white;
    }

    .size-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .size-close:hover {
        color: #777;
    }
    &.is-visible{
        visibility: visible;
        display: block;
        .size-overlay {
            opacity: 1;
            visibility: visible;
        }
        .size-transition {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }
    .signup-main{
    }
    @include breakpoint(slg) {
        .size-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .size-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs) {
        .size-wrapper{
            width: 95%;
        }
        .size-header{
            padding: 18px 20px;
            .vguardsmheading{
                font-size: 16px;
            }
        }
        .size-close{
            right: 10px;
            width: 45px;
        }
        .size-content{
            padding: 30px 20px;
        }
    }
    @include breakpoint(xxxs) {
    }
}

/*--add-new-start--*/
.add-new-box{
    position: relative;
    &.is-visible{
        .additem-popup{
            visibility: visible;
            display: block;
            .size-overlay{
                visibility: visible;
                opacity: 1;
            }
            .size-transition{
                opacity: 1;
            }
        }
    }
}
.additem-popup{
    position: initial;
    .size-header{
        padding: 30px 40px 0;
        box-shadow: 0 0 0;
        border-bottom: none;
        .pizzaxxsheading{
            color: $brownfont;
            font-family: $proximarg;
            font-weight: 800;
        }
        .line{
            width: 28px;
            height: 2px;
            background: $orange;
            margin: 10px auto 0;
            display: inline-block;
        }
    }
    .size-wrapper{
        top: 0;
        left: 0;
        width: 320px;
        margin: 0;
        border-radius: 10px;
        background-color: $graybg;
    }
    .size-body{
        padding: 0px;
        height: 260px;
        overflow-y: scroll;
        margin-bottom: 10px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $white;
        }
        &::-webkit-scrollbar-thumb {
            background: $graytext;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $graytext;
        }
    }
    .size-content{
        padding: 0px 15px 0px;
        text-align: left;
        background-color: $graybg;
    }
    .menu-container-data{
        padding-bottom: 15px;
        overflow-x: hidden;
        position: relative;
        .pizzaxxsheading{
            font-size: 12px;
            font-family: $proximarg;
            color: $orange;
            margin-bottom: 0px;
            margin-top: 10px;
            text-transform: uppercase;
        }
        ul{
            li{
                margin-top: 4px;
                cursor: pointer;
                a{
                    font-size: 18px;
                    font-family: $proximarg;
                    color: $brownfont;
                    font-weight: 800;
                    position: relative;
                    width: 100%;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 0px;
                        bottom: 0;
                        margin: auto;
                        right: 3px;
                        box-sizing: border-box;
                        height: 9px;
                        width: 9px;
                        border-style: solid;
                        border-color: $orange;
                        border-width: 0px 2px 2px 0px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        &::after{
            position: absolute;
            margin-top: 10px;
            background: $white;
            width: 100%;
            height: 2px;
            content: " ";
        }
    }
    &.is-visible{
        .size-transition{
            transform: translate(0%, 30%);
        }
    }
    @include breakpoint(xs){
        .size-wrapper{
            width: 100%;
        }
    }
}
/*--add-new-end--*/

.find-popup2{
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;


  .find-overlay {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.85);
    //   transition: visibility 0s linear 0.3s, opacity 0.3s;
  }
  .find-wrapper{
      position: absolute;
      z-index: 9999;
      top: 50%;
      left: 50%;
      width: 35%;
      margin: 0 auto;
      background-color: $white;
      box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
      border: 1px solid $grayborder;
      border-radius: 5px;
      overflow: hidden;
      opacity: 1;
      transform: translate(-50%,-50%);
  }
  .btn-delete-no{
      font-weight: 800;
      border: 0;
      border-radius: 0.28em;
      background-color: #fff;
      min-width: 6.563em;
      height: 3em;
      text-align: center;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: .3px;
      color: #ee5a00;
      font-size: 1em;
  }
  .btn-delete-yes{
      font-weight: 800;
      border: 0;
      border-radius: 0.28em;
      background-color: #ee5a00;
      min-width: 6.563em;
      height: 3em;
      text-align: center;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: .3px;
      color: #fff;
      font-size: 1em;
  }
  .find-header{
      padding: 30px 40px;
      position: relative;
      border-bottom: 0px solid $orange;
      text-align: center;
      .user-icon{
          margin-bottom: 20px;
          i{
              color: $orange;
              font-size: 46px;
          }
      }
      .pizzalgheading{
          font-family: $proximarg;
          color: $brownfont;
          font-weight: 400;
          margin-bottom: 0px;
      }
      .pizzaparaDelete{
          font-weight: 400;
          text-align: center;
          line-height: 1.175;
          letter-spacing: .15px;
          color: #4c3017;
          font-size: 1.2em;
          margin-top: 20px;
      }
  }
  .find-content{
      padding: 0;
  }
  .find-close {
      position: absolute;
      top: 0;
      right: 0px;
      padding: 12px;
      color: #aaa;
      background: none;
      border: 0;
  }

  .find-close:hover {
      color: #777;
  }
  .find-form{
      padding: 40px 25px 25px;
      .pizzalgheading{
          text-align: center;
          font-size: 30px;
          font-weight: 400;
          font-family: $proximarg;
          margin-bottom: 30px;
      }
      .form-group{
          margin-bottom: 15px;
          position: relative;
          .label-top{
              font-size: 16px;
              font-family: $proximarg;
              margin-bottom: 15px;
          }
          .form-control{
              border: none;
              border-bottom: 1px solid $grayborder;
              padding: 5px 75px 5px 0;
              height: 35px;
          }
          .find-btn{
              position: absolute;
              top: 50%;
              right: 0;
              border: none;
              color: $orange;
              font-size: 13px;
              font-family: $proximarg;
              font-weight: 400;
              border-radius: 0px;
              padding: 0;
              background: transparent;
              transition: ease-in-out .5s;
              -webkit-transition: ease-in-out .5s;
              -moz-transition: ease-in-out .5s;
              -ms-transition: ease-in-out .5s;
              i{
                  width: 17px;
                  height: 17px;
                  font-size: 10px;
                  text-align: center;
                  border: 1px solid $orange;
                  border-radius: 50%;
                  line-height: 16px;
                  margin-right: 5px;
                  color: $orange;
                  transition: ease-in-out .5s;
                  -webkit-transition: ease-in-out .5s;
                  -moz-transition: ease-in-out .5s;
                  -ms-transition: ease-in-out .5s;
              }
              &:hover{
                  background: transparent;
                  color: $orange;
                  i{
                      color: $orange;
                  }
              }
          }
      }
      .find-right{
          text-align: right;
      }
  }
  .find-bg{
      img{
          width: 100%;
      }
  }
  .manually-main{
      padding: 40px 20px;
      .pizzalgheading{
          text-align: center;
          font-size: 30px;
          font-weight: 400;
          font-family: $proximarg;
          margin-bottom: 50px;
      }
      .form-group{
          margin-bottom: 25px;
          min-height: 60px;
          .label-top{
              font-size: 14px;
              font-family: $proximarg;
              margin-bottom: 5px;
              // span{
              //     display: block;
              // }
          }
          .form-control{
              border: none;
              border-bottom: 1px solid $grayborder;
              padding: 5px 0;
              height: 35px;
              text-transform: uppercase;
              &.select-form{
                  background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                  background-size: 10px;
              }
          }
      }
      .manually-btn{
          text-align: right;
      }
  }
  .location-modal{
      margin: 0 5px;
      padding: 0 10px;
      width: calc(100% - 15px);
      overflow-y: scroll;
      height: 180px;
      &::-webkit-scrollbar {
          width: 5px;
      }
      &::-webkit-scrollbar {
          height: 5px;
      }
      &::-webkit-scrollbar-track {
          border-radius: 10px;
          background: $grayborder;
      }
      &::-webkit-scrollbar-thumb {
          background: $graytext;
          border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
          background: $graytext;
      }
      .location-pick-list{
          position: relative;
          border-radius: 5px;
          border: 2px solid $grayborder;
          margin-bottom: 5px;
          display: flex;
          flex-wrap: wrap;
          font-family: $proximarg;
          cursor: pointer;
          padding: 10px 15px;
          justify-content: space-between;
          .pizzaxxsheading{
              font-size: 14px;
              color: $deepgray;
              font-family: $proximarg;
              font-weight: 700;
              letter-spacing: .3px;
              margin-bottom: 3px;
          }
          .location-address{
              width: 70%;
              padding-left: 35px;
              position: relative;
              &::before{
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0px;
                  width: 30px;
                  height: 25px;
                  background: url(../../../assets/images/sprite-image.png);
                  background-position: 0 -2452px;
                  background-size: 40px;
              }
              p{
                  font-size: 12px;
                  font-weight: 400;
                  color: $deepgray;
                  line-height: 16px;
                  span{
                      display: block;
                  }
              }
          }
          .location-hours-right{
              width: 10%;
              text-align: right;
              p{
                  font-size: 13px;
                  color: $orange;
                  font-weight: 800;
                  letter-spacing: .3px;
              }
              i{
                  font-size: 11px;
                  color: $green;
                  display: none;
              }
          }
          &.select-active{
              border-color: $green;
              .pizzaxxsheading{
                  color: $green;
              }
              .location-address{
                  &::before{
                      background-position: 0 -2488px;
                  }
                  p{
                      color: $green;
                  }
              }
              .location-hours{
                  &::before{
                      background-position: 0px -2997px;
                  }
                  p, .location-pickup{
                      color: $green;
                  }
              }
              .location-hours-right{
                  p{
                      display: none;
                  }
                  i{
                      display: block;
                  }
              }
          }
      }
  }
  .delite-popup-wraper{
    background: $darkgraybg;
    border-radius: 0px;
    .find-header{
      padding: 30px 40px 20px 30px;
      .user-icon{
        margin-bottom: 0px;
        i{
          font-size: 36px;
        }
        img{
          width: 35px;
              display: block;
              margin: 0px auto;
              margin-bottom: 15px;
        }
      }
      .pizzalgheading{
        margin-left: 5px;
        font-weight: bold;
        margin-top: 5px;
      }
    }
    .find-body{
      text-align: center;
      padding: 0px 30px 30px 30px;
      .pizzaparaDelete{
        margin-bottom: 20px;
        font-size: 16px;
        color: $brown;
      }
      .find-content{
        display: flex;
          width: 100%;
          justify-content: space-between;
        .btn-delete-no{
          width: 49%;
          background: $white;
          display: block;
        }
        .btn-delete-yes{
          width: 49%;
          display: block;
        }
      }
    }
  }


  @include breakpoint(slg) {
      .find-wrapper{
          width: 75%;
      }
  }
  @include breakpoint(sm) {
      .find-wrapper{
          width: 90%;
      }
  }
  @include breakpoint(xs){
      .find-form{
          .pizzalgheading{
              font-size: 24px;
              margin-bottom: 20px;
          }
          .form-group{
              .label-top{
                  font-size: 14px;
              }
          }
          .find-right{
              .pizza-btn{
                  width: 100%;
              }
          }
      }
      .manually-main{
          padding: 20px 10px;
          .pizzalgheading{
              font-size: 24px;
              margin-bottom: 20px;
              line-height: 32px;
          }
          .form-group{
              min-height: auto;
              margin-bottom: 15px;
          }
      }
      .location-modal{
          height: 280px;
          .location-pick-list{
              .location-address{
                  width: 100%;
                  margin-bottom: 10px;
              }
              .location-hours{
                  width: 100%;
                  padding-left: 35px;
                  margin-bottom: 10px;
                  &::before{
                      left: 0px;
                  }
              }
              .location-hours-right{
                  position: absolute;
                  top: 10px;
                  right: 22px;
              }
              .location-directions{
                  padding-left: 35px;
              }
          }
      }
      .find-wrapper{
          width: 95%;
      }
  }
}

.reset-btn-pdp{
  text-align: right;
  padding: 20px 20px 0px 20px;
  button{
    border: none;
    background: none;
    color: $orangefont;
    font-weight: 600;
    i{
      color: $orangefont;
      margin-left: 5px;
    }
  }
}

.configurator-upsale-modal{
    position: absolute;
    bottom: 125px;
    z-index: 999;
    border-radius: 10px;
    box-shadow: 17px 19px 56px -21px rgba(0,0,0,0.3);
    background-color: $white;
    padding: 10px;
    width: 350px;
    &::after{
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: rotate(45deg);
        margin-left: -10px;
        background-color: $white;
        width: 20px;
        height: 20px;
        content: " ";
    }
    .close-btn{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        cursor: pointer;
        padding: 5px 10px 5px 15px;
        color: $orange;
        i{
            font-size: 13px;
            color: $orange;
        }
    }
    .product-image-wrap{
        display: flex;
        align-items: center;
    }
    .product-image-left{
        .pizzaxxsheading{
            font-weight: 800;
            margin: 10px 0 1px;
            text-align: left;
            text-transform: uppercase;
            color: $orange;
        }
        .description{
            text-align: left;
            color: $brownfont;
            font-size: 13px;
        }
        .add-to-cart{
            font-weight: 600;
            margin-top: 5px;
            text-align: left;
            color: $orange;
            .label{
                font-size: 13px;
                margin-left: 5px;
            }
        }
        .fa-plus{
            font-size: 9px;
            color: $orange;
            font-style: normal;
            font-weight: 400;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: 0 3px;
            border: 1px solid $orange;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 15px;
            border-radius: 50%;
        }

    }
}



.out-of-stock{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
  
  
    .find-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .find-wrapper{
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 35%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 5px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .btn-delete-no{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #fff;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #ee5a00;
        font-size: 1em;
    }
    .btn-delete-yes{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #ee5a00;
        min-width: 6.563em;
        padding: 13px 0px;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #fff;
        font-size: 1em;
    }
    .find-header{
        padding: 30px 40px;
        position: relative;
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 35px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 0px;
        }
        .pizzaparaDelete{
            font-weight: 400;
            text-align: center;
            line-height: 1.175;
            letter-spacing: .15px;
            color: #4c3017;
            font-size: 1.2em;
            margin-top: 20px;
        }
    }
    .find-body{
      text-align: center;
      padding: 0px 15px 30px 0px;
      .pizzaparaDelete{
        color: $brownfont;
        font-size: 16px;
      }
    }
    .find-content{
        padding: 0;
        margin-top: 30px;
    }
    .find-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }
  
    .find-close:hover {
        color: #777;
    }
  
  
    @include breakpoint(slg) {
        .find-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .find-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
  
        .find-wrapper{
            width: 95%;
        }
    }
  }
  
  .append-img-list{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
  }