
<app-side-header></app-side-header>

<div class="inner-main" >

  <section>
    <div class="banner-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="assets/images/investors/corporate-profile/Investors_FAQ-mob.jpg">
        <source media="(min-width: 768px)" srcset="assets/images/investors/corporate-profile/Investors_FAQ.jpg">
        <img src="assets/images/investors/corporate-profile/Investors_FAQ.jpg" alt="banner-nutritionbanner">
      </picture>
      <div class="banner-content-q">
          <h1 class="pizzaxlheading">INVESTOR FAQS</h1>
          <p class="pizzamdheading">Still have financial questions about Pizza Pizza? Here are the answers to some of the top questions we receive about our company.</p>
        </div>
    </div>
  </section>

  <section class="padding-section">
      <div class="about-accordion">
        <ul>
            <li [class.active]="id === 'menu-faq-1'">
                <div class="about-accordion-title" id="investor-faq-1" (click)="accordion('investor-faq-1')">
                    <div class="pizzaxxsheading">1. What is the relationship between Pizza Pizza Royalty Corp. (“PPRC”) and Pizza Pizza Limited?</div>
                    <span class="plus-icon"></span>
                </div>
                <div class="about-accordion-content" *ngIf="id === 'investor-faq-1' ">
                    <p>Pizza Pizza Limited (“PPL”) is a privately held company that is the licensee of the Pizza Pizza and Pizza 73 trademarks owned and licensed by the Pizza Pizza Royalties Limited Partnership, a subsidiary of PPRC. PPL continues to be the franchisor of Pizza Pizza restaurants in Canada, providing management consulting services to Pizza Pizza franchisees and owns 50% of all Pizza 73 traditional restaurants.</p>
                    <p>PPL also holds securities exchangeable for shares of PPRC that if exchanged would give PPL a 23.5% interest in PPRC.</p>
                    <p>The number of shares that PPL is entitled to receive upon exchange of these securities should, in the absence of restaurant closures, increase as new locations are added to the Royalty Pool.</p>
                  </div>
            </li>
            <li [class.active]="id === 'investor-faq-2'">
                <div class="about-accordion-title" id="investor-faq-2" (click)="accordion('investor-faq-2')">
                    <div class="pizzaxxsheading">2. How many shares of Pizza Pizza Royalty Corp are currently outstanding?</div>
                    <span class="plus-icon"></span>
                </div>
                <div class="about-accordion-content" *ngIf="id === 'investor-faq-2' ">
                    <p>There are currently 24,618,392 publicly traded shares outstanding and 32, 177, 276 shares outstanding on a fully diluted basis.</p>
                    <p>At January 1, 2021 Pizza Pizza Limited owned 7,558,884 equivalent shares accounting for the difference in the publicly traded and fully diluted.</p>
                  </div>
            </li>
            <li [class.active]="id === 'investor-faq-3'">
              <div class="about-accordion-title" id="investor-faq-3" (click)="accordion('investor-faq-3')">
                  <div class="pizzaxxsheading">3. What is PPRC’s trading symbol?</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content" *ngIf="id === 'investor-faq-3' ">
                  <p>Pizza Pizza Royalty Corp.’s trading symbol is PZA.</p>
              </div>
          </li>
          <li [class.active]="id === 'investor-faq-4'">
            <div class="about-accordion-title" id="investor-faq-4" (click)="accordion('investor-faq-4')">
                <div class="pizzaxxsheading">4. What is the current dividend and when is it paid?</div>
                <span class="plus-icon"></span>
            </div>
            <div class="about-accordion-content" *ngIf="id === 'investor-faq-4' ">
                <p>The current dividend is 6.5 cents per share per month, or $0.78 per share per year. Dividends are paid on the 15th day of each month. These dividends are set by the Board of Directors and are reviewed monthly.</p>
            </div>
        </li>
        <li [class.active]="id === 'investor-faq-5'">
          <div class="about-accordion-title" id="investor-faq-5" (click)="accordion('investor-faq-5')">
              <div class="pizzaxxsheading">5. Are dividends taxable?</div>
              <span class="plus-icon"></span>
          </div>
          <div class="about-accordion-content" *ngIf="id === 'investor-faq-5' ">
              <p>Beginning in 2013, PPRC dividends are 100% eligible taxable dividends (Canadian taxpayers) Foreign shareholders should consult their tax advisors.</p>
          </div>
      </li>
      <li [class.active]="id === 'investor-faq-6'">
        <div class="about-accordion-title" id="investor-faq-6" (click)="accordion('investor-faq-6')">
            <div class="pizzaxxsheading">6. Why is the December dividend, which is received on January 15 of each year, not included in the prior year´s T5?</div>
            <span class="plus-icon"></span>
        </div>
        <div class="about-accordion-content" *ngIf="id === 'investor-faq-6' ">
            <p>The income reported on the T5´s provided to Shareholders of record on December 31, 2020 will not include the dividend for the period December 1 to 31, 2020, as dividends are recorded on the payable date, not the declaration date.</p>
        </div>
    </li>
        </ul>
    </div>
  </section>


</div>









