@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.signin-main{
    padding: 60px 0;
    @include breakpoint(md) {
        padding: 40px 0;
    }
    @include breakpoint(xs) {
        padding: 30px 0;
    }
}
button:disabled,
button[disabled]{
    cursor: not-allowed;
  border: 0px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.signInBtn{
    width: 125px;
}
.facebook-btn,
.google-btn{
    cursor: pointer;
}
.signin-top{
    margin-bottom: 20px;
    position: absolute;
    top: 12px;
    margin: 0;
}
.top-cart{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    font-family: $proximarg;
    color: $brownfont;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    i{
        font-size: 35px;
        color: $brownfont;
        margin-left: 10px;
    }
}
.signin-bottom{
    position: relative;
    .pizzalgheading{
        text-align: center;
        color: $brownfont;
    }
    .pizzamdheading{
        font-size: 25px;
        font-family: $proximarg;
        margin-bottom: 30px;
        letter-spacing: .5px;
        font-weight: 400;
        color: $brownfont;
    }
    .signin-left{
        border-right: 1px solid $grayborder;
    }
    .signin-form{
        padding: 10px 40px 10px 0;
        .form-group{
            margin-bottom: 15px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
            }
        }
        .form-row{
            display: flex;
            flex-wrap: wrap;
            .form-row-left{
                width: 50%;
                margin-bottom: 15px;
                display: flex;
                .radio{
                    width: 15px;
                    height: 15px;
                    border: 1px solid $grayborder;
                    border-radius: 50%;
                    margin-right: 5px;
                }
                label{
                    font-size: 14px;
                    font-family: $proximarg;
                    margin-bottom: 5px;
                }
            }
            .form-row-right{
                width: 50%;
                text-align: right;
                .forgot-password{
                    font-size: 14px;
                    font-weight: 600;
                    font-family: $proximarg;
                    color: $orange;
                    &:hover{
                        color: $orange;
                        text-decoration: underline;
                    }
                }
            }
            .create-account-wrapper{
                width: 70%;
                display: flex;
                padding-left: 30px;
                margin-top: 30px;
                p{
                    font-size: 16px;
                    color: $black;
                    font-family: $proximarg;
                    font-weight: 600;
                    line-height: 24px;
                    margin: 0;
                }
                a{
                    font-size: 16px;
                    color: $orange;
                    font-family: $proximarg;
                    font-weight: 600;
                    line-height: 24px;
                    padding-left: 30px;
                    &:hover{
                        color: $orange;
                        text-decoration: underline;
                    }
                }
            }
            .form-row-btn{
                width: 100%;
                text-align: center;
            }
        }
    }
    .signin-easy{
        padding-right: 40px;
        .social-login{
            text-align: center;
        }
        .social-box{
            margin-bottom: 25px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        .social-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 280px;
            min-width: 280px;
            text-align: center;
            font-size: 16px;
            font-family: $proximarg;
            font-weight: 400;
            color: $black;
            padding: 8px 15px;
            border-radius: 5px;
            box-shadow: 0 1px 5px rgba(0,0,0,.5);
            margin: 0 auto;
            img{
                width: 35px;
            }
            span{
                padding-left: 15px;
            }
        }
        .facebook-btn{
            background-color: $facebook;
            color: $white;
            box-shadow:0 0 0;
        }
        .social-mid{
            font-size: 16px;
            font-family: $proximarg;
            font-weight: 400;
            color: $black;
            position: relative;
            width: 280px;
            padding: 25px 0;
            text-align: center;
            margin: 0 auto;
            .or{
                padding: 0 25px;
                background: $white;
                display: inline-block;
                z-index: 1;
                position: relative;
                text-transform: uppercase;
            }
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: calc(50% + -2px);
                background-color: $graybg;
                width: 100%;
                max-width: 300px;
                height: 1px;
            }
        }
        
    }
    .guest-box{
        padding: 10px 40px;
        .pizzamdheading{
            margin-bottom: 10px;
        }
        p{
            font-size: 16px;
            color: $brownfont;
            font-family: $proximarg;
            margin-bottom: 10px;
        }
        .pizza-btn{
            width: 70%;
        }
    }
    @include breakpoint(md) {
        .signin-form{
            padding: 10px 15px;
            .form-row{
                .create-account-wrapper{
                    width: 100%;
                    padding-left: 0;
                    margin-top: 30px;
                    p{
                        font-size: 14px;
                    }
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
        .signin-easy{
            padding: 10px 15px; 
        }
    }
    @include breakpoint(sm) {
        .guest-box{
            .pizza-btn{
                width: 100%;
            }
        }
    }
    @include breakpoint(xs) {
        .pizzamdheading{
            font-size: 22px;
            padding: 0;
            margin-bottom: 20px;
        }
        .signin-top{
            position: relative;
            top: 10px;
            margin: 0 0 20px;
        }
        .signin-left{
            border-right: 0;
            border-bottom: 1px solid $grayborder;
            order: 2;
            .signin-form{
                padding: 20px 0;
            }
        }
        .signin-form{
            .form-row{
                .form-row-left{
                    margin-bottom: 5px;
                }
                .create-account-wrapper{
                    width: 100%;
                    padding-left: 0;
                    margin-top: 30px;
                }
            }
        }
        .signin-easy{
            padding: 10px 0 0px;
            .social-btn{
                width: 100%;
            }
            .social-mid{
                width: 100%;
                padding: 25px 0;
                &::before{
                    max-width: 100%;
                }
            }
        }
        .guest-box{
            padding: 20px 0px;
            border-bottom: 1px solid $grayborder;
            .pizza-btn{
                width: 100%;
            }
        }
    }
}

.size-popup{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    .size-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
        visibility: visible;
        opacity: 1;
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .size-wrapper {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 40%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 20px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .size-header{
        padding: 30px 40px;
        position: relative;
        background-color: $graybg;
        box-shadow: 0 1px 2px rgba(0, 0%, 0%, 0.06);
        border-bottom: 1px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 26px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: bold;
            margin-bottom: 30px;
        }
        p{
            font-size: 14px;
            font-family: $proximarg;
            color: $brownfont;
            margin: 0;
        }
    }
    .size-content{
        padding: 30px 40px;
        background: $white;
    }

    .size-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .size-close:hover {
        color: #777;
    }
    &.is-visible{
        visibility: visible;
        display: block;
        .size-overlay {
            opacity: 1;
            visibility: visible;
        }
        .size-transition {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }
    .signup-main{
        .form-group{
            margin-bottom: 15px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
            }
        }
    }
    @include breakpoint(slg) {
        .size-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .size-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs) {
        .size-wrapper{
            width: 95%;
        }
        .size-header{
            padding: 18px 20px;
            .vguardsmheading{
                font-size: 16px;
            }
        }
        .size-close{
            right: 10px;
            width: 45px;
        }
        .size-content{
            padding: 30px 20px;
        }
    }
    @include breakpoint(xxxs) {
    }
}


.signin-bottom .signin-form .form-group input.ng-invalid.ng-touched{
    border-color: red;
}

.errorMessage{
    font-weight: 700;
    padding-left: 10px;
}

.loginerrormsg{
    color: red;
    font-size: 14px;
    font-family: "Proxima Nova Rg";
}