<!-- <app-web-loader *ngIf="wholeloader"></app-web-loader> -->
<section class="signin-main" *ngIf="wholepage">
    <div class="container">
        
        <div class="signin-bottom">
            <div class="signin-top">
                <a class="back-btn" href="javascript:history.back()">Back</a>
            </div>
            <div class="top-cart">
                <span>{{cartProduct.length}} Item<span *ngIf="cartProduct.length>1">s</span></span>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <h1 class="pizzalgheading">CHECKOUT</h1>
            
            <div class="row">
                <div class="col-md-6 signin-left">
                    <div class="signin-form">
                        <h2 class="pizzamdheading">Sign in for faster checkout</h2>
                        <form [formGroup]='loginForm' (ngSubmit)="postData(loginForm)">
                            <div class="form-group" >
                                <label class="label-top" [ngStyle]="{'color':loginForm.controls['emailId'].invalid && (loginForm.controls['emailId'].dirty || loginForm.controls['emailId'].touched) ? 'red' : 'black' }">Email Address<span class="asterisk">*</span>
                                    <span *ngIf="loginForm.controls['emailId'].invalid && (loginForm.controls['emailId'].dirty || loginForm.controls['emailId'].touched)" class="errorMessage">
                                        <small *ngIf="loginForm.controls['emailId'].hasError('required')">
                                        Missing
                                        </small>
                                        <small *ngIf="loginForm.controls['emailId'].hasError('email')">
                                            Invalid
                                        </small>
                                    </span>
                                </label>
                                <input formControlName="emailId" type="text" class="form-control" required>
                                
                            </div>
                            <div class="form-group">
                                <label  class="label-top" [ngStyle]="{'color':loginForm.controls['userPassword'].invalid && (loginForm.controls['userPassword'].dirty || loginForm.controls['userPassword'].touched) ? 'red' : 'black' }">Password<span class="asterisk">*</span>
                                    <span *ngIf="loginForm.controls['userPassword'].invalid && (loginForm.controls['userPassword'].dirty || loginForm.controls['userPassword'].touched)" class="errorMessage">
                                        <small *ngIf="loginForm.controls['userPassword'].hasError('required')">
                                        Missing
                                        </small>
                                        <small *ngIf="loginForm.controls['userPassword'].hasError('minlength')">
                                            Invalid
                                        </small>
                                    </span>
                                </label>
                                <input formControlName="userPassword" [type]="show ? 'text' : 'password'" class="form-control">
                            </div>
                            <div class="form-row">
                                <div class="form-row-left">
                                    <input type="checkbox" class="radio" (change)="showPassword($event)">
                                    <label>Show Password</label>
                                </div>
                                <div class="form-row-right text-right">
                                    <a class="forgot-password" id="signup" href="javascript:void(0)" (click)="PasswordPopUpShow()">Forgot your password?</a>
                                </div>
                            </div>
                            <div class="loginerrormsg">{{loginError}}</div>
                            <div class="form-row align-items-center pt-4">
                                <div class="form-row-btn">
                                    <button type="submit" [disabled]="!loginForm.valid" class="pizza-btn signInBtn">
                                        <span *ngIf="signText">Sign In</span> 
                                        <i *ngIf="loader" class="fa fa-spinner fa-spin" style="color:#fff" aria-hidden="true"></i>
                                    </button>
                                    <!-- <input type="submit" [disabled]="!loginForm.valid" class="pizza-btn" value="Sign In"> -->
                                    <!-- <div class="loader"></div> -->
                                </div>
                                <div class="create-account-wrapper">
                                    <p>Don’t have an account?</p>
                                    <a routerLink="/user/sign-up">Create one here.</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="signin-easy">
                      
                        <div class="social-login">
                            <div class="social-mid">
                                <span class="or">or</span>
                            </div>
                            <div class="social-box">
                                <a class="social-btn facebook-btn" (click)="signInWithFB()">
                                    <img src="assets/images/icons/facebook-icon.png" alt="facebook-icon">
                                    <span>Sign in With Facebook</span>
                                    <i *ngIf="fbLoader" class="fa fa-spinner fa-spin" style="color:#fff; margin-left: 5px;font-size: 15px;" aria-hidden="true"></i>
                                </a>
                            </div>
                            
                            <div class="social-box">
                                <a href="#" class="social-btn">
                                    <img src="assets/images/icons/google-icon.png" alt="google-icon">
                                    <span>Sign in With Google</span>
                                </a>
                            </div>
                            
                        </div>
                    </div> -->
                </div>
                <div class="col-md-6 signin-right">
                    <div class="guest-box">
                        <h3 class="pizzamdheading">Guest checkout</h3>
                        <p>You'll have the option to create an account after checkout</p>
                        <a href="javascript:void(0);" class="pizza-btn" (click)="guestCheckout()">Continue as guest</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="size-popup">
    <div class="size-overlay" id="signup"></div>
    <div class="size-wrapper size-transition">
      <div class="size-header">
        <button class="size-close" (click)="PasswordPopUpHide()"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button>
        <div class="user-icon">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
        </div>
        <div class="pizzalgheading">Forgot your password?</div>
        <p>Don't worry, we know how hard it is to keep track of the millions of passwords we have for everything now a days. Just enter your email below and we'll email your password right away.</p>
      </div>
  
      <div class="size-body">
        <div class="size-content">
            <div class="signup-main">
                <form [formGroup]='forgotpassword' (ngSubmit)="forgotpasswordfunction(forgotpassword)">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-8">
                            <div class="form-group">
                                
                                <label class="label-top" [ngStyle]="{'color':forgotpassword.controls['email'].invalid && (forgotpassword.controls['email'].dirty || forgotpassword.controls['email'].touched) ? 'red' : 'black' }">Enter your email <span class="asterisk">*</span>

                                    <span *ngIf="forgotpassword.controls['email'].invalid && (forgotpassword.controls['email'].dirty || forgotpassword.controls['email'].touched)" class="errorMessage">
                                        <small *ngIf="forgotpassword.controls['email'].hasError('required')">
                                        Missing
                                        </small>
                                        <small *ngIf="forgotpassword.controls['email'].hasError('email') ||  forgotpassword.controls['email'].hasError('pattern')">
                                            Invalid
                                        </small>
                                    </span>
                                </label>
                                <input type="text" class="form-control" formControlName="email">
                            </div>
                            <div class="col-lg-12" [ngStyle]="{'color':forgotmessageflag == 1? 'green': 'red'}">
                                {{forgotSuccessMessage}}
                            </div>
                        </div>
                        <div class="col-md-3">
                          
                            <button [disabled]="!forgotpassword.valid" type="submit" class="pizza-btn">
                                <span *ngIf="forgotloader == false">Reset</span>
                                <i *ngIf="forgotloader == true"  class="fa fa-spinner fa-spin" style="color:#fff" aria-hidden="true"></i>
                              </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>