<app-header *ngIf="headeFooter"></app-header>
<router-outlet (activate)="onActive()"></router-outlet>
<app-footer></app-footer>
<app-find-me-location></app-find-me-location>

<app-pickup-location-popup></app-pickup-location-popup>
<app-dough-popups></app-dough-popups>
