<section class="account-main">
    <div class="container">
        <div class="account-top">
            <div class="signin-top">
                <a class="back-btn" routerLink="/">Back to home</a>
            </div>
            <h1 class="pizzalgheading">Account</h1>
        </div>
        <div class="accounts-container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="personal-details">
                        <div class="personal-top">
                            <div class="personal-image">
                                <div class="user-circle">
                                    <img [src]="userdata.social_avatar== null? this.imgUrl+userdata.avatar : userdata.social_avatar" alt="location-modal-pick-up-image">
                                    
                                    <h2 class="pizzalgheading d-none">Hg</h2>
                                </div>
                            </div>
                            <div class="personal-information">
                                <div class="pizzasmheading" style="text-transform: capitalize;">{{userdata.first_name}} {{userdata.last_name}}</div>
                                <div class="personal-edit">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span class="edit-text" (click)="EditPopUpShow()">Edit</span>
                                </div>
                                <div class="personal-contact">
                                    <p class="personal-email">
                                        {{userdata.email}}
                                    </p>
                                    <p class="personal-phone">
                                        {{userdata.phone_number}}
                                    </p>
                                </div>
                            </div>
                            <div class="personal-sign">
                                <button class="pizza-btn" (click)="signOut()">Sign Out</button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="club-eleven">
                        <div class="club-eleven-top">
                            <div class="club-eleven-left">
                                <img src="assets/images/club-eleven-eleven.png" alt="club-eleven-eleven">
                            </div>
                            <div class="club-eleven-right">
                                <p class="club-user-details">Himanshu ghosh</p>
                                <p class="club-user-card"> 3084******7113</p>
                                <div class="club-navigate">
                                    <button class="manage-btn">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        Manage Account
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="club-eleven-bottom">
                            <div class="club-pizza-pie">
                                <img src="assets/images/icons/pizza_graph_base.png" alt="pizza_graph_base">
                            </div>
                            <div class="club-rewards">
                                <span class="label">Available:</span>
                                <span class="value">$0.00</span>
                                <span class="">Place an order to start earning dough!</span>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-12 col-md-8 accounts-right">
                    <div class="individual-account">
                        <div class="individual-account-top">
                            <div class="individual-account-left">
                                <img src="assets/images/icons/order-history.png" alt="order-history">
                            </div>
                            <div class="individual-account-right">
                                <h3 class="user-activity-title">Order History</h3>
                                <div class="individual-account-btn">
                                    <a *ngIf="seeMenu" href="/" class="seeall-btn"> See Menu<span></span></a>
                                    <a *ngIf="orderHistory" routerLink="/order/order-list" class="seeall-btn">Order History<span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="individual-account">
                        <div class="individual-account-top">
                            <div class="individual-account-left">
                                <img src="assets/images/icons/payment-method.png" alt="payment-method">
                            </div>
                            <div class="individual-account-right">
                                <h3 class="user-activity-title">Payment Method</h3>
                                <div class="individual-account-btn">
                                    <!-- <button class="add-btn" (click)="onclick(this)">
                                        <span class="add-btn-text">{{ Readmore?"Add":"Cancel" }}</span>
                                        <i class="fa fa-plus" *ngIf="" aria-hidden="true"></i>
                                    </button> -->
                                    <button class="add-btn" (click)="Paymentclick()">
                                        <span class="add-btn-text">{{ Paymentmore?"Add":"Cancel" }}</span>
                                        <i [ngClass]="{'fa-plus':Paymentuser, 'fa-times':!Paymentuser}" class="fa" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="individual-form individual-address" *ngIf="PaymentShown">
                            <form>
                                <div class="card-radio">
                                    <div class="row ">
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="form-group signup-radio">
                                                <div class="form-row-left">
                                                    <!-- <input type="radio" class="radio" id="creditcard" (click)="tabChange('creditcard')" name="promotions" value="creditcard" checked> -->
                                                    <span class="pay-card">
                                                        <img src="assets/images/icons/payment-card.png" alt="payment-card">
                                                    </span>
                                                    <label for="creditcard">Credit Card</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-12 col-md-6 col-lg-4">
                                            <div class="form-group signup-radio">
                                                <div class="form-row-left">
                                                    <input type="radio" class="radio" id="studentcard" (click)="tabChange('studentcard')" name="promotions" value="studentcard">
                                                    <span class="pay-card">
                                                        <img src="assets/images/icons/payment-card.jpg" alt="payment-card">
                                                    </span>
                                                    <label for="studentcard">Student Meal Card</label>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="row ccd-card " *ngIf="id === 'creditcard'">
                                    <div class="col-lg-12">
                                        <div class="pizzaxsheading">Enter your credit card details</div>
                                        <span class="label-text-special">We accept the following cards</span>
                                        <div class="visa-box">
                                            <img src="assets/images/icons/cc-logos-1.png" alt="cc-logos">
                                        </div>
                                    </div>
                                    <form class="notranslate" [formGroup]='savecardDetails' (ngSubmit)="savecardsubmit(savecardDetails)">
                                        <div class="form-group row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="label-top" [ngStyle]="{'color':savecardDetails.controls['cardname'].invalid && (savecardDetails.controls['cardname'].dirty || savecardDetails.controls['cardname'].touched) ? 'red' : 'black' }">
                                                    Name on card <span class="asterisk">*</span>
                                                    <span *ngIf="savecardDetails.controls['cardname'].invalid && (savecardDetails.controls['cardname'].dirty || savecardDetails.controls['cardname'].touched)" class="errorMessage">
                                                        <small *ngIf="savecardDetails.controls['cardname'].hasError('required')">
                                                        Missing
                                                        </small>
                                                    </span>
                                                </label>
                                                <input type="text" class="form-control" formControlName="cardname">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="label-top" [ngStyle]="{'color':savecardDetails.controls['cardnumber'].invalid && (savecardDetails.controls['cardnumber'].dirty || savecardDetails.controls['cardnumber'].touched) ? 'red' : 'black' }">
                                                    Card number <span class="asterisk">*</span>
                                                    <span *ngIf="savecardDetails.controls['cardnumber'].invalid && (savecardDetails.controls['cardnumber'].dirty || savecardDetails.controls['cardnumber'].touched)" class="errorMessage">
                                                        <small *ngIf="savecardDetails.controls['cardnumber'].hasError('required')">
                                                        Missing
                                                        </small>
                                                        <small *ngIf="savecardDetails.controls['cardnumber'].hasError('minlength') || savecardDetails.controls['cardnumber'].hasError('maxlength') || savecardDetails.controls['cardnumber'].hasError('pattern')">
                                                            Invalid
                                                        </small>
                                                    </span>
                                                </label>
                                                <input type="text" placeholder="- - -" class="form-control" formControlName="cardnumber" maxlength = "16">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="form-group expiryvalidated">
                                                <label class="label-top" [ngStyle]="{'color':(savecardDetails.controls['expiry_year'].invalid && (savecardDetails.controls['expiry_year'].dirty || savecardDetails.controls['expiry_year'].touched))||(savecardDetails.controls['expiry_month'].invalid && (savecardDetails.controls['expiry_month'].dirty || savecardDetails.controls['expiry_month'].touched)) ? 'red' : 'black' }">
                                                    Expiry <span class="asterisk">*</span>
                                                    <span *ngIf="(savecardDetails.controls['expiry_month'].invalid && (savecardDetails.controls['expiry_month'].dirty || savecardDetails.controls['expiry_month'].touched))||(savecardDetails.controls['expiry_year'].invalid && (savecardDetails.controls['expiry_year'].dirty || savecardDetails.controls['expiry_year'].touched))" class="errorMessage">
                                                        <!-- <small *ngIf="(savecardDetails.controls['expiry_month'].hasError('required'))||(savecardDetails.controls['expiry_year'].hasError('required'))">
                                                        Missing
                                                        </small> -->
                                                        <small *ngIf="(savecardDetails.controls['expiry_month'].hasError('minlength') || savecardDetails.controls['expiry_month'].hasError('maxlength') || savecardDetails.controls['expiry_month'].hasError('pattern') || savecardDetails.controls['expiry_month'].hasError('invalidMonth'))||(savecardDetails.controls['expiry_year'].hasError('minlength') || savecardDetails.controls['expiry_year'].hasError('maxlength') || savecardDetails.controls['expiry_year'].hasError('pattern') || savecardDetails.controls['expiry_year'].hasError('invalidyear'))||(savecardDetails.controls['expiry_month'].hasError('required'))||(savecardDetails.controls['expiry_year'].hasError('required'))">
                                                            Invalid
                                                        </small>
                                                        
                                                    </span>
                                                </label>
                                                
                                                <input type="text" placeholder="MM" id="expirydata1" maxlength = "2" class="form-control" formControlName="expiry_month">
                                                <span>/ </span>
                                                <input type="text" placeholder="YY" id="expirydata" maxlength = "2" class="form-control" formControlName="expiry_year">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label class="label-top" [ngStyle]="{'color':savecardDetails.controls['cvv'].invalid && (savecardDetails.controls['cvv'].dirty || savecardDetails.controls['cvv'].touched) ? 'red' : 'black' }">
                                                    CVV <span class="asterisk">*</span>
                                                    <span *ngIf="savecardDetails.controls['cvv'].invalid && (savecardDetails.controls['cvv'].dirty || savecardDetails.controls['cvv'].touched)" class="errorMessage">
                                                        <small *ngIf="savecardDetails.controls['cvv'].hasError('required')">
                                                        Missing
                                                        </small>
                                                        <small *ngIf="savecardDetails.controls['cvv'].hasError('minlength') || savecardDetails.controls['cvv'].hasError('maxlength') || savecardDetails.controls['cvv'].hasError('pattern')">
                                                            Invalid
                                                        </small>
                                                    </span>
                                                </label>
                                                <input type="password" class="form-control" formControlName="cvv" maxlength = "4">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-2 form-row-btn">
                                            <!-- <input [disabled]="!savecardDetails.valid" type="submit" class="pizza-btn" value="Save"> -->
                                            <button [disabled]="!savecardDetails.valid" type="submit" class="pizza-btn" style="margin-top: 20px;">
                                                <span *ngIf="paysaveloader == false">Save</span>
                                                <i *ngIf="paysaveloader == true"  class="fa fa-spinner fa-spin" style="color:#fff" aria-hidden="true"></i>
                                              </button>
                                        </div>
                                        
                                        </div>
                                        
                                    </form>
                                </div>

                                <!-- <div class="row student-card" *ngIf="id === 'studentcard'">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="label-top">
                                                Select School
                                            </label>
                                            <select class="form-control select-form">
                                                <option value="">Select University</option>
                                                <option value=""> Brock University </option>
                                                <option value=""> Conestoga College Cambridge </option>
                                                <option value=""> Conestoga College Doon Campus </option>
                                                <option value=""> King's College </option>
                                                <option value=""> McMaster </option>
                                                <option value=""> Trent University </option>
                                                <option value=""> Guelph </option>
                                                <option value=""> University of Manitoba </option>
                                                <option value=""> Univ of Toronto </option>
                                                <option value=""> Univ of Toronto - Scarborough </option>
                                                <option value=""> Western </option>
                                                <option value=""> Windsor </option>
                                                <option value=""> York University </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="label-top">
                                                Name on card
                                            </label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <label class="label-top">
                                                Card number
                                            </label>
                                            <input type="text" class="form-control" placeholder="1234-1234-1234-1234">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 form-row-btn">
                                        <input type="submit" class="pizza-btn" value="Save">
                                    </div>
                                </div> -->
                            </form>
                        </div>
                        <div class="col-lg-12" style="text-align: center;" [ngStyle]="{'color':paymentmessageflag == 1? 'green': 'red'}">
                            {{paymentaddesSuccessMessage}}
                        </div>
                        <div class="payment-box" *ngIf="cardDetailshow">
                            <!-- <div class="or-box">
                                <div class="separator pizzaxsheading"><span>OR</span></div>
                            </div> -->
                            <div class="payment-select">
                                <div class="pizzaxsheading">Your saved payment methods</div>
                                <button class="pay-select-btn " *ngFor="let cardlistdetail of cardlistdetails">
                                    <div class="quickpay-box">
                                        <div class="quickpay-left">
                                            {{cardlistdetail.name_on_card}}
                                        </div>
                                        <p>**** **** **** {{cardlistdetail.last_digits}}</p>
                                        <div class="quickpay-right">
                                            <span class="set-default" (click)="removecard(cardlistdetail.id)">
                                                Remove
                                            </span>
                                            <!-- <span class="location-selecte">
                                                Default
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span> -->
                                        </div>
                                    </div>
                                </button>
                                <!-- <button class="pay-select-btn">
                                    <div class="quickpay-box">
                                        <div class="quickpay-left">
                                            <img src="assets/images/icons/account-payment.png" alt="account-payment">
                                            No Payment Method
                                        </div>
                                        <div class="quickpay-right">
                                            <span class="set-default">
                                                Set Default
                                            </span>
                                            <span class="location-selecte">
                                                Default
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </button> -->
                            </div>
                        </div>
                    </div>

                    <!-- <div class="individual-account">
                        <div class="individual-account-top">
                            <div class="individual-account-left">
                                <img src="assets/images/icons/home-icon.png" alt="home-icon">
                            </div>
                            <div class="individual-account-right">
                                <h3 class="user-activity-title">Saved Addresses</h3>
                                <div class="individual-account-btn">
                                    <button class="add-btn" (click)="Addressesclick()">
                                        <span class="add-btn-text">{{ Addressesmore?"Add":"Cancel" }}</span>
                                        <i [ngClass]="{'fa-plus':Addressesuser, 'fa-times':!Addressesuser}" class="fa" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="individual-form individual-address" *ngIf="AddressesShown">
                            <form>
                                <div class="row justify-content-between">
                                    <div class="col-12 col-lg-8">
                                        <div class="form-group">
                                            <label class="label-top">
                                                Nickname
                                                <span>(Optional)</span>
                                            </label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group signup-radio">
                                            <div class="form-row-left">
                                                <input type="radio" class="radio" id="residential" (click)="tabChange('residential')" name="homeMobile" value="home">
                                                <label for="residential">Residential</label>
                                            </div>
                                            <div class="form-row-left">
                                                <input type="radio" class="radio" id="university" (click)="tabChange('university')" name="homeMobile" value="mobile">
                                                <label for="university">University</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="residential-form" *ngIf="id === 'residential'">
                                    <div class="row">
                                        <div class="col-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="label-top">
                                                    Number & Street Name
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="label-top">
                                                    Apt #
                                                    <span>(Optional)</span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="label-top">
                                                    Buzzer
                                                    <span>(Optional)</span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group signup-radio">
                                                <div class="form-row-left">
                                                    <input type="radio" class="radio" id="home" name="homeMobile" value="home" >
                                                    <label for="home">Front Door</label>
                                                </div>
                                                <div class="form-row-left">
                                                    <input type="radio" class="radio" id="mobile" name="homeMobile" value="mobile" >
                                                    <label for="mobile">Back Door</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="university-form" *ngIf="id === 'university'">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="label-top">
                                                Name of College or University
                                            </label>
                                            <div class="form-group">
                                                <select class="form-control select-form">
                                                    <option value="">Select University</option>
                                                    <option value=""> Algonquin College </option>
                                                    <option value=""> Atlantic School of Theology </option>
                                                    <option value=""> Algoma University </option>
                                                    <option value=""> Brandon University </option>
                                                    <option value=""> Brock University </option>
                                                    <option value=""> Canadian Academy of Engineering </option>
                                                    <option value=""> College Andre Grasset </option>
                                                    <option value=""> College Ahuntsic </option>
                                                    <option value=""> College Boreal </option>
                                                    <option value=""> Canador College </option>
                                                    <option value=""> Centennial College Ashtonbee Campus </option>
                                                    <option value=""> Canadian College of Business &amp; Computers </option>
                                                    <option value=""> Conestoga College Cambridge </option>
                                                    <option value=""> Conestoga College Doon Campus </option>
                                                    <option value=""> Conestoga College Guelph Campus </option>
                                                    <option value=""> Conestoga College Ingersol Campus </option>
                                                    <option value=""> Centennial College Morning Campus </option>
                                                    <option value=""> Canadian College of Naturopathic Medicine </option>
                                                    <option value=""> Centennial College Progress Campus </option>
                                                    <option value=""> Conestoga College Stratford Campus </option>
                                                    <option value=""> Confederation College Nankina Drive Thunder Bay </option>
                                                    <option value=""> Conestoga College Waterloo Campus </option>
                                                    <option value=""> CDI College </option>
                                                    <option value=""> Cegep De L Outaouais </option>
                                                    <option value=""> Conservatoire De Musique De Montreal </option>
                                                    <option value=""> College De Rosemont </option>
                                                    <option value=""> Cegep Heritage College </option>
                                                    <option value=""> College Montmorency </option>
                                                    <option value=""> Canadian Memorial Chiropractic College </option>
                                                    <option value=""> Canadian Mennonite University North Campus </option>
                                                    <option value=""> Canadian Mennonite University South Campus </option>
                                                    <option value=""> Cegep Marie Victorin </option>
                                                    <option value=""> Cegep de Saint Laurent </option>
                                                    <option value=""> College Tecnique De Montreal </option>
                                                    <option value=""> Carleton University </option>
                                                    <option value=""> Concordia University George Wiloptionam Campus </option>
                                                    <option value=""> Concordia University Loyola Campus </option>
                                                    <option value=""> Cegep Du Vieux Montreal </option>
                                                    <option value=""> Dawson College </option>
                                                    <option value=""> Dominican University College </option>
                                                    <option value=""> Dalhousie University </option>
                                                    <option value=""> Dalhousie University Carleton Campus </option>
                                                    <option value=""> Dalhousie University Studley Campus </option>
                                                    <option value=""> Dalhousie University Sexton Campus </option>
                                                    <option value=""> Emmanuel Bible College </option>
                                                    <option value=""> Ecole Polytechnique De Montreal </option>
                                                    <option value=""> Fanshawe College </option>
                                                    <option value=""> Fort York Armoury </option>
                                                    <option value=""> Glendon College </option>
                                                    <option value=""> Grand River Hospital </option>
                                                    <option value=""> Herzing College </option>
                                                    <option value=""> Inter-Dec College </option>
                                                    <option value=""> Institut Grasset </option>
                                                    <option value=""> Institut Teccart </option>
                                                    <option value=""> Institut de tourisme et d'hotellerie du Quebec </option>
                                                    <option value=""> King's College </option>
                                                    <option value=""> La Cite Collegiate Ottawa </option>
                                                    <option value=""> Lambton College </option>
                                                    <option value=""> Loyaoptionst College of Appoptioned Arts &amp; Technology </option>
                                                    <option value=""> Lambton College Sarnia </option>
                                                    <option value=""> Lambton College Toronto </option>
                                                    <option value=""> - </option>
                                                    <option value=""> Lakehead university - Oriloptiona Campus </option>
                                                    <option value=""> Lakehead university - Thunderbay Campus </option>
                                                    <option value=""> McMaster </option>
                                                    <option value=""> Mohawk College </option>
                                                    <option value=""> Mohawk College Brantford </option>
                                                    <option value=""> Mohawk College Fennel Avenue </option>
                                                    <option value=""> Mohawk College Laurier Campus </option>
                                                    <option value=""> Mohawk College at Mcmaster </option>
                                                    <option value=""> Mohawk College Stoney Creek </option>
                                                    <option value=""> Marianopooptions College </option>
                                                    <option value=""> Menno Simons College </option>
                                                    <option value=""> McGill University Downtown Campus </option>
                                                    <option value=""> Niagara College </option>
                                                    <option value=""> Niagara College of Appoptioned Arts &amp; Technology </option>
                                                    <option value=""> Nova Scotia College of Arts &amp; Design </option>
                                                    <option value=""> Nova Scotia Community College </option>
                                                    <option value=""> Nova Scotia Community College </option>
                                                    <option value=""> National Theatre School of Canada </option>
                                                    <option value=""> Nippissing University </option>
                                                    <option value=""> Queens University </option>
                                                    <option value=""> Ridley College </option>
                                                    <option value=""> Red River College Notre Dame Campus </option>
                                                    <option value=""> Red River College The Patterson Global Institute </option>
                                                    <option value=""> Red River College The Roboptionn Centre </option>
                                                    <option value=""> Red River College Stevenson Aviation &amp; Aerospace Training Centre </option>
                                                    <option value=""> Ryerson University </option>
                                                    <option value=""> St Clair College of Appoptioned Arts &amp; Technology </option>
                                                    <option value=""> St Lawrence College of Appoptioned Arts &amp; Technology </option>
                                                    <option value=""> St marys University </option>
                                                    <option value=""> St Clair College Media Plex </option>
                                                    <option value=""> University of Sherbrooke </option>
                                                    <option value=""> Mount Saint Vincent University </option>
                                                    <option value=""> Trinity College Boarding School </option>
                                                    <option value=""> Trent University </option>
                                                    <option value=""> University of Montreal </option>
                                                    <option value=""> University of Montreal - Laval Campus </option>
                                                    <option value=""> Guelph </option>
                                                    <option value=""> University of Kings College </option>
                                                    <option value=""> University of Manitoba </option>
                                                    <option value=""> UNIVERSITY_NAME </option>
                                                    <option value=""> University of Ottawa </option>
                                                    <option value=""> University of Ontario Institute of Technology </option>
                                                    <option value=""> University of Quebec in Montreal </option>
                                                    <option value=""> University of Regina </option>
                                                    <option value=""> Univ of Toronto </option>
                                                    <option value=""> University of Toronto St George Campus </option>
                                                    <option value=""> Univ of Toronto - Scarborough </option>
                                                    <option value=""> Waterloo </option>
                                                    <option value=""> Western </option>
                                                    <option value=""> Vanier College </option>
                                                    <option value=""> Wiloptionam &amp; Catherine Booth University College </option>
                                                    <option value=""> Windsor </option>
                                                    <option value=""> Wilfrid Laurier </option>
                                                    <option value=""> University of Winnipeg </option>
                                                    <option value=""> York University </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="label-top">
                                                    Building
                                                </label>
                                                <select class="form-control select-form" >
                                                    <option value="">Select Building</option>
                                                    <option value=""> Algonquin College </option>
                                                    <option value=""> Atlantic School of Theology </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="label-top">
                                                    Building Entrance
                                                    <span>(Optional)</span>
                                                </label>
                                                <input type="text"  class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="label-top">
                                                    Room Number
                                                </label>
                                                <input type="text"  class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h5 class="pizzaxxsheading">Contact Information</h5>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="label-top">
                                                Phone Number
                                                <span>(Optional)</span>
                                            </label>
                                            <input type="text"  class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="label-top">
                                                Extension
                                                <span>(Optional)</span>
                                            </label>
                                            <input type="text"  class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 form-row-btn">
                                        <input type="submit" class="pizza-btn" value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> -->

                    <div class="individual-account">
                        <div class="individual-account-top">
                            <div class="individual-account-left">
                                <img src="assets/images/icons/pizza-icon-orange.png" alt="pizza-icon-orange">
                            </div>
                            <div class="individual-account-right">
                                <h3 class="user-activity-title">Saved Pickup Locations</h3>
                                <div class="individual-account-btn">
                                    <button class="add-btn" (click)="FindsPopUpShow()">
                                        <span class="add-btn-text">Add</span>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="pickup-store store-active" >
                        <div class="pickup-store-left">
                            <div class="pizzaxxsheading">{{showPickupStore.store_name}}</div>
                            <p>{{showPickupStore.address}}</p>
                        </div>
                        <div class="pickup-store-right">
                            <p>Default</p>
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                    </div> -->
                    <div *ngIf="pickupPopupLocation">
                        <div class="pickup-store" *ngFor="let item of showPickupStore; let i = index;" [ngClass]="item.by_default == 1?'store-active':''">
                            <div class="pickup-store-left">
                                <div class="pizzaxxsheading">{{item.store_name}}</div>
                                <p>{{item.address}}</p>
                                <button class="delete-btn" (click)="deleteStoreShow(item.user_pickup_location_id, item)" *ngIf="item.by_default == 1?false:true"><i class="fa fa-times"></i> Delete</button>
                            </div>
                            <div class="pickup-store-right">
                                <p (click)="setDefaultList(item.location_id, item.user_id)">Set as Default</p>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="kids-club">
            <div class="row">
                <div class="col-12 col-md-3 col-lg-3 d-flex justify-content-start align-items-center accounts-kids-title">
                    <span class="kidsclub-icon">
                        <img src="assets/images/icons/kids-club.png" alt="kids-club">
                    </span>

                    <div class="pizzalgheading">Kids Club</div>
                </div>
                <div class="col-12 col-md-6 col-lg-7 d-flex align-items-center accounts-kids-text">
                    <p>Would you like to register your children for Kids Club to receive a gift on his or her birthday?</p>
                </div>
                <div class="col-12 col-md-3 col-lg-2 d-flex justify-content-end align-items-center accounts-kids-button">
                    <button class="pizza-btn" (click)="RegisterPopUpShow()">Register</button>
                </div>
            </div>
        </div> -->
    </div>
</section>

<!-- register-popup-start -->
<!-- <div class="register-popup">
    <div class="register-wrapper register-transition">
      <div class="register-header">
        <button class="register-close" (click)="RegisterPopUpHide()"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button>
        <div class="user-icon">
            <img src="assets/images/icons/kids-club.png" alt="kids-club">
        </div>
        <p>REGISTER</p>
        <div class="pizzalgheading">KIDS CLUB</div>
      </div>

      <div class="register-body">
        <div class="register-content">
            <div class="signup-main">
                <form>
                    <div class="row justify-content-around">
                        <div class="col-12 col-lg-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label-top">First Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label-top">Last Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="row date-row">
                                <div class="col-md-12">
                                    <label class="label-top">Date of Birth <span>(Optional)</span></label>
                                </div>
                                <div class="col-4 col-md-4 day-box">
                                    <div class="form-group">
                                        <select class="form-control select-form">
                                            <option value="day">Day</option>
                                            <option value="day" >day</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 day-box">
                                    <div class="form-group">
                                        <select class="form-control select-form" >
                                            <option value="">Month</option>
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                            <option value="6">06</option>
                                            <option value="7">07</option>
                                            <option value="8">08</option>
                                            <option value="9">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 day-box">
                                    <div class="form-group">
                                        <select class="form-control select-form">
                                            <option value="">Year</option>
                                            <option value="year">year</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-12">
                                    <div class="form-group signup-radio">
                                        <p>Gender</p>
                                        <div class="form-row-left">
                                            <input type="radio" class="radio" id="male" name="gender" value="male" >
                                            <label for="male">Male</label>
                                        </div>
                                        <div class="form-row-left">
                                            <input type="radio" class="radio" id="female" name="gender" value="female" >
                                            <label for="female">Female</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="form-row-btn">
                                <input type="submit" class="pizza-btn" value="Save">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</div> -->
<!-- register-popup-end -->

<!-- editprofile-popup-start -->
<div class="editprofile-popup">
    <div class="editprofile-wrapper editprofile-transition">
      <div class="editprofile-header">
        <button class="editprofile-close" (click)="EditPopUpHide()"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button>
        <div class="user-icon">
            <img src="assets/images/icons/kids-club.png" alt="kids-club">
        </div>
        <p>EDIT</p>
        <div class="pizzalgheading">PROFILE</div>
        <div style="text-align: center; color:green; font-size: 15px;margin-top: 10px;">{{successMessage}}</div>
      </div>

      <div class="editprofile-body">
        <div class="editprofile-content">
            <div class="signup-main">
                <form [formGroup]='editProfileForm' (ngSubmit)="signupPostData(editProfileForm)">
                    <div class="row">
                        <div class="col-lg-2 upload-pic">
                            <!-- <div class="form-group">
                                <input type="file" class="form-control">
                            </div> -->
                            <div class="small-12 medium-2 large-2 columns edit-p-inner">
                                <div class="circle upload-button">
                                  <img class="profile-pic" id="blah" [src]="url">
                                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                                  <a (click)="clearfunction()" class="clear-profile">Clear</a>
                                </div>
                                <input class="file-upload" accept="image/*"  id="fileUpload"type="file" (change)="onselectFile($event)">
                                <label class="chooseFile" for="fileUpload"><i class="fa fa-arrow-circle-up"></i> Choose File</label>
                              </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="signup-form">
                                <div class="form-group">
                                    <label class="label-top" [ngStyle]="{'color':editProfileForm.controls['fname'].invalid && (editProfileForm.controls['fname'].dirty || editProfileForm.controls['fname'].touched) ? 'red' : 'black' }">
                                        First Name <span class="asterisk">*</span>
                                        <span *ngIf="editProfileForm.controls['fname'].invalid && (editProfileForm.controls['fname'].dirty || editProfileForm.controls['fname'].touched)" class="errorMessage">
                                            <small *ngIf="editProfileForm.controls['fname'].hasError('required')">
                                            Missing
                                            </small>
                                        </span>
                                    </label>
                                    <input type="text" formControlName="fname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="label-top" [ngStyle]="{'color':editProfileForm.controls['lname'].invalid && (editProfileForm.controls['lname'].dirty || editProfileForm.controls['lname'].touched) ? 'red' : 'black' }">
                                        Last Name <span class="asterisk">*</span>
                                        <span *ngIf="editProfileForm.controls['lname'].invalid && (editProfileForm.controls['lname'].dirty || editProfileForm.controls['lname'].touched)" class="errorMessage">
                                            <small *ngIf="editProfileForm.controls['lname'].hasError('required')">
                                            Missing
                                            </small>
                                        </span>
                                    </label>
                                    <input type="text" formControlName="lname" class="form-control">
                                </div>
                                <div class="form-group signup-radio">
                                    <div class="form-row-left">
                                        <!-- <input type="radio" class="radio" id="home" name="homeMobile" value="home" formControlName="homeMobile">
                                        <label for="home">Home</label> -->
                                        <label class="radio-btn-list">
                                            <p>Home</p>
                                            <input type="radio" id="home" name="homeMobile" value="home" formControlName="homeMobile">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="form-row-left">
                                        <!-- <input type="radio" class="radio" id="mobile" name="homeMobile" value="mobile" formControlName="homeMobile">
                                        <label for="mobile">Mobile</label> -->
                                        <label class="radio-btn-list">
                                            <p>Mobile</p>
                                            <input type="radio" id="mobile" name="homeMobile" value="mobile" formControlName="homeMobile">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row number-row">
                                    <div class="col-12 col-md-7">
                                        <div class="form-group">
                                            <label class="label-top" >
                                                Phone Number <span class="asterisk">*</span>
                                            </label>
                                            <p class="phonenumbertext">{{userdata.phone_number}}</p>
                                            <!-- <input type="text" maxlength="10" formControlName="phone" class="form-control" placeholder="( )"> -->
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5">
                                        <div class="form-group">
                                            <label class="label-top">Extension <span>(Optional)</span></label>
                                            <input type="text" maxlength="5" formControlName="extension" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="signup-form">
                                <div class="row date-row">
                                    <div class="col-md-12">
                                        <label class="label-top">Date of Birth <span>(Optional)</span></label>
                                    </div>
                                    <div class="col-4 col-md-4 day-box">
                                        <div class="form-group">
                                            <select class="form-control select-form" formControlName="day">
                                                <option value=""> &nbsp;Day</option>
                                                <option value="{{day}}" *ngFor="let day of days">&nbsp;<span *ngIf="day<10">0</span>{{day}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-4 day-box">
                                        <div class="form-group">
                                            <select class="form-control select-form" formControlName="month">
                                                <option value="">&nbsp;Month</option>
                                                <option value="1">&nbsp;01</option>
                                                <option value="2">&nbsp;02</option>
                                                <option value="3">&nbsp;03</option>
                                                <option value="4">&nbsp;04</option>
                                                <option value="5">&nbsp;05</option>
                                                <option value="6">&nbsp;06</option>
                                                <option value="7">&nbsp;07</option>
                                                <option value="8">&nbsp;08</option>
                                                <option value="9">&nbsp;09</option>
                                                <option value="10">&nbsp;10</option>
                                                <option value="11">&nbsp;11</option>
                                                <option value="12">&nbsp;12</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-4 day-box">
                                        <div class="form-group">
                                            <select class="form-control select-form" formControlName="year">
                                                <option value="">&nbsp;Year</option>
                                                <option *ngFor="let year of years" value="{{year}}">&nbsp;{{year}}</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="signup-radio">
                                    <p>Send me information about PZA Pizzeria Promotions, contests & offers <span class="asterisk">*</span></p>
                                </div>
                                <div class="form-group signup-radio">
                                    <div class="form-row-left">
                                        <!-- <input type="radio" class="radio noradio" id="no" name="promotions" value="no" formControlName="promotions">
                                        <label for="no">No</label> -->
                                        <label class="radio-btn-list noradio">
                                            <p>No</p>
                                            <input type="radio" id="no" name="promotions" value="no" formControlName="promotions">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="form-row-left">
                                        <!-- <input type="radio" class="radio yesradio" id="yes" name="promotions" value="yes" formControlName="promotions">
                                        <label for="yes">Yes</label> -->
                                        <label class="radio-btn-list yesradio">
                                            <p>Yes</p>
                                            <input type="radio" id="yes" name="promotions" value="yes" formControlName="promotions">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row language-box">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-top">Language for Promotions <span class="asterisk">*</span></label>
                                            <select class="form-control select-form" formControlName="language">
                                                <option value="english">English</option>
                                                <option value="spanish">Spanish</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row align-items-center">
                                    <div class="form-change">
                                        <a class="change-btn" (click)="PasswordPopUpShow()">Change Password</a>
                                    </div>
                                    <div class="form-row-btn">
                                        <button type="submit" [disabled]="!editProfileForm.valid" class="pizza-btn">Save <i *ngIf="updateprofileLoader" class="fa fa-spinner fa-spin" style="color: white;"  aria-hidden="true"></i></button>
                                        <!-- <input type="submit" [disabled]="!editProfileForm.valid" class="pizza-btn" value="Save"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>
<!-- editprofile-popup-end -->

<!-- changepassword-popup-start -->
<div class="changepassword-popup">
    <div class="changepassword-overlay"></div>
    <div class="changepassword-wrapper changepassword-popup-transition">
      <div class="changepassword-header">
        <button class="changepassword-close" (click)="PasswordPopUpHide()"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button>
        <div class="user-icon">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
        </div>
        <div class="pizzalgheading">Change Password</div>
        <div style="text-align: center; font-size: 15px;margin-top: 10px;" [ngStyle]="{'color':changepassRes==true ? 'green' : 'red' }">{{changepassMessage}}</div>
      </div>

      <div class="changepassword-body">
        <div class="changepassword-content">
            <div class="signup-main">
                <form [formGroup]='changePassword' (ngSubmit)="updatePassword(changePassword)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-top">
                                    Current Password <span class="asterisk">* </span>
                                    <span style="display: inline-block; margin-left: 10px;" *ngIf="f['currentPassword'].touched && f['currentPassword'].invalid" class="loginerrormsg">
                                        <span *ngIf="f['currentPassword'].errors && f['currentPassword'].errors['required']">
                                            Missing
                                          </span>
                                          <span *ngIf="f['currentPassword'].errors && f['currentPassword'].errors['minlength']">
                                            Invalid
                                          </span>
                                    </span>
                                </label>
                                <input [type]="show == 1 ? 'text' : 'password'"   class="form-control" formControlName="currentPassword">
                                
                                <div class="form-row-right">
                                    <input type="checkbox" class="radio" id="showpassword1" (change)="showPassword($event, 1)">
                                    <label>Show Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-top">
                                    New Password <span class="asterisk">* </span>
                                    <span style="display: inline-block; margin-left: 10px;" *ngIf="f['newPassword'].touched && f['newPassword'].invalid" class="loginerrormsg">
                                        <span *ngIf="f['newPassword'].errors && f['newPassword'].errors['required']">
                                            Missing
                                          </span>
                                          <!-- <span *ngIf="f['newPassword'].errors && f['newPassword'].errors['minlength']">
                                            Invalid
                                          </span> -->
                                         
                                    </span>
                                </label>
                                <input [type]="show == 2 ? 'text' : 'password'"   class="form-control" formControlName="newPassword">
                                
                                <div class="form-row-right">
                                    <input type="checkbox" class="radio" id="showpassword2" (change)="showPassword($event, 2)">
                                    <label>Show Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-top">
                                    Confirm Password <span class="asterisk">* </span>
                                    <span style="display: inline-block; margin-left: 10px;" *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid" class="loginerrormsg">
                                        <span *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">
                                            Missing
                                          </span>
                                          <span *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['minlength']">
                                            Invalid
                                          </span>
    
                                    </span>
                                </label>
                                <input [type]="show == 3 ? 'text' : 'password'"   class="form-control" formControlName="confirmPassword">
                                

                                <div class="form-row-right">
                                    <input type="checkbox" class="radio" id="showpassword3" (change)="showPassword($event, 3)">
                                    <label>Show Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="color: red; margin-bottom: 20px;">
                            <small style="display: block;" *ngIf="f['newPassword'].errors && f['newPassword'].errors['pattern'] || f['newPassword'].errors && f['newPassword'].errors['pattern']">
                                Password should be in minimum 7 length characters and should contain at least one letter, one number and one special character.
                            </small>
                        </div>
                        <div class="col-md-12" style="color: red; margin-bottom: 20px;" *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['confirmPasswordValidator']">
                            Password and Confirm Password didn't match.
                          </div>
                        <div class="col-md-12">
                            <div class="form-row align-items-center text-center">
                                <div class="form-row-btn">
                                    <input type="submit" class="pizza-btn" value="Reset" [disabled]="!changePassword.valid">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>
<!-- changepassword-popup-end -->

<!-- delete saved stores popup starts-->
<div class="find-popup2">
    <div class="find-overlay" id="findpopup"></div>
    <div class="find-wrapper find-transition delite-popup-wraper">
        <div class="find-header">
            <button class="find-close" (click)="deletepopuClose()"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button>
            <div class="user-icon">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
            <div class="pizzalgheading">Delete?</div>
        </div>
      <div class="find-body">
        <p class="pizzaparaDelete">Are you sure that you want to delete this pick up location?</p>
        <div class="find-content" style="text-align: center;">
            <button class="btn-delete-no" (click)="deletepopuClose()">No</button>
            <button class="btn-delete-yes" (click)="deletlistPickup()">Yes</button>
        </div>
      </div>
    </div>
</div>
<!-- delete saved stores popup end-->
<!-- success popup starts-->
<div class="success-popup">
  <div class="find-overlay" id="findpopup"></div>
  <div class="find-wrapper find-transition delite-popup-wraper">
      <div class="find-header">
          <button class="find-close" (click)="successClose()"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button>
          <div class="user-icon">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </div>
          <div class="pizzalgheading">Success!</div>
      </div>
    <div class="find-body">
      <p class="pizzaparaDelete">Your password has been updated. Please login with new credentials.</p>
      <div class="find-content">
          <button class="btn-delete-no" (click)="signOut()"><i class="fa fa-check" aria-hidden="true"></i>Continue</button>
      </div>
    </div>
  </div>
</div>
<!-- success popup end-->


<!-- delete saved stores popup starts-->
<div class="deletecard-popup">
    <div class="find-overlay" id="findpopup"></div>
    <div class="find-wrapper find-transition delite-popup-wraper">
        <div class="find-header">
            <button class="find-close" (click)="deletecardclose()"><img src="assets/images/icons/close-icon.png" alt="close-icon"> </button>
            <div class="user-icon">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
            <div class="pizzalgheading">Delete?</div>
        </div>
      <div class="find-body">
        <p class="pizzaparaDelete">Are you sure that you want to delete your saved card?</p>
        <div class="find-content" style="text-align: center;">
            <button class="btn-delete-no" (click)="deletecardclose()">No</button>
            <button class="btn-delete-yes" (click)="deletecardpopup()">Yes</button>
        </div>
      </div>
    </div>
</div>
<!-- delete saved stores popup end-->