@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.account-main{
    padding: 60px 0;
    @include breakpoint(md) {
        padding: 40px 0;
    }
    @include breakpoint(xs) {
        padding: 30px 0;
    }
}
.signin-top{
    margin-bottom: 20px;
    position: absolute;
    top: 12px;
    margin: 0;
    @include breakpoint(xs){
        position: relative;
        top: 0;
        margin: 0 0 20px;
    }
}
.expiryvalidated input{
    border: 0 !important;
    display: inline-block;
    width: 30px;
}
.expiryvalidated{
    border-bottom: 1px solid #dee2e6;
}
.phonenumbertext{
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid #dee2e6;
    padding: 5px 0;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    font-family: "Proxima Nova Rg";
    border-radius: 0;
    display: inline-block;
    width: 100%;
    cursor: not-allowed;
}
.account-top{
    position: relative;
    .pizzalgheading{
        font-family: $proximablack;
        margin-bottom: 30px;
        letter-spacing: .5px;
        font-weight: bold;
        color: $brownfont;
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
    }
}

.personal-details{
    .personal-top{
        border: 1px solid $grayborder;
        border-radius: 10px;
        background: $graybg;
        padding: 25px 15px;
        display: flex;
        flex-wrap: wrap;
        .personal-image{
            width: 85px;
            margin-right: 15px;
            .user-circle{
                width: 85px;
                height: 85px;
                border-radius: 50%;
                background: $white;
                overflow: hidden;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: auto;
                    min-height: 100%;
                }
                .pizzalgheading{
                    font-weight: 700;
                    position: absolute;
                    color: $orange;
                    font-family: $proximarg;
                    margin: 0;
                }
            }
        }
        .personal-information{
            width: 75%;
            margin-top: 5px;
            .pizzasmheading{
                font-family: $proximarg;
                color: $brownfont;
                font-weight: 800;
                letter-spacing: .4px;
                margin-bottom: 8px;
                word-wrap: break-word;
            }
            .personal-edit{
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                cursor: pointer;
                i{
                    width: 15px;
                    height: 15px;
                    font-size: 8px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 12px;
                    margin-right: 5px;
                    color: $orange;
                }
                .edit-text{
                    font-size: 11px;
                    color: $orange;
                    font-family: $proximarg;
                    font-weight: 400;
                }
            }
            .personal-contact{
                margin-bottom: 20px;
                p{
                    font-size: 13px;
                    color: $brown;
                    font-family: $proximarg;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }
        .personal-sign{
            width: 100%;
            text-align: center;
        }
    }
    @include breakpoint(xslg){
        .personal-top{
            .personal-information{
                width: 60%;
                word-break: break-all;
            }
        }
    }
    @include breakpoint(sm){
        .personal-top{
            justify-content: center;
            .personal-image{
                margin-right: 0;
            }
            .personal-information{
                width: 100%;
                text-align: center;
                .personal-edit{
                    justify-content: center;
                }
            }
        }
    }
    @include breakpoint(xs) {
        .personal-top{
            align-items: center;
            padding: 15px 10px;
            justify-content: flex-start;
            .personal-image{
                margin-right: 10px;
            }
            .personal-information{
                width: 65%;
                text-align: left;
                .personal-edit{
                    justify-content: flex-start;
                }
            }
        }
    }
}
.club-eleven{
    background: linear-gradient(180deg,#ee5a00 4%,#ff9700 96%);
    padding: 15px;
    color: $white;
    font-weight: 700;
    font-family: $proximarg;
    border-radius: 10px;
    margin-top: 15px;
    .club-eleven-top{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        border-bottom: 1px solid $white;
        .club-eleven-left{
            width: 35%;
            padding-right: 15px;
        }
        .club-eleven-right{
            width: 65%;
            p{
                font-size: 16px;
                color: $white;
                font-family: $proximarg;
                font-weight: 700;
            }
            .club-user-details{
                font-weight: 800;
                word-wrap: break-word;
            }
            .club-navigate{
                padding-top: 10px;
                .manage-btn{
                    font-size: 14px;
                    color: $white;
                    font-family: $proximarg;
                    text-transform: capitalize;
                    letter-spacing: .29px;
                    font-weight: 600;
                    background: transparent;
                    border: none;
                    display: flex;
                    align-items: center;
                    i{
                        width: 18px;
                        height: 18px;
                        font-size: 9px;
                        text-align: center;
                        border: 1px solid $white;
                        border-radius: 50%;
                        line-height: 16px;
                        margin-right: 5px;
                        color: $white;
                        &::before{
                            position: relative;
                            left: 1px;
                        }
                    }
                }
            }
        }
    }
    .club-eleven-bottom{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 20px;
        .club-pizza-pie{
            width: 35%;
            padding-right: 15px;
            img{
                width: 60%;
                margin: 0 auto;
                display: block;
            }
        }
        .club-rewards{
            width: 65%;
            span{
                font-size: 16px;
                font-weight: 400;
                color: $white;
                font-family: $proximarg;
                width: 100%;
                display: block;
            }
            .label{
                font-weight: 600;
            }
            .value{
                margin: 10px 0;
                font-weight: 800;
                font-size: 30px;
                line-height: 32px;
            }
        }
    }
    @include breakpoint(xs) {
        padding: 15px 10px;
        .club-eleven-bottom{
            .club-rewards{
                .value{
                    font-size: 24px;
                    line-height: 26px;
                    margin: 5px 0;
                }
                span{
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}


.accounts-right{
    margin-top: 15px;
    padding-left: 50px;
    .individual-account{
        border-bottom: 1px solid $grayborder;
        .individual-account-top{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 20px 0;
            .individual-account-left{
                width: 5%;
            }
            .individual-account-right{
                width: 95%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-left: 15px;
                .user-activity-title{
                    width: 80%;
                    color: $brownfont;
                    font-family: $proximarg;
                    font-weight: 400;
                    letter-spacing: .5px;
                    font-size: 25px;
                    text-transform: capitalize;
                }
                .individual-account-btn{
                    width: 20%;
                    text-align: right;
                    display: flex;
                    align-items: center;
                    .seeall-btn{
                        margin-left: auto;
                    }
                    .add-btn{
                        font-size: 14px;
                        font-weight: 800;
                        color: $orange;
                        font-family: $proximarg;
                        display: flex;
                        align-items: center;
                        border: 0;
                        background: transparent;
                        margin-left: auto;
                        cursor: pointer;
                        i{
                            width: 22px;
                            height: 22px;
                            font-size: 12px;
                            text-align: center;
                            border: 1px solid $orange;
                            border-radius: 50%;
                            line-height: 20px;
                            margin-left: 8px;
                            color: $orange;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
    .individual-form{
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .signup-radio{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            p{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 30px;
                width: 100%;
            }
            .form-row-left{
                margin-right: 25px;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                .radio{
                    width: 26px;
                    height: 26px;
                    min-width: 26px;
                    border: 1px solid $grayborder;
                    border-radius: 50%;
                    margin-right: 15px;
                    cursor: pointer;
                }
                label{
                    font-size: 16px;
                    font-family: $proximarg;
                    margin-bottom: 0px;
                    cursor: pointer;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .pizzaxxsheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 800;
            margin-bottom: 15px;
        }
        .form-row-btn{
            text-align: right;
        }
        .card-radio{
            margin-top: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid $grayborder;
            .form-group{
                min-height: auto;
                .form-row-left{
                    margin: 0;
                    label{
                        font-weight: 800;
                    }
                }
            }
            .pay-card{
                width: 70px;
                margin-right: 10px;
            }
        }
    }
    .payment-box{
        .or-box{
            padding: 20px 0;
            text-align: center;
            .separator{
                font-family: $proximarg;
                color: $brownfont;
                text-transform: uppercase;
                position: relative;
                font-weight: 500;
                z-index: 1;
                span{
                    padding: 0 20px;
                    background: $white;
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to right, $orange 30%,#fff 0);
                    background-size: 6px 3px;
                    z-index: -1;
                }
            }
        }
        .payment-select{
            .pizzaxsheading{
                color: $brownfont;
                font-family: $proximarg;
                font-weight: 400;
                margin-bottom: 16px;
            }
            .pay-select-btn{
                border: none;
                background: transparent;
                width: 100%;
                .quickpay-box{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    font-family: $proximarg;
                    font-weight: 800;
                    margin-bottom: 10px;
                    border: 2px solid $grayborder;
                    border-radius: 5px;
                    padding: 10px;
                    color: $deepgray;
                    .quickpay-left{
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        img{
                            padding-right: 10px;
                        }
                    }
                    .quickpay-right{
                        .set-default{
                            font-size: 14px;
                            font-family: $proximarg;
                            color: $orange;
                            font-weight: 800;
                            cursor: pointer;
                        }
                        .location-selecte{
                            font-size: 14px;
                            font-family: $proximarg;
                            color: $green;
                            font-weight: 800;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            i{
                                font-size: 16px;
                                font-weight: 400;
                                color: $green;
                                line-height: 30px;
                                padding-left: 5px;
                            }
                        }
                    }
                }
                &.btnselected{
                    .quickpay-box{
                        border-color: $green;
                        color: $green;
                    }
                }
            }
        }
    }
    .ccd-card{
        .pizzaxsheading{
            font-family: $proximarg;
            color: $brownfont;
            margin-bottom: 15px;
        }
        .label-text-special{
            font-size: 16px;
            font-family: $proximarg;
            color: $brownfont;
        }
        .visa-box{
            padding: 15px 0;
        }
    }
    .pickup-store{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 2px solid $deepgray;
        border-radius: 5px;
        padding: 15px 15px 15px 0;
        margin: 10px 0;
        .pickup-store-left{
            width: 80%;
            padding-left: 80px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 45px;
                height: 40px;
                top: 0;
                left: 15px;
                background: url(../../../assets/images/sprite-image.png);
                background-position: 0 -2377px;
                background-size: 60px;
            }
            .pizzaxxsheading{
                font-family: $proximarg;
                color: $deepgray;
                font-weight: 800;
            }
            p{
                font-size: 12px;
                font-family: $proximarg;
                color: $deepgray;
                font-weight: 400;
            }
            .delete-btn{
                font-size: 14px;
                font-weight: 500;
                color: $orange;
                font-family: $proximarg;
                display: flex;
                align-items: center;
                border: 0;
                background: transparent;
                cursor: pointer;
                margin-top: 8px;
                i{
                    width: 20px;
                    height: 20px;
                    font-size: 12px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 18px;
                    margin-right: 8px;
                    color: $orange;
                    font-weight: 400;
                }
            }
        }
        .pickup-store-right{
            display: flex;
            p{
                font-size: 13px;
                color: $orange;
                font-weight: 800;
                margin-right: 5px;
                letter-spacing: .3px;
                cursor: pointer;
            }
            i{
                font-size: 20px;
                color: $green;
                display: none;
            }

            @include breakpoint(xs){
                width: 80%;
                padding-left: 80px;
                margin-top: 8px;
                i{
                    font-size: 15px;
                    
                }
            }
        }
        &.store-active{
            border: 2px solid $green;
            .pickup-store-left{
                &::before{
                    background-position: 0 -2431px;
                }
                .pizzaxxsheading{
                    color: $green;
                }
                p{
                    color: $green;
                }
            }
            .pickup-store-right{
                p{
                    color: $green;
                }
                i{
                    display: block;
                }
            }
        }
    }
    @include breakpoint(md){
        .individual-account{
            .individual-account-top{
                padding: 15px 0;
                .individual-account-left{
                    width: 8%;
                }
                .individual-account-right{
                    width: 90%;
                    .user-activity-title{
                        font-size: 22px;
                        width: 60%;
                    }
                    .individual-account-btn{
                        width: 30%;
                    }
                }
            }
            .individual-form{
                margin-bottom: 15px;
                .ccd-card{
                    margin-bottom: 15px;
                }
                .card-radio{
                    .form-group{
                        .form-row-left{
                            label{
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(xs){
        padding-left: 10.5px;
        .individual-account{
            .individual-account-top{
                padding: 15px 0;
                justify-content: space-between;
                .individual-account-left{
                    width: 8%;
                }
                .individual-account-right{
                    width: 90%;
                    .user-activity-title{
                        width: 60%;
                        font-size: 15px;
                    }
                    .individual-account-btn{
                        width: 40%;
                        .seeall-btn {
                            font-size: 14px;
                        }
                        .seeall-btn span {
                          
                            width: 15px;
                            height: 15px;
                          
                            background-position: 2px -38px;
                            background-size: 30px;
                            display: inline-block;
                            top: 4px;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .individual-form{
                .ccd-card{
                    margin-bottom: 15px;
                }
                .form-row-btn{
                    text-align: left;
                    .pizza-btn{
                        width: 100%;
                    }
                }
                .form-group{
                    min-height: auto;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.kids-club{
    border-radius: 10px;
    border: 1px solid $grayborder;
    padding: 15px 15px;
    margin-top: 30px;
    .kidsclub-icon{
        width: 40px;
        margin-right: 15px;
    }
    .pizzalgheading{
        color: $brownfont;
        font-family: $proximarg;
        margin-bottom: 0;
        font-weight: 400;
    }
    p{
        font-size: 13px;
        color: $brownfont;
    }
    @include breakpoint(sm){
        .pizzalgheading{
            line-height: 28px;
        }
    }
    @include breakpoint(xs){
        padding: 10px 10px;
        margin-top: 20px;
        .accounts-kids-title, .accounts-kids-text{
            margin-bottom: 15px;
        }
        .kidsclub-icon{
            width: 28px;
        }
        .pizza-btn{
            width: 100%;
        }
    }
}


/*-- register-popup-start --*/
.register-popup{
    position: fixed;
    z-index: 10000;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 1s cubic-bezier(0,.55,.41,1);
    .register-wrapper {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 0px;
        overflow: hidden;
    }
    .register-transition {
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .register-header{
        padding: 30px 40px;
        position: relative;
        background-color: $lightgraybg;
        border-bottom: 1px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 26px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: bold;
            margin-bottom: 0px;
            line-height: 34px;
        }
        p{
            font-size: 14px;
            font-family: $proximarg;
            color: $orange;
            margin: 0 0 8px;
        }
    }
    .register-content{
        padding: 30px 40px;
        background: $white;
    }
    .signup-main{
        width: 70%;
        margin: 0 auto;
        position: relative;
        transform: translate(0%, 50%);
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .signup-radio{
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-bottom: 0;
            min-height: auto;
            p{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 18px;
                width: 100%;
            }
            .form-row-left{
                margin-right: 25px;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                .radio{
                    width: 26px;
                    height: 26px;
                    min-width: 26px;
                    border: 1px solid $grayborder;
                    border-radius: 50%;
                    margin-right: 15px;
                    cursor: pointer;
                }
                label{
                    font-size: 16px;
                    font-family: $proximarg;
                    margin-bottom: 0px;
                    cursor: pointer;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .day-box{
            .form-group{
                min-height: auto;
            }
        }
        .date-row{
            margin-bottom: 0px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
            }
        }
        .form-row-btn{
            margin-top: 30px;
        }
    }
    .register-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .register-close:hover {
        color: #777;
    }
    @include breakpoint(slg) {
        .register-wrapper{
            width: 100%;
        }
    }
    @include breakpoint(sm) {
        .register-wrapper{
            width: 100%;
        }
        .signup-main{
            width: 100%;
            transform: translate(0%, 0%);
        }
    }
    @include breakpoint(xs) {
        .register-wrapper{
            width: 100%;
        }
        .register-header{
            padding: 18px 20px;
            border: 0;
            .vguardsmheading{
                font-size: 16px;
            }
            .user-icon{
                width: 50px;
                margin: 0 auto;
                margin-bottom: 10px;
            }
        }
        .register-close{
            top: 10px;
            right: 10px;
            width: 45px;
            padding: 0;
        }
        .register-content{
            padding: 30px 20px;
        }
        .signup-main{
            width: 100%;
            transform: translate(0%, 0%);
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
            .pizza-btn{
                width: 100%;
            }
        }
    }
    @include breakpoint(xxxs) {
    }
}
/*-- register-popup-end --*/


/*-- editprofile-popup-start --*/
.editprofile-popup{
    position: fixed;
    z-index: 10000;
    top: 130%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 1s cubic-bezier(0,.55,.41,1);
    
    .editprofile-wrapper {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 0px;
    }
    .editprofile-transition {
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .editprofile-header{
        padding: 30px 40px;
        position: relative;
        background-color: $lightgraybg;
        border-bottom: 1px solid $orange;
        text-align: center;
        
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 26px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: bold;
            margin-bottom: 0px;
            line-height: 34px;
        }
        p{
            font-size: 14px;
            font-family: $proximarg;
            color: $orange;
            margin: 0 0 8px;
        }
    }
    .editprofile-content{
      padding: 50px 40px 30px 40px;
        background: $white;
    }
    .signup-main{
        width: 70%;
        margin: 0 auto;
        position: relative;
        // transform: translate(0%, 50%);
        .form-group{
            margin-bottom: 25px;
            // min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .signup-radio{
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            p{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 25px;
                width: 100%;
            }
            .form-row-left{
                margin-right: 25px;
                display: flex;
                align-items: center;
                margin-bottom: 0px;
                .radio{
                    width: 26px;
                    height: 26px;
                    min-width: 26px;
                    border: 1px solid $grayborder;
                    border-radius: 50%;
                    margin-right: 15px;
                    cursor: pointer;
                }
                label{
                    font-size: 16px;
                    font-family: $proximarg;
                    margin-bottom: 0px;
                    cursor: pointer;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                .radio-btn-list {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 0px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    input {
                      position: absolute;
                      opacity: 0;
                      cursor: pointer;
                      height: 0;
                      width: 0;
                    }
                    p{
                        font-size: 16px;
                        font-family: $proximarg;
                        margin-bottom: 0px;
                        cursor: pointer;
                        color: $black;
                        line-height: 28px;
                    }
                  }
                  .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 26px;
                    width: 26px;
                    background-color: #fff;
                    border-radius: 30px;
                    border: 1px solid #ccc;
                    &:after {
                      content: "";
                      position: absolute;
                      display: none;
                    }
                  }
                  input:checked ~ .checkmark {
                    background-color: $white;
                    border:1px solid $orangeborder;
                  }
                  .checkmark:after {
                    left: 8px;
                    top: 4px;
                    width: 7px;
                    height: 12px;
                    border: solid $orangeborder;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                  }
                  input:checked ~ .checkmark:after {
                    display: block;
                  }
            }
        }
        .day-box{
            .form-group{
                min-height: auto;
            }
        }
        .date-row{
            margin-bottom: 0px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
            }
        }
        .language-box{
            display: none;
        }
    }
    .editprofile-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .editprofile-close:hover {
        color: #777;
    }
    .form-row{
        display: flex;
        justify-content: space-between;
        .form-change{
            width: 50%;
        }
        .change-btn{
            background: transparent;
            font-size: 16px;
            color: $orange;
            font-weight: 800;
            font-family: $proximarg;
            border: none;
            cursor: pointer;
        }
    }
    @include breakpoint(slg) {
        .editprofile-wrapper{
            width: 100%;
        }
        .signup-main{
            width: 100%;
        }
    }
    @include breakpoint(sm) {
        .editprofile-wrapper{
            width: 100%;
        }
        .signup-main{
            width: 100%;
            transform: translate(0%, 0%);
        }
    }
    @include breakpoint(xs) {
        .editprofile-wrapper{
            width: 100%;
        }
        .editprofile-header{
            padding: 18px 20px;
            padding-top: 55px;
            border: 0;
            .vguardsmheading{
                font-size: 16px;
            }
            .user-icon{
                width: 50px;
                margin: 0 auto;
                margin-bottom: 10px;
            }
        }
        .editprofile-close{
            right: 10px;
            width: 45px;
            padding: 0;
            top: 55px;
        }
        .editprofile-content{
            padding: 30px 20px 60px 20px;
            // padding-bottom: 30px;
        }
        .signup-main{
            width: 100%;
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
        }

    }
    @include breakpoint(xxxs) {
    }
}
.upload-pic{
    position: relative;
    .profile-pic {
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .file-upload {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 0;
    }
    .circle {
        border-radius: 50%;
        overflow: hidden;
        width: 125px;
        height: 125px;
        border: 2px dashed $orange;
        position: relative;
        margin: 0 auto;
        transition: all .3s;
        padding-bottom: 5px;

    }

    .circle:hover {
      background-color:$graybg;
      cursor: pointer
    }
    img {
        max-width: 100%;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    @include breakpoint(md) {
        .circle{
            width: 140px;
            height: 140px;
        }
        .profile-pic{
            max-width: 140px;
            max-height: 140px;
        }
        .file-upload {
            width: 140px;
            height: 140px;
            right: 0;
            margin: 0 auto;
        }
    }
    @include breakpoint(sm) {
        margin-bottom: 40px;
    }
    @include breakpoint(xs) {
        margin-bottom: 30px;
    }
}
/*-- editprofile-popup-end --*/

/*-- changepassword-popup-start --*/
.changepassword-popup{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    .changepassword-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
        visibility: visible;
        opacity: 1;
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .changepassword-wrapper {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 40%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 20px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .changepassword-header{
        padding: 30px 40px;
        position: relative;
        background-color: $graybg;
        box-shadow: 0 1px 2px rgba(0, 0%, 0%, 0.06);
        border-bottom: 1px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 26px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: bold;
            margin-bottom: 0px;
        }
    }
    .changepassword-content{
        padding: 30px 40px;
        background: $white;
    }

    .changepassword-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .changepassword-close:hover {
        color: #777;
    }
    .signup-main{
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                min-height: auto;
                span{
                    display: block;
                }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
            .form-row-right{
                width: 100%;
                margin-top: 15px;
                display: flex;
                .radio{
                    width: 15px;
                    height: 18px;
                    border: 1px solid $grayborder;
                    border-radius: 50%;
                    margin-right: 5px;
                }
                label{
                    font-size: 14px;
                    font-family: $proximarg;
                    color: $orange;
                    margin-bottom: 0px;
                }
            }
        }
    }
    @include breakpoint(slg) {
        .changepassword-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .changepassword-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs) {
        .changepassword-wrapper{
            width: 95%;
        }
        .changepassword-header{
            padding: 18px 20px;
            .vguardsmheading{
                font-size: 16px;
            }
        }
        .changepassword-close{
            right: 10px;
            width: 45px;
            padding: 0;
            top: 10px;
        }
        .changepassword-content{
            padding: 30px 20px;
        }
        .signup-main{
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
            .pizza-btn{
                width: 100%;
            }
        }
    }
    @include breakpoint(xxxs) {
    }
}
/*-- editprofile-popup-end --*/

.errorMessage{
    font-weight: 700;
    padding-left: 10px;
}

.loginerrormsg{
    color: red;
    font-size: 14px;
    font-family: "Proxima Nova Rg";

}


.individual-form .pizza-btn{
    width: 100%;
}

button:disabled,
button[disabled]{
    cursor: not-allowed;
  border: 0px solid #999999;
  background-color: #cccccc;
  color: #666666;
//   margin-top: 20px;
}
.loader-12 {
	position: relative;
    display: inline-block;
	width: 1em;
	height: 1em;
	color: inherit;
	vertical-align: middle;
	pointer-events: none;
	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		background-color: currentcolor;
		left: 50%;
		right: 0;
		top: 0;
		bottom: 50%;
		box-shadow: -.5em 0 0 currentcolor;
		animation: loader-12 1s linear infinite;
	}
	&:after {
		top: 50%;
		bottom: 0;
		animation-delay: .25s;
	}
}
.box {
	display: inline-block;
	width: 200px;
	height: 200px;
	border: 1px solid currentcolor;
	border-radius: 3px;
	font-size: 30px;
	padding: 1em;
	position: relative;
	margin-bottom: .25em;
	vertical-align: top;
	transition: .3s color, .3s border, .3s transform, .3s opacity;
	}

@keyframes loader-12 {
	0%,
	100% {
		box-shadow: -.5em 0 0 transparent;
		background-color: currentcolor;
	}
	50% {
		box-shadow: -.5em 0 0 currentcolor;
		background-color: transparent;
	}
}

.find-popup2{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;


    .find-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .find-wrapper{
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 35%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 5px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .btn-delete-no{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #fff;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #ee5a00;
        font-size: 1em;
    }
    .btn-delete-yes{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #ee5a00;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #fff;
        font-size: 1em;
    }
    .find-header{
        padding: 30px 40px;
        position: relative;
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 46px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 0px;
        }
        .pizzaparaDelete{
            font-weight: 400;
            text-align: center;
            line-height: 1.175;
            letter-spacing: .15px;
            color: #4c3017;
            font-size: 1.2em;
            margin-top: 20px;
        }
    }
    .find-content{
        padding: 0;
    }
    .find-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .find-close:hover {
        color: #777;
    }
    .find-form{
        padding: 40px 25px 25px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 30px;
        }
        .form-group{
            margin-bottom: 15px;
            position: relative;
            .label-top{
                font-size: 16px;
                font-family: $proximarg;
                margin-bottom: 15px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 75px 5px 0;
                height: 35px;
            }
            .find-btn{
                position: absolute;
                top: 50%;
                right: 0;
                border: none;
                color: $orange;
                font-size: 13px;
                font-family: $proximarg;
                font-weight: 400;
                border-radius: 0px;
                padding: 0;
                background: transparent;
                transition: ease-in-out .5s;
                -webkit-transition: ease-in-out .5s;
                -moz-transition: ease-in-out .5s;
                -ms-transition: ease-in-out .5s;
                i{
                    width: 17px;
                    height: 17px;
                    font-size: 10px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 16px;
                    margin-right: 5px;
                    color: $orange;
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                }
                &:hover{
                    background: transparent;
                    color: $orange;
                    i{
                        color: $orange;
                    }
                }
            }
        }
        .find-right{
            text-align: right;
        }
    }
    .find-bg{
        img{
            width: 100%;
        }
    }
    .manually-main{
        padding: 40px 20px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 50px;
        }
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                // span{
                //     display: block;
                // }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                text-transform: uppercase;
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .manually-btn{
            text-align: right;
        }
    }
    .location-modal{
        margin: 0 5px;
        padding: 0 10px;
        width: calc(100% - 15px);
        overflow-y: scroll;
        height: 180px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $grayborder;
        }
        &::-webkit-scrollbar-thumb {
            background: $graytext;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $graytext;
        }
        .location-pick-list{
            position: relative;
            border-radius: 5px;
            border: 2px solid $grayborder;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            font-family: $proximarg;
            cursor: pointer;
            padding: 10px 15px;
            justify-content: space-between;
            .pizzaxxsheading{
                font-size: 14px;
                color: $deepgray;
                font-family: $proximarg;
                font-weight: 700;
                letter-spacing: .3px;
                margin-bottom: 3px;
            }
            .location-address{
                width: 70%;
                padding-left: 35px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0px;
                    width: 30px;
                    height: 25px;
                    background: url(../../../assets/images/sprite-image.png);
                    background-position: 0 -2452px;
                    background-size: 40px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: $deepgray;
                    line-height: 16px;
                    span{
                        display: block;
                    }
                }
            }
            .location-hours-right{
                width: 10%;
                text-align: right;
                p{
                    font-size: 13px;
                    color: $orange;
                    font-weight: 800;
                    letter-spacing: .3px;
                }
                i{
                    font-size: 11px;
                    color: $green;
                    display: none;
                }
            }
            &.select-active{
                border-color: $green;
                .pizzaxxsheading{
                    color: $green;
                }
                .location-address{
                    &::before{
                        background-position: 0 -2488px;
                    }
                    p{
                        color: $green;
                    }
                }
                .location-hours{
                    &::before{
                        background-position: 0px -2997px;
                    }
                    p, .location-pickup{
                        color: $green;
                    }
                }
                .location-hours-right{
                    p{
                        display: none;
                    }
                    i{
                        display: block;
                    }
                }
            }
        }
    }
    .delite-popup-wraper{
      background: $darkgraybg;
      border-radius: 0px;
      .find-header{
        padding: 30px 40px 20px 30px;
        .user-icon{
          margin-bottom: 0px;
          i{
            font-size: 36px;
          }
        }
        .pizzalgheading{
          margin-left: 5px;
          font-weight: bold;
          margin-top: 5px;
        }
      }
      .find-body{
        text-align: center;
        padding: 0px 30px 30px 30px;
        .pizzaparaDelete{
          margin-bottom: 20px;
          font-size: 16px;
          color: $brown;
        }
        .find-content{
          display: flex;
            width: 100%;
            justify-content: space-between;
          .btn-delete-no{
            width: 49%;
            background: $white;
            display: block;
          }
          .btn-delete-yes{
            width: 49%;
            display: block;
          }
        }
      }
    }


    @include breakpoint(slg) {
        .find-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .find-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .find-form{
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .form-group{
                .label-top{
                    font-size: 14px;
                }
            }
            .find-right{
                .pizza-btn{
                    width: 100%;
                }
            }
        }
        .manually-main{
            padding: 20px 10px;
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
                line-height: 32px;
            }
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
        }
        .location-modal{
            height: 280px;
            .location-pick-list{
                .location-address{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .location-hours{
                    width: 100%;
                    padding-left: 35px;
                    margin-bottom: 10px;
                    &::before{
                        left: 0px;
                    }
                }
                .location-hours-right{
                    position: absolute;
                    top: 10px;
                    right: 22px;
                }
                .location-directions{
                    padding-left: 35px;
                }
            }
        }
        .find-wrapper{
            width: 95%;
        }
    }
}
.success-popup{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;


    .find-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .find-wrapper{
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 35%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 5px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .btn-delete-no{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #fff;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #ee5a00;
        font-size: 1em;
    }
    .btn-delete-yes{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #ee5a00;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #fff;
        font-size: 1em;
    }
    .find-header{
        padding: 30px 40px;
        position: relative;
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 46px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 0px;
        }
        .pizzaparaDelete{
            font-weight: 400;
            text-align: center;
            line-height: 1.175;
            letter-spacing: .15px;
            color: #4c3017;
            font-size: 1.2em;
            margin-top: 20px;
        }
    }
    .find-content{
        padding: 0;
    }
    .find-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .find-close:hover {
        color: #777;
    }
    .find-form{
        padding: 40px 25px 25px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 30px;
        }
        .form-group{
            margin-bottom: 15px;
            position: relative;
            .label-top{
                font-size: 16px;
                font-family: $proximarg;
                margin-bottom: 15px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 75px 5px 0;
                height: 35px;
            }
            .find-btn{
                position: absolute;
                top: 50%;
                right: 0;
                border: none;
                color: $orange;
                font-size: 13px;
                font-family: $proximarg;
                font-weight: 400;
                border-radius: 0px;
                padding: 0;
                background: transparent;
                transition: ease-in-out .5s;
                -webkit-transition: ease-in-out .5s;
                -moz-transition: ease-in-out .5s;
                -ms-transition: ease-in-out .5s;
                i{
                    width: 17px;
                    height: 17px;
                    font-size: 10px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 16px;
                    margin-right: 5px;
                    color: $orange;
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                }
                &:hover{
                    background: transparent;
                    color: $orange;
                    i{
                        color: $orange;
                    }
                }
            }
        }
        .find-right{
            text-align: right;
        }
    }
    .find-bg{
        img{
            width: 100%;
        }
    }
    .manually-main{
        padding: 40px 20px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 50px;
        }
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                // span{
                //     display: block;
                // }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                text-transform: uppercase;
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .manually-btn{
            text-align: right;
        }
    }
    .location-modal{
        margin: 0 5px;
        padding: 0 10px;
        width: calc(100% - 15px);
        overflow-y: scroll;
        height: 180px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $grayborder;
        }
        &::-webkit-scrollbar-thumb {
            background: $graytext;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $graytext;
        }
        .location-pick-list{
            position: relative;
            border-radius: 5px;
            border: 2px solid $grayborder;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            font-family: $proximarg;
            cursor: pointer;
            padding: 10px 15px;
            justify-content: space-between;
            .pizzaxxsheading{
                font-size: 14px;
                color: $deepgray;
                font-family: $proximarg;
                font-weight: 700;
                letter-spacing: .3px;
                margin-bottom: 3px;
            }
            .location-address{
                width: 70%;
                padding-left: 35px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0px;
                    width: 30px;
                    height: 25px;
                    background: url(../../../assets/images/sprite-image.png);
                    background-position: 0 -2452px;
                    background-size: 40px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: $deepgray;
                    line-height: 16px;
                    span{
                        display: block;
                    }
                }
            }
            .location-hours-right{
                width: 10%;
                text-align: right;
                p{
                    font-size: 13px;
                    color: $orange;
                    font-weight: 800;
                    letter-spacing: .3px;
                }
                i{
                    font-size: 11px;
                    color: $green;
                    display: none;
                }
            }
            &.select-active{
                border-color: $green;
                .pizzaxxsheading{
                    color: $green;
                }
                .location-address{
                    &::before{
                        background-position: 0 -2488px;
                    }
                    p{
                        color: $green;
                    }
                }
                .location-hours{
                    &::before{
                        background-position: 0px -2997px;
                    }
                    p, .location-pickup{
                        color: $green;
                    }
                }
                .location-hours-right{
                    p{
                        display: none;
                    }
                    i{
                        display: block;
                    }
                }
            }
        }
    }
    .delite-popup-wraper{
      background: $darkgraybg;
      border-radius: 0px;
      .find-header{
        padding: 30px 40px 20px 30px;
        .user-icon{
          margin-bottom: 0px;
          i{
            font-size: 36px;
          }
        }
        .pizzalgheading{
          margin-left: 5px;
          font-weight: bold;
          margin-top: 5px;
        }
      }
      .find-body{
        text-align: center;
        padding: 0px 30px 30px 30px;
        .pizzaparaDelete{
          margin-bottom: 20px;
          font-size: 16px;
          color: $brown;
        }
        .find-content{
          display: flex;
            width: 100%;
            justify-content: space-between;
          .btn-delete-no{
            width: 49%;
            background: $white;
            display: block;
          }
          .btn-delete-yes{
            width: 49%;
            display: block;
          }
        }
      }
    }


    @include breakpoint(slg) {
        .find-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .find-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .find-form{
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .form-group{
                .label-top{
                    font-size: 14px;
                }
            }
            .find-right{
                .pizza-btn{
                    width: 100%;
                }
            }
        }
        .manually-main{
            padding: 20px 10px;
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
                line-height: 32px;
            }
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
        }
        .location-modal{
            height: 280px;
            .location-pick-list{
                .location-address{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .location-hours{
                    width: 100%;
                    padding-left: 35px;
                    margin-bottom: 10px;
                    &::before{
                        left: 0px;
                    }
                }
                .location-hours-right{
                    position: absolute;
                    top: 10px;
                    right: 22px;
                }
                .location-directions{
                    padding-left: 35px;
                }
            }
        }
        .find-wrapper{
            width: 95%;
        }
    }
}
.success-popup{
  .delite-popup-wraper{
    border-radius: 10px;
    .find-body{
      padding-bottom: 0px;
  .find-content{
    border-top:1px solid $orangeborder;
    text-align: center;
    width: initial;
    background: $white;
    padding: 30px 0px;
    margin-left: -30px;
    margin-right: -30px;
    .btn-delete-no{
      color: $white;
      background: $green;
        margin: 0px auto;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        i{
          color: $white;
          margin-right: 2px;
        }
    }
  }
}
}
}

.deletecard-popup{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;


    .find-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .find-wrapper{
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 35%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 5px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .btn-delete-no{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #fff;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #ee5a00;
        font-size: 1em;
    }
    .btn-delete-yes{
        font-weight: 800;
        border: 0;
        border-radius: 0.28em;
        background-color: #ee5a00;
        min-width: 6.563em;
        height: 3em;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .3px;
        color: #fff;
        font-size: 1em;
    }
    .find-header{
        padding: 30px 40px;
        position: relative;
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 46px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 0px;
        }
        .pizzaparaDelete{
            font-weight: 400;
            text-align: center;
            line-height: 1.175;
            letter-spacing: .15px;
            color: #4c3017;
            font-size: 1.2em;
            margin-top: 20px;
        }
    }
    .find-content{
        padding: 0;
    }
    .find-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .find-close:hover {
        color: #777;
    }
    .find-form{
        padding: 40px 25px 25px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 30px;
        }
        .form-group{
            margin-bottom: 15px;
            position: relative;
            .label-top{
                font-size: 16px;
                font-family: $proximarg;
                margin-bottom: 15px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 75px 5px 0;
                height: 35px;
            }
            .find-btn{
                position: absolute;
                top: 50%;
                right: 0;
                border: none;
                color: $orange;
                font-size: 13px;
                font-family: $proximarg;
                font-weight: 400;
                border-radius: 0px;
                padding: 0;
                background: transparent;
                transition: ease-in-out .5s;
                -webkit-transition: ease-in-out .5s;
                -moz-transition: ease-in-out .5s;
                -ms-transition: ease-in-out .5s;
                i{
                    width: 17px;
                    height: 17px;
                    font-size: 10px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 16px;
                    margin-right: 5px;
                    color: $orange;
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                }
                &:hover{
                    background: transparent;
                    color: $orange;
                    i{
                        color: $orange;
                    }
                }
            }
        }
        .find-right{
            text-align: right;
        }
    }
    .find-bg{
        img{
            width: 100%;
        }
    }
    .manually-main{
        padding: 40px 20px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 50px;
        }
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                // span{
                //     display: block;
                // }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                text-transform: uppercase;
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .manually-btn{
            text-align: right;
        }
    }
    .location-modal{
        margin: 0 5px;
        padding: 0 10px;
        width: calc(100% - 15px);
        overflow-y: scroll;
        height: 180px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $grayborder;
        }
        &::-webkit-scrollbar-thumb {
            background: $graytext;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $graytext;
        }
        .location-pick-list{
            position: relative;
            border-radius: 5px;
            border: 2px solid $grayborder;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            font-family: $proximarg;
            cursor: pointer;
            padding: 10px 15px;
            justify-content: space-between;
            .pizzaxxsheading{
                font-size: 14px;
                color: $deepgray;
                font-family: $proximarg;
                font-weight: 700;
                letter-spacing: .3px;
                margin-bottom: 3px;
            }
            .location-address{
                width: 70%;
                padding-left: 35px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0px;
                    width: 30px;
                    height: 25px;
                    background: url(../../../assets/images/sprite-image.png);
                    background-position: 0 -2452px;
                    background-size: 40px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: $deepgray;
                    line-height: 16px;
                    span{
                        display: block;
                    }
                }
            }
            .location-hours-right{
                width: 10%;
                text-align: right;
                p{
                    font-size: 13px;
                    color: $orange;
                    font-weight: 800;
                    letter-spacing: .3px;
                }
                i{
                    font-size: 11px;
                    color: $green;
                    display: none;
                }
            }
            &.select-active{
                border-color: $green;
                .pizzaxxsheading{
                    color: $green;
                }
                .location-address{
                    &::before{
                        background-position: 0 -2488px;
                    }
                    p{
                        color: $green;
                    }
                }
                .location-hours{
                    &::before{
                        background-position: 0px -2997px;
                    }
                    p, .location-pickup{
                        color: $green;
                    }
                }
                .location-hours-right{
                    p{
                        display: none;
                    }
                    i{
                        display: block;
                    }
                }
            }
        }
    }
    .delite-popup-wraper{
      background: $darkgraybg;
      border-radius: 0px;
      .find-header{
        padding: 30px 40px 20px 30px;
        .user-icon{
          margin-bottom: 0px;
          i{
            font-size: 36px;
          }
        }
        .pizzalgheading{
          margin-left: 5px;
          font-weight: bold;
          margin-top: 5px;
        }
      }
      .find-body{
        text-align: center;
        padding: 0px 30px 30px 30px;
        .pizzaparaDelete{
          margin-bottom: 20px;
          font-size: 16px;
          color: $brown;
        }
        .find-content{
          display: flex;
            width: 100%;
            justify-content: space-between;
          .btn-delete-no{
            width: 49%;
            background: $white;
            display: block;
          }
          .btn-delete-yes{
            width: 49%;
            display: block;
          }
        }
      }
    }


    @include breakpoint(slg) {
        .find-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .find-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .find-form{
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .form-group{
                .label-top{
                    font-size: 14px;
                }
            }
            .find-right{
                .pizza-btn{
                    width: 100%;
                }
            }
        }
        .manually-main{
            padding: 20px 10px;
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
                line-height: 32px;
            }
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
        }
        .location-modal{
            height: 280px;
            .location-pick-list{
                .location-address{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .location-hours{
                    width: 100%;
                    padding-left: 35px;
                    margin-bottom: 10px;
                    &::before{
                        left: 0px;
                    }
                }
                .location-hours-right{
                    position: absolute;
                    top: 10px;
                    right: 22px;
                }
                .location-directions{
                    padding-left: 35px;
                }
            }
        }
        .find-wrapper{
            width: 95%;
        }
    }
}
.edit-p-inner{
  .circle{
  position: relative;
  overflow: hidden;
  .clear-profile{
    background: #EF5A0D;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 4px 0px;
    cursor: pointer;
    z-index: 99;
    text-align: center;
  }
}
.chooseFile{
  text-align: center;
  color: $orange;
  margin-top: 10px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  i{
    margin-right: 5px;
    color: $orange;
  }
}
}

.editprofile-close img{
    width: 26px;
}
