@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.pac-container {
    z-index: 100000000 !important;
}
  .loader-21 {
    position: relative;
  }
  .loader-21:before, .loader-21:after {
    position: absolute;
    content: "";
  }
  .loader-21:before {
    width: 80%;
    height: 80%;
    left: 10%;
    bottom: 10%;
    border-radius: 100% 100% 100% 0;
    box-shadow: 0px 0px 0px 0.1em #EF5A0D;
    -webkit-animation: loader-21 1s linear infinite;
            animation: loader-21 1s linear infinite;
    transform: rotate(-46deg);
  }
  .loader-21:after {
    width: 1em;
    height: 0.3em;
    border-radius: 100%;
    left: 0;
    background-color: rgb(239 90 13 / 22%);
    bottom: -0.2em;
    z-index: -1;
  }
  
  @-webkit-keyframes loader-21 {
    0% {
      top: 0;
    }
    50% {
      top: -5px;
    }
    100% {
      top: 0;
    }
  }
  
  @keyframes loader-21 {
    0% {
      top: 0;
    }
    50% {
      top: -5px;
    }
    100% {
      top: 0;
    }
  }
  
  [class*=loader-] {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
    font-size: 30px;
    line-height: 200px;
  }
  

.find-popup{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    .find-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .find-wrapper{
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 45%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 20px;
        overflow: hidden;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    .find-header{
        padding: 30px 40px;
        position: relative;
        background-color: $graybg;
        box-shadow: 0 1px 2px rgba(0, 0%, 0%, 0.06);
        border-bottom: 0px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 46px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: 400;
            margin-bottom: 0px;
        }
    }
    .find-content{
        padding: 0;
    }
    .find-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .find-close:hover {
        color: #777;
    }
    .find-form{
        padding: 40px 25px 25px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 30px;
        }
        .form-group{
            margin-bottom: 15px;
            position: relative;
            .label-top{
                font-size: 16px;
                font-family: $proximarg;
                margin-bottom: 15px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 75px 5px 0;
                height: 35px;
            }
            .find-btn{
                position: absolute;
                top: 50%;
                right: 0;
                border: none;
                color: $orange;
                font-size: 13px;
                font-family: $proximarg;
                font-weight: 400;
                border-radius: 0px;
                padding: 0;
                background: transparent;
                transition: ease-in-out .5s;
                -webkit-transition: ease-in-out .5s;
                -moz-transition: ease-in-out .5s;
                -ms-transition: ease-in-out .5s;
                display: flex;
                align-items: center;
                i{
                    width: 17px;
                    height: 17px;
                    font-size: 10px;
                    text-align: center;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    line-height: 14px;
                    margin-right: 5px;
                    color: $orange;
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                }
                &:hover{
                    background: transparent;
                    color: $orange;
                    i{
                        color: $orange;
                    }
                }
            }
        }
        .find-right{
            text-align: right;
        }
    }
    .find-bg{
        img{
            width: 100%;
        }
    }
    .manually-main{
        padding: 40px 20px;
        .pizzalgheading{
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            font-family: $proximarg;
            margin-bottom: 50px;
        }
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                // span{
                //     display: block;
                // }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
                text-transform: uppercase;
                &.select-form{
                    background: url(../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .manually-btn{
            text-align: right;
        }
    }
    .location-modal{
        margin: 0 5px;
        padding: 0 10px;
        width: calc(100% - 15px);
        overflow-y: scroll;
        height: 180px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $grayborder;
        }
        &::-webkit-scrollbar-thumb {
            background: $graytext;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $graytext;
        }
        .location-pick-list{
            position: relative;
            border-radius: 5px;
            border: 2px solid $grayborder;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            font-family: $proximarg;
            cursor: pointer;
            padding: 10px 15px;
            justify-content: space-between;
            .pizzaxxsheading{
                font-size: 14px;
                color: $deepgray;
                font-family: $proximarg;
                font-weight: 700;
                letter-spacing: .3px;
                margin-bottom: 3px;
            }
            .location-address{
                width: 70%;
                padding-left: 35px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0px;
                    width: 30px;
                    height: 25px;
                    background: url(../../assets/images/sprite-image.png);
                    background-position: 0 -2452px;
                    background-size: 40px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: $deepgray;
                    line-height: 16px;
                    span{
                        display: block;
                    }
                }
            }
            .location-hours-right{
                width: 10%;
                text-align: right;
                p{
                    font-size: 13px;
                    color: $orange;
                    font-weight: 800;
                    letter-spacing: .3px;
                }
                i{
                    font-size: 11px;
                    color: $green;
                    display: none;
                }
            }
            &.select-active{
                border-color: $green;
                .pizzaxxsheading{
                    color: $green;
                }
                .location-address{
                    &::before{
                        background-position: 0 -2488px;
                    }
                    p{
                        color: $green;
                    }
                }
                .location-hours{
                    &::before{
                        background-position: 0px -2997px;
                    }
                    p, .location-pickup{
                        color: $green;
                    }
                }
                .location-hours-right{
                    p{
                        display: none;
                    }
                    i{
                        display: block;
                    }
                }
            }
        }
    }
    @include breakpoint(slg) {
        .find-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .find-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .find-form{
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .form-group{
                .label-top{
                    font-size: 14px;
                }
            }
            .find-right{
                .pizza-btn{
                    width: 100%;
                }
            }
        }
        .manually-main{
            padding: 20px 10px;
            .pizzalgheading{
                font-size: 24px;
                margin-bottom: 20px;
                line-height: 32px;
            }
            .form-group{
                min-height: auto;
                margin-bottom: 15px;
            }
        }
        .location-modal{
            height: 280px;
            .location-pick-list{
                .location-address{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .location-hours{
                    width: 100%;
                    padding-left: 35px;
                    margin-bottom: 10px;
                    &::before{
                        left: 0px;
                    }
                }
                .location-hours-right{
                    position: absolute;
                    top: 10px;
                    right: 22px;
                }
                .location-directions{
                    padding-left: 35px;
                }
            }
        }
        .find-wrapper{
            width: 95%;
        }
    }
}