
<app-side-header></app-side-header>

<div class="inner-main" >


  <section>
    <div class="banner-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="assets/images/investors/leadership-team/Investors_ManagementTeam-mob.jpg">
        <source media="(min-width: 768px)" srcset="assets/images/investors/leadership-team/Investors_ManagementTeam.jpg">
        <img src="assets/images/Investors/Investors_ManagementTeam.jpg.jpg" alt="banner-nutritionbanner">
      </picture>
      <div class="banner-content-q">
          <h1 class="pizzaxlheading">Accounts Payable Data Entry Clerk</h1>
        </div>
    </div>
  </section>

  <section class="padding-section main-content">
    <p>“Always our best food, made especially for you.” Pizza Pizza’s mission is to make each and every occasion with us an enjoyable and memorable experience for both our customers and our team members.</p>
    <p>Pizza Pizza is Canada’s favorite pizza chain for a lot of reasons, but the most important one is our people. Before that box ever arrives at your door, a diverse team of talented people make it happen, from the head office to the kitchen counter and we are currently looking for an Accounts Payable Data Entry Clerk to join this team.</p>

    <div class="list-inne-p">
      <p>The Accounts Payable Data Entry Clerk’s key areas of responsibility include:</p>
      <ul>
        <li>Ensuring appropriate turnaround time on all data entry</li>
        <li>Reviewing and entering data information into the appropriate databases</li>
        <li>Proactively verifying data through source documents</li>
        <li>Monitoring and updating existing data when required</li>
        <li>Retrieving data for team members upon request</li>
      </ul>
    </div>

    <div class="list-inne-p">
      <p>DATA ENTRY CLERK SKILLS AND QUALIFICATIONS</p>
      <ul>
        <li>Ability to work independently and as part of a team</li>
        <li>Ability to take direction verbally</li>
        <li>Excellent attention to detail</li>
        <li>Communication and organizational skills</li>
        <li>Knowledge of basic computer programs</li>
        <li>Excellent customer service skills</li>
      </ul>
    </div>

    <p><strong>Reports to:</strong> Accounts Payable Supervisor</p>
    <p>Location: Toronto (Etobicoke)</p>
    <p>Please forward resume to <a href="#">tsousa@pizzapizza.ca</a> putting APDEC in the subject line.</p>

  </section>


</div>









