@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";
p{
  color: $innercontent;
}
.btn-gift{
  display: inline-block;
  padding: 12px 40px;
  background: $orange;
  border: 1px solid $orange;
  color: $white;
  font-weight: bold;
  transition: all 0.3s;
  &:hover{
    background: $white;
    color: $orange;
  }
}
.heading-box {
  text-align: center;
  .pizzaxlheading{
    color: $innerfont;
    margin-bottom: 15px;
  }
  .pizzaxxsheading{
    font-family: $proximablack;
    color: $orangefont;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:after{
      content: "";
    position: absolute;
    width: 52px;
    height: 1px;
    background: $orange;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    }
  }
  .pizzasmheading{
    line-height: 30px;
  }
}

.banner-wrapper{
  position: relative;
  display: block;
  width: 100%;
  img{
    display: block;
    width: 100%;
  }
  .arrow-link{
    text-align: center;
    img{
      width: 60px;
      display: inline-block;
    }
  }
  .banner-content-q{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    color: $white;
    z-index: 1;
    .pizzaxlheading{
      position: relative;
      margin-bottom: 0px;
      &:after{
        content: "";
        position: absolute;
        width: 52px;
        height: 1px;
        background: $orange;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%, 0px);
      }
    }
    .pizzalgheading{
      position: relative;
      margin: 0px 0px 27px 0px;
      font-size: 14px;
      padding: 0px 20px 0px 20px;
      color: $orangefont;
      font-family: $proximablack;
      &:after{
        content: "";
        position: absolute;
        width: 52px;
        height: 1px;
        background: $orange;
        bottom: -14px;
        left: 50%;
        transform: translate(-50%, 0px);
      }
    }
    .pizzamdheading{
      color: $white;
      margin-bottom: 0px;
      line-height: 30px;
      padding: 0px 20px;
      font-weight: 600;
    }
    @include breakpoint(xs){
      .pizzalgheading{
        line-height: 30px;
      }
    }
  }

  &:after{
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: $black;
    opacity: 0.4;
  }
}


.line-heading{
  color: $orangefont;
  margin-bottom: 30px;
  font-family: $proximablack;
  text-transform: uppercase;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    width: 48px;
    height: 1px;
    background: $orange;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0px);
  }
}

.heading-box-inner{
  .pizzaxxsheading{
    font-family: $proximablack;
    color: $innerfont;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
    &:after{
      content: "";
    position: absolute;
    width: 52px;
    height: 1px;
    background: $orange;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    }
  }
}

.padding-section{
  padding: 70px 70px;
  @include breakpoint(xs){
     padding: 30px 15px;
    }
}
.padding-top{
 padding-top: 40px;
}



.about-accordion{
  ul{
      li{
          border-bottom: 2px solid $innerfont;
          -ms-transition: border-color 0.15s ease;
          transition: border-color 0.15s ease;
          -webkit-transition: border-color 0.15s ease;
          margin-bottom: 0!important;
          cursor: pointer;
          .about-accordion-title{
              padding: 30px 70px 30px 0px;
              position: relative;
              -ms-transition: color 0.15s ease;
              transition: color 0.15s ease;
              -webkit-transition: color 0.15s ease;
          }
          .pizzaxxsheading{
              font-size: 16px;
              font-family: $proximarg;
              color: $innerfont;
              line-height: 32px;
          }
          .plus-icon{
              width: 30px;
              height: 30px;
              position: absolute;
              right: 0;
              top: 50%;
              border-radius: 50%;
              border: 2px solid $graytext;
              transform: translate(0px, -50%);
              &::after, &::before{
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: auto;
                  width: 2px;
                  height: 15px;
                  background: $graytext;
              }
              &::before{
                  width: 15px;
                  height: 2px;
              }
          }
          .about-accordion-content{
              padding-bottom: 30px;
              p{
                  font-size: 16px;
                  font-family: $proximarg;
                  color: $innerfont;
                  line-height: 32px;
              }
              @include breakpoint(xs){
                p{
                  margin-bottom: 30px;
                }
              }

          }
          &.active{
              .pizzaxxsheading{
                  color: $orange;
              }
              .plus-icon{
                  border-color: $orange;
                  &::after{
                      display: none;
                  }
                  &::before{
                      background: $orange;
                  }
              }
          }
          &:hover{
              .pizzaxxsheading{
                  color: $orange;
              }
              .plus-icon{
                  border-color: $orange;
                  &::before, &::after{
                      background: $orange;
                  }
              }
          }
      }
  }
  @include breakpoint(xs){
    width: 100%;
  }
}


.inner-main{
  padding-left: 250px;
  .container{
    padding: 0 60px;
  }
  @include breakpoint(sm){
    padding: 0px;
    display: block;
  }

  .tab-wraper-list{
    text-align: center;
    border-bottom: 1px solid #dedede;
   li{
     display: inline-block;
     a{
       padding: 10px 15px 20px 15px;
       color: $innercontent;
       &:hover{
         opacity: 0.8;
       }
     }
     .active{
      border-bottom: 3px solid $orangeborder;
     }
   }
   @include breakpoint(xs){
     a{
       padding: 10px 15px 15px 15px;
     }
   }
 }

 .tab-section{
   .tab-content-inner{
     padding-top: 70px;
   }
   .list-pizza-setail{
     ul{
      display: flex;
      flex-wrap: wrap;
       li{
         display: inline-block;
         border:none;
         text-align: center;
         padding: 0px 5px 20px 5px;
         width: 20%;

         h2{
           color: $innerfont;
           line-height: 40px;
            font-size: 28px;
            font-weight: bold;
         }
         &.active{
          h2{
            color: $orange;
          }
        }
         p{
           font-size: 14px;
           line-height: 20px;
         }
       }
     }
   }
   .about-accordion{
     .about-accordion-content{
       padding-bottom: 10px;
     }
   }
   .wraper-crust{
    padding-top: 70px;
    .pizzamdheading{
      position: relative;
      padding-bottom: 20px;
      font-weight: bold;
      margin-bottom: 30px;
      &:after{
        content: "";
        position: absolute;
        width: 52px;
        height: 1px;
        background: $orange;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0px);
      }
    }
    .crust-content{
      .pizzaxsheading{
        color: $orange;
        font-weight: bold;
        margin-bottom: 15px;
      }
      p{
        margin-bottom: 20px;
        line-height: 30px;
      }
      .discalimer{
        font-size: 13px;
      }
    }
    .crust-box{
      text-align: center;
      .pizzaxsheading{
        color: $orange;
        font-weight: bold;
        margin: 10px 0px;
      }
      p{
        margin-bottom: 15px;
      }
      .crust-inner{
        h2{
          font-size: 16px;
          font-weight: bold;
          color: $innerfont;
        }
        p{
          margin-bottom: 0px;
        }
      }
    }
    .crust-center-bx{
      text-align: center;
      padding-top: 50px;
      .pizzaxsheading{
        color: $orange;
        font-weight: bold;
        margin: 20px 0px 10px 0px;
      }
      p{
        margin-bottom: 10px;
        a{
          color: $orange;
          &:hover{
            color: $innercontent;
          }
        }
      }
    }
    .img-bottom-crust{
      margin-top:30px;
    }
  }
   @include breakpoint(xs){
    .wraper-crust{
      padding-top: 30px;
      .crust-center-bx{
        padding-top:10px;
      }
    }
    .tab-content-inner{
      padding-top: 30px;
    }
     .pizza-img{
       padding-bottom: 30px;
       img{
         display: block;
         max-width: 60%;
         margin: 0px auto;
       }
     }
    .list-pizza-setail{
      ul{
        li{
          width: 33.3%;
          padding-bottom: 0px;
          p{
            margin-bottom: 15px;
          }
        }
      }
    }

   }
 }

}








