
<app-side-header></app-side-header>

<div class="inner-main" >
  <section>
    <div class="banner-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="assets/images/about-us/pizza/Nutritional-Info-Pizza.jpg">
        <source media="(min-width: 768px)" srcset="assets/images/about-us/pizza/Nutritional-Info-Pizza.jpg">
        <img src="assets/images/about-us/pizza/Nutritional-Info-Pizza.jpg" alt="banner-leadership">
      </picture>
      <div class="banner-content-q">
          <h2 class="pizzaxlheading">PIZZA</h2>
      </div>
    </div>
  </section>

  <section class="padding-section tab-section">
    <div class="pizza-tab">
      <ul class="tab-wraper-list">
          <li *ngFor="let aboutList of aboutLists">
            <a class="pizzaxsheading active" (click)="openMenuList(aboutList)" [ngClass]="{'active':aboutselectedList===aboutList}" href="javascript:void(0);">
                {{aboutList}}
            </a>
           </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-content-inner" *ngIf="aboutselectedList === 'Keto Pizza'">
          <div class="heading-box">
            <div class="pizzaxxsheading">Keto Pizza</div>
            <h3 class="pizzaxlheading">SERVING SIZE IS 1/6 OF THE 10″ PIZZA</h3>
          </div>
            <div class="about-accordion">
              <ul>
                  <li [class.active]="id === 'pizza-faq-1'">
                      <div class="about-accordion-title" id="pizza-faq-1" (click)="accordion('pizza-faq-1')">
                          <div class="pizzaxxsheading">Keto Protein Lovers</div>
                          <span class="plus-icon"></span>
                      </div>
                      <div class="about-accordion-content" *ngIf="id === 'pizza-faq-1' ">
                          <div class="row">
                            <div class="col-sm-2">
                              <div class="pizza-img">
                                <img src="assets/images/about-us/pizza/22325-PP-Keto-Pizza-Product-Images-Top-View-500x500Keto-Protein-Lovers.png">
                              </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="list-pizza-setail">
                                  <ul>
                                    <li>
                                      <h2>82</h2>
                                      <p>Weight Per Slice (g)</p>
                                    </li>
                                    <li class="active">
                                      <h2>210</h2>
                                      <p>Calories (kcals)</p>
                                    </li>
                                    <li>
                                      <h2>13</h2>
                                      <p>Protein (g)</p>
                                    </li>
                                    <li>
                                      <h2>7</h2>
                                      <p>Carbs (g)</p>
                                    </li>
                                    <li>
                                      <h2>5</h2>
                                      <p>Fibre (g)</p>
                                    </li>
                                    <li>
                                      <h2>2</h2>
                                      <p>Sugars (g)</p>
                                    </li>
                                    <li>
                                      <h2>15</h2>
                                      <p>Total Fat (g)</p>
                                    </li>
                                    <li>
                                      <h2>5</h2>
                                      <p>Sat. Fat (g)</p>
                                    </li>
                                    <li>
                                      <h2>0.3</h2>
                                      <p>Trans Fat (g)</p>
                                    </li>
                                    <li>
                                      <h2>30</h2>
                                      <p>Cholesterol (mg)</p>
                                    </li>
                                    <li class="active">
                                      <h2>470</h2>
                                      <p>Sodium (mg)</p>
                                    </li>
                                    <li>
                                      <h2>0.13%</h2>
                                      <p>Vit A (% DV)</p>
                                    </li>
                                    <li>
                                      <h2>3.04%</h2>
                                      <p>Vit C (% DV)</p>
                                    </li>
                                    <li>
                                      <h2>13%</h2>
                                      <p>Calcium (% DV)</p>
                                    </li>
                                    <li>
                                      <h2>4%</h2>
                                      <p>Iron (% DV)</p>
                                    </li>
                                  </ul>
                                </div>
                            </div>
                          </div>
                      </div>
                  </li>

                  <li [class.active]="id === 'pizza-faq-2'">
                    <div class="about-accordion-title" id="pizza-faq-1" (click)="accordion('pizza-faq-2')">
                        <div class="pizzaxxsheading">Keto Pepperoni</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content" *ngIf="id === 'pizza-faq-2' ">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="pizza-img">
                              <img src="assets/images/about-us/pizza/22325-PP-Keto-Pizza-Product-Images-Top-View-500x500Keto-Pepperoni.png">
                            </div>
                          </div>
                          <div class="col-sm-10">
                              <div class="list-pizza-setail">
                                <ul>
                                  <li>
                                    <h2>70</h2>
                                    <p>Weight Per Slice (g)</p>
                                  </li>
                                  <li class="active">
                                    <h2>180</h2>
                                    <p>Calories (kcals)</p>
                                  </li>
                                  <li>
                                    <h2>11</h2>
                                    <p>Protein (g)</p>
                                  </li>
                                  <li>
                                    <h2>7</h2>
                                    <p>Carbs (g)</p>
                                  </li>
                                  <li>
                                    <h2>5</h2>
                                    <p>Fibre (g)</p>
                                  </li>
                                  <li>
                                    <h2>2</h2>
                                    <p>Sugars (g)</p>
                                  </li>
                                  <li>
                                    <h2>12</h2>
                                    <p>Total Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>4</h2>
                                    <p>Sat. Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>0.2</h2>
                                    <p>Trans Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>25</h2>
                                    <p>Cholesterol (mg)</p>
                                  </li>
                                  <li class="active">
                                    <h2>330</h2>
                                    <p>Sodium (mg)</p>
                                  </li>
                                  <li>
                                    <h2>0.13%</h2>
                                    <p>Vit A (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>2.8%</h2>
                                    <p>Vit C (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>13%</h2>
                                    <p>Calcium (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>4%</h2>
                                    <p>Iron (% DV)</p>
                                  </li>
                                </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </li>

                <li [class.active]="id === 'pizza-faq-3'">
                  <div class="about-accordion-title" id="pizza-faq-3" (click)="accordion('pizza-faq-3')">
                      <div class="pizzaxxsheading">Keto Pesto Margherita</div>
                      <span class="plus-icon"></span>
                  </div>
                  <div class="about-accordion-content" *ngIf="id === 'pizza-faq-3' ">
                      <div class="row">
                        <div class="col-sm-2">
                          <div class="pizza-img">
                            <img src="assets/images/about-us/pizza/22325-PP-Keto-Pizza-Product-Images-Top-View-500x500Keto-Pesto.png">
                          </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="list-pizza-setail">
                              <ul>
                                <li>
                                  <h2>75</h2>
                                  <p>Weight Per Slice (g)</p>
                                </li>
                                <li class="active">
                                  <h2>180</h2>
                                  <p>Calories (kcals)</p>
                                </li>
                                <li>
                                  <h2>11</h2>
                                  <p>Protein (g)</p>
                                </li>
                                <li>
                                  <h2>8</h2>
                                  <p>Carbs (g)</p>
                                </li>
                                <li>
                                  <h2>5</h2>
                                  <p>Fibre (g)</p>
                                </li>
                                <li>
                                  <h2>1</h2>
                                  <p>Sugars (g)</p>
                                </li>
                                <li>
                                  <h2>13</h2>
                                  <p>Total Fat (g)</p>
                                </li>
                                <li>
                                  <h2>3.5</h2>
                                  <p>Sat. Fat (g)</p>
                                </li>
                                <li>
                                  <h2>0.2</h2>
                                  <p>Trans Fat (g)</p>
                                </li>
                                <li>
                                  <h2>20</h2>
                                  <p>Cholesterol (mg)</p>
                                </li>
                                <li class="active">
                                  <h2>250</h2>
                                  <p>Sodium (mg)</p>
                                </li>
                                <li>
                                  <h2>0.98%</h2>
                                  <p>Vit A (% DV)</p>
                                </li>
                                <li>
                                  <h2>2.61%</h2>
                                  <p>Vit C (% DV)</p>
                                </li>
                                <li>
                                  <h2>15%</h2>
                                  <p>Calcium (% DV)</p>
                                </li>
                                <li>
                                  <h2>3%</h2>
                                  <p>Iron (% DV)</p>
                                </li>
                              </ul>
                            </div>
                        </div>
                      </div>
                  </div>
              </li>

              </ul>
          </div>

          <div class="wraper-crust">
            <div class="heading-box">
              <h2 class="pizzamdheading">Everything you need to know about our Low Carb Keto Crust</h2>
            </div>
            <div class="crust-content">
              <h2 class="pizzaxsheading">WHAT ARE THE MAIN INGREDIENTS IN THE KETO CRUST?</h2>
              <p>Water, organic coconut flour, egg whites, liquid whole eggs, organic pumpkin seed flour, psyllium husk, flax meal, extra virgin olive oil, coconut milk, ground chia, salt, apple cider vinegar, garlic powder, cream of tartar, baking soda, Italian herbs, chicory root, yeast.</p>
              <h2 class="pizzaxsheading">IS THE CRUST GLUTEN FREE?</h2>
              <p>Yes, the crust is gluten free BUT the keto pizza is prepared in the same area as our regular crust pizzas. For customers that are gluten intolerant or allergic to gluten (i.e. have Celiac disease), we offer Cauliflower Crust Pizzas, Gluten-free Pizzas and Gluten-free Bites.</p>
              <p class="discalimer">Disclaimer: Pizza Pizza is a restaurant environment and so, we unfortunately cannot guarantee a 100% allergen-free environment.</p>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <div class="crust-box">
                  <img src="assets/images/about-us/pizza/KetoProteinLovers-1.png">
                  <h2 class="pizzaxsheading">KETO PROTEIN LOVERS</h2>
                  <p>NY Pepperoni, Bacon Strips & Italian Sausage</p>
                  <div class="crust-inner">
                    <h2>210</h2>
                    <p>Cals/Slice</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="crust-box">
                  <img src="assets/images/about-us/pizza/KetoProteinLovers-1.png">
                  <h2 class="pizzaxsheading">KETO PEPPERONI</h2>
                  <p>NY Pepperoni, Homestyle Tomato Sauce & Mozzarella Cheese</p>
                  <div class="crust-inner">
                    <h2>180</h2>
                    <p>Cals/Slice</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="crust-box">
                  <img src="assets/images/about-us/pizza/KetoProteinLovers-1.png">
                  <h2 class="pizzaxsheading">KETO PESTO MARGHERITA</h2>
                  <p>Pesto Sauce, Roma Tomatoes & Parmesan Cheese</p>
                  <div class="crust-inner">
                    <h2>180</h2>
                    <p>Cals/Slice</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="crust-box">
                  <img src="assets/images/about-us/pizza/KetoProteinLovers-1.png">
                  <h2 class="pizzaxsheading">BUILD YOUR OWN KETO PIZZA</h2>
                  <p>You choose any toppings you want on our Keto Crust</p>
                </div>
              </div>
            </div>

            <div class="crust-center-bx">
                <h2 class="pizzaxsheading">IS THE CRUST VEGAN?</h2>
                <p>No - The crust contains eggs (egg whites and liquid whole eggs) so it is NOT vegan.</p>
                <h2 class="pizzaxsheading">HOW MANY NET CARBS ARE THERE IN THE KETO CRUST?</h2>
                <p>4g non-fibre net carbs per crust.</p>
                <h2 class="pizzaxsheading">WHAT SIZE DOES KETO CRUST COME IN?</h2>
                <p>Small - 10” with 6 slices.</p>
                <h2 class="pizzaxsheading">IS THERE ANY ADDED SUGAR IN THE CRUST?</h2>
                <p>There are no (0g) added sugars in the crust.</p>
                <h2 class="pizzaxsheading">WHAT ARE THE FAT / PROTEIN / CARB MACROS OF THE CRUST?</h2>
                <p>Per crust:</p>
                <p>Fat = 33g</p>
                <p>Protein = 25g</p>
                <p>Total Carbohydrates = 32g</p>
                <p>Dietary Fibre = 28g</p>
                <h2 class="pizzaxsheading">WHAT IS THE NAME OF THE SUPPLIER OF THE CRUST?</h2>
                <p>Keto Crust Supplier - Unbun Foods - <a href='http://www.unbunfoods.com'>unbunfoods.com</a> </p>
                <p>Unbun Foods is a Toronto based company that specialises in Keto and Paleo-certified, grain-free products.</p>
                <div class="img-bottom-crust">
                  <img src="assets/images/about-us/pizza/Uncrust_logo_blk-1.png">
                </div>
              </div>

          </div>

        </div>


        <div class="tab-content-inner" *ngIf="aboutselectedList === 'Cauli Pizza'">
          <div class="heading-box">
            <div class="pizzaxxsheading"> Cauli Pizza </div>
            <h3 class="pizzaxlheading">CAULI PIZZAS (12″ MEDIUM CAULIFLOWER CRUST) SERVING SIZE IS 1/8 OF THE PIZZA (ONE SLICE)</h3>
          </div>
            <div class="about-accordion">
              <ul>
                  <li [class.active]="id === 'caulipizza-faq-1'">
                      <div class="about-accordion-title" id="caulipizza-faq-1" (click)="accordion('caulipizza-faq-1')">
                          <div class="pizzaxxsheading">Cauli Blanca</div>
                          <span class="plus-icon"></span>
                      </div>
                      <div class="about-accordion-content" *ngIf="id === 'caulipizza-faq-1' ">
                          <div class="row">
                            <div class="col-sm-2">
                              <div class="pizza-img">
                                <img src="assets/images/about-us/pizza/Cauli-Blanca-500x500.png">
                              </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="list-pizza-setail">
                                  <ul>
                                    <li>
                                      <h2>81</h2>
                                      <p>Weight Per Slice (g)</p>
                                    </li>
                                    <li class="active">
                                      <h2>190</h2>
                                      <p>Calories (kcals)</p>
                                    </li>
                                    <li>
                                      <h2>7</h2>
                                      <p>Protein (g)</p>
                                    </li>
                                    <li>
                                      <h2>18</h2>
                                      <p>Carbs (g)</p>
                                    </li>
                                    <li>
                                      <h2>2</h2>
                                      <p>Fibre (g)</p>
                                    </li>
                                    <li>
                                      <h2>1</h2>
                                      <p>Sugars (g)</p>
                                    </li>
                                    <li>
                                      <h2>10</h2>
                                      <p>Total Fat (g)</p>
                                    </li>
                                    <li>
                                      <h2>3.5</h2>
                                      <p>Sat. Fat (g)</p>
                                    </li>
                                    <li>
                                      <h2>0.1</h2>
                                      <p>Trans Fat (g)</p>
                                    </li>
                                    <li>
                                      <h2>20</h2>
                                      <p>Cholesterol (mg)</p>
                                    </li>
                                    <li class="active">
                                      <h2>360</h2>
                                      <p>Sodium (mg)</p>
                                    </li>
                                    <li>
                                      <h2>4%</h2>
                                      <p>Vit A (% DV)</p>
                                    </li>
                                    <li>
                                      <h2>2%</h2>
                                      <p>Vit C (% DV)</p>
                                    </li>
                                    <li>
                                      <h2>15%</h2>
                                      <p>Calcium (% DV)</p>
                                    </li>
                                    <li>
                                      <h2>8%</h2>
                                      <p>Iron (% DV)</p>
                                    </li>
                                  </ul>
                                </div>
                            </div>
                          </div>
                      </div>
                  </li>

                  <li [class.active]="id === 'caulipizza-faq-2'">
                    <div class="about-accordion-title" id="caulipizza-faq-1" (click)="accordion('caulipizza-faq-2')">
                        <div class="pizzaxxsheading">Cauli Pesto</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content" *ngIf="id === 'caulipizza-faq-2' ">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="pizza-img">
                              <img src="assets/images/about-us/pizza/Cauli-Pesto-500x500-1.png">
                            </div>
                          </div>
                          <div class="col-sm-10">
                              <div class="list-pizza-setail">
                                <ul>
                                  <li>
                                    <h2>87</h2>
                                    <p>Weight Per Slice (g)</p>
                                  </li>
                                  <li class="active">
                                    <h2>190</h2>
                                    <p>Calories (kcals)</p>
                                  </li>
                                  <li>
                                    <h2>9</h2>
                                    <p>Protein (g)</p>
                                  </li>
                                  <li>
                                    <h2>20</h2>
                                    <p>Carbs (g)</p>
                                  </li>
                                  <li>
                                    <h2>2</h2>
                                    <p>Fibre (g)</p>
                                  </li>
                                  <li>
                                    <h2>2</h2>
                                    <p>Sugars (g)</p>
                                  </li>
                                  <li>
                                    <h2>8</h2>
                                    <p>Total Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>3</h2>
                                    <p>Sat. Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>0.1</h2>
                                    <p>Trans Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>20</h2>
                                    <p>Cholesterol (mg)</p>
                                  </li>
                                  <li class="active">
                                    <h2>340</h2>
                                    <p>Sodium (mg)</p>
                                  </li>
                                  <li>
                                    <h2>15%</h2>
                                    <p>Vit A (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Vit C (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>15%</h2>
                                    <p>Calcium (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>8%</h2>
                                    <p>Iron (% DV)</p>
                                  </li>
                                </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </li>

                <li [class.active]="id === 'caulipizza-faq-3'">
                  <div class="about-accordion-title" id="caulipizza-faq-3" (click)="accordion('caulipizza-faq-3')">
                      <div class="pizzaxxsheading">Super Plant</div>
                      <span class="plus-icon"></span>
                  </div>
                  <div class="about-accordion-content" *ngIf="id === 'caulipizza-faq-3' ">
                      <div class="row">
                        <div class="col-sm-2">
                          <div class="pizza-img">
                            <img src="assets/images/about-us/pizza/superplant-redux.png">
                          </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="list-pizza-setail">
                              <ul>
                                <li>
                                  <h2>92</h2>
                                  <p>Weight Per Slice (g)</p>
                                </li>
                                <li class="active">
                                  <h2>190</h2>
                                  <p>Calories (kcals)</p>
                                </li>
                                <li>
                                  <h2>11</h2>
                                  <p>Protein (g)</p>
                                </li>
                                <li>
                                  <h2>21</h2>
                                  <p>Carbs (g)</p>
                                </li>
                                <li>
                                  <h2>2</h2>
                                  <p>Fibre (g)</p>
                                </li>
                                <li>
                                  <h2>3</h2>
                                  <p>Sugars (g)</p>
                                </li>
                                <li>
                                  <h2>6</h2>
                                  <p>Total Fat (g)</p>
                                </li>
                                <li>
                                  <h2>2.5</h2>
                                  <p>Sat. Fat (g)</p>
                                </li>
                                <li>
                                  <h2>0.3</h2>
                                  <p>Trans Fat (g)</p>
                                </li>
                                <li>
                                  <h2>15</h2>
                                  <p>Cholesterol (mg)</p>
                                </li>
                                <li class="active">
                                  <h2>330</h2>
                                  <p>Sodium (mg)</p>
                                </li>
                                <li>
                                  <h2>4%</h2>
                                  <p>Vit A (% DV)</p>
                                </li>
                                <li>
                                  <h2>15%</h2>
                                  <p>Vit C (% DV)</p>
                                </li>
                                <li>
                                  <h2>10%</h2>
                                  <p>Calcium (% DV)</p>
                                </li>
                                <li>
                                  <h2>4%</h2>
                                  <p>Iron (% DV)</p>
                                </li>
                              </ul>
                            </div>
                        </div>
                      </div>
                  </div>
              </li>

              </ul>
          </div>

          <div class="wraper-crust">
            <div class="heading-box">
              <h2 class="pizzamdheading">Everything you need to know about our Cauliflower Crust</h2>
            </div>
            <div class="crust-content">
              <h2 class="pizzaxsheading">WHAT ARE THE INGREDIENTS?</h2>
              <p>Non-GMO cauliflower, Non-GMO pizza mix (corn starch, rice flour, potato starch, dextrose, vegetable fibers (psyllium, fructose, emulsifier), vegetable fibers (inulin), stabilizer (sorbitol)), water, non-GMO yeast, non-GMO extra virgin olive oil, non-GMO brown cane sugar, non-GMO sea salt.</p>
              <h2 class="pizzaxsheading">IS THE CRUST GLUTEN FREE?</h2>
              <p>Yes.</p>
              <p class="discalimer">Disclaimer: Pizza Pizza is a restaurant environment and so, we unfortunately cannot guarantee a 100% allergen-free environment</p>
              <h2 class="pizzaxsheading">IS THE CRUST VEGAN?</h2>
              <p>Yes.</p>
              <h2 class="pizzaxsheading">WHAT SIZE DOES THE CRUST COME IN?</h2>
              <p>Medium only.</p>
              <h2 class="pizzaxsheading">IS THERE ANY ADDED SUGAR IN THE CRUST?</h2>
              <p>No.</p>
            </div>
          </div>

        </div>

        <div class="tab-content-inner" *ngIf="aboutselectedList === 'Gourmet Thins'">
          <div class="heading-box">
            <div class="pizzaxxsheading">GOURMET THINS</div>
            <h3 class="pizzaxlheading">SERVING SIZE IS 1/4 OF THE 10″ PIZZA</h3>
          </div>
            <div class="about-accordion">
              <ul>
                  <li [class.active]="id === 'gourmetthins-faq-1'">
                      <div class="about-accordion-title" id="gourmetthins-faq-1" (click)="accordion('gourmetthins-faq-1')">
                          <div class="pizzaxxsheading">Chicken Bruschetta</div>
                          <span class="plus-icon"></span>
                      </div>
                      <div class="about-accordion-content" *ngIf="id === 'gourmetthins-faq-1' ">
                          <div class="row">
                            <div class="col-sm-2">
                              <div class="pizza-img">
                                <img src="assets/images/about-us/pizza/pizza_chicken_bruschetta_top.png">
                              </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="list-pizza-setail">
                                  <ul>
                                    <li>
                                      <h2>91</h2>
                                      <p>Weight Per Slice (g)</p>
                                    </li>
                                    <li class="active">
                                      <h2>190</h2>
                                      <p>Calories (kcals)</p>
                                    </li>
                                    <li>
                                      <h2>12</h2>
                                      <p>Protein (g)</p>
                                    </li>
                                    <li>
                                      <h2>23</h2>
                                      <p>Carbs (g)</p>
                                    </li>
                                    <li>
                                      <h2>1</h2>
                                      <p>Fibre (g)</p>
                                    </li>
                                    <li>
                                      <h2>3</h2>
                                      <p>Sugars (g)</p>
                                    </li>
                                    <li>
                                      <h2>6</h2>
                                      <p>Total Fat (g)</p>
                                    </li>
                                    <li>
                                      <h2>2.5</h2>
                                      <p>Sat. Fat (g)</p>
                                    </li>
                                    <li>
                                      <h2>0.1</h2>
                                      <p>Trans Fat (g)</p>
                                    </li>
                                    <li>
                                      <h2>25</h2>
                                      <p>Cholesterol (mg)</p>
                                    </li>
                                    <li class="active">
                                      <h2>510</h2>
                                      <p>Sodium (mg)</p>
                                    </li>
                                    <li>
                                      <h2>4%</h2>
                                      <p>Vit A (% DV)</p>
                                    </li>
                                    <li>
                                      <h2>10%</h2>
                                      <p>Vit C (% DV)</p>
                                    </li>
                                    <li>
                                      <h2>15%</h2>
                                      <p>Calcium (% DV)</p>
                                    </li>
                                    <li>
                                      <h2>10%</h2>
                                      <p>Iron (% DV)</p>
                                    </li>
                                  </ul>
                                </div>
                            </div>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
        </div>



      <div class="tab-content-inner" *ngIf="aboutselectedList === 'Gluten Free Pizza'">
        <div class="heading-box">
          <div class="pizzaxxsheading">10″ GLUTEN FREE PIZZAS</div>
          <h3 class="pizzaxlheading">SERVING SIZE IS 1/6 OF THE PIZZA</h3>
        </div>
          <div class="about-accordion">
            <ul>
                <li [class.active]="id === 'gourmetthins-faq-1'">
                    <div class="about-accordion-title" id="gourmetthins-faq-1" (click)="accordion('gourmetthins-faq-1')">
                        <div class="pizzaxxsheading">Chicken Bruschetta</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content" *ngIf="id === 'gourmetthins-faq-1' ">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="pizza-img">
                              <img src="assets/images/about-us/pizza/pizza_chicken_bruschetta_top.png">
                            </div>
                          </div>
                          <div class="col-sm-10">
                              <div class="list-pizza-setail">
                                <ul>
                                  <li>
                                    <h2>91</h2>
                                    <p>Weight Per Slice (g)</p>
                                  </li>
                                  <li class="active">
                                    <h2>190</h2>
                                    <p>Calories (kcals)</p>
                                  </li>
                                  <li>
                                    <h2>12</h2>
                                    <p>Protein (g)</p>
                                  </li>
                                  <li>
                                    <h2>23</h2>
                                    <p>Carbs (g)</p>
                                  </li>
                                  <li>
                                    <h2>1</h2>
                                    <p>Fibre (g)</p>
                                  </li>
                                  <li>
                                    <h2>3</h2>
                                    <p>Sugars (g)</p>
                                  </li>
                                  <li>
                                    <h2>6</h2>
                                    <p>Total Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>2.5</h2>
                                    <p>Sat. Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>0.1</h2>
                                    <p>Trans Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>25</h2>
                                    <p>Cholesterol (mg)</p>
                                  </li>
                                  <li class="active">
                                    <h2>510</h2>
                                    <p>Sodium (mg)</p>
                                  </li>
                                  <li>
                                    <h2>4%</h2>
                                    <p>Vit A (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Vit C (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>15%</h2>
                                    <p>Calcium (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Iron (% DV)</p>
                                  </li>
                                </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
      </div>

      <div class="tab-content-inner" *ngIf="aboutselectedList === 'Small Pizza'">
        <div class="heading-box">
          <div class="pizzaxxsheading">SMALL PIZZA – SERVING SIZE 1 SLICE.<br>EACH SLICE IS 1/6 OF THE PIZZA. (10 INCH DIAMETER)</div>
          <h3 class="pizzaxlheading">MEAT FAVOURITES</h3>
        </div>
          <div class="about-accordion">
            <ul>
                <li [class.active]="id === 'gourmetthins-faq-1'">
                    <div class="about-accordion-title" id="gourmetthins-faq-1" (click)="accordion('gourmetthins-faq-1')">
                        <div class="pizzaxxsheading">Chicken Bruschetta</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content" *ngIf="id === 'gourmetthins-faq-1' ">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="pizza-img">
                              <img src="assets/images/about-us/pizza/pizza_chicken_bruschetta_top.png">
                            </div>
                          </div>
                          <div class="col-sm-10">
                              <div class="list-pizza-setail">
                                <ul>
                                  <li>
                                    <h2>91</h2>
                                    <p>Weight Per Slice (g)</p>
                                  </li>
                                  <li class="active">
                                    <h2>190</h2>
                                    <p>Calories (kcals)</p>
                                  </li>
                                  <li>
                                    <h2>12</h2>
                                    <p>Protein (g)</p>
                                  </li>
                                  <li>
                                    <h2>23</h2>
                                    <p>Carbs (g)</p>
                                  </li>
                                  <li>
                                    <h2>1</h2>
                                    <p>Fibre (g)</p>
                                  </li>
                                  <li>
                                    <h2>3</h2>
                                    <p>Sugars (g)</p>
                                  </li>
                                  <li>
                                    <h2>6</h2>
                                    <p>Total Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>2.5</h2>
                                    <p>Sat. Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>0.1</h2>
                                    <p>Trans Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>25</h2>
                                    <p>Cholesterol (mg)</p>
                                  </li>
                                  <li class="active">
                                    <h2>510</h2>
                                    <p>Sodium (mg)</p>
                                  </li>
                                  <li>
                                    <h2>4%</h2>
                                    <p>Vit A (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Vit C (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>15%</h2>
                                    <p>Calcium (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Iron (% DV)</p>
                                  </li>
                                </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
      </div>

      <div class="tab-content-inner" *ngIf="aboutselectedList === 'Medium Pizza'">
        <div class="heading-box">
          <div class="pizzaxxsheading">MEDIUM PIZZA – SERVING SIZE 1 SLICE <br>EACH SLICE IS 1/8 OF THE PIZZA. (12 INCH DIAMETER)</div>
          <h3 class="pizzaxlheading">MEAT FAVOURITES</h3>
        </div>
          <div class="about-accordion">
            <ul>
                <li [class.active]="id === 'gourmetthins-faq-1'">
                    <div class="about-accordion-title" id="gourmetthins-faq-1" (click)="accordion('gourmetthins-faq-1')">
                        <div class="pizzaxxsheading">Chicken Bruschetta</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content" *ngIf="id === 'gourmetthins-faq-1' ">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="pizza-img">
                              <img src="assets/images/about-us/pizza/pizza_chicken_bruschetta_top.png">
                            </div>
                          </div>
                          <div class="col-sm-10">
                              <div class="list-pizza-setail">
                                <ul>
                                  <li>
                                    <h2>91</h2>
                                    <p>Weight Per Slice (g)</p>
                                  </li>
                                  <li class="active">
                                    <h2>190</h2>
                                    <p>Calories (kcals)</p>
                                  </li>
                                  <li>
                                    <h2>12</h2>
                                    <p>Protein (g)</p>
                                  </li>
                                  <li>
                                    <h2>23</h2>
                                    <p>Carbs (g)</p>
                                  </li>
                                  <li>
                                    <h2>1</h2>
                                    <p>Fibre (g)</p>
                                  </li>
                                  <li>
                                    <h2>3</h2>
                                    <p>Sugars (g)</p>
                                  </li>
                                  <li>
                                    <h2>6</h2>
                                    <p>Total Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>2.5</h2>
                                    <p>Sat. Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>0.1</h2>
                                    <p>Trans Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>25</h2>
                                    <p>Cholesterol (mg)</p>
                                  </li>
                                  <li class="active">
                                    <h2>510</h2>
                                    <p>Sodium (mg)</p>
                                  </li>
                                  <li>
                                    <h2>4%</h2>
                                    <p>Vit A (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Vit C (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>15%</h2>
                                    <p>Calcium (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Iron (% DV)</p>
                                  </li>
                                </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
      </div>

      <div class="tab-content-inner" *ngIf="aboutselectedList === 'Large Pizza'">
        <div class="heading-box">
          <div class="pizzaxxsheading">LARGE PIZZA – SERVING SIZE 1 SLICE<br>EACH SLICE IS 1/10 OF THE PIZZA. (14 INCH DIAMETER)</div>
          <h3 class="pizzaxlheading">MEAT FAVOURITES</h3>
        </div>
          <div class="about-accordion">
            <ul>
                <li [class.active]="id === 'gourmetthins-faq-1'">
                    <div class="about-accordion-title" id="gourmetthins-faq-1" (click)="accordion('gourmetthins-faq-1')">
                        <div class="pizzaxxsheading">Chicken Bruschetta</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content" *ngIf="id === 'gourmetthins-faq-1' ">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="pizza-img">
                              <img src="assets/images/about-us/pizza/pizza_chicken_bruschetta_top.png">
                            </div>
                          </div>
                          <div class="col-sm-10">
                              <div class="list-pizza-setail">
                                <ul>
                                  <li>
                                    <h2>91</h2>
                                    <p>Weight Per Slice (g)</p>
                                  </li>
                                  <li class="active">
                                    <h2>190</h2>
                                    <p>Calories (kcals)</p>
                                  </li>
                                  <li>
                                    <h2>12</h2>
                                    <p>Protein (g)</p>
                                  </li>
                                  <li>
                                    <h2>23</h2>
                                    <p>Carbs (g)</p>
                                  </li>
                                  <li>
                                    <h2>1</h2>
                                    <p>Fibre (g)</p>
                                  </li>
                                  <li>
                                    <h2>3</h2>
                                    <p>Sugars (g)</p>
                                  </li>
                                  <li>
                                    <h2>6</h2>
                                    <p>Total Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>2.5</h2>
                                    <p>Sat. Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>0.1</h2>
                                    <p>Trans Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>25</h2>
                                    <p>Cholesterol (mg)</p>
                                  </li>
                                  <li class="active">
                                    <h2>510</h2>
                                    <p>Sodium (mg)</p>
                                  </li>
                                  <li>
                                    <h2>4%</h2>
                                    <p>Vit A (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Vit C (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>15%</h2>
                                    <p>Calcium (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Iron (% DV)</p>
                                  </li>
                                </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
      </div>

      <div class="tab-content-inner" *ngIf="aboutselectedList === 'X-Large Pizza'">
        <div class="heading-box">
          <div class="pizzaxxsheading">X-LARGE PIZZA – SERVING SIZE 1 SLICE<br>X-LARGE PIZZA – SERVING SIZE 1 SLICE</div>
          <h3 class="pizzaxlheading">MEAT FAVOURITES</h3>
        </div>
          <div class="about-accordion">
            <ul>
                <li [class.active]="id === 'gourmetthins-faq-1'">
                    <div class="about-accordion-title" id="gourmetthins-faq-1" (click)="accordion('gourmetthins-faq-1')">
                        <div class="pizzaxxsheading">Chicken Bruschetta</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content" *ngIf="id === 'gourmetthins-faq-1' ">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="pizza-img">
                              <img src="assets/images/about-us/pizza/pizza_chicken_bruschetta_top.png">
                            </div>
                          </div>
                          <div class="col-sm-10">
                              <div class="list-pizza-setail">
                                <ul>
                                  <li>
                                    <h2>91</h2>
                                    <p>Weight Per Slice (g)</p>
                                  </li>
                                  <li class="active">
                                    <h2>190</h2>
                                    <p>Calories (kcals)</p>
                                  </li>
                                  <li>
                                    <h2>12</h2>
                                    <p>Protein (g)</p>
                                  </li>
                                  <li>
                                    <h2>23</h2>
                                    <p>Carbs (g)</p>
                                  </li>
                                  <li>
                                    <h2>1</h2>
                                    <p>Fibre (g)</p>
                                  </li>
                                  <li>
                                    <h2>3</h2>
                                    <p>Sugars (g)</p>
                                  </li>
                                  <li>
                                    <h2>6</h2>
                                    <p>Total Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>2.5</h2>
                                    <p>Sat. Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>0.1</h2>
                                    <p>Trans Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>25</h2>
                                    <p>Cholesterol (mg)</p>
                                  </li>
                                  <li class="active">
                                    <h2>510</h2>
                                    <p>Sodium (mg)</p>
                                  </li>
                                  <li>
                                    <h2>4%</h2>
                                    <p>Vit A (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Vit C (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>15%</h2>
                                    <p>Calcium (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Iron (% DV)</p>
                                  </li>
                                </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
      </div>

      <div class="tab-content-inner" *ngIf="aboutselectedList === 'Walk-in Slice'">
        <div class="heading-box">
          <div class="pizzaxxsheading">WALK-IN SLICE.</div>
          <h3 class="pizzaxlheading">SERVING SIZE – 1 SLICE</h3>
        </div>
          <div class="about-accordion">
            <ul>
                <li [class.active]="id === 'gourmetthins-faq-1'">
                    <div class="about-accordion-title" id="gourmetthins-faq-1" (click)="accordion('gourmetthins-faq-1')">
                        <div class="pizzaxxsheading">Chicken Bruschetta</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content" *ngIf="id === 'gourmetthins-faq-1' ">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="pizza-img">
                              <img src="assets/images/about-us/pizza/pizza_chicken_bruschetta_top.png">
                            </div>
                          </div>
                          <div class="col-sm-10">
                              <div class="list-pizza-setail">
                                <ul>
                                  <li>
                                    <h2>91</h2>
                                    <p>Weight Per Slice (g)</p>
                                  </li>
                                  <li class="active">
                                    <h2>190</h2>
                                    <p>Calories (kcals)</p>
                                  </li>
                                  <li>
                                    <h2>12</h2>
                                    <p>Protein (g)</p>
                                  </li>
                                  <li>
                                    <h2>23</h2>
                                    <p>Carbs (g)</p>
                                  </li>
                                  <li>
                                    <h2>1</h2>
                                    <p>Fibre (g)</p>
                                  </li>
                                  <li>
                                    <h2>3</h2>
                                    <p>Sugars (g)</p>
                                  </li>
                                  <li>
                                    <h2>6</h2>
                                    <p>Total Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>2.5</h2>
                                    <p>Sat. Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>0.1</h2>
                                    <p>Trans Fat (g)</p>
                                  </li>
                                  <li>
                                    <h2>25</h2>
                                    <p>Cholesterol (mg)</p>
                                  </li>
                                  <li class="active">
                                    <h2>510</h2>
                                    <p>Sodium (mg)</p>
                                  </li>
                                  <li>
                                    <h2>4%</h2>
                                    <p>Vit A (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Vit C (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>15%</h2>
                                    <p>Calcium (% DV)</p>
                                  </li>
                                  <li>
                                    <h2>10%</h2>
                                    <p>Iron (% DV)</p>
                                  </li>
                                </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
      </div>

  </div>
  </section>

</div>





