@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.inner-banner{
    padding: 40px 0 0px;
    background-image: url(../../../assets/images/pattern2.png), linear-gradient(90deg, rgb(82, 93, 112) 8%, rgb(28, 35, 57) 97%);
    position: relative;
    min-height: 300px;
    overflow: hidden;
    .inner-top{
        position: relative;
        margin-bottom: 20px;
        .pizzalgheading{
            text-align: center;
            margin-bottom: 0;
            color: $white;
            font-family: $proximarg;
            text-transform: uppercase;
        }
    }
    .signin-top{
        position: absolute;
        top: 9px;
        margin: 0;
    }
    .back-btn{
        color: $white;
    }
    .inner-bottom{
        position: relative;
        .product-header-image{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 40%;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    @include breakpoint(slg){
        .signin-top{
            top: 6px;
        }
    }
    @include breakpoint(md) {
        padding: 30px 0 0;
    }
    @include breakpoint(sm) {
        min-height: 250px;
        .signin-top{
            top: 6px;
        }
        .find-box{
            justify-content: space-between;
            p{
                font-size: 14px;
                width: 70%;
            }
        }
    }
    @include breakpoint(xs) {
        padding: 30px 0 0;
        min-height: 220px;
        .signin-top{
            position: relative;
            top: 0px;
            margin: 0 0 20px;
        }
    }
    @include breakpoint(xxs) {
        min-height: 200px;
    }
}

/*-- product-list-start --*/
.plp-wraper{
  padding-top: 40px;
}
.plp-box{
    position: relative;
}
.pizza-list{
    padding: 60px 0 65px;
    position: relative;
    overflow: hidden;
    .container{
        position: relative;
        z-index: 1;
        max-width: 80%;
    }
    @include breakpoint(md) {
        padding: 40px 0 40px;
        .container{
          max-width: 95%;
        }
    }
    @include breakpoint(xs) {
        padding: 30px 0 30px;
    }
}
.product-item{
    background: #F5F9FA;
    border-radius: 20px;
    padding: 25px;
    margin-top: 20px;
    border: 1px solid #eef2f5;
    display: flex;
    align-items: center;
    .product-thumb{
        width: 220px;
        height: 220px;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(0,0,0,.1);
        background: rgb(253,252,251);
        background: -moz-linear-gradient(top, rgba(253,252,251,1) 0%, rgba(226,209,195,1) 100%);
        background: -webkit-linear-gradient(top, rgba(253,252,251,1) 0%,rgba(226,209,195,1) 100%);
        background: linear-gradient(to bottom, rgba(253,252,251,1) 0%,rgba(226,209,195,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfcfb', endColorstr='#e2d1c3',GradientType=0 );
    }
    .product-content-right{
      width: calc(100% - 220px);
      padding-left:30px;
    }
    .pizzalgheading{
        margin-bottom: 10px;
        color: $brownfont;
        font-family: $proximarg;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
    }
    .product-description{
        font-size: 14px;
        color: $black;
        font-family: $proximarg;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .product-detail{
        display: flex;
        justify-content: space-between;
        .product-price{
            width: 40%;
            p{
                font-size: 20px;
                color: $brownfont;
                font-family: $proximarg;
                font-weight: 700;
                line-height: 26px;
            }
        }
        .product-btn-group{
            width: 55%;
            text-align: right;
            .outofstock{
                color: #EF5A0D;
                font-size: 17px;
                font-weight: bold;
            }
            .customize-btn{
                color: $orange;
                background: $white;
                margin-right: 10px;
            }
        }
    }
    @include breakpoint(slg){
        .product-detail{
            .product-price{
                width: 35%;
                p{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .product-btn-group{
                width: 65%;
            }
        }
    }

    @include breakpoint(md){
        .product-detail{
            flex-wrap: wrap;
            .product-price{
                width: 100%;
                margin-bottom: 20px;
                p{
                    font-size: 16px;
                }
            }
            .product-btn-group{
                width: 100%;
                text-align: left;
            }
        }
    }
    @include breakpoint(xs) {
        margin-top: 90px;
        display: block;
        .product-content-right{
          width: 100%;
          padding-left: 0px;
          text-align: center;
          .product-btn-group{
            .pizza-btn{
              display: block;
              margin-right: 0px;
              margin-bottom: 8px;
              &:last-child{
                margin-bottom: 0px;
              }
            }
          }
        }
        .product-thumb{
            width: 120px;
            height: 120px;
            margin: -80px auto 0;
        }
        .pizzalgheading{
            margin: 20px 0;
            padding: 0;
            height: auto;
        }
        .product-detail{
            flex-wrap: wrap;
            .product-price{
                width: 100%;
                margin-bottom: 20px;
            }
            .product-btn-group{
                width: 100%;
                text-align: left;
            }
        }
    }
    @include breakpoint(xxs){
        border-radius: 15px;
        padding: 10px;
        .pizzalgheading{
            font-size: 20px;
        }
        .product-detail{
            .product-detail-left{
                width: 75%;
                img{
                    width: 25px;
                }
                p{
                    font-size: 7px;
                    line-height: 12px;
                    margin-left: 5px;
                }
            }
            .pizza-img-btn{
                width: 25px;
                height: 25px;
                padding: 1px;
                img{
                    position: relative;
                    top: 0;
                    right: 2px;
                }
            }
        }
    }
}
.find-box{
    background: $black;
    border-radius: 5px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    p{
        font-size: 16px;
        color: $white;
        font-family: $proximarg;
        margin-right: 30px;
    }
    .find-btn{
        border: 1px solid $white;
        color: $white;
        font-size: 16px;
        font-family: $proximarg;
        font-weight: 400;
        border-radius: 5px;
        padding: 8px 15px;
        background: transparent;
        transition: ease-in-out .5s;
        -webkit-transition: ease-in-out .5s;
        -moz-transition: ease-in-out .5s;
        -ms-transition: ease-in-out .5s;
        i{
            width: 20px;
            height: 20px;
            font-size: 12px;
            text-align: center;
            border: 1px solid $white;
            border-radius: 50%;
            line-height: 19px;
            margin-right: 5px;
            color: $white;
            transition: ease-in-out .5s;
            -webkit-transition: ease-in-out .5s;
            -moz-transition: ease-in-out .5s;
            -ms-transition: ease-in-out .5s;
        }
        &:hover{
            background: $white;
            color: $black;
            i{
                color: $black;
                border-color: $black;
            }
        }
    }
    @include breakpoint(sm){
        justify-content: space-between;
        p{
            width: 70%;
        }
    }
    @include breakpoint(xs){
        flex-wrap: wrap;
        p{
            font-size: 14px;
            margin-bottom: 20px;
            width: 100%;
        }
    }
}
/*-- product-list-start --*/


/*--may-also-start--*/
.may-also{
    padding: 60px 0;
    background: $lightgraybg;
    .also-top{
        margin-bottom: 30px;
        .pizzalgheading{
            width: 100%;
            font-family: $proximarg;
            font-weight: bold;
            color: $brownfont;
            margin: 0;
        }
    }
    .alsosider{
        margin: 0 0 0 -10px;
        .item{
            margin: 0 10px;
            .also-box{
                background: $white;
                border-radius: 10px;
                width: 100%;
                height: 100%;
                overflow: hidden;
                .row{
                    height: 100%;
                    margin: 0;
                }
                .also-box-top{
                    padding: 0;
                    width: 100%;
                    height: 130px;
                    background-color: #e1e7e9;
                    img{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }
                .also-box-bottom{
                    padding: 8px 15px;
                    justify-content: space-between;
                    .also-bottom-left{
                        width: 80%;
                        .pizzasmheading{
                            font-family: $proximarg;
                            font-weight: bold;
                            color: $brownfont;
                            margin: 0 0 8px;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            height: 58px;
                        }
                        p{
                            font-size: 16px;
                            font-family: $proximarg;
                            font-weight: bold;
                            color: $brownfont;
                            margin: 0;
                        }
                    }
                    .also-bottom-right{
                        display: flex;
                        align-items: flex-end;
                        margin-top: auto;
                        .pizza-img-btn{
                            width: 26px;
                            height: 26px;
                            padding: 6px;
                            img{
                                margin-left: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(md){
        padding: 40px 0;
    }
    @include breakpoint(xs) {
        padding: 30px 0;
        .also-top{
            margin-bottom: 20px;
        }
        .alsosider{
            .item{
                .also-box{
                    .also-box-bottom{
                        .pizzasmheading{
                            -webkit-line-clamp: 2;
                            height: 38px;
                        }
                        .also-bottom-right{
                            .pizza-img-btn{
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*--may-also-end--*/

.size-popup{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    .size-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
        visibility: hidden;
        opacity: 0;
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .size-wrapper {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 40%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 20px;
        overflow: hidden;
    }
    .size-transition {
        opacity: 0;
    }
    .size-header{
        padding: 30px 40px;
        position: relative;
        background-color: $graybg;
        box-shadow: 0 1px 2px rgba(0, 0%, 0%, 0.06);
        border-bottom: 1px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 26px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: bold;
            margin-bottom: 30px;
        }
        p{
            font-size: 14px;
            font-family: $proximarg;
            color: $brownfont;
            margin: 0;
        }
    }
    .size-content{
        padding: 30px 40px;
        background: $white;
    }

    .size-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .size-close:hover {
        color: #777;
    }
    &.is-visible{
        visibility: visible;
        display: block;
        .size-overlay {
            opacity: 1;
            visibility: visible;
        }
        .size-transition {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }
    .signup-main{
        .form-group{
            margin-bottom: 15px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
            }
        }
    }
    @include breakpoint(slg) {
        .size-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .size-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs) {
        .size-wrapper{
            width: 95%;
        }
        .size-header{
            padding: 18px 20px;
            .vguardsmheading{
                font-size: 16px;
            }
        }
        .size-close{
            right: 10px;
            width: 45px;
        }
        .size-content{
            padding: 30px 20px;
        }
    }
    @include breakpoint(xxxs) {
    }
}

.plp-box{
    &.is-visible{
        .additem-popup{
            visibility: visible;
            .size-overlay{
                visibility: visible;
                opacity: 1;
            }
            .size-transition{
                opacity: 1;
            }
        }
    }
}
.additem-popup{
    position: initial;
    .size-wrapper{
        top: 0;
        left: auto;
        right: 0px;
        width: 320px;
        margin: 0;
        border-radius: 10px;
        background-color: $graybg;
    }
    .size-content{
        padding: 20px;
        text-align: center;
        background-color: $graybg;
        .pizzaxxsheading{
            color: $brownfont;
            font-family: $proximarg;
            font-weight: 800;
            letter-spacing: .3px;
        }
        .line{
            width: 28px;
            height: 2px;
            background: $orange;
            margin: 10px auto;
            display: inline-block;
        }
        .size-picker-wrapper{
            text-align: center;
            overflow: hidden;
            border: 1px solid $graytext;
            border-radius: 5px;
            display: flex;
            justify-content: center;
        }
        .size-instance{
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            outline: 0;
            border: 0;
            background-color: #fff;
            cursor: pointer;
            padding: 10px 2px;
            .icon-wrap{
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .label{
                font-size: 10px;
                font-family: $proximarg;
                font-weight: 600;
                color: $brownfont;
            }
            .line{
                margin: 2px auto 0;
                background: $darkgraybg;
            }
            &.active{
                border: 2px solid $orange;
                .line{
                    background: $orange;
                }
            }
        }
        .additem-details{
            margin: 10px 0;
            text-align: center;
            .pizzasmheading{
                color: $brownfont;
                font-family: $proximarg;
                font-weight: 800;
                text-transform: capitalize;
                letter-spacing: .4px;
            }
            .slice-tittle{
                text-transform: uppercase;
            }
            .pizza-btn{
                margin-top: 10px;
            }
        }
    }
    &.is-visible{
        .size-transition{
            transform: translate(0%, 30%);
        }
    }
    @include breakpoint(xs){
        .size-wrapper{
            width: 100%;
        }
    }
}

.find-popup{
    .size-wrapper{
        border: none;
        width: 45%;
    }
    .size-content{
        padding: 0;
    }
    .findpopuptab{
        background: $darkgraybg;
        padding: 30px 25px;
        text-align: center;
        border-bottom: 1px solid $orange;
        li{
            display: inline-block;
            a{
                font-size: 18px;
                color: $darkgraytext;
                position: relative;
                cursor: pointer;
                text-align: center;
                letter-spacing: .4px;
                font-weight: 800;
                padding: 0 45px 0 45px;
                line-height: 26px;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 36px;
                    height: 35px;
                    background: url(../../../assets/images/sprite-image.png);
                    background-position: 0px -1835px;
                    background-size: 50px;
                }
                &::after{
                    position: absolute;
                    top: 49.5px;
                    left: -100%;
                    transform: rotate(45deg);
                    transition: left 1s ease;
                    margin-left: -5px;
                    border: solid $orange;
                    border-width: 0 1px 1px 0;
                    background-color: $darkgraybg;
                    padding: 4px;
                    width: 15px;
                    height: 15px;
                    content: "";
                    display: none;
                }
                &.active{
                    color: $orange;
                    &::after{
                        display: inline-block;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                    &::before{
                        background-position: 0px -1785px;
                    }
                }
            }
            &:nth-child(2){
                a{
                    &::before{
                        background-position: 0px -1980px;
                    }
                    &.active{
                        &::before{
                            background-position: 0px -2026px;
                        }
                    }
                }
            }
        }
    }
    .tab-content{
        background: $white;
        .find-form{
            padding: 40px 25px 25px;
            .pizzalgheading{
                text-align: center;
                font-size: 30px;
                font-weight: 400;
                font-family: $proximarg;
                margin-bottom: 30px;
            }
            .form-group{
                margin-bottom: 15px;
                position: relative;
                .label-top{
                    font-size: 16px;
                    font-family: $proximarg;
                    margin-bottom: 15px;
                }
                .form-control{
                    border: none;
                    border-bottom: 1px solid $grayborder;
                    padding: 5px 75px 5px 0;
                    height: 35px;
                }
                .find-btn{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    border: none;
                    color: $orange;
                    font-size: 13px;
                    font-family: $proximarg;
                    font-weight: 400;
                    border-radius: 0px;
                    padding: 0;
                    background: transparent;
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                    i{
                        width: 17px;
                        height: 17px;
                        font-size: 10px;
                        text-align: center;
                        border: 1px solid $orange;
                        border-radius: 50%;
                        line-height: 16px;
                        margin-right: 5px;
                        color: $orange;
                        transition: ease-in-out .5s;
                        -webkit-transition: ease-in-out .5s;
                        -moz-transition: ease-in-out .5s;
                        -ms-transition: ease-in-out .5s;
                    }
                    &:hover{
                        background: transparent;
                        color: $orange;
                        i{
                            color: $orange;
                        }
                    }
                }
            }
            .find-right{
                text-align: right;
            }
        }
        .find-bg{
            img{
                width: 100%;
            }
        }
        .manually-main{
            padding: 40px 20px;
            .pizzalgheading{
                text-align: center;
                font-size: 30px;
                font-weight: 400;
                font-family: $proximarg;
                margin-bottom: 50px;
            }
            .form-group{
                margin-bottom: 25px;
                min-height: 60px;
                .label-top{
                    font-size: 14px;
                    font-family: $proximarg;
                    margin-bottom: 5px;
                    // span{
                    //     display: block;
                    // }
                }
                .form-control{
                    border: none;
                    border-bottom: 1px solid $grayborder;
                    padding: 5px 0;
                    height: 35px;
                    text-transform: uppercase;
                    &.select-form{
                        background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                        background-size: 10px;
                    }
                }
            }
            .manually-btn{
                text-align: right;
            }
        }
        .location-modal{
            margin: 0 5px;
            padding: 0 10px;
            width: calc(100% - 15px);
            overflow-y: scroll;
            height: 320px;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar {
                height: 5px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background: $grayborder;
            }
            &::-webkit-scrollbar-thumb {
                background: $graytext;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: $graytext;
            }
            .location-pick-list{
                position: relative;
                border-radius: 5px;
                border: 2px solid $grayborder;
                margin-bottom: 5px;
                display: flex;
                flex-wrap: wrap;
                font-family: $proximarg;
                cursor: pointer;
                padding: 10px 15px;
                .pizzaxxsheading{
                    font-size: 14px;
                    color: $deepgray;
                    font-family: $proximarg;
                    font-weight: 700;
                    letter-spacing: .3px;
                    margin-bottom: 3px;
                }
                .location-address{
                    width: 48%;
                    padding-left: 35px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0px;
                        width: 30px;
                        height: 25px;
                        background: url(../../../assets/images/sprite-image.png);
                        background-position: 0 -2452px;
                        background-size: 40px;
                    }
                    p{
                        font-size: 12px;
                        font-weight: 400;
                        color: $deepgray;
                        line-height: 16px;
                        span{
                            display: block;
                        }
                    }
                }
                .location-hours{
                    width: 42%;
                    padding-left: 45px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 10px;
                        width: 30px;
                        height: 27px;
                        background: url(../../../assets/images/sprite-image.png);
                        background-position: 0px -2965px;
                        background-size: 35px;
                    }
                    p{
                        font-size: 12px;
                        font-weight: 400;
                        color: $deepgray;
                        line-height: 16px;
                        span{
                            display: block;
                        }
                    }
                    .location-pickup{
                        font-size: 12px;
                        font-weight: 600;
                        color: $deepgray;
                    }
                }
                .location-hours-right{
                    width: 10%;
                    text-align: right;
                    p{
                        font-size: 13px;
                        color: $orange;
                        font-weight: 800;
                        letter-spacing: .3px;
                    }
                    i{
                        font-size: 11px;
                        color: $green;
                        display: none;
                    }
                }
                .location-directions{
                    width: 100%;
                    a{
                        font-size: 12px;
                        color: $orange;
                        font-weight: 600px;
                        i{
                            width: 17px;
                            height: 17px;
                            font-size: 10px;
                            text-align: center;
                            border: 1px solid $orange;
                            border-radius: 50%;
                            line-height: 16px;
                            margin-right: 5px;
                            color: $orange;
                        }
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                &.select-active{
                    border-color: $green;
                    .pizzaxxsheading{
                        color: $green;
                    }
                    .location-address{
                        &::before{
                            background-position: 0 -2488px;
                        }
                        p{
                            color: $green;
                        }
                    }
                    .location-hours{
                        &::before{
                            background-position: 0px -2997px;
                        }
                        p, .location-pickup{
                            color: $green;
                        }
                    }
                    .location-hours-right{
                        p{
                            display: none;
                        }
                        i{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(slg) {
        .size-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .size-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .findpopuptab{
            padding: 20px 25px;
            li{
                a{
                    font-size: 16px;
                    padding: 0 25px 0 45px;
                    &::after{
                        top: 39.5px;
                    }
                }
            }
        }
        .tab-content{
            .find-form{
                .pizzalgheading{
                    font-size: 24px;
                    margin-bottom: 20px;
                }
                .form-group{
                    .label-top{
                        font-size: 14px;
                    }
                }
                .find-right{
                    .pizza-btn{
                        width: 100%;
                    }
                }
            }
            .manually-main{
                padding: 20px 10px;
                .pizzalgheading{
                    font-size: 24px;
                    margin-bottom: 20px;
                    line-height: 32px;
                }
                .form-group{
                    min-height: auto;
                    margin-bottom: 15px;
                }
            }
            .location-modal{
                height: 280px;
                .location-pick-list{
                    .location-address{
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .location-hours{
                        width: 100%;
                        padding-left: 35px;
                        margin-bottom: 10px;
                        &::before{
                            left: 0px;
                        }
                    }
                    .location-hours-right{
                        position: absolute;
                        top: 10px;
                        right: 22px;
                    }
                    .location-directions{
                        padding-left: 35px;
                    }
                }
            }
        }
        .size-wrapper{
            width: 95%;
        }
    }
}

@include breakpoint(xs){
  .pizza-list{
    .container{
      max-width:100%;
    }
  }
  .plp-wraper{
    padding-top: 10px;
  }
}


.plp-box .product-item .product-thumb a img{
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    object-fit: cover;
    width: 100%;
    padding: 15px;
    border-radius: 50%;
    @include breakpoint(xs){
        padding: 8px;
    }
}
.plp-box .product-item .product-thumb{
    position: relative;
}

// .plp-box .product-item .product-thumb a{
//     display: block;
//     padding: 30px;
// }
