@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";


.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 200px;
  height: 25px;
  background: #edf2f5;
  border-radius: 20px;
    
    
  }
  .button-element {
    width: 100px;
  height: 25px;
  background: $orangefont;
  border-radius: 20px 0px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: all 0.3s;
  }
  
  #spanish {
    font-family: $proximablack;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.2px;
    color: #fff;
  }
  
  #english {
    font-family: $proximablack;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.2px;
    color: #4C2F15;
    padding-left: 26px;
  }
  label {
    display: none;
  }
  .menu-h{
    font-size: 24px;
    font-weight: bold;
    color: $orange;
    padding-bottom: 10px;
    @include breakpoint(xs){
        margin-bottom: 0px;
        font-size: 20px;
        padding-left: 15px;
    }
}
.menu-hdng{
    .pizzamdheading{
        margin-bottom: 8px;
        color: $orangefont;
        font-family: $proximablack;
        @include breakpoint(xs) {
            margin-bottom: 0px;
        }
    }
}
.help{
    padding: 20px 0px;
    .row{
      align-items: center;
      .right{
        text-align: right;
      }
    }
    .pizzamdheading{
      margin:0px;
      color: $orangefont;
      font-family: $proximablack;
    }
    .help-btn{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 10px;
        background: $orangefont;
        text-decoration: none;
        text-align: center;
    }
    @include breakpoint(xs) {
        display: none;
    }
}

@include breakpoint(md){}
/*-- homebanner-slider-start --*/
.homebanner {
    .homeslider{
        .darkbg{
            width: 50%;
            left: auto;
            right: 30px;
        }
    }
    @include breakpoint(xs) {
        .container{
            padding: 0;
        }
    }
}

.homemain{
    padding: 0px;
    background-color: $darkgraybg;
    .homesliderleft {
        width: 50%;
        text-align: left;
        position: relative;
        padding: 0 70px;
        .pizzaxlheading{
            font-family: $waterbrush;
            font-weight: normal;
            text-transform: capitalize;
            line-height: 50px;
            margin-bottom: 40px;
            color: $orangefont;
            margin-bottom: 10px;
        }
        h2.pizzaxlheading{
            font-family: $proximablack;
            color: $brown;
            margin-bottom: 15px;
            text-transform: uppercase;
            line-height: 40px;
            span{
                color: $orangefont;
            }
        }
        p{
            font-size: 16px;
            color: $black;
            font-family: $proximarg;
            margin-bottom: 10px;
            width: 90%;
            line-height: 26px;
        }
        .premium{
            color: $graytext;
            font-size: 16px;
            font-family: $proximarg;
            display: block;
            margin-bottom: 30px;
            font-family: $proximarg;
        }
    }
    .homesliderright{
        text-align: center;
        width:50%;
        img{
            display: inline-block;
            width: 100%;
        }
    }
    @include breakpoint(slg){
        .homesliderleft{
            padding: 0 40px;
        }
    }
    @include breakpoint(md){
        .homesliderleft{
            .pizzaxlheading{
                line-height: 30px;
                font-size: 24px;
            }
            p{
                width: 100%;
                line-height: 22px;
            }
        }
        
    }
    @include breakpoint(sm) {
        flex-wrap: wrap;
        padding: 0px;
        border-radius: 0 0 10px 10px;
        .homesliderleft{
            width: 100%;
            order: 2;
            padding: 20px;
        }
        .homesliderright{
            width: 100%;
            order: 1;
        }
	}
	@include breakpoint(xs) {
        flex-wrap: wrap;
        padding: 0px;
		.homesliderleft{
            width: 100%;
            order: 2;
            padding: 20px 15px;
            .pizzaxlheading{
                padding: 0;
                line-height: 36px;
                margin-bottom: 15px;
            }
            h2.pizzaxlheading{
                margin-bottom: 15px;
            }
            p{
                font-size: 14px;
                margin-bottom: 10px;
                width: 80%;
                line-height: 22px;
            }
            .premium{
                margin-bottom: 20px;
            }
            .pizza-btn{
                width: 100%;
            }
        }
        .homesliderright{
            width: 100%;
            order: 1;
        }
	}
}
.homeslider{
    .slick-dots li button{
        background: rgba(0,0,0.6);
    }
}
/*-- homebanner-slider-end --*/

/*-- product-list-start --*/
.pizza-list{
    padding: 60px 0 60px;
    position: relative;
    overflow: hidden;
    .container{
        position: relative;
        z-index: 1;
    }
    @include breakpoint(md) {
        padding: 40px 0 30px;
    }
    @include breakpoint(xs) {
        padding: 30px 0 30px;
    }
}
.ring-left {
    position: absolute;
    left: -46%;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    transform: translate(0, 25%);
    @include breakpoint(xs) {
        display: none;
    }
}
.ring-right{
    position: absolute;
    left: auto;
    right: -46%;
    margin: auto;
    top: 0;
    bottom: 0;
    transform: translate(0, 55%);
    @include breakpoint(xs) {
        display: none;
    }
}
.product-item{
    background: #F5F9FA;
    border-radius: 9px;
    padding: 15px;
    margin-top: 22px;
    // .product-thumb{
    //     width: 220px;
    //     height: 220px;
    //     border-radius: 50%;
    //     box-shadow: 0 0 15px rgba(0,0,0,.1);
    //     margin: 0px auto 30px auto;
    //     background: rgb(253,252,251);
    //     background: -moz-linear-gradient(top, rgba(253,252,251,1) 0%, rgba(226,209,195,1) 100%);
    //     background: -webkit-linear-gradient(top, rgba(253,252,251,1) 0%,rgba(226,209,195,1) 100%);
    //     background: linear-gradient(to bottom, rgba(253,252,251,1) 0%,rgba(226,209,195,1) 100%);
    //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfcfb', endColorstr='#e2d1c3',GradientType=0 );
    // }
    .pizzalgheading{
        margin: 0px 0 20px;
        color: $black;
        font-family: $proximablack;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 30px;
        padding-right: 50px;
        height: 70px;
    }
    .product-detail{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .product-detail-left{
            width: 70%;
            display: flex;
            align-items: center;
            p{
                font-size: 16px;
                color: $black;
                margin: 0;
                margin-left: 15px;
            }
        }
    }
    &.gradient-navy, &.gradient-clay, &.gradient-green, &.gradient-gray, &.gradient-teal{
        background: rgb(70,78,94);
        background: -moz-linear-gradient(left,  rgba(70,78,94,1) 0%, rgba(28,34,50,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(70,78,94,1) 0%,rgba(28,34,50,1) 100%);
        background: linear-gradient(to right,  rgba(70,78,94,1) 0%,rgba(28,34,50,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464e5e', endColorstr='#1c2232',GradientType=1 );
        .pizzalgheading{
            color: $white;
        }
        .product-thumb{
            margin-bottom: 20px;
            text-align: center;
        }
        .product-detail{
            .product-detail-left{
                p{
                    color: $white;
                }
            }
        }
    }
    &.gradient-clay{
        background: rgb(174,147,144);
        background: -moz-linear-gradient(left,  rgba(174,147,144,1) 0%, rgba(59,46,42,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(174,147,144,1) 0%,rgba(59,46,42,1) 100%);
        background: linear-gradient(to right,  rgba(174,147,144,1) 0%,rgba(59,46,42,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae9390', endColorstr='#3b2e2a',GradientType=1 );
    }
    &.gradient-green{
        background: rgb(54,106,55);
        background: -moz-linear-gradient(left,  rgba(54,106,55,1) 0%, rgba(13,60,24,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(54,106,55,1) 0%,rgba(13,60,24,1) 100%);
        background: linear-gradient(to right,  rgba(54,106,55,1) 0%,rgba(13,60,24,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#366a37', endColorstr='#0d3c18',GradientType=1 );
    }
    &.gradient-gray{
        background: rgb(243,242,243);
        background: -moz-linear-gradient(left,  rgba(243,242,243,1) 0%, rgba(161,161,161,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(243,242,243,1) 0%,rgba(161,161,161,1) 100%);
        background: linear-gradient(to right,  rgba(243,242,243,1) 0%,rgba(161,161,161,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f2f3', endColorstr='#a1a1a1',GradientType=1 );
        .pizzalgheading{
            color: $black;
        }
        .product-detail{
            .product-detail-left{
                p{
                    color: $black;
                }
            }
        }
    }
    &.gradient-teal{
        background: rgb(88,162,172);
        background: -moz-linear-gradient(left,  rgba(88,162,172,1) 0%, rgba(43,102,112,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(88,162,172,1) 0%,rgba(43,102,112,1) 100%);
        background: linear-gradient(to right,  rgba(88,162,172,1) 0%,rgba(43,102,112,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58a2ac', endColorstr='#2b6670',GradientType=1 );
    }
    @include breakpoint(xs) {
        margin-top: 22px;
        .product-thumb{
            // width: 120px;
            // height: 120px;
            margin: 0px auto 0;
        }
        .pizzalgheading{
            margin: 30px 0 30px;
            padding: 0;
            height: 80px;
        }
        .product-detail{
            .product-detail-left{
                p{
                    font-size: 10px;
                    line-height: 14px;
                }
            }
        }
    }
    @include breakpoint(xxs){
        border-radius: 15px;
        padding: 10px;
        .pizzalgheading{
            font-size: 16px;
            line-height: 19px;
            margin: 0px;
            height: 70px;
        }
        .product-detail{
            .product-detail-left{
                width: 75%;
                img{
                    width: 25px;
                }
                p{
                    font-size: 7px;
                    line-height: 12px;
                    margin-left: 5px;
                }
            }
            .pizza-img-btn{
                width: 25px;
                height: 25px;
                padding: 5px;
                display: flex;
                align-items: center;
                img{
                    position: relative;
                    top: 0;
                    left: 1px;
                }
            }
        }
    }
}
/*-- product-list-start --*/

/*-- just-for-start --*/
.just-for{
    padding: 60px 0;
    background: $lightgraybg;
    .just-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        .pizzalgheading{
            width: 70%;
            font-family: $proximarg;
            font-weight: bold;
            color: $brownfont;
            margin: 0;
            color: $orangefont;
            font-family: $proximablack;
            font-size: 20px;
        }
    }
    .justslider{
        margin: 0 0 0 -10px;
        .item{
            margin: 0 10px;
            .combooffer-box{
                img{
                    border-radius: 12px;
                }
            }
            &.just-combo{
                width:285px !important;
            }
        }
    }
    @include breakpoint(md){
        padding: 30px 0;
        .just-top{
            margin-bottom: 20px;
        }
        .justslider{
            margin: 0 0 0 -5px;
            .item{
                margin: 0 5px;
            }
        }
    }
    @include breakpoint(xs) {
        padding: 30px 0;
        .just-top{
            margin-bottom: 20px;
            .pizzalgheading{
                padding-left: 0;
            }
        }
        .justslider{
            padding-left: 0px;
            margin: 0 0 0 -5px;
            .item{
                margin: 0 5px;
                &.just-combo{
                    width:auto !important;
                }
            }
        }
    }
}
/*-- just-for-end --*/

/*-- combo-offer-start --*/
.combo-offer{
    padding: 60px 0 0;
    .comboofferslider{
        .combooffer-box{
            img{
                border-radius: 17px;
            }
        }
    }
    @include breakpoint(md) {
        padding: 30px 0 0;
    }
    @include breakpoint(xs) {
        padding: 30px 0 0;
        .comboofferslider{
            .item{
                margin: 0 5px;
                .combooffer-box{
                    img{
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
.comboofferslider{
    margin: 0 -10px;
    .item{
        margin: 0 10px;
    }
    @include breakpoint(md) {
        margin: 0 -5px;
        .item{
            margin: 0 5px;
        }
    }

    @include breakpoint(xs) {
        margin: 0 -5px;
    }
}
/*-- combo-offer-end --*/

/*-- order-our-start --*/
.order-our{
    padding: 60px 0;
    .order-our-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $graybg;
        .order-our-left{
            width: 50%;
            padding: 0 70px;
            .pizzaxlheading{
                font-family: $proximablack;
                font-weight: 900;
                color: $brown;
                margin: 0;
            }
            h5.pizzaxlheading{
                color: $orange;
            }
            p{
                font-size: 16px;
                color: $black;
                margin: 20px 0 40px;
            }
            .app-store{
                .app-btn{
                    display: inline-block;
                    background: $white;
                    border-radius: 6px;
                    text-align: center;
                    padding: 10px 30px;
                    margin-right: 30px;
                    img{
                        width: 82%;
                    }
                    &:last-child{
                        margin: 0;
                    }
                }
            }
        }
        .order-our-right{
            width: 50%;
            padding: 100px 50px 100px 120px;
            text-align: center;
            position: relative;
            z-index: 1;
            .order-scle{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: $orange;
                z-index: -1;
                overflow: hidden;
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -62px;
                    width: 125px;
                    height: 100%;
                    background: $graybg;
                    transform: skewX(-14deg);
                }
            }
        }
    }
    @include breakpoint(md) {
        padding: 30px 0;
        .order-our-main{
            .order-our-left{
                padding: 0 40px;
                .app-store{
                    .app-btn{
                        padding: 10px 20px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    @include breakpoint(sm) {
        padding: 30px 0;
        .order-our-main{
            flex-wrap: wrap;
            .order-our-left{
                width: 100%;
                order: 2;
                padding: 20px 20px 25px;
                text-align: center;
                p{
                    margin: 10px 0 20px;
                }
                .app-store{
                    .app-btn{
                        padding: 12px 15px;
                        margin-right: 15px;
                        img{
                            width: 80%;
                        }
                        &:last-child{
                            margin: 0;
                        }
                    }
                }
            }
            .order-our-right{
                width: 100%;
                padding: 30px 40px 20px 40px;
                .order-scle{
                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
    @include breakpoint(xs) {
        padding: 25px 0 0;
        .container{
            padding: 0;
        }
        .order-our-main{
            .order-our-left{
                padding: 20px 10px 25px;
                .app-store{
                    .app-btn{
                        padding: 12px 15px;
                        margin-right: 15px;
                        img{
                            width: 100%;
                        }
                        &:last-child{
                            margin: 0;
                        }
                    }
                }
            }
            .order-our-right{
                padding: 20px 30px 10px 30px;
            }
        }
    }
    @include breakpoint(xxs) {
        .order-our-main{
            .order-our-left{
                .app-store{
                    .app-btn{
                        padding: 12px 6px;
                        margin: 0px 5px;
                        margin-bottom: 0px;
                        img{
                            width: 70%;
                        }
                        &:last-child{
                            margin: 0px 5px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
/*-- order-our-end --*/
.find-top{
    padding: 60px 0 0;
    @include breakpoint(md){
        padding: 40px 0 0;
    }
    @include breakpoint(sm){
        padding: 70px 0 0;
    }
    @include breakpoint(xs){
        padding: 70px 0 0;
    }
}
.find-box{
    background: $black;
    border-radius: 5px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    p{
        font-size: 16px;
        color: $white;
        font-family: $proximarg;
        margin-right: 30px;
    }
    .find-btn{
        border: 1px solid $white;
        color: $white;
        font-size: 16px;
        font-family: $proximarg;
        font-weight: 400;
        border-radius: 5px;
        padding: 8px 15px;
        background: transparent;
        transition: ease-in-out .5s;
        -webkit-transition: ease-in-out .5s;
        -moz-transition: ease-in-out .5s;
        -ms-transition: ease-in-out .5s;
        i{
            width: 20px;
            height: 20px;
            font-size: 12px;
            text-align: center;
            border: 1px solid $white;
            border-radius: 50%;
            line-height: 19px;
            margin-right: 5px;
            color: $white;
            transition: ease-in-out .5s;
            -webkit-transition: ease-in-out .5s;
            -moz-transition: ease-in-out .5s;
            -ms-transition: ease-in-out .5s;
        }
        &:hover{
            background: $white;
            color: $black;
            i{
                color: $black;
                border-color: $black;
            }
        }
    }
    @include breakpoint(sm){
        justify-content: space-between;
        p{
            width: 70%;
        }
    }
    @include breakpoint(xs){
        flex-wrap: wrap;
        p{
            font-size: 14px;
            margin-bottom: 20px;
            width: 100%;
        }
    }
}

.size-popup{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    .size-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
        visibility: hidden;
        opacity: 0;
      //   transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .size-wrapper {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 40%;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 0 1.5em rgba(0,0,0,0.20);
        border: 1px solid $grayborder;
        border-radius: 20px;
        overflow: hidden;
    }
    .size-transition {
        opacity: 0;
    }
    .size-header{
        padding: 30px 40px;
        position: relative;
        background-color: $graybg;
        box-shadow: 0 1px 2px rgba(0, 0%, 0%, 0.06);
        border-bottom: 1px solid $orange;
        text-align: center;
        .user-icon{
            margin-bottom: 20px;
            i{
                color: $orange;
                font-size: 26px;
            }
        }
        .pizzalgheading{
            font-family: $proximarg;
            color: $brownfont;
            font-weight: bold;
            margin-bottom: 30px;
        }
        p{
            font-size: 14px;
            font-family: $proximarg;
            color: $brownfont;
            margin: 0;
        }
    }
    .size-content{
        padding: 30px 40px;
        background: $white;
    }

    .size-close {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 12px;
        color: #aaa;
        background: none;
        border: 0;
    }

    .size-close:hover {
        color: #777;
    }
    &.is-visible{
        visibility: visible;
        display: block;
        .size-overlay {
            opacity: 1;
            visibility: visible;
        }
        .size-transition {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }
    .signup-main{
        .form-group{
            margin-bottom: 15px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
            }
        }
    }
    @include breakpoint(slg) {
        .size-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .size-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs) {
        .size-wrapper{
            width: 95%;
        }
        .size-header{
            padding: 18px 20px;
            .vguardsmheading{
                font-size: 16px;
            }
        }
        .size-close{
            right: 10px;
            width: 45px;
        }
        .size-content{
            padding: 30px 20px;
        }
    }
    @include breakpoint(xxxs) {
    }
}

.find-popup{
    .size-wrapper{
        border: none;
        width: 45%;
    }
    .size-content{
        padding: 0;
    }
    .findpopuptab{
        background: $darkgraybg;
        padding: 30px 25px;
        text-align: center;
        border-bottom: 1px solid $orange;
        li{
            display: inline-block;
            a{
                font-size: 18px;
                color: $darkgraytext;
                position: relative;
                cursor: pointer;
                text-align: center;
                letter-spacing: .4px;
                font-weight: 800;
                padding: 0 45px 0 45px;
                line-height: 26px;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 36px;
                    height: 35px;
                    background: url(../../assets/images/sprite-image.png);
                    background-position: 0px -1835px;
                    background-size: 50px;
                }
                &::after{
                    position: absolute;
                    top: 49.5px;
                    left: -100%;
                    transform: rotate(45deg);
                    transition: left 1s ease;
                    margin-left: -5px;
                    border: solid $orange;
                    border-width: 0 1px 1px 0;
                    background-color: $darkgraybg;
                    padding: 4px;
                    width: 15px;
                    height: 15px;
                    content: "";
                    display: none;
                }
                &.active{
                    color: $orange;
                    &::after{
                        display: inline-block;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                    &::before{
                        background-position: 0px -1785px;
                    }
                }
            }
            &:nth-child(2){
                a{
                    &::before{
                        background-position: 0px -1980px;
                    }
                    &.active{
                        &::before{
                            background-position: 0px -2026px;
                        }
                    }
                }
            }
        }
    }
    .tab-content{
        background: $white;
        .find-form{
            padding: 40px 25px 25px;
            .pizzalgheading{
                text-align: center;
                font-size: 30px;
                font-weight: 400;
                font-family: $proximarg;
                margin-bottom: 30px;
            }
            .form-group{
                margin-bottom: 15px;
                position: relative;
                .label-top{
                    font-size: 16px;
                    font-family: $proximarg;
                    margin-bottom: 15px;
                }
                .form-control{
                    border: none;
                    border-bottom: 1px solid $grayborder;
                    padding: 5px 75px 5px 0;
                    height: 35px;
                }
                .find-btn{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    border: none;
                    color: $orange;
                    font-size: 13px;
                    font-family: $proximarg;
                    font-weight: 400;
                    border-radius: 0px;
                    padding: 0;
                    background: transparent;
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                    cursor: pointer;
                    i{
                        width: 17px;
                        height: 17px;
                        font-size: 10px;
                        text-align: center;
                        border: 1px solid $orange;
                        border-radius: 50%;
                        line-height: 16px;
                        margin-right: 5px;
                        color: $orange;
                        transition: ease-in-out .5s;
                        -webkit-transition: ease-in-out .5s;
                        -moz-transition: ease-in-out .5s;
                        -ms-transition: ease-in-out .5s;
                    }
                    &:hover{
                        background: transparent;
                        color: $orange;
                        i{
                            color: $orange;
                        }
                    }
                }
            }
            .find-right{
                text-align: right;
            }
        }
        .find-bg{
            img{
                width: 100%;
            }
        }
        .manually-main{
            padding: 40px 20px;
            .pizzalgheading{
                text-align: center;
                font-size: 30px;
                font-weight: 400;
                font-family: $proximarg;
                margin-bottom: 50px;
            }
            .form-group{
                margin-bottom: 25px;
                min-height: 60px;
                .label-top{
                    font-size: 14px;
                    font-family: $proximarg;
                    margin-bottom: 5px;
                    // span{
                    //     display: block;
                    // }
                }
                .form-control{
                    border: none;
                    border-bottom: 1px solid $grayborder;
                    padding: 5px 0;
                    height: 35px;
                    text-transform: uppercase;
                    &.select-form{
                        background: url(../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                        background-size: 10px;
                    }
                }
            }
            .manually-btn{
                text-align: right;
            }
        }
        .location-modal{
            margin: 0 5px;
            padding: 0 10px;
            width: calc(100% - 15px);
            overflow-y: scroll;
            height: 320px;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar {
                height: 5px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background: $grayborder;
            }
            &::-webkit-scrollbar-thumb {
                background: $graytext;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: $graytext;
            }
            .location-pick-list{
                position: relative;
                border-radius: 5px;
                border: 2px solid $grayborder;
                margin-bottom: 5px;
                display: flex;
                flex-wrap: wrap;
                font-family: $proximarg;
                cursor: pointer;
                padding: 10px 15px;
                .pizzaxxsheading{
                    font-size: 14px;
                    color: $deepgray;
                    font-family: $proximarg;
                    font-weight: 700;
                    letter-spacing: .3px;
                    margin-bottom: 3px;
                }
                .location-address{
                    width: 48%;
                    padding-left: 35px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0px;
                        width: 30px;
                        height: 25px;
                        background: url(../../assets/images/sprite-image.png);
                        background-position: 0 -2452px;
                        background-size: 40px;
                    }
                    p{
                        font-size: 12px;
                        font-weight: 400;
                        color: $deepgray;
                        line-height: 16px;
                        span{
                            display: block;
                        }
                    }
                }
                .location-hours{
                    width: 42%;
                    padding-left: 45px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 10px;
                        width: 30px;
                        height: 27px;
                        background: url(../../assets/images/sprite-image.png);
                        background-position: 0px -2965px;
                        background-size: 35px;
                    }
                    p{
                        font-size: 12px;
                        font-weight: 400;
                        color: $deepgray;
                        line-height: 16px;
                        span{
                            display: block;
                        }
                    }
                    .location-pickup{
                        font-size: 12px;
                        font-weight: 600;
                        color: $deepgray;
                    }
                }
                .location-hours-right{
                    width: 10%;
                    text-align: right;
                    p{
                        font-size: 13px;
                        color: $orange;
                        font-weight: 800;
                        letter-spacing: .3px;
                    }
                    i{
                        font-size: 11px;
                        color: $green;
                        display: none;
                    }
                }
                .location-directions{
                    width: 100%;
                    a{
                        font-size: 12px;
                        color: $orange;
                        font-weight: 600px;
                        i{
                            width: 17px;
                            height: 17px;
                            font-size: 10px;
                            text-align: center;
                            border: 1px solid $orange;
                            border-radius: 50%;
                            line-height: 16px;
                            margin-right: 5px;
                            color: $orange;
                        }
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                &.select-active{
                    border-color: $green;
                    .pizzaxxsheading{
                        color: $green;
                    }
                    .location-address{
                        &::before{
                            background-position: 0 -2488px;
                        }
                        p{
                            color: $green;
                        }
                    }
                    .location-hours{
                        &::before{
                            background-position: 0px -2997px;
                        }
                        p, .location-pickup{
                            color: $green;
                        }
                    }
                    .location-hours-right{
                        p{
                            display: none;
                        }
                        i{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(slg) {
        .size-wrapper{
            width: 75%;
        }
    }
    @include breakpoint(sm) {
        .size-wrapper{
            width: 90%;
        }
    }
    @include breakpoint(xs){
        .findpopuptab{
            padding: 20px 25px;
            li{
                a{
                    font-size: 16px;
                    padding: 0 25px 0 45px;
                    &::after{
                        top: 39.5px;
                    }
                }
            }
        }
        .tab-content{
            .find-form{
                .pizzalgheading{
                    font-size: 24px;
                    margin-bottom: 20px;
                }
                .form-group{
                    .label-top{
                        font-size: 14px;
                    }
                }
                .find-right{
                    .pizza-btn{
                        width: 100%;
                    }
                }
            }
            .manually-main{
                padding: 20px 10px;
                .pizzalgheading{
                    font-size: 24px;
                    margin-bottom: 20px;
                    line-height: 32px;
                }
                .form-group{
                    min-height: auto;
                    margin-bottom: 15px;
                }
            }
            .location-modal{
                height: 280px;
                .location-pick-list{
                    .location-address{
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .location-hours{
                        width: 100%;
                        padding-left: 35px;
                        margin-bottom: 10px;
                        &::before{
                            left: 0px;
                        }
                    }
                    .location-hours-right{
                        position: absolute;
                        top: 10px;
                        right: 22px;
                    }
                    .location-directions{
                        padding-left: 35px;
                    }
                }
            }
        }
        .size-wrapper{
            width: 95%;
        }
    }
}

.combooffer-box{
    background: $footergray;
    border-radius: 12px !important;
    overflow: hidden;
    border: 1px solid $grayborder;
    a{
        display: block;
        img{
            border-radius: 0px;
        }
    }
}
.just2{
    margin: 0px !important;
    overflow: hidden;
}

.justfor-botm-hding{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    .left-b{
        width: calc(100% - 80px);
        .pizzalgheading {
            font-size: 24px;
            text-transform: uppercase;
            font-family: $proximablack;
            color: $brown;
            margin: 0px;
            font-size: 18px;
        }
    }
    .right-b{
        width: 60px;
        display: block;
        text-align: right;
    }
    .right-b .pizza-img-btn{
        display: inline-block;
        width: 33px;
        height: 33px;
        img{
            border-radius: 0px;
        }
    }
}
.combo-offer{
    .combooffer-box{
        border-radius: 0px;
        border: none;
        background: none;
    }
}

.container, .pizza-list .container {
    width: 100%;
    max-width: 1140px;
}

.flx--home-heading{
    display: flex;
    justify-content: space-between;
    @include breakpoint(xs){
        .language-btn-product{
            padding-bottom: 20px;
            padding-right: 10px;
        }
    }
}