@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";
button:disabled,
button[disabled]{
    border: 1px solid #cccccc;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}
.passwordSugg{
    float: right;
    margin-top: -25px;
    text-transform: uppercase;
    line-height: 2rem;
    font-size: .8rem;
    font-weight: 600;
    .tooshort{
        color: #4c3017;
    }
    .weak{
        color: #857700;
    }
    .strong{
        color: #8abc53;
    }
}

.chooseFile{
    text-align: center;
    color: $orangefont;
    margin-top: 10px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i{
      font-size: 20px;
      color: $orange;
      margin-right: 4px;
    }
}
.signup-banner{
    padding: 60px 0 30px;
    background: url(../../../assets/images/sign-up-header.jpg) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #4c3017;
        opacity: .8;
        z-index: -1;
    }
    .back-btn{
        color: $white;
    }
    @include breakpoint(md) {
        padding: 30px 0;
    }
    @include breakpoint(xs) {
        padding: 30px 0;
    }
}
.signup-bottom{
    text-align: center;
    color: $white;
    margin-top: 30px;
    position: relative;
    .pizzalgheading{
        font-size: 30px;
        font-family: $proximarg;
        font-weight: bold;
        color: $white;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 40px;
    }
    p{
        font-size: 24px;
        font-family: $proximarg;
        font-weight: bold;
        color: $white;
        margin: 0;
    }
    .signin-top{
        position: absolute;
        top: 5px;
        margin: 0;
    }
    @include breakpoint(md) {
        margin-top: 20px;
        .pizzalgheading{
            margin-bottom: 0px;
        }
        p{
            font-size: 16px;
        }
        .signin-top{
            top: -30px;
        }
    }
    @include breakpoint(xs) {
        margin-top: 20px;
        .pizzalgheading{
            font-size: 24px;
            margin-bottom: 0px;
        }
        p{
            font-size: 14px;
        }
    }
}
.sign-up-steps{
    position: relative;
    width: 100px;
    margin: 0 auto;
    padding: 25px 0;
    &::after{
        content: "";
        width: calc(100% - 2px);
        height: 4px;
        border-radius: 5px;
        background: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
    }
    .step{
        width: 17px;
        height: 17px;
        margin-left: 25px;
        border: 1px solid $white;
        border-radius: 50%;
        background: $white;
        position: relative;
        &.active{
            background: $orange;
        }
        &:first-child{
            margin-left: 0;
        }
    }
}

.signup-main{
    padding: 60px 0;
    .signup-form{
        padding: 0px 45px;
        .form-group{
            margin-bottom: 25px;
            min-height: 60px;
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                // span{
                //     display: block;
                // }
            }
            .form-control{
                border: none;
                border-bottom: 1px solid $grayborder;
                padding: 5px 0;
                height: 35px;
            }
        }
        .day-box{
            .form-group{
                min-height: auto;
            }
        }
        .form-row{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .form-row-left{
                width: 50%;
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                .radio{
                    width: 15px;
                    height: 15px;
                    border: 1px solid $grayborder;
                    border-radius: 50%;
                    margin-right: 5px;
                }
                label{
                    font-size: 14px;
                    font-family: $proximarg;
                    margin-bottom: 0px;
                }
            }
            .create-account-wrapper{
                width: 40%;
                display: flex;
                padding-left: 15px;
                p{
                    font-size: 16px;
                    color: $black;
                    font-family: $proximarg;
                    font-weight: 600;
                    line-height: 24px;
                    margin: 0;
                }
                a{
                    font-size: 16px;
                    color: $orange;
                    font-family: $proximarg;
                    font-weight: 600;
                    line-height: 24px;
                    padding-left: 30px;
                    &:hover{
                        color: $orange;
                        text-decoration: underline;
                    }
                }
            }
        }
        .signup-radio{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            p{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 30px;
                width: 100%;
            }
            .form-row-left{
                margin-right: 25px;
                display: flex;
                align-items: center;
                .radio{
                    width: 26px;
                    height: 26px;
                    min-width: 26px;
                    border: 1px solid $grayborder;
                    border-radius: 50%;
                    margin-right: 15px;
                    cursor: pointer;
                }
                label{
                    font-size: 16px;
                    font-family: $proximarg;
                    margin-bottom: 0px;
                    cursor: pointer;
                }
            }
            .radio-btn-list {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 0px;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                input {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  height: 0;
                  width: 0;
                }
                p{
                    font-size: 16px;
                    font-family: $proximarg;
                    margin-bottom: 0px;
                    cursor: pointer;
                    color: $black;
                    line-height: 28px;
                }
              }
              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 26px;
                width: 26px;
                background-color: #fff;
                border-radius: 30px;
                border: 1px solid #ccc;
                &:after {
                  content: "";
                  position: absolute;
                  display: none;
                }
              }
              input:checked ~ .checkmark {
                background-color: $white;
                border:1px solid $orangeborder;
              }
              .checkmark:after {
                left: 8px;
                top: 4px;
                width: 7px;
                height: 12px;
                border: solid $orangeborder;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
              }
              input:checked ~ .checkmark:after {
                display: block;
              }
        }
        .date-row{
            margin-bottom: 0px;
            .form-group{
                .form-control{
                    &.select-form{
                        background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                        background-size: 10px;
                    }
                }
            }
            .label-top{
                font-size: 14px;
                font-family: $proximarg;
                margin-bottom: 5px;
                // span{
                //     display: block;
                // }
            }
        }
        .number-row{
            .form-group{
                .label-top{
                    // min-height: 46px;
                }
            }
        }
        .form-group{
            .form-control{
                &.select-form{
                    background: url(../../../assets/images/icons/select-icon.png) no-repeat 98% #ffffff;
                    background-size: 10px;
                }
            }
        }
        .language-box{
            display: none;
            margin-top: 25px;
        }
    }
    .signup-secondstep{
        .secondstep-left{
            text-align: center;
            .pizzalgheading{
                font-size: 30px;
                font-family: $proximarg;
                font-weight: 400;
                color: $brownfont;
                margin: 0;
                margin-bottom: 40px;
            }
            img{
                margin: 0 auto;
            }
        }
        .secondstep-right{
            .radio-card{
                .form-row-left{
                    width: 100%;
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
            }
            .date-row{
                .label-top{
                    // min-height: 40px;
                }
            }
            .create-account-wrapper{
                width: 70%;
                padding-left: 30px;
            }
        }
    }
    .signup-thirdstep{
        text-align: center;
        display: none;
        p{
            font-size: 16px;
            color: $black;
            font-family: $proximarg;
            margin-bottom: 45px;
        }
    }
    @include breakpoint(md) {
        padding: 40px 0;
        .signup-form{
            padding: 0px 15px;
        }
        .signup-secondstep{
            .secondstep-right{
                .create-account-wrapper{
                    width: 100%;
                    padding-left: 0;
                    margin-top: 30px;
                }
            }
        }
        .signup-thirdstep{
            p{
                margin-bottom: 20px;
            }
        }
    }
    @include breakpoint(xs) {
        padding: 30px 0;
        .signup-form{
            padding: 0;
            .date-row{
                margin-bottom: 10px;
            }
            .signup-radio{
                margin-bottom: 10px;
                p{
                    margin-bottom: 25px;
                }
            }
            .form-row{
                .form-row-btn{
                    width: 100%;
                    .pizza-btn{
                        width: 100%;
                    }
                }
            }
        }
        .signup-secondstep{
            .secondstep-left{
                margin-bottom: 30px;
                .pizzalgheading{
                    font-size: 24px;
                    margin-bottom: 20px;
                }
            }
            .secondstep-right{
                .create-account-wrapper{
                    width: 100%;
                    padding-left: 0;
                    margin-top: 30px;
                }
            }
        }
        .signup-thirdstep{
            p{
                font-size: 14px;
                margin-bottom: 20px;
            }
        }
    }
}

.upload-pic{
    position: relative;
    .profile-pic {
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        object-fit: contain;
    }

    .file-upload {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 0;
    }
    .circle {
        border-radius: 50%;
        overflow: hidden;
        width: 180px;
        height: 180px;
        border: 2px dashed $orange;
        position: relative;
        margin: 0 auto;
        transition: all .3s;
        padding-bottom: 28px;
        .clear-profile{
          background: $orange;
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: 0px;
          border: none;
          color: #fff;
          font-weight: 500;
          padding: 4px 0px;
          cursor: pointer;
          z-index: 99;
          text-align: center;
          &:focus{
            outline: none;
          }
        }
    }

    .circle:hover {
      background-color:$graybg;
      cursor: pointer
    }
    img {
        max-width: 100%;
        height: auto;
        min-width: 100%;
        min-height: 100%;
    }
    @include breakpoint(md) {
        .circle{
            width: 140px;
            height: 140px;
        }
        .profile-pic{
            max-width: 140px;
            max-height: 140px;
        }
        .file-upload {
            width: 140px;
            height: 140px;
            right: 0;
            margin: 0 auto;
        }
    }
    @include breakpoint(sm) {
        margin-bottom: 40px;
    }
    @include breakpoint(xs) {
        margin-bottom: 30px;
    }
}
.signuperrormob{
    display: none;
    @include breakpoint(xs) {
        display: block;
    }
}

.signuperrordesk{
    display: block;
    @include breakpoint(xs) {
        display: none;
    }
}

.errorMessage{
    font-weight: 700;
    padding-left: 10px;
}

.loginerrormsg,
.errormessage{
    color: red;
    font-size: 14px;
    font-family: "Proxima Nova Rg";
}
.errormessage{
    margin-top: 10px;
    font-weight: bold;
}

.checkbox-group {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    .select-el-wrapper{
        display: block;
        position: relative;
        margin-right: 5px;
        border: 1px solid #ccd6d8;
        border-radius: 50%;
        width: 16px;
        min-width: 16px;
        height: 16px;
        .select-el{
            display: none;
            position: absolute;
            top: calc(50% - 1px);
            left: 50%;
            transform: translate(-50%,-50%) rotate(-45deg);
            border-bottom: 2px solid $orange;
            border-left: 2px solid $orange;
            border-radius: 2px;
            width: 9px;
            height: 5px;
        }
    }
    .local-show-pw-label{
        font-weight: 700;
        color: $orange;
        font-size: 16px;
        font-family: $proximarg;
        line-height: 16px;
    }
    .checkbox-group-input{
        position: absolute;
        left: -99999px;
        &:checked+.select-el-wrapper{
            border-color: #ee5a00;
            .select-el{
                display: block;
            }
        }
        &:checked~span{
            color: #ee5a00;
        }
    }

}


.sign-up-succcessful{
  .succes-content-inner{
    text-align: center;
    padding: 90px 0px;
    .pizzaxsheading{
      margin-bottom: 90px;
    }
  }
}



.enter-otp-wraper{
    padding: 80px 0px;
    .inner-otp-wraper{
        width: 40%;
        margin:0px auto;
        .form-otp{
            width: 300px;
            margin: 0px auto;
            .input-otp{
                margin-bottom: 15px;
                input{
                    display: block;
                    width: 100%;
                    border: none;
                    background: #EEF1F5;
                    font-family: $proximablack;
                    border: 1px solid #dee2e6;
                    padding: 15px 15px;
                    border-radius: 5px;
                    font-size: 20px;
                    text-align: center;
                    margin: 0px auto;
                &::placeholder{
                    font-size: 14px;
                    font-family: $proximarg;
                }
                }
            }
            .otp-btn-box{
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;
                .resend-otp{
                    color:$orange;
                    background: none;
                    padding: 0px;
                    border: none;
                }
            }
        }
        .pizza-btn{
            width: 100%;
            text-align: center;
        }
        .heading-otp{
            text-align: center;
            color: #4C2F15;
            font-size: 22px;
            font-family: "Proxima Nova Bl";
            margin-bottom: 10px;
        }
        .otp-text-line{
            text-align: center;
            columns: #000;
            margin-bottom: 25px;
        }
       
    }
    @include breakpoint(md){
        .inner-otp-wraper{
            width: 80%;
        }
    }
    @include breakpoint(xs){
        .inner-otp-wraper{
            width: 100%;
            .form-otp{
                width: 100%;
            }
        }
    }
}