<section class="signup-banner signupformdiv" >
    <div class="container">
        <div class="signup-bottom">
            <div class="signin-top">
                <a class="back-btn" href="javascript:history.back()">Back</a>
            </div>
            <h1 class="pizzalgheading">Sign Up</h1>
            <!-- <div class="sign-up-steps d-flex align-items-center">
                <div class="step active"></div>
                <div class="step"></div>
                <div class="step"></div>
            </div> -->
            <p>Sign up and we’ll remember your recent orders and offer you exclusive promotions.</p>
        </div>
    </div>
</section>

<section class="signup-main signupformdiv" >
    <div class="container">
        <div class="errormessage signuperrordesk" style="text-align: center; margin-bottom: 20px;">{{errorMsg}}</div>
        <div class="signup-firststep" *ngIf="signupshow">
            <form [formGroup]='signupForm' (ngSubmit)="signupPostData()">
                <div class="row">
                    <div class="col-lg-2 upload-pic">
                        <!-- <div class="form-group">
                            <input type="file" class="form-control">
                        </div> -->
                        <div class="small-12 medium-2 large-2 columns">
                            <div class="circle upload-button">
                              <img class="profile-pic" alt="" id="blah" [src]="url">
                              <i class="fa fa-user-circle" aria-hidden="true"></i>
                              <span class="clear-profile" (click)="clearPhotos()">Clear</span>
                            </div>
                            <input class="file-upload" accept="image/*" type="file" id="fileUpload" alt="click to add profile photo" (change)="onselectFile($event)">
                            <label class="chooseFile" for="fileUpload"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Choose File</label>
                         </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div class="signup-form">
                            <div class="form-group">
                                <label class="label-top" [ngStyle]="{'color':signupForm.controls['fname'].invalid && (signupForm.controls['fname'].dirty || signupForm.controls['fname'].touched) ? 'red' : 'black' }">
                                    First Name <span class="asterisk">*</span>
                                    <span *ngIf="signupForm.controls['fname'].invalid && (signupForm.controls['fname'].dirty || signupForm.controls['fname'].touched)" class="errorMessage">
                                        <small *ngIf="signupForm.controls['fname'].hasError('required')">
                                        Missing
                                        </small>
                                    </span>
                                </label>
                                <input type="text" formControlName="fname" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="label-top" [ngStyle]="{'color':signupForm.controls['lname'].invalid && (signupForm.controls['lname'].dirty || signupForm.controls['lname'].touched) ? 'red' : 'black' }">
                                    Last Name <span class="asterisk">*</span>
                                    <span *ngIf="signupForm.controls['lname'].invalid && (signupForm.controls['lname'].dirty || signupForm.controls['lname'].touched)" class="errorMessage">
                                        <small *ngIf="signupForm.controls['lname'].hasError('required')">
                                        Missing
                                        </small>
                                    </span>
                                </label>
                                <input type="text" formControlName="lname" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="label-top" [ngStyle]="{'color':signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched) ? 'red' : 'black' }">
                                    Email Address <span class="asterisk">*</span>
                                    <span *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)" class="errorMessage">
                                        <small *ngIf="signupForm.controls['email'].hasError('required')">
                                        Missing
                                        </small>
                                        <small *ngIf="signupForm.controls['email'].hasError('email') || signupForm.controls['email'].hasError('pattern')">
                                            Invalid
                                        </small>
                                    </span>
                                </label>
                                <input type="text" formControlName="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="label-top" [ngStyle]="{'color':signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched) ? 'red' : 'black' }">
                                    Choose a Password<span class="asterisk">*</span>
                                    <span *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)" class="errorMessage">
                                        <small *ngIf="signupForm.controls['password'].hasError('required')">
                                        Missing
                                        </small>
                                        <small style="display: block;" *ngIf="signupForm.controls['password'].hasError('minlength') || signupForm.controls['password'].hasError('pattern')">
                                            Password should be in minimum 7 length characters and should contain at least one letter, one number and one special character.
                                        </small>
                                        
                                    </span>
                                </label>
                                <input [type]="show ? 'text' : 'password'" formControlName="password" class="form-control" (ngModelChange)="showPassSugg($event)">
                                <div class="passwordSugg">
                                    <span class="tooshort" *ngIf="tooshort">TOO SHORT</span>
                                    <span class="weak" *ngIf="weak">WEAK</span>
                                    <span class="strong" *ngIf="strong">STRONG</span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-row-left">
                                    <!-- <input type="checkbox" class="radio" (change)="showPassword($event)">
                                    <label>Show Password</label> -->
                                    <label class="checkbox-group" (change)="showPassword($event)">
                                        <input class="checkbox-group-input" name="show-password" type="checkbox">
                                        <span class="select-el-wrapper">
                                            <span class="select-el"></span>
                                        </span>
                                        <span class="local-show-pw-label"> Show Password </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div class="signup-form">
                            <div class="form-group signup-radio">
                                <div class="form-row-left">
                                    <!-- <input type="radio" class="radio" id="home" name="homeMobile" value="home" formControlName="homeMobile">
                                    <label for="home">Home</label> -->
                                    <label class="radio-btn-list">
                                        <p>Home</p>
                                        <input type="radio" id="home" name="homeMobile" value="home" formControlName="homeMobile">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="form-row-left">
                                    <!-- <input type="radio" class="radio" id="mobile" name="homeMobile" value="mobile" formControlName="homeMobile">
                                    <label for="mobile">Mobile</label> -->
                                    <label class="radio-btn-list">
                                        <p>Mobile</p>
                                        <input type="radio" id="mobile" name="homeMobile" value="mobile" formControlName="homeMobile">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row number-row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="label-top" [ngStyle]="{'color':signupForm.controls['phone'].invalid && (signupForm.controls['phone'].dirty || signupForm.controls['phone'].touched) ? 'red' : 'black' }">
                                            Phone Number <span class="asterisk">*</span>
                                            <span *ngIf="signupForm.controls['phone'].invalid && (signupForm.controls['phone'].dirty || signupForm.controls['phone'].touched)" class="errorMessage">
                                                <small *ngIf="signupForm.controls['phone'].hasError('required')">
                                                Missing
                                                </small>
                                                <small *ngIf="signupForm.controls['phone'].hasError('minlength') || signupForm.controls['phone'].hasError('pattern')">
                                                    Invalid
                                                </small>
                                            </span>
                                        </label>
                                        <input type="text" maxlength="10" formControlName="phone" class="form-control" placeholder="( )">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="label-top">Extension <span>(Optional)</span></label>
                                        <input type="text" maxlength="5" formControlName="extension" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row date-row">
                                <div class="col-md-12">
                                    <label class="label-top">Date of Birth <span>(Optional)</span></label>
                                </div>
                                <div class="col-4 col-md-4 day-box">
                                    <div class="form-group">
                                        <select class="form-control select-form" formControlName="day">
                                            <option value="">&nbsp; Day</option>
                                            <option value="{{day}}" *ngFor="let day of days">&nbsp; <span *ngIf="day<10">0</span>{{day}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 day-box">
                                    <div class="form-group">
                                        <select class="form-control select-form" formControlName="month">
                                            <option value="">&nbsp;Month</option>
                                            <option value="1">&nbsp;01</option>
                                            <option value="2">&nbsp;02</option>
                                            <option value="3">&nbsp;03</option>
                                            <option value="4">&nbsp;04</option>
                                            <option value="5">&nbsp;05</option>
                                            <option value="6">&nbsp;06</option>
                                            <option value="7">&nbsp;07</option>
                                            <option value="8">&nbsp;08</option>
                                            <option value="9">&nbsp;09</option>
                                            <option value="10">&nbsp;10</option>
                                            <option value="11">&nbsp;11</option>
                                            <option value="12">&nbsp;12</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 day-box">
                                    <div class="form-group">
                                        <select class="form-control select-form" formControlName="year">
                                            <option value="">&nbsp;Year</option>
                                            <option *ngFor="let year of years" value="{{year}}">&nbsp;{{year}}</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="signup-radio">
                                <p>Send me information about PZA Pizzeria Promotions, contests & offers <span class="asterisk">*</span></p>
                                <div class="form-row-left">
                                    <!-- <input type="radio" class="radio noradio" id="no" name="promotions" value="no" formControlName="promotions">
                                    <label for="no">No</label> -->
                                    <label class="radio-btn-list noradio">
                                        <p>No</p>
                                        <input type="radio" id="no" name="promotions" value="no" formControlName="promotions">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="form-row-left">
                                    <!-- <input type="radio" class="radio yesradio" id="yes" name="promotions" value="yes" formControlName="promotions">
                                    <label for="yes">Yes</label> -->
                                    <label class="radio-btn-list yesradio">
                                        <p>Yes</p>
                                        <input type="radio" id="yes" name="promotions" value="yes" formControlName="promotions">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row language-box">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-top">Language for Promotions <span class="asterisk">*</span></label>
                                        <select class="form-control select-form" formControlName="language">
                                            <option value="english">English</option>
                                            <option value="spanish">Spanish</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="errormessage signuperrormob" style="text-align: center; margin-bottom: 20px;">{{errorMsg}}</div>
                            <div class="form-row align-items-center pt-4">
                                <div class="form-row-btn">
                                    <button type="submit" [disabled]="!signupForm.valid" class="pizza-btn" value="Continue">Continue <i  *ngIf="signspin" class="fa fa-spinner fa-spin" style="color:#fff" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="signup-secondstep" *ngIf="clubCard">
            <div class="row">
                <div class="col-md-6">
                    <div class="signup-form secondstep-left">
                        <h2 class="pizzalgheading">Love pizza? Join the club.</h2>
                        <img src="assets/images/club-eleven-eleven.png" alt="club-eleven-eleven">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="signup-form secondstep-right">
                        <div class="signup-radio radio-card">
                            <div class="form-row-left">
                                <input type="radio" class="radio" id="needcard" name="needcard" value="needcard" (change)="chardChange($event)" checked>
                                <label for="needcard">I need a card</label>
                            </div>
                            <div class="form-row-left">
                                <input type="radio" class="radio" id="havecard" name="needcard" value="havecard" (change)="chardChange($event)">
                                <label for="havecard">I have a card</label>
                            </div>
                        </div>

                        <div *ngIf="cardNeeded">
                            <form [formGroup]='needCardForm' (ngSubmit)="neddCardPost(needCardForm)">
                                <div class="form-group">
                                    <label class="label-top">Street Address</label>
                                    <input type="text" class="form-control" formControlName="streetAddress">
                                </div>
                                <div class="row date-row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="label-top">Apartment <span>(Optional)</span></label>
                                            <input type="text" class="form-control" formControlName="Apartment">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="label-top">Date of Birth <span>(Optional)</span></label>
                                    </div>
                                    <div class="col-4 col-lg-4 day-box">
                                        <div class="form-group">
                                            <select class="form-control select-form" formControlName="needday">
                                                <option value="">Day</option>
                                                <option value="{{day}}" *ngFor="let day of days">{{day}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-4 day-box">
                                        <div class="form-group">
                                            <select class="form-control select-form" formControlName="needmonth">
                                                <option value="">Month</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                                <option value="9">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-4 day-box">
                                        <div class="form-group">
                                            <select class="form-control select-form" formControlName="needyear">
                                                <option value="">Year</option>
                                                <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="signup-radio">
                                    <p>Send me information about PZA Pizzeria Promotions, contests & offers</p>
                                    <div class="form-row-left">
                                        <input type="radio" class="radio noradio" id="no" name="no" value="no" formControlName="needpromotion">
                                        <label for="no">No</label>
                                    </div>
                                    <div class="form-row-left">
                                        <input type="radio" class="radio yesradio" id="yes" name="no" value="yes" formControlName="needpromotion">
                                        <label for="yes">Yes</label>
                                    </div>
                                </div>
                                <div class="row language-box">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-top">Language for Promotions</label>
                                            <select class="form-control select-form" formControlName="needlanguage">
                                                <option>English</option>
                                                <option>Spanish</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row align-items-center pt-4">
                                    <div class="form-row-btn">
                                        <input type="submit" class="pizza-btn" value="Register">
                                    </div>
                                    <div class="create-account-wrapper">
                                        <p>No thanks, just</p>
                                        <a routerLink="/user/sign-in">Create my Account</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div *ngIf="cardHaved">
                            <div class="form-group">
                                <label class="label-top">Club 11-11 Number</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="row date-row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="label-top">Club 11-11 Pin</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>



                            </div>
                            <div class="signup-radio">
                                <p>Send me information about PZA Pizzeria Promotions, contests & offers</p>
                                <div class="form-row-left">
                                    <input type="radio" class="radio noradio" id="no" name="no" value="no">
                                    <label for="no">No</label>
                                </div>
                                <div class="form-row-left">
                                    <input type="radio" class="radio yesradio" id="yes" name="no" value="yes">
                                    <label for="yes">Yes</label>
                                </div>
                            </div>
                            <div class="row language-box">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-top">Language for Promotions</label>
                                        <select class="form-control select-form">
                                            <option>English</option>
                                            <option>Spanish</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row align-items-center pt-4">
                                <div class="form-row-btn">
                                    <input type="submit" class="pizza-btn" value="Register">
                                </div>
                                <div class="create-account-wrapper">
                                    <p>No thanks, just</p>
                                    <a routerLink="/user/sign-in">Create my Account</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="signup-thirdstep">
            <p>Welcome to PZA Pizzeria.Now please, take advantage of all our special offers!</p>
            <a href="#" class="pizza-btn">Continue </a>
        </div>
    </div>
</section>



<section class="signup-banner otpmain">
    <div class="container">
        <div class="signup-bottom">
            <div class="signin-top">
                <a class="back-btn" style="cursor: pointer;" (click)="backotp()">Back</a>
            </div>
            <h1 class="pizzalgheading">Sign Up</h1>
            <p>Sign up and we’ll remember your recent orders and offer you exclusive promotions.</p>
        </div>
    </div>
</section>
<section class="enter-otp-wraper otpmain" >
    <div class="container">
        <div class="inner-otp-wraper">
            <p class="heading-otp">Please enter the OTP to verify your account</p>
           <p class="otp-text-line">A OTP (one time password) has been sent to your registered email ID</p>
           <p class="otp-text-line" style="color: red;">{{errorMsg}}</p>
           <form [formGroup]='otpform' (ngSubmit)="afterotpsuccess(otpform)">
            <div class="form-otp">
                <div class="input-otp">
                                
                    <input type="text" maxlength="6"  formControlName="otp" placeholder="Please Enter OTP Here">
                    <div [ngStyle]="{'color':otpform.controls['otp'].invalid && (otpform.controls['otp'].dirty || otpform.controls['otp'].touched) ? 'red' : 'black' }">
                        
                        <span *ngIf="otpform.controls['otp'].invalid && (otpform.controls['otp'].dirty || otpform.controls['otp'].touched)" class="errorMessage">
                            <small *ngIf="otpform.controls['otp'].hasError('required')">
                            Missing
                            </small>
                            <small *ngIf="otpform.controls['otp'].hasError('minlength') || otpform.controls['otp'].hasError('maxlength') || otpform.controls['otp'].hasError('pattern')">
                                Invalid
                            </small>
                        </span>
                    </div>
                  </div>
                  <div class="otp-btn-box">
                    <p *ngIf="timershow" class="notranslate">Time Remaining: <span>00: <span *ngIf="lessthanten">0</span>{{maxTime}}</span></p>
                   <button *ngIf="resendotpbtn" type="button" class="resend-otp" (click)="signupPostData()">Resend OTP</button>
                  </div>
                  <div class="text-center">
                     <button type="submit" value="Submit" class="pizza-btn" [disabled]="!otpform.valid">Submit <i  *ngIf="otpspin" class="fa fa-spinner fa-spin" style="color:#fff" aria-hidden="true"></i></button>
                  </div>
               </div>
           </form>
        </div>
    </div>
</section>


<div class="sign-up-succcessful" *ngIf="successfulSection">
  <div class="signup-banner">
    <div class="container">
    <div class="signup-bottom">
     
        <h1 class="pizzalgheading">SUCCESS!</h1>
        <!-- <div class="sign-up-steps d-flex align-items-center">
            <div class="step active"></div>
            <div class="step"></div>
            <div class="step"></div>
        </div> -->
        <p>Sign up Successful</p>
    </div>
  </div>
  </div>
<div class="container">
  <div class="succes-content-inner">
    <p class="pizzaxsheading">Welcome to PZA Pizzeria. Now please, take advantage of all our special offers!</p>
    <div class="btn-bx-succes">
      <a (click)="signupSuccess()" class="pizza-btn">Continue </a>
    </div>
 </div>
</div>
</div>
