
<app-side-header></app-side-header>

<div class="inner-main" >

  <section>
    <div class="banner-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="assets/images/investors/corporate-profile/Investors_CorporateProfile.jpg">
        <source media="(min-width: 768px)" srcset="assets/images/investors/corporate-profile/Investors_CorporateProfile.jpg">
        <img src="assets/images/investors/corporate-profile/Investors_CorporateProfile.jpg" alt="banner-nutritionbanner">
      </picture>
      <div class="banner-content-q">
          <h1 class="pizzaxlheading">CORPORATE PROFILE</h1>
        </div>
    </div>
  </section>

  <section class="padding-section corporate-profile">
    <div class="nutration-tab-wraper">
      <div class="nutrion-tab">
        <ul class="tab-wraper-list">
            <li *ngFor="let corporateList of corporateLists">
              <a class="pizzaxsheading active" (click)="openMenuList(corporateList)" [ngClass]="{'active':corporateselectedList===corporateList}" href="javascript:void(0);">
                  {{corporateList}}
              </a>
             </li>
        </ul>
      </div>

    <div class="tab-content">
        <div class="tab-content-inner" *ngIf="corporateselectedList === 'Corporate Structure'">
          <div class="heading-box">
            <h2 class="pizzaxlheading">CORPORATE STRUCTURE</h2>
          </div>
          <div class="corporate-content">
            <p>Pizza Pizza Royalty Corp. (“PPRC”), formerly Pizza Pizza Royalty Income Fund, is a corporation established under the laws of Ontario and owns certain trademarks and trade names used by Pizza Pizza Limited (“Pizza Pizza”) in its restaurants.</p>
            <p>PPRC, through its ownership of the Partnership, earns royalty income equal to 6% of the system sales of Pizza Pizza restaurants in the royalty pool and 9% of the Pizza 73 restaurants in the royalty pool, less the Partnership’s operating expenses, and PPL’s share of the Partnership income.</p>
            <p>Pizza Pizza Limited´s interest in the earnings of the Partnership is through its ownership in Class B and Class D Partnership units. Each Class B and Class D Unit can be exchanged for that number of units equal to the Class B and Class D Exchange Multipliers as defined in the Licence and Royalty Agreement applicable at the date of the exchange.</p>
          </div>
        </div>


        <div class="tab-content-inner" *ngIf="corporateselectedList === 'Corporate Directors'">
          <div class="heading-box">
            <h2 class="pizzaxlheading">CORPORATE DIRECTORS</h2>
            <div class="pizzaxxsheading">INDEPENDENT BOARD MEMBERS</div>
          </div>
          <div class="corporate-content">
            <h2 class="pizzasmheading">Neil Lester, Director</h2>
            <p>Neil Lester is a well respected foodservice and franchise executive with proven track record of strategic planning, P&L management, and franchise system development.  He has led aggressive growth for a number of international companies and helped many clients create profitable growth strategies of their own.  His background includes senior management roles with international brands such as Wendy’s Restaurant, Blockbuster Video retail stores and Burger King Restaurants.</p>

            <h2 class="pizzasmheading">Edward Nash, Director</h2>
            <p>Edward Nash is the founder and Managing Director of Nash & Company Capital Managers. Previously, he was Managing Director and Head of Corporate Development and Merchant Banking at CIBC. He holds an MBA from The Wharton School, an MA from the University of Pennsylvania and a B.Comm. from Queen’s University and is designated a CPA, CMA.</p>

            <h2 class="pizzasmheading">Michelle Savoy, Director</h2>
            <p>Michelle Savoy brings over 25 years of experience in the financial services industry. She currently serves as a director for Laurentian Bank of Canada (LB-T), Ontario Pension Board and Nav Canada. She earned a BBA from University of Ottawa and is a graduate of the Institute of Corporate Directors education program.</p>

            <h2 class="pizzasmheading">Jay Swartz, Chairperson and Director</h2>
            <p>Mr. Swartz is a senior partner at Davies Ward Phillips & Vineberg LLP. He has diverse practice with particular emphasis on banking, debt financing, and private equity funds. Mr. Swartz was called to the Ontario Bar in 1979, with a Bachelor of Law at Osgood Hall and his Bachelor of Art at York University.</p>

            <h2 class="pizzasmheading">Kathy Welsh, Audit Committee Chair</h2>
            <p>Prior to retirement, Kathy Welsh was an independent consultant and held a number of senior financial positions, including Chief Financial Officer for Radian Communication, The Second Cup, and Canada Bread. Ms. Welsh received her B.Comm from Queen’s University in 1980 and earned her CPA designation in 1982. In 2008 she became an Institute Certified Director.</p>
          </div>

          <div class="corporate-content">
            <div class="heading-box">
              <h2 class="pizzaxxsheading">NON-INDEPENDENT BOARD MEMBERS</h2>
            </div>
            <p>These board members are currently employed by Pizza Pizza Limited and serve important executive roles.</p>
            <h2 class="pizzasmheading">Paul Goddard, Chief Executive Officer</h2>
            <p>Paul Goddard became Chief Executive Officer on March 31, 2010 upon the passing of Michael Overs, the founder of Pizza Pizza. Paul is a licensed professional engineer, and holds an honours engineering degree from Queen’s University and an MBA from London Business School, UK. Paul is also a member of the Board of Governors for Excellence Canada, a not-for-profit, organization committed to organizational excellence.</p>

            <h2 class="pizzasmheading">Curt Feltner, Chief Financial Officer</h2>
            <p>Curtis Feltner holds a B.Sc. degree from Indiana University. He became a certified public accountant in 1983, and worked in a financial capacity in the real estate industry for ten years prior to joining Pizza Pizza as Controller in 1993. He was promoted to Chief Financial Officer in 1999 and Vice President, Finance in 2005.</p>
          </div>

        </div>



    </div>
    </div>
  </section>


</div>








