
<app-side-header></app-side-header>
<div [innerHTML]="investorsdata.SECTION1[0].only_html | safeHtml"></div>
<!-- <div class="inner-main" >

  <section class="investors-info-center" id="infocentre">
    <div class="banner-wrapper">
      <picture>
				<source media="(max-width: 767px)" srcset="assets/images/investors/Investors-Info-CentreHeader2-mob.jpg">
				<source media="(min-width: 768px)" srcset="assets/images/investors/Investors-Info-CentreHeader2.jpg">
				<img src="assets/images/investors/Investors-Info-CentreHeader2.jpg" alt="banner-investor">
			</picture>
      <div class="banner-content-q">
          <h1 class="pizzaxlheading">INVESTORS INFO CENTRE</h1>
          <div class="row banner-investor-row">
            <div class="col-sm-6">
              <img src="assets/images/investors/Investors_PizzaPizzaLogo.png" alt="pizza logo">
            </div>
            <div class="col-sm-6">
              <img src="assets/images/investors/Investors_Pizza73Logo.png" alt="pizza logo">
            </div>
          </div>
      </div>
    </div>
  </section>

  <section class="padding-section shareperformance" id="shareperformance">
        <p class="pizzasmheading">At Pizza Pizza, we’ve been delivering performance and shareholder value for over 50 years. Find out all you need to know about Pizza Pizza’s finances and corporate profile right here.</p>
        <div class="heading-box">
          <h2 class="pizzaxlheading">SHARE PERFORMANCE</h2>
        </div>

        <div class="performence-wraper">
          <div class="row">
            <div class="col-sm-6">
              <div>
                <p class="pizzasmheading">Pizza Pizza Royalty Corp.</p>
                <div class="reality-crop-wraper">
                  <p><strong>(PZA)</strong> $ 13.10</p>
                  <p><strong>Change:</strong> --0.01 (-0.08%)</p>
                  <p><strong>Last:</strong> 13.11</p>
                  <p><strong>Volume:</strong> 17400</p>
                  <p><strong>Day High:</strong> 13.13</p>
                  <p><strong>Day Low:</strong> 13.00</p>
                  <p><strong>Last Trade Date:</strong> 2022-06-08</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="chart-wraper">
                 <p class="pizzasmheading">Pizza Pizza Royalty Corp Stock Chart (TSX:PZA.TO)</p>
                 <img src="assets/images/investors/getChart.svg">
              </div>
            </div>

            <div class="col-sm-12">
              <div class="audio-wraper">
                <audio controls>
                  <source src="assets/images/investors/rec01153686_20220511164819.mp3" type="audio/mp3">
                  Your browser does not support the audio element.
                </audio>
                <p>Conference Call Q1</p>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section id="investornews">
        <div class="banner-wrapper">
          <picture>
            <source media="(max-width: 767px)" srcset="assets/images/investors/investor-news_product-mob.jpg">
            <source media="(min-width: 768px)" srcset="assets/images/investors/investor-news_product.jpg">
            <img src="assets/images/investors/investor-news_product.jpg" alt="banner-leadership">
          </picture>
          <div class="banner-content-q">
              <h2 class="pizzaxlheading">INVESTOR NEWS</h2>
          </div>
        </div>

        <div class="padding-section investor-news">
          <div class="about-accordion">
            <ul>
                <li>
                    <div class="about-accordion-title accordion" id="news-faq-1">
                        <div class="pizzaxxsheading">2022</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content panel">
                      <div>
                        <div class="recipe-accordian">
                          <h2 class="pizzasmheading">TIME TO REVERSE THOSE COOKING PLANS. UNO IS BACK AT PIZZA PIZZA!</h2>
                          <p>TORONTO, March 18, 2022 - Easy to pick up, impossible to put down; UNO is officially back at Pizza Pizza and Pizza 73 locations across the country. This unique partnership between Mattel Canada (NASDAQ: MAT) and Pizza Pizza and Pizza 73 (TSX: PZA) has returned for another year and gives pizza lovers and game night enthusiasts the perfect experience with…</p>
                          <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                        </div>
                      </div>
                    </div>
                </li>
                <li>
                    <div class="about-accordion-title accordion" id="news-faq-2">
                        <div class="pizzaxxsheading">2021</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content panel">
                      <div>
                        <div class="recipe-accordian">
                          <h2 class="pizzasmheading">PIZZA PIZZA LIMITED ANNOUNCES INTERNATIONAL EXPANSION WITH MASTER FRANCHISE AGREEMENT TO LAUNCH IN MEXICO</h2>
                          <p>TORONTO, Dec. 1, 2021 /CNW/ - PIZZA PIZZA LIMITED today announced as part of its ongoing expansion plans in Canada and beyond, the establishment of a Master Franchise Agreement with Guadalajara based KSG/GrünCorp. The partnership will see the leading Canadian pizza chain enter the Mexican marketplace in 2022. GrünCorp, through its affiliated company Key Spot Group ("KSG") will be the Master Franchisee for Mexico, responsible for developing…</p>
                          <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                        </div>
      
                        <div class="recipe-accordian">
                          <h2 class="pizzasmheading">BC Pizza Pizza Party</h2>
                          <p>VANCOUVER, September 2021 – Time flies when you do what you love and in Pizza Pizza’s case, that’s serving great pies on the west coast. Since 2018 Pizza Pizza has grown to 17 restaurants in British Columbia with many more to come.  To say thanks and give back to the people of BC, the brand will be throwing a free…</p>
                          <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                        </div>
      
                        <div class="recipe-accordian">
                          <h2 class="pizzasmheading">Free Slice for All!</h2>
                          <p>MONTREAL, July 2021 – As proud sponsor and official Pizza of the Montreal Canadiens, Pizza Pizza has pledged free slices for the city of Montreal on July 14th. The brand hopes to celebrate the Montreal Canadiens tremendous season and valiant playoff effort with a Pizza Pizza Party for Montrealers alike.  On July 14th, between 11am – 3pm ET, fans will…</p>
                          <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                        </div>
      
                        <div class="recipe-accordian">
                          <h2 class="pizzasmheading">Pizza and Beer – together at last at Pizza Pizza</h2>
                          <p>TORONTO, June 22, 2021 /CNW/ - Just in time for summer, Pizza Pizza, has officially announced its plans to introduce Beer as a new beverage item at locations across Canada in 2021. June 7th marked the initial launch at 20 locations in Hamilton, ON and Winnipeg, MB. Customers in these cities will have the opportunity to purchase beer on-site, for…</p>
                          <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                        </div>
      
                        <div class="recipe-accordian">
                          <h2 class="pizzasmheading">UNO® Celebrates 50 Years of Bringing People Together with Pizza Pizza and Pizza 73!</h2>
                          <p>Receive a Limited-Edition UNO Deck With Every Pizza Pizza and Pizza 73 UNO Combo Purchased TORONTO, March 15, 2021 /CNW/ - Today, Mattel Canada (NASDAQ: MAT) announces its partnership with Pizza Pizza and Pizza 73 locations across Canada to celebrate UNO's 50th anniversary with the 'UNO Combo'. The UNO Combo gives friends and families everything they need to enjoy a…</p>
                          <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                        </div>
                      </div>
    
                    </div>
                </li>
                <li>
                  <div class="about-accordion-title accordion" id="news-faq-3">
                      <div class="pizzaxxsheading">2020</div>
                      <span class="plus-icon"></span>
                  </div>
                  <div class="about-accordion-content panel">
                    <div>
                      <div class="recipe-accordian">
                        <h2 class="pizzasmheading">Pizza Pizza Royalty Corp Announces Promotion of Christine D’Sylva to CFO, and Appointment of Longstanding CFO Curt Feltner to New Role as SVP, Strategy & Analytics</h2>
                        <p>TRADING SYMBOL:  TSX:  PZA.TO TORONTO, ON, Dec. 14, 2020 /CNW/ - Pizza Pizza Royalty Corp (“PPRC”) and Pizza Pizza Limited (“PPL”), are pleased to announce that Christine D’Sylva has been promoted to Chief Financial Officer (CFO) of PPRC and PPL, reporting to CEO, Paul Goddard, effective January 1, 2021.  Meanwhile, Curt Feltner, longstanding CFO, is transitioning into a new senior management…</p>
                        <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                      </div>
      
                      <div class="recipe-accordian">
                        <h2 class="pizzasmheading">Pizza Pizza Delivers Peace of Mind with New Tamper Proof Pizza Box</h2>
                        <p>TORONTO, April 8, 2020 – Pizza Pizza’s latest innovation comes at a time when food safety is more important than ever. Revealed today, Pizza Pizza’s Tamper Proof Pizza Box features a safety locking mechanism that must be broken by the customer to access the pizza inside. The proprietary Tamper Proof Pizza Box provides customers with an extra level of assurance…</p>
                        <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                      </div>
      
                      <div class="recipe-accordian">
                        <h2 class="pizzasmheading">Pizza Pizza Introduces Keto Crust: A low-carb Option for Keto Pizza Lovers</h2>
                        <p>TORONTO, January 6, 2020 – Canadians can now uncarb their pizza with the launch of keto pizza options at Pizza Pizza. Starting today, Pizza Pizza customers can order three new menu items – including customized options – featuring the deliciously uncompromising Keto Uncrust by Unbun Foods. With only two grams of net carbs per slice, this latest innovation provides more…</p>
                        <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                      </div>
                    </div>
    
                  </div>
              </li>
    
              <li>
                <div class="about-accordion-title accodion" id="news-faq-4">
                    <div class="pizzaxxsheading">2019</div>
                    <span class="plus-icon"></span>
                </div>
                <div class="about-accordion-content panel">
                 <div>
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza brings game night to your dinner table with Special Edition Raptors GameBox</h2>
                    <p>TORONTO, December 11, 2019 Pizza Pizza’s latest innovation comes from thinking outside of the box. The all-new Raptors “GameBox” transforms traditional pizza packaging into a fun, interactive experience for Raptors and pizza fans alike. The box features perforated cut-outs which quickly assemble into a miniature tabletop basketball game, complete with basketball game pieces. “There’s nothing that brings people together more…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
    
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza introduces ‘Gourmet Thins’: a line of individually sized, chef-inspired recipes</h2>
                    <p>TORONTO, Ontario, October 8, 2019 – Pizza Pizza continues to innovate in the premium category, with its new lineup of 10” Gourmet Thin Crust Pizzas, featuring all-new ingredients like Creamy Truffle Sauce, Blue Cheese and Provolone. The launch caters to Canadians who are looking for a more upscale pizza experience through a reliable delivery service. Priced at $7.29, and consisting…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
    
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza Adds Plant-Based Protein Options to the Menu</h2>
                    <p>TTORONTO, June 24, 2019 – Canadians looking for more flexibility and plant-based options when it comes to their pizza orders need to look no further. Today, Pizza Pizza announced the launch of their new Super Plant Pizza, the first plant-based protein topping recipe available on the menu.  The latest innovation by the iconic Canadian brand is in response to the growing trend…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
    
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza & Pizza 73 deliver 10,000 Slices for 10,000 Smiles</h2>
                    <p>TORONTO, May 22, 2019 – Starting Monday, May 27th, Pizza Pizza and Pizza 73 challenge Canadians to put smiles on children’s faces, with the NEW Slices for Smiles offering. The Slices for Smiles program, now in its 12th year,  returns with a twist. Pizza Pizza and Pizza 73’s Slices for Smiles Foundation is on a mission to personally deliver 10,000…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
    
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza trades iconic orange for white to celebrate home sl-ice advantage for Jets in Winnipeg</h2>
                    <p>WINNIPEG, April 8, 2019 / CNW / –  Go Jets Go! As the Winnipeg Jets get set to host their first home game as part of the 2019 NHL playoffs, proud partner, Pizza Pizza, is already displaying tremendous signs of team spirit in the local community by participating in the tradition of the Winnipeg Whiteout. With 12 restaurants across Winnipeg,…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
    
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza brings the heat with new Spicy Tex-Mex Pizza and Avocado Fries</h2>
                    <p>TORONTO, March 18, 2019 –  Pizza Pizza just dropped the ultimate food mash-up, with the Spicy Tex-Mex Pizza, the perfect blend of tacos and pizza, to be accompanied with a unique new appetizer Avocado Fries. Pizza Pizza’s hottest new menu items are available across the country. “Pizza Pizza is on the pulse of trends and innovations in the food industry. We have…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
                 </div>
    
                </div>
            </li>
    
            <li>
              <div class="about-accordion-title accordion" id="news-faq-5">
                  <div class="pizzaxxsheading">2018</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
               <div>
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">New study reveals that 7 out of 10 of Canadians prefer pizza over candy</h2>
                  <p>TORONTO, October 31, 2018 Halloween treats come in different shapes and sizes, this year, the ultimate trick-or-treat is a warm pie of cheesy goodness. According to a new study commissioned by Pizza Pizza and executed by Ipsos, when given the choice between Halloween candy or pizza, 74% of Canadians preferred pizza! We repeat, three quarters of Canadians prefer pizza over candy! Some would say…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
    
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza Expands into British Columbia with First Location in New Westminster</h2>
                  <p>Vancouver, September 18  2018  Canada’s leading pizza chain, Pizza Pizza has officially made its way to the West Coast with its first location now open at 527 Sixth Street in New Westminster. This recent opening marks the start of the pizza franchise’s planned expansion across the Greater Vancouver Area with locations in Vancouver, Burnaby and Surrey slated for opening in…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
    
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza brings cauliflower-based pizza crust to menu</h2>
                  <p>TORONTO, July 25, 2018 /CNW/-  Canadians are going to be able to “Cauli” Pizza Pizza for a new, delicious crust alternative.  As of July 16, Pizza Pizza’s latest innovation – Cauliflower Crust Pizza – is available at restaurants across the country. “Pizza Pizza has always been a consistent innovator and we know consumers are on the hunt for trend-worthy meals that…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
    
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pepperoni Smile Pizzas return to Pizza Pizza menu in support of local children’s hospitals</h2>
                  <p>TORONTO, April 23, 2018 – From April 23 to 29, Pizza Pizza is offering customers a medium pizza, topped with a pepperoni smile for $5.99 – a one-dollar discount off the regular price of a medium pepperoni pizza – with a portion of proceeds going to local children’s hospitals through Children’s Miracle Network Canada. “A smile does go a long way,”…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
    
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza celebrates Valentine’s Day with an innovative new way to surprise a loved one</h2>
                  <p>TORONTO, February 9, 2018 – On any given day, love and pizza go together like cheese and pepperoni. This Valentine’s Day, Pizza Pizza lavishes Canadians with a package that includes the company’s renowned pizza shaped like a heart, complimentary heart-shaped chocolates, personalized labels and the chance to win a two-carat diamond ring*. Through the new personalized labels, customers can send a…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
    
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Alpine Ontario Alpin welcomes Pizza Pizza as title sponsor of Southern Ontario Division Ski Team</h2>
                  <p>COLLINGWOOD, February 1, 2018 –– Alpine Ontario Alpin and the Southern Ontario Division welcome Pizza Pizza as the new title sponsor of the SOD Ski Team. The title sponsorship builds on a 2017 partnership that saw Pizza Pizza become the presenting sponsor of the Road to the OCUP Finals – a fruitful partnership that afforded Canada’s leading pizza chain a platform to serve…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
               </div>
              </div>
          </li>
    
          <li>
            <div class="about-accordion-title accordion" id="news-faq-6">
                <div class="pizzaxxsheading">2017</div>
                <span class="plus-icon"></span>
            </div>
            <div class="about-accordion-content panel">
              <div>
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza opens new location in Sainte-Dorothée</h2>
                  <p>MONTREAL, December 15, 2017 – Pizza Pizza, Canada’s leading pizza chain, continues its expansion in Quebec with the opening of a new restaurant at 241 Samson Boulevard, just south of Boul Notre-Dame, in Sainte-Dorothée, Laval.  This will mark Pizza Pizza’s 57th location in Quebec (traditional and express stores combined). “When we began a renewed program of growth in Quebec ten years ago,…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza partners with third-generation farmers, Chudleigh’s, to offer Apple Crumble Pie</h2>
                  <p>TORONTO, November 21, 2017 – Pie lovers- sweet and savoury- are coming together, thanks to a partnership between Chudleigh’s Farm and Pizza Pizza. The popular third-generation farm has partnered with Canada’s leading pizza chain to offer consumers their signature Apple Crumble Pie, just in time for the holidays. This scratch-made dessert, made with freshly peeled, Northern Spy apples, flavoured with cinnamon…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza commits to raising $2 million towards new state-of-the-art SickKids building on University Avenue</h2>
                  <p>TORONTO, November 15, 2017 – Pizza Pizza is working with SickKids Foundation to support their SickKids VS Limits campaign – the largest fundraising campaign in the history of Canadian health care. Canada’s leading pizza chain has committed to raising $2 million as part of the Foundation’s campaign to fundraise a total of $1.3 billion, a large chunk of which would be used to…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza thanks Canadians for 50 years with throwback pricing</h2>
                  <p>TORONTO, October 16, 2017 – This year marks Pizza Pizza’s 50th anniversary and to celebrate Canada’s leading pizza chain is holding a nation-wide party and serving up slices at 1967 prices while also raising money for children’s hospitals. On Tuesday, October 17, 2017, from 11 a.m. to 11 p.m., Canadians can walk into any traditional Pizza Pizza location across the country and…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">“Crack the Cardboard” contest makes a comeback as part of Pizza Pizza’s 50th birthday celebrations</h2>
                  <p>TORONTO, October 10, 2017 – In celebration of its 50th birthday, Pizza Pizza is bringing back its highly popular Crack the Cardboard contest – an old-time classic from the ’90s. Customers who purchase a large pizza – walk-in or delivery – will receive a box fitted with a tear strip that they must uncover to find out if they’ve won. The total value…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza heads back to school to celebrate Frosh Week and its 50th birthday on Canadian campuses</h2>
                  <p>TORONTO, August 31, 2017 – Pizza Pizza, Canada’s leading pizza chain, kicks off its fifth annual Frosh Week campus tour, starting at U of T Scarborough on August 31, and ending at The University of Western Ontario on September 13. As part of its 50th year anniversary program, students won’t want to miss this special delivery! Decked out in festive attire…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza reintroduces Bocci Bits to its summer line-up, and they’re rolling off the shelves!</h2>
                  <p>TORONTO, August 9, 2017 – As part of its 50th anniversary celebrations, Pizza Pizza has brought back its beloved Bocci Bits. The garlic-infused, Parmesan-topped dough bits first made their mark in 2000 with customers who were left wanting more when the company stopped making them. “We’ve had customers asking for them ever since we took them off the menu,” says Pat…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza adds Spicy Tandoori Veggie Pizza to its menu</h2>
                  <p>Toronto, June 5, 2017 – Pizza Pizza announces the launch of an exciting new flavour, Spicy Tandoori Veggie Pizza, available now at all traditional restaurants in Canada. The new Spicy Tandoori Veggie Pizza is made using a tandoori masala and green chili sauce that’s topped with red onions, green peppers and mushrooms, as well as a hearty sprinkling of chili flakes…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza opens three new restaurants in Quebec</h2>
                  <p>Montreal, May 31, 2017 – Pizza Pizza, coming off a record year of growth in the Quebec, announces the opening of three more restaurants in the province – 5510 boulevard Henri-Bourassa ouest in Ville St Laurent, 12908 rue Sherbrooke est in Pointes aux Trembles and a first location in Sherbrooke at 2755 rue King ouest. All of the restaurants offer a wide…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza program, Slices for Devices, brings in more than 4 tonnes of recycled electronics</h2>
                  <p>TORONTO, May 15, 2017 – For the 14th consecutive year, Canadian consumers joined businesses, schools and Pizza Pizza staff and partners to recycle electronic waste this spring as part of the Pizza Pizza Slices for Devices program. The company was able to deliver 4.257 tonnes of electronic waste to Recycle My Electronics Programs, its partner for the past two years. “Slices for Devices…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza opens its first location in Sherbrooke</h2>
                  <p>MONTREAL, May 11, 2017 – One of Canada’s largest pizza chains continues to expand in Quebec with the opening of its first location in Sherbrooke. Located at 2755 King Street West, near Lionel-Groulx Boulevard, the new Pizza Pizza restaurant offers an extensive menu that includes its famous line up of pizzas, including classic, gourmet and gluten free options, as well as…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza joins Scotiabank Road Hockey to Conquer Cancer as presenting sponsor, says “game on” to cancer</h2>
                  <p>TORONTO, April 25, 2017 – The Princess Margaret Cancer Foundation welcomes Pizza Pizza as its new presenting sponsor for Scotiabank Road Hockey to Conquer Cancer through 2019. Pizza Pizza’s commitment supports the Foundation’s vision to Conquer Cancer In Our Lifetime and ensures Scotiabank Road Hockey to Conquer Cancer will continue to break records and drive impact to support Princess Margaret Cancer…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza fundraising for children’s hospitals one slice at a time</h2>
                  <p>TORONTO, April 20, 2017 – Pepperoni smile pizzas are on the menu at Pizza Pizza over the next month as its Slices for Smiles Foundation’s spring fundraiser kicks-off on April 21, in support of Children’s Miracle Network and its member children’s hospitals across Canada. Until May 21, customers can help support the fundraiser by purchasing a special 10” half-pizza topped with…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Take a slice out of your spring cleaning, join Pizza Pizza by recycling your electronics this Earth Month</h2>
                  <p>TORONTO, April 3, 2017 – Pizza Pizza has its green thumb out to help Canadians kick start their spring cleaning as part of the company’s annual Slices for Devices campaign. Pizza lovers are invited to drop off eligible electronics devices at any participating location and Pizza Pizza will trade it for a free slice of pepperoni or cheese pizza throughout the…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza introduces dairy-free, vegan cheese chain-wide</h2>
                  <p>Toronto, March 7, 2017 – Pizza Pizza announces today the launch of vegan cheese, a new dairy-free menu option that allows Canada’s growing vegan community to customize their pizzas with a cheese-like product that respects the vegan diet.  The innovative ingredient is produced by Violife, a company founded by food enthusiasts who believe that cheese is all about love, family and…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza and Pizza 73 raise record amount for Children’s Miracle Network</h2>
                  <p>TORONTO, February 27, 2017 – Pizza Pizza and Pizza 73 continue to raise dough through its Slices for Smiles Foundation, announcing that the companies raised a record $500,000 in 2016. The half million mark is the most funds raised to date by the sister chains in the foundation’s 10-year history. The money will be donated to Children’s Miracle Network and its member children’s…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza gears up for one of its busiest days of the year</h2>
                  <p>Toronto, January 30, 2017 – Canada’s leading pizza chain is getting ready to score a touchdown with pizza and wing lovers this Super Bowl Sunday, as Pizza Pizza and its restaurant locations prepare for the rush that follows on game day. “It’s one of our busiest days of the year,” said Pat Finelli, Chief Marketing Officer for Pizza Pizza. “We typically…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">All chicken products available at Pizza Pizza now Raised Without Antibiotics</h2>
                  <p>Toronto, January 23, 2017 – Pizza Pizza, Canada’s leading pizza chain, is kicking off the new year and its 50th anniversary with a commitment to ensuring all chicken products that are a part of its menu are raised without the use of antibiotics. The change is effective immediately, on everything from chicken wings and boneless chicken bites to chicken tenders and grilled…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza reports a record growth year in Montreal</h2>
                  <p>MONTREAL, January 19, 2017 – The recent opening of a new Pizza Pizza location in Montreal marks a record number of stores to have opened in any one market in 2016. Six new Pizza Pizza restaurants have opened in the greater Montreal area last year alone. The newest restaurant located at 1270 Jarry Road E features Pizza Pizza’s new lobby-style store design with…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
              </div>
    
            </div>
        </li>
    
            </ul>
        </div>
        </div>

      </section>

      <section id="corporatepress">
        <div href="" class="banner-wrapper">
          <picture>
            <source media="(max-width: 767px)" srcset="assets/images/investors/Investors_CorporatePress-mob.jpg">
            <source media="(min-width: 768px)" srcset="assets/images/investors/Investors_CorporatePress.jpg">
            <img src="assets/images/investors/Investors_CorporatePress.jpg" alt="banner-leadership">
          </picture>
          <div class="banner-content-q">
              <h2 class="pizzaxlheading">CORPORATE PRESS</h2>
          </div>
        </div>

        <div class="padding-section investor-news">
          <div class="about-accordion">
            <ul>
                <li>
                    <div class="about-accordion-title accordion" id="news-faq-1">
                        <div class="pizzaxxsheading">2022</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content panel">
                      <div>
                        <div class="recipe-accordian">
                          <h2 class="pizzasmheading">TIME TO REVERSE THOSE COOKING PLANS. UNO IS BACK AT PIZZA PIZZA!</h2>
                          <p>TORONTO, March 18, 2022 - Easy to pick up, impossible to put down; UNO is officially back at Pizza Pizza and Pizza 73 locations across the country. This unique partnership between Mattel Canada (NASDAQ: MAT) and Pizza Pizza and Pizza 73 (TSX: PZA) has returned for another year and gives pizza lovers and game night enthusiasts the perfect experience with…</p>
                          <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                        </div>
                      </div>
                    </div>
                </li>
                <li>
                    <div class="about-accordion-title accordion" id="news-faq-2">
                        <div class="pizzaxxsheading">2021</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content panel">
                      <div>
                        <div class="recipe-accordian">
                          <h2 class="pizzasmheading">PIZZA PIZZA LIMITED ANNOUNCES INTERNATIONAL EXPANSION WITH MASTER FRANCHISE AGREEMENT TO LAUNCH IN MEXICO</h2>
                          <p>TORONTO, Dec. 1, 2021 /CNW/ - PIZZA PIZZA LIMITED today announced as part of its ongoing expansion plans in Canada and beyond, the establishment of a Master Franchise Agreement with Guadalajara based KSG/GrünCorp. The partnership will see the leading Canadian pizza chain enter the Mexican marketplace in 2022. GrünCorp, through its affiliated company Key Spot Group ("KSG") will be the Master Franchisee for Mexico, responsible for developing…</p>
                          <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                        </div>
      
                        <div class="recipe-accordian">
                          <h2 class="pizzasmheading">BC Pizza Pizza Party</h2>
                          <p>VANCOUVER, September 2021 – Time flies when you do what you love and in Pizza Pizza’s case, that’s serving great pies on the west coast. Since 2018 Pizza Pizza has grown to 17 restaurants in British Columbia with many more to come.  To say thanks and give back to the people of BC, the brand will be throwing a free…</p>
                          <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                        </div>
      
                        <div class="recipe-accordian">
                          <h2 class="pizzasmheading">Free Slice for All!</h2>
                          <p>MONTREAL, July 2021 – As proud sponsor and official Pizza of the Montreal Canadiens, Pizza Pizza has pledged free slices for the city of Montreal on July 14th. The brand hopes to celebrate the Montreal Canadiens tremendous season and valiant playoff effort with a Pizza Pizza Party for Montrealers alike.  On July 14th, between 11am – 3pm ET, fans will…</p>
                          <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                        </div>
      
                        <div class="recipe-accordian">
                          <h2 class="pizzasmheading">Pizza and Beer – together at last at Pizza Pizza</h2>
                          <p>TORONTO, June 22, 2021 /CNW/ - Just in time for summer, Pizza Pizza, has officially announced its plans to introduce Beer as a new beverage item at locations across Canada in 2021. June 7th marked the initial launch at 20 locations in Hamilton, ON and Winnipeg, MB. Customers in these cities will have the opportunity to purchase beer on-site, for…</p>
                          <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                        </div>
      
                        <div class="recipe-accordian">
                          <h2 class="pizzasmheading">UNO® Celebrates 50 Years of Bringing People Together with Pizza Pizza and Pizza 73!</h2>
                          <p>Receive a Limited-Edition UNO Deck With Every Pizza Pizza and Pizza 73 UNO Combo Purchased TORONTO, March 15, 2021 /CNW/ - Today, Mattel Canada (NASDAQ: MAT) announces its partnership with Pizza Pizza and Pizza 73 locations across Canada to celebrate UNO's 50th anniversary with the 'UNO Combo'. The UNO Combo gives friends and families everything they need to enjoy a…</p>
                          <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                        </div>
                      </div>
    
                    </div>
                </li>
                <li>
                  <div class="about-accordion-title accordion" id="news-faq-3">
                      <div class="pizzaxxsheading">2020</div>
                      <span class="plus-icon"></span>
                  </div>
                  <div class="about-accordion-content panel">
                    <div>
                      <div class="recipe-accordian">
                        <h2 class="pizzasmheading">Pizza Pizza Royalty Corp Announces Promotion of Christine D’Sylva to CFO, and Appointment of Longstanding CFO Curt Feltner to New Role as SVP, Strategy & Analytics</h2>
                        <p>TRADING SYMBOL:  TSX:  PZA.TO TORONTO, ON, Dec. 14, 2020 /CNW/ - Pizza Pizza Royalty Corp (“PPRC”) and Pizza Pizza Limited (“PPL”), are pleased to announce that Christine D’Sylva has been promoted to Chief Financial Officer (CFO) of PPRC and PPL, reporting to CEO, Paul Goddard, effective January 1, 2021.  Meanwhile, Curt Feltner, longstanding CFO, is transitioning into a new senior management…</p>
                        <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                      </div>
      
                      <div class="recipe-accordian">
                        <h2 class="pizzasmheading">Pizza Pizza Delivers Peace of Mind with New Tamper Proof Pizza Box</h2>
                        <p>TORONTO, April 8, 2020 – Pizza Pizza’s latest innovation comes at a time when food safety is more important than ever. Revealed today, Pizza Pizza’s Tamper Proof Pizza Box features a safety locking mechanism that must be broken by the customer to access the pizza inside. The proprietary Tamper Proof Pizza Box provides customers with an extra level of assurance…</p>
                        <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                      </div>
      
                      <div class="recipe-accordian">
                        <h2 class="pizzasmheading">Pizza Pizza Introduces Keto Crust: A low-carb Option for Keto Pizza Lovers</h2>
                        <p>TORONTO, January 6, 2020 – Canadians can now uncarb their pizza with the launch of keto pizza options at Pizza Pizza. Starting today, Pizza Pizza customers can order three new menu items – including customized options – featuring the deliciously uncompromising Keto Uncrust by Unbun Foods. With only two grams of net carbs per slice, this latest innovation provides more…</p>
                        <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                      </div>
                    </div>
    
                  </div>
              </li>
    
              <li>
                <div class="about-accordion-title accodion" id="news-faq-4">
                    <div class="pizzaxxsheading">2019</div>
                    <span class="plus-icon"></span>
                </div>
                <div class="about-accordion-content panel">
                 <div>
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza brings game night to your dinner table with Special Edition Raptors GameBox</h2>
                    <p>TORONTO, December 11, 2019 Pizza Pizza’s latest innovation comes from thinking outside of the box. The all-new Raptors “GameBox” transforms traditional pizza packaging into a fun, interactive experience for Raptors and pizza fans alike. The box features perforated cut-outs which quickly assemble into a miniature tabletop basketball game, complete with basketball game pieces. “There’s nothing that brings people together more…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
    
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza introduces ‘Gourmet Thins’: a line of individually sized, chef-inspired recipes</h2>
                    <p>TORONTO, Ontario, October 8, 2019 – Pizza Pizza continues to innovate in the premium category, with its new lineup of 10” Gourmet Thin Crust Pizzas, featuring all-new ingredients like Creamy Truffle Sauce, Blue Cheese and Provolone. The launch caters to Canadians who are looking for a more upscale pizza experience through a reliable delivery service. Priced at $7.29, and consisting…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
    
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza Adds Plant-Based Protein Options to the Menu</h2>
                    <p>TTORONTO, June 24, 2019 – Canadians looking for more flexibility and plant-based options when it comes to their pizza orders need to look no further. Today, Pizza Pizza announced the launch of their new Super Plant Pizza, the first plant-based protein topping recipe available on the menu.  The latest innovation by the iconic Canadian brand is in response to the growing trend…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
    
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza & Pizza 73 deliver 10,000 Slices for 10,000 Smiles</h2>
                    <p>TORONTO, May 22, 2019 – Starting Monday, May 27th, Pizza Pizza and Pizza 73 challenge Canadians to put smiles on children’s faces, with the NEW Slices for Smiles offering. The Slices for Smiles program, now in its 12th year,  returns with a twist. Pizza Pizza and Pizza 73’s Slices for Smiles Foundation is on a mission to personally deliver 10,000…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
    
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza trades iconic orange for white to celebrate home sl-ice advantage for Jets in Winnipeg</h2>
                    <p>WINNIPEG, April 8, 2019 / CNW / –  Go Jets Go! As the Winnipeg Jets get set to host their first home game as part of the 2019 NHL playoffs, proud partner, Pizza Pizza, is already displaying tremendous signs of team spirit in the local community by participating in the tradition of the Winnipeg Whiteout. With 12 restaurants across Winnipeg,…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
    
                  <div class="recipe-accordian">
                    <h2 class="pizzasmheading">Pizza Pizza brings the heat with new Spicy Tex-Mex Pizza and Avocado Fries</h2>
                    <p>TORONTO, March 18, 2019 –  Pizza Pizza just dropped the ultimate food mash-up, with the Spicy Tex-Mex Pizza, the perfect blend of tacos and pizza, to be accompanied with a unique new appetizer Avocado Fries. Pizza Pizza’s hottest new menu items are available across the country. “Pizza Pizza is on the pulse of trends and innovations in the food industry. We have…</p>
                    <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                  </div>
                 </div>
    
                </div>
            </li>
    
            <li>
              <div class="about-accordion-title accordion" id="news-faq-5">
                  <div class="pizzaxxsheading">2018</div>
                  <span class="plus-icon"></span>
              </div>
              <div class="about-accordion-content panel">
               <div>
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">New study reveals that 7 out of 10 of Canadians prefer pizza over candy</h2>
                  <p>TORONTO, October 31, 2018 Halloween treats come in different shapes and sizes, this year, the ultimate trick-or-treat is a warm pie of cheesy goodness. According to a new study commissioned by Pizza Pizza and executed by Ipsos, when given the choice between Halloween candy or pizza, 74% of Canadians preferred pizza! We repeat, three quarters of Canadians prefer pizza over candy! Some would say…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
    
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza Expands into British Columbia with First Location in New Westminster</h2>
                  <p>Vancouver, September 18  2018  Canada’s leading pizza chain, Pizza Pizza has officially made its way to the West Coast with its first location now open at 527 Sixth Street in New Westminster. This recent opening marks the start of the pizza franchise’s planned expansion across the Greater Vancouver Area with locations in Vancouver, Burnaby and Surrey slated for opening in…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
    
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza brings cauliflower-based pizza crust to menu</h2>
                  <p>TORONTO, July 25, 2018 /CNW/-  Canadians are going to be able to “Cauli” Pizza Pizza for a new, delicious crust alternative.  As of July 16, Pizza Pizza’s latest innovation – Cauliflower Crust Pizza – is available at restaurants across the country. “Pizza Pizza has always been a consistent innovator and we know consumers are on the hunt for trend-worthy meals that…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
    
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pepperoni Smile Pizzas return to Pizza Pizza menu in support of local children’s hospitals</h2>
                  <p>TORONTO, April 23, 2018 – From April 23 to 29, Pizza Pizza is offering customers a medium pizza, topped with a pepperoni smile for $5.99 – a one-dollar discount off the regular price of a medium pepperoni pizza – with a portion of proceeds going to local children’s hospitals through Children’s Miracle Network Canada. “A smile does go a long way,”…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
    
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza celebrates Valentine’s Day with an innovative new way to surprise a loved one</h2>
                  <p>TORONTO, February 9, 2018 – On any given day, love and pizza go together like cheese and pepperoni. This Valentine’s Day, Pizza Pizza lavishes Canadians with a package that includes the company’s renowned pizza shaped like a heart, complimentary heart-shaped chocolates, personalized labels and the chance to win a two-carat diamond ring*. Through the new personalized labels, customers can send a…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
    
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Alpine Ontario Alpin welcomes Pizza Pizza as title sponsor of Southern Ontario Division Ski Team</h2>
                  <p>COLLINGWOOD, February 1, 2018 –– Alpine Ontario Alpin and the Southern Ontario Division welcome Pizza Pizza as the new title sponsor of the SOD Ski Team. The title sponsorship builds on a 2017 partnership that saw Pizza Pizza become the presenting sponsor of the Road to the OCUP Finals – a fruitful partnership that afforded Canada’s leading pizza chain a platform to serve…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
               </div>
              </div>
          </li>
    
          <li>
            <div class="about-accordion-title accordion" id="news-faq-6">
                <div class="pizzaxxsheading">2017</div>
                <span class="plus-icon"></span>
            </div>
            <div class="about-accordion-content panel">
              <div>
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza opens new location in Sainte-Dorothée</h2>
                  <p>MONTREAL, December 15, 2017 – Pizza Pizza, Canada’s leading pizza chain, continues its expansion in Quebec with the opening of a new restaurant at 241 Samson Boulevard, just south of Boul Notre-Dame, in Sainte-Dorothée, Laval.  This will mark Pizza Pizza’s 57th location in Quebec (traditional and express stores combined). “When we began a renewed program of growth in Quebec ten years ago,…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza partners with third-generation farmers, Chudleigh’s, to offer Apple Crumble Pie</h2>
                  <p>TORONTO, November 21, 2017 – Pie lovers- sweet and savoury- are coming together, thanks to a partnership between Chudleigh’s Farm and Pizza Pizza. The popular third-generation farm has partnered with Canada’s leading pizza chain to offer consumers their signature Apple Crumble Pie, just in time for the holidays. This scratch-made dessert, made with freshly peeled, Northern Spy apples, flavoured with cinnamon…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza commits to raising $2 million towards new state-of-the-art SickKids building on University Avenue</h2>
                  <p>TORONTO, November 15, 2017 – Pizza Pizza is working with SickKids Foundation to support their SickKids VS Limits campaign – the largest fundraising campaign in the history of Canadian health care. Canada’s leading pizza chain has committed to raising $2 million as part of the Foundation’s campaign to fundraise a total of $1.3 billion, a large chunk of which would be used to…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza thanks Canadians for 50 years with throwback pricing</h2>
                  <p>TORONTO, October 16, 2017 – This year marks Pizza Pizza’s 50th anniversary and to celebrate Canada’s leading pizza chain is holding a nation-wide party and serving up slices at 1967 prices while also raising money for children’s hospitals. On Tuesday, October 17, 2017, from 11 a.m. to 11 p.m., Canadians can walk into any traditional Pizza Pizza location across the country and…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">“Crack the Cardboard” contest makes a comeback as part of Pizza Pizza’s 50th birthday celebrations</h2>
                  <p>TORONTO, October 10, 2017 – In celebration of its 50th birthday, Pizza Pizza is bringing back its highly popular Crack the Cardboard contest – an old-time classic from the ’90s. Customers who purchase a large pizza – walk-in or delivery – will receive a box fitted with a tear strip that they must uncover to find out if they’ve won. The total value…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza heads back to school to celebrate Frosh Week and its 50th birthday on Canadian campuses</h2>
                  <p>TORONTO, August 31, 2017 – Pizza Pizza, Canada’s leading pizza chain, kicks off its fifth annual Frosh Week campus tour, starting at U of T Scarborough on August 31, and ending at The University of Western Ontario on September 13. As part of its 50th year anniversary program, students won’t want to miss this special delivery! Decked out in festive attire…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza reintroduces Bocci Bits to its summer line-up, and they’re rolling off the shelves!</h2>
                  <p>TORONTO, August 9, 2017 – As part of its 50th anniversary celebrations, Pizza Pizza has brought back its beloved Bocci Bits. The garlic-infused, Parmesan-topped dough bits first made their mark in 2000 with customers who were left wanting more when the company stopped making them. “We’ve had customers asking for them ever since we took them off the menu,” says Pat…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza adds Spicy Tandoori Veggie Pizza to its menu</h2>
                  <p>Toronto, June 5, 2017 – Pizza Pizza announces the launch of an exciting new flavour, Spicy Tandoori Veggie Pizza, available now at all traditional restaurants in Canada. The new Spicy Tandoori Veggie Pizza is made using a tandoori masala and green chili sauce that’s topped with red onions, green peppers and mushrooms, as well as a hearty sprinkling of chili flakes…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza opens three new restaurants in Quebec</h2>
                  <p>Montreal, May 31, 2017 – Pizza Pizza, coming off a record year of growth in the Quebec, announces the opening of three more restaurants in the province – 5510 boulevard Henri-Bourassa ouest in Ville St Laurent, 12908 rue Sherbrooke est in Pointes aux Trembles and a first location in Sherbrooke at 2755 rue King ouest. All of the restaurants offer a wide…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza program, Slices for Devices, brings in more than 4 tonnes of recycled electronics</h2>
                  <p>TORONTO, May 15, 2017 – For the 14th consecutive year, Canadian consumers joined businesses, schools and Pizza Pizza staff and partners to recycle electronic waste this spring as part of the Pizza Pizza Slices for Devices program. The company was able to deliver 4.257 tonnes of electronic waste to Recycle My Electronics Programs, its partner for the past two years. “Slices for Devices…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza opens its first location in Sherbrooke</h2>
                  <p>MONTREAL, May 11, 2017 – One of Canada’s largest pizza chains continues to expand in Quebec with the opening of its first location in Sherbrooke. Located at 2755 King Street West, near Lionel-Groulx Boulevard, the new Pizza Pizza restaurant offers an extensive menu that includes its famous line up of pizzas, including classic, gourmet and gluten free options, as well as…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza joins Scotiabank Road Hockey to Conquer Cancer as presenting sponsor, says “game on” to cancer</h2>
                  <p>TORONTO, April 25, 2017 – The Princess Margaret Cancer Foundation welcomes Pizza Pizza as its new presenting sponsor for Scotiabank Road Hockey to Conquer Cancer through 2019. Pizza Pizza’s commitment supports the Foundation’s vision to Conquer Cancer In Our Lifetime and ensures Scotiabank Road Hockey to Conquer Cancer will continue to break records and drive impact to support Princess Margaret Cancer…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza fundraising for children’s hospitals one slice at a time</h2>
                  <p>TORONTO, April 20, 2017 – Pepperoni smile pizzas are on the menu at Pizza Pizza over the next month as its Slices for Smiles Foundation’s spring fundraiser kicks-off on April 21, in support of Children’s Miracle Network and its member children’s hospitals across Canada. Until May 21, customers can help support the fundraiser by purchasing a special 10” half-pizza topped with…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Take a slice out of your spring cleaning, join Pizza Pizza by recycling your electronics this Earth Month</h2>
                  <p>TORONTO, April 3, 2017 – Pizza Pizza has its green thumb out to help Canadians kick start their spring cleaning as part of the company’s annual Slices for Devices campaign. Pizza lovers are invited to drop off eligible electronics devices at any participating location and Pizza Pizza will trade it for a free slice of pepperoni or cheese pizza throughout the…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza introduces dairy-free, vegan cheese chain-wide</h2>
                  <p>Toronto, March 7, 2017 – Pizza Pizza announces today the launch of vegan cheese, a new dairy-free menu option that allows Canada’s growing vegan community to customize their pizzas with a cheese-like product that respects the vegan diet.  The innovative ingredient is produced by Violife, a company founded by food enthusiasts who believe that cheese is all about love, family and…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza and Pizza 73 raise record amount for Children’s Miracle Network</h2>
                  <p>TORONTO, February 27, 2017 – Pizza Pizza and Pizza 73 continue to raise dough through its Slices for Smiles Foundation, announcing that the companies raised a record $500,000 in 2016. The half million mark is the most funds raised to date by the sister chains in the foundation’s 10-year history. The money will be donated to Children’s Miracle Network and its member children’s…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza gears up for one of its busiest days of the year</h2>
                  <p>Toronto, January 30, 2017 – Canada’s leading pizza chain is getting ready to score a touchdown with pizza and wing lovers this Super Bowl Sunday, as Pizza Pizza and its restaurant locations prepare for the rush that follows on game day. “It’s one of our busiest days of the year,” said Pat Finelli, Chief Marketing Officer for Pizza Pizza. “We typically…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">All chicken products available at Pizza Pizza now Raised Without Antibiotics</h2>
                  <p>Toronto, January 23, 2017 – Pizza Pizza, Canada’s leading pizza chain, is kicking off the new year and its 50th anniversary with a commitment to ensuring all chicken products that are a part of its menu are raised without the use of antibiotics. The change is effective immediately, on everything from chicken wings and boneless chicken bites to chicken tenders and grilled…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
      
                <div class="recipe-accordian">
                  <h2 class="pizzasmheading">Pizza Pizza reports a record growth year in Montreal</h2>
                  <p>MONTREAL, January 19, 2017 – The recent opening of a new Pizza Pizza location in Montreal marks a record number of stores to have opened in any one market in 2016. Six new Pizza Pizza restaurants have opened in the greater Montreal area last year alone. The newest restaurant located at 1270 Jarry Road E features Pizza Pizza’s new lobby-style store design with…</p>
                  <a href="#">Read More <img src="assets/images/company/right-arrow.png"></a>
                </div>
              </div>
    
            </div>
        </li>
    
            </ul>
        </div>
        </div>
      </section>

      <section class="about-our-team" id="leadershipteam">
        <div class="row">
          <div class="col-sm-6 p-0">
            <a href="javascript:void(0);" class="about-box">
              <img src="assets/images/investors/Investors_ManagementTeam.jpg">
              <div class="ledrship-overlay">
                <div class="heading-box">
                  <h2 class="pizzaxlheading">LEADERSHIP TEAM</h2>
                </div>
             </div>
            </a>
          </div>
          <div class="col-sm-6 p-0">
            <a href="javascript:void(0);" class="about-box">
              <img src="assets/images/investors/Investors_CorporateProfile.jpg">
              <div class="ledrship-overlay">
                <div class="heading-box">
                  <h2 class="pizzaxlheading">CORPORATE PROFILE</h2>
                </div>
              </div>
            </a>

          </div>
        </div>
      </section>


      <section class="padding-section aboutthedough" id="aboutthedough">
        <div class="heading-box">
          <h2 class="pizzaxlheading">ABOUT THE DOUGH</h2>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a href="javascript:void(0);"  class="box-inner">
              <img src="assets/images/investors/dividend.png" class="icon-bx">
              <h2 class="pizzasmheading">Dividend</h2>
              <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
            </a>
          </div>

          <div class="col-md-4">
            <a href="javascript:void(0);"  class="box-inner">
              <img src="assets/images/investors/financial-reports.png" class="icon-bx">
              <h2 class="pizzasmheading">Financial Reports</h2>
              <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
            </a>
          </div>


          <div class="col-md-4">
            <a href="javascript:void(0);"  class="box-inner">
              <img src="assets/images/investors/presentations.png" class="icon-bx">
              <h2 class="pizzasmheading">Presentations</h2>
              <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
            </a>
          </div>
        </div>
      </section>

      <section class="padding-section email-alert-section" id="emailalerts">
        <div class="row">
          <div class="col-sm-6">
            <div class="email-content-wraper">
              <img src="assets/images/investors/alerts-img.png">
              <div class="heading-box">
                <div class="pizzaxxsheading">STAY CONNECTED</div>
                <h2 class="pizzaxlheading">SIGN UP FOR EMAIL ALERTS</h2>
              </div>
              <p>Want the latest hot and fresh news about Pizza Pizza? Just sign up here for investor email alerts.</p>
            </div>
          </div>

          <div class="col-sm-6">
            <form method="">
              <div class="form-alert">
                <div class="input-box-c">
                  <label>Your Name (required)</label>
                  <input type="text" name="">
                </div>

                <div class="input-box-c">
                  <label>Your Email (required)</label>
                  <input type="text" name="">
                </div>

                <div class="input-box-c">
                  <button type="submit">Sign Up</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="inresources">
          <div class="heading-box">
            <h2 class="pizzaxxsheading">IR RESOURCES</h2>
          </div>

          <div class="about-accordion">
            <ul>
                <li [class.active]="id === 'resources-answer-1'">
                    <div class="about-accordion-title" id="resources-answer-1" (click)="accordion('resources-answer-1')">
                        <div class="pizzaxxsheading">ANALYST & IR CONTACTS</div>
                        <span class="plus-icon"></span>
                    </div>
                    <div class="about-accordion-content" *ngIf="id === 'resources-answer-1' ">
                      <div class="heading-box">
                        <h2 class="pizzaxxsheading">ANALYST COVERAGE</h2>
                        <p>The following people are designated to provide analyst coverage of the Company or have published research reports regarding the Company in the past.</p>
                      </div>
                      <div class="bx-coverage">
                         <p>Derek J Lessard</p>
                         <p>TD Newcrest</p>
                         <p>(514) 289-0384</p>
                         <p>derek.lessard@tdsecurities.com</p>
                         <p></p>
                      </div>

                      <div class="bx-coverage">
                        <h2 class="pizzaxxsheading">IR Contact</h2>
                        <p>Chief Financial Officer</p>
                        <p>(416) 967 1010 ext. 393</p>
                        <p>(416) 270-4761</p>
                        <p>cdsylva@pizzapizza.ca</p>
                        <p>Pizza Pizza Limited.</p>
                        <p>500 Kipling Avenue</p>
                        <p>Toronto, Ontario</p>
                        <p>M8Z 5E5</p>
                      </div>

                      <div class="bx-coverage">
                        <p>Feedback to Company Chairperson: Shareholders may also provide feedback directly to the Chairperson of the Board of the Pizza Pizza Royalty Corp. at: <a href='mailto:fundchairperson@pizzapizza.ca.'> fundchairperson@pizzapizza.ca.</a></p>
                      </div>

                    </div>
                </li>
                </ul>
                </div>
        </div>

      </section>

      <section class="padding-section more-info" id="moreinfo">
        <div class="heading-box">
          <h2 class="pizzaxlheading">MORE INFO</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a href="javascript:void(0);"  class="box-inner">
              <h2 class="pizzasmheading">Investor FAQs</h2>
              <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
            </a>
          </div>

          <div class="col-md-6">
            <a href="javascript:void(0);"  class="box-inner">
              <h2 class="pizzasmheading">Investor Glossary</h2>
              <img src="assets/images/franchising/right-arrow.png" class="arrow-right">
            </a>
          </div>

        </div>
      </section>


</div> -->






